In [2]:
import pandas as pd
import os

In [3]:
os.chdir(r'L:\J.Harned\For Linda')

In [4]:
data=pd.read_excel('2022 Sales Rank Report.xlsx')

In [5]:
data.head()

,intstoreid,intparentstoreid,RitasID,StoreName,State,FCInitials,FSMName,DirectorofOps,Region,CoOpName,...,PriorYrSatelliteSalesYTD,YTDTotalShopSales,PriorYTDTotalSales,YTDVsPriorYTD,GCYTD,GCPriorYTD,YTDVsPriorYTDGC,Week,year,intFSM
0,4870,4870,952,Murrieta,CA,JM,John Martin,Director Not Mapped,West,LSM,...,0.0,4371.832,3173.2930,0.3776,335,278,0.21,1,2022,24417.0
1,5086,5086,1417,421 NY-59-Monsey NY,NY,PG,Paul Greenberg,John D'Allesandro,Northeast,LSM,...,0.0,3175.295,4681.5555,-0.3217,232,419,-0.45,1,2022,24198.0
2,462,462,501,Laurel,MD,LH,Lisa Harris,Michael Rathman,Mid-Atlantic,Washington D.C.,...,0.0,3177.812,3140.7990,0.0117,232,362,-0.36,1,2022,23964.0
3,1273,1273,843,Greenville SC,SC,JS,Jamie Snyder,Michael Rathman,South,LSM,...,0.0,2223.539,1657.9380,0.3411,275,233,0.18,1,2022,29.0
4,1280,1280,1402,Seneca,SC,JS,Jamie Snyder,Michael Rathman,South,LSM,...,0.0,3406.510,4165.7500,-0.1822,329,476,-0.31,1,2022,29.0

In [5]:
data.columns

Index(['ShopID', 'intStoreID', 'ProductCode', 'ProdSizeCode', 'DiscountCode',
       'Register', 'SalesQty', 'SalesMny', 'StartDate', 'EndDate', 'EditDate',
       'Week', 'DataSource', 'ShopName', 'State', 'Region', 'ShopStatus',
       'LegacyShopType', 'LegacyShopStatus', 'ProductTypeName',
       'ProductSizeName', 'SpecialVenue', 'CoOpStatus', 'CoOpName',
       'CoOpRate'],
      dtype='object')

In [7]:
Jan=[1,2,3,4]
Feb=[5,6,7,8]
Mar=[9,10,11,12,13]
Apr=[14,15,16,17]
May=[18,19,20,21]
June=[22,23,24,25,26]
July=[27,28,29,30]
Aug=[31,32,33,34]
Sept=[35,36,37,38,39]
Oct=[40,41,42,43]
Nov=[44,45,46,47]
Dec=[48,49,50,51,52]
remove=[30060,10026,21360,11360]
data[(data.Week.isin(Jan))&(data.YTDTotalShopSales!=0)&(~data.RitasID.isin(remove))]

,intstoreid,intparentstoreid,RitasID,StoreName,State,FCInitials,FSMName,DirectorofOps,Region,CoOpName,...,PriorYrSatelliteSalesYTD,YTDTotalShopSales,PriorYTDTotalSales,YTDVsPriorYTD,GCYTD,GCPriorYTD,YTDVsPriorYTDGC,Week,year,intFSM
0,4870,4870,952,Murrieta,CA,JM,John Martin,Director Not Mapped,West,LSM,...,0.0,4371.832,3173.2930,0.3776,335,278,0.21,1,2022,24417.0
1,5086,5086,1417,421 NY-59-Monsey NY,NY,PG,Paul Greenberg,John D'Allesandro,Northeast,LSM,...,0.0,3175.295,4681.5555,-0.3217,232,419,-0.45,1,2022,24198.0
2,462,462,501,Laurel,MD,LH,Lisa Harris,Michael Rathman,Mid-Atlantic,Washington D.C.,...,0.0,3177.812,3140.7990,0.0117,232,362,-0.36,1,2022,23964.0
3,1273,1273,843,Greenville SC,SC,JS,Jamie Snyder,Michael Rathman,South,LSM,...,0.0,2223.539,1657.9380,0.3411,275,233,0.18,1,2022,29.0
4,1280,1280,1402,Seneca,SC,JS,Jamie Snyder,Michael Rathman,South,LSM,...,0.0,3406.510,4165.7500,-0.1822,329,476,-0.31,1,2022,29.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1874,3709,3709,1053,Asheville,NC,JS,Jamie Snyder,Michael Rathman,South,LSM,...,0.0,264.310,2045.3800,-0.8707,47,321,-0.85,4,2022,29.0
1990,5010,5010,158,Ambler,PA,CH,Cierra Holden,John D'Allesandro,Mid-Atlantic,Philadelphia,...,0.0,2.390,0.0000,0.0000,1,0,0.00,4,2022,24201.0
2002,4234,4234,412,Oakland,PA,DR,Dave Roemer,Director Not Mapped,Mid-Atlantic,Pittsburgh,...,0.0,6887.850,0.0000,0.0000,0,0,0.00,4,2022,24723.0
2073,5094,5094,1418,110 W Main St-Carmel IN,IN,LG,Lindsey Goff,John D'Allesandro,Midwest,LSM,...,0.0,19.470,0.0000,0.0000,1,0,0.00,4,2022,24358.0
2120,5235,5235,534,809 E Main St-Mount Joy PA,PA,JC,Joseph Cerulli,Director Not Mapped,Mid-Atlantic,Lancaster,...,0.0,42.240,0.0000,0.0000,1,0,0.00,4,2022,24631.0

In [8]:
data[(data.Week.isin(Jan))&(data.YTDTotalShopSales!=0)&(~data.RitasID.isin(remove))].groupby(['RitasID','StoreName','State','SpecialVenue','SiteType'])[['RetailSalesYTD',
                                                                                                         'MobileSalesYTD',
                                                                                                         'CateringSales',
                                                                                                         'DigitalSalesYTD',
                                                                                                         'SatelliteSalesYTD',
                                                                                                         'YTDTotalShopSales']].agg('sum').reset_index().sort_values(by='YTDTotalShopSales',ascending=False)

,RitasID,StoreName,State,SpecialVenue,SiteType,RetailSalesYTD,MobileSalesYTD,CateringSales,DigitalSalesYTD,SatelliteSalesYTD,YTDTotalShopSales
14,463,Lakewood,NJ,No,In Line/Strip,152252.940,0.0,864.00,7834.98,0.0,161879.920
62,1334,Surfside,FL,No,In Line/Strip,99515.772,0.0,239.96,7822.79,0.0,107818.482
93,1432,3115 US Hwy 98 N-Lakeland FL,FL,No,In Line/Strip,83158.571,0.0,237.00,3032.34,0.0,86967.911
0,22,Court Street,FL,No,Free Standing,85956.589,0.0,49.84,0.00,0.0,86155.949
2,73,Fort Myers,FL,No,Free Standing,81778.378,0.0,112.00,3759.74,0.0,85874.118
...,...,...,...,...,...,...,...,...,...,...,...
19,534,809 E Main St-Mount Joy PA,PA,No,Free Standing,168.960,0.0,0.00,0.00,0.0,168.960
90,1418,110 W Main St-Carmel IN,IN,No,In Line/Strip,77.880,0.0,0.00,0.00,0.0,77.880
11,385,Shrewsbury,PA,No,In Line/Strip,19.900,0.0,0.00,0.00,0.0,19.900
4,158,Ambler,PA,No,Free Standing,4.780,0.0,0.00,0.00,0.0,4.780
10,372,North Arlington,NJ,No,Free Standing,2.580,0.0,0.00,0.00,0.0,2.580

In [9]:
writer=pd.ExcelWriter('2022 Sales Rank by Month Total Sales.xlsx')
data[(data.Week.isin(Jan))&(data.CurrentWeekTotalSales!=0)&(~data.RitasID.isin(remove))].groupby(['RitasID','StoreName','State','SpecialVenue','SiteType','openDate'])['CurrentWeekTotalSales'].agg('sum').reset_index().sort_values(by='CurrentWeekTotalSales',ascending=False).to_excel(writer,sheet_name='Jan',index=False)
data[(data.Week.isin(Feb))&(data.CurrentWeekTotalSales!=0)&(~data.RitasID.isin(remove))].groupby(['RitasID','StoreName','State','SpecialVenue','SiteType','openDate'])['CurrentWeekTotalSales'].agg('sum').reset_index().sort_values(by='CurrentWeekTotalSales',ascending=False).to_excel(writer,sheet_name='Feb',index=False)
data[(data.Week.isin(Mar))&(data.CurrentWeekTotalSales!=0)&(~data.RitasID.isin(remove))].groupby(['RitasID','StoreName','State','SpecialVenue','SiteType','openDate'])['CurrentWeekTotalSales'].agg('sum').reset_index().sort_values(by='CurrentWeekTotalSales',ascending=False).to_excel(writer,sheet_name='Mar',index=False)
data[(data.Week.isin(Apr))&(data.CurrentWeekTotalSales!=0)&(~data.RitasID.isin(remove))].groupby(['RitasID','StoreName','State','SpecialVenue','SiteType','openDate'])['CurrentWeekTotalSales'].agg('sum').reset_index().sort_values(by='CurrentWeekTotalSales',ascending=False).to_excel(writer,sheet_name='Apr',index=False)
data[(data.Week.isin(May))&(data.CurrentWeekTotalSales!=0)&(~data.RitasID.isin(remove))].groupby(['RitasID','StoreName','State','SpecialVenue','SiteType','openDate'])['CurrentWeekTotalSales'].agg('sum').reset_index().sort_values(by='CurrentWeekTotalSales',ascending=False).to_excel(writer,sheet_name='May',index=False)
data[(data.Week.isin(June))&(data.CurrentWeekTotalSales!=0)&(~data.RitasID.isin(remove))].groupby(['RitasID','StoreName','State','SpecialVenue','SiteType','openDate'])['CurrentWeekTotalSales'].agg('sum').reset_index().sort_values(by='CurrentWeekTotalSales',ascending=False).to_excel(writer,sheet_name='June',index=False)
data[(data.Week.isin(July))&(data.CurrentWeekTotalSales!=0)&(~data.RitasID.isin(remove))].groupby(['RitasID','StoreName','State','SpecialVenue','SiteType','openDate'])['CurrentWeekTotalSales'].agg('sum').reset_index().sort_values(by='CurrentWeekTotalSales',ascending=False).to_excel(writer,sheet_name='July',index=False)
data[(data.Week.isin(Aug))&(data.CurrentWeekTotalSales!=0)&(~data.RitasID.isin(remove))].groupby(['RitasID','StoreName','State','SpecialVenue','SiteType','openDate'])['CurrentWeekTotalSales'].agg('sum').reset_index().sort_values(by='CurrentWeekTotalSales',ascending=False).to_excel(writer,sheet_name='Aug',index=False)
data[(data.Week.isin(Sept))&(data.CurrentWeekTotalSales!=0)&(~data.RitasID.isin(remove))].groupby(['RitasID','StoreName','State','SpecialVenue','SiteType','openDate'])['CurrentWeekTotalSales'].agg('sum').reset_index().sort_values(by='CurrentWeekTotalSales',ascending=False).to_excel(writer,sheet_name='Sept',index=False)
data[(data.Week.isin(Oct))&(data.CurrentWeekTotalSales!=0)&(~data.RitasID.isin(remove))].groupby(['RitasID','StoreName','State','SpecialVenue','SiteType','openDate'])['CurrentWeekTotalSales'].agg('sum').reset_index().sort_values(by='CurrentWeekTotalSales',ascending=False).to_excel(writer,sheet_name='Oct',index=False)
data[(data.Week.isin(Nov))&(data.CurrentWeekTotalSales!=0)&(~data.RitasID.isin(remove))].groupby(['RitasID','StoreName','State','SpecialVenue','SiteType','openDate'])['CurrentWeekTotalSales'].agg('sum').reset_index().sort_values(by='CurrentWeekTotalSales',ascending=False).to_excel(writer,sheet_name='Nov',index=False)
data[(data.Week.isin(Dec))&(data.CurrentWeekTotalSales!=0)&(~data.RitasID.isin(remove))].groupby(['RitasID','StoreName','State','SpecialVenue','SiteType','openDate'])['CurrentWeekTotalSales'].agg('sum').reset_index().sort_values(by='CurrentWeekTotalSales',ascending=False).to_excel(writer,sheet_name='Dec',index=False)
writer.close()
writer.save()

C:\Users\jharned\Anaconda3\lib\site-packages\xlsxwriter\workbook.py:339: UserWarning: Calling close() on already closed file.
  warn("Calling close() on already closed file.")