In [1]:
import pandas as pd
import os

In [2]:
os.chdir(r'G:\FinanceReports\2022\Wk52')

In [3]:
data=pd.read_excel('2022-SRSsales-productLevel-wk1-52 1.18.2023.xlsx',sheet_name='2022')

In [4]:
os.chdir(r'G:\FinanceReports\2023\Wk12')

In [5]:
data1=pd.read_excel('2023-SRSsales-productLevel-wk12.xlsx',sheet_name='2023')

In [34]:
df=pd.concat([data,data1])

In [35]:
df.shape

(727447, 27)

In [10]:
df.Year=df.EndDate.dt.year

In [12]:
df['StringID']=df.ShopID.astype('int')
#data=pd.merge(data,franchise,on=['StringID'])
df['StringID']=df.ShopID.astype('str')
df['StringID']=df.StringID.str[-4:]
df['StringID']=df.StringID.astype('int')
df.StringID.unique()

array([  22,   39,  306,   73,   78,  114,  347,  142,  250,  245,  332,
        385,  467,  468,  536,  463,  413,  691,  617,  753,  714,  485,
        835,  498,  863,  836,  501,  585,  892,  952, 1055,  888,  764,
       1119, 1126, 1139,  779,  843, 1159, 1071,  847, 1276,  858, 1130,
       1132, 1328, 1334,  905,  903, 1268,  934, 1335, 1352, 1302, 1044,
       1040, 1369, 1318, 1378, 1379, 1133, 1336, 1337, 1381, 1385, 1403,
       1357, 1322, 1362, 1409, 1351, 1419, 1377, 1422, 1396, 1454, 1398,
       1460, 1405, 1416, 1383, 1417, 1356, 1418, 1432, 1371, 1450, 1394,
       1451, 1478, 1423, 1449,   26, 1468, 1472, 1390, 1453, 1436, 1420,
       1400, 1397,  427,  476,  289,  127,  148,  187,  231,  496,  503,
        872, 1053,  556, 1254, 1407, 1482, 1479, 1459,  149,  344,  134,
         97,  278,  259, 1171, 1237, 1456, 1172,  436,  182,  337,  292,
        263,  161,  400,  152,  183,  405,  429,  712,  860, 1072, 1476,
       1368, 1364,  930,  649,  571,  355,  248,  285,  394,  487,  313,
        288,  399,  417,  365,   54,   86,  324,  139,  227,  178,  403,
        410,  639,  711,  514,  676,  663,  734, 1121, 1065, 1212, 1269,
       1413, 1427,  412, 1440, 1389, 1401, 1406, 1355, 1365, 1347, 1344,
       1170, 1088,  940,  937, 1047,  824,  638,  927,  681,  729,  525,
        543,  521,  626,  552,  473,  518,  287,  354,  477,  350,  261,
        237,  164,  173,  314,   92,  204,   42,   64,  254,  243,   29,
          8,    9,   11,   18,  154,   48,   68,   83,  123,   88,    1,
         87,   37,  122,   43,   21,  171,   81,  145,   96,   94,  349,
        340,   82,  279,  280,  209,  195,  330,  218,  221,  213,  197,
        241,  341,  274,  358,  440,  532,  516,  628,  889, 1253, 1187,
       1445, 1395, 1049,  866,  803,  579,  545,  392,  428,  493,  474,
        484,  452,  293,  295,  402,  386,  353,  388,  369,  382,  383,
        267,  359,  175,  372,  260,  214,  301,  335,  333,  129,  150,
        316,  291,  172,  362,  118,  339,  105,  225,  322,  104,  290,
         55,  192,   65,   66,  181,   53,  169,   31,   98,  136,   20,
         15,   58,    6,    2,   12,   57,  133,   70,   19,   10,  102,
         56,   44,  100,   71,  158,   40,  135,   60,  125,   61,   41,
        111,  364,  128,  194,  211,  188,  270,  206,  215,  238,  345,
        246,  235,  343,  312,  298,  342,  453,  560,  331,  435,  874,
        575,  929,  912,  559,  790,  886,  932,  931,  944, 1399, 1404,
       1410,  882,  511, 1462,  159, 1457, 1446, 1425, 1387, 1376, 1271,
       1272, 1231, 1273, 1046, 1045, 1060, 1018,  933,  887,  885,  853,
        899,  896,  897,  777,  746,  744,  731,  658,  519,  704,  550,
        490,  534,  510,  423,  465,  393,  486,  380,  414,  381,  390,
        441,  397,  444,  387,  507,  376,  446,  384,  370,  217,  200,
        371,  366,  311,  163,  198,  180,  185,  186,  286,  294,  303,
        184,  309,  334,  205,  230,  229,  271,  247,  368,  256,  257,
        379,  242,  338,  249,  239,  305,  304,  212,  374,  224,  323,
        207,  153,  190,  155,  166,  167,   95,   85,   84,  113,  106,
          7,  108,  109,   16,  138,   28,  144,   59,   91,  156,   47,
        151,  124,  170,   34,   45,  101,   14,   89,    4,   30,    3,
         36,  120,   69,  361,  299,  421,  472,  391,  689,  650, 1424,
       1474, 1428, 1492, 1458, 1266,  495,  438,  928, 1160, 1265,  564,
        223,  117, 1402,  938,  935, 1448, 1348,  943, 1360,  445, 1414,
       1127, 1234, 1310, 1393, 1455, 1489, 1520, 1435])

In [15]:
df.drop_duplicates(keep='first').to_excel('2022-23 Sales.xlsx',index=False)

In [6]:
data.EndDate.max()

Timestamp('2023-01-15 00:00:00')

In [8]:
df2=data[data.EndDate<='2023-01-01']

In [20]:
df2group=round(df2.groupby(['ProductTypeName'])['SalesMny'].sum(),2).reset_index()

In [19]:
total=df2group.sum()

In [26]:
df2group['Sales%']=df2group.SalesMny/total

In [27]:
df2group

                           ProductTypeName     SalesMny        Sales%
0                       3rd Party Delivery   8684919.26  5.515673e-02
1                      Additional Toppings   1456558.21  9.250401e-03
2                                Beverages    309979.18  1.968635e-03
3                        Blendini/Concrete  10512889.23  6.676591e-02
4                      Catering (Bulk Ice)   1789816.10  1.136688e-02
5                                  Cookies      1205.78  7.657743e-06
6                Cool Stuff Consumer Goods     15675.21  9.955110e-05
7                                  Custard  31271029.76  1.985980e-01
8                                 Discount  -2203207.67 -1.399227e-02
9                           Donut Catering        89.44  5.680211e-07
10                                  Donuts      3917.08  2.487684e-05
11                      Fresh Baked Treats     54782.14  3.479138e-04
12                        Frozen Beverages   2169341.64  1.377719e-02
13          Full Service Catering (Open $)   1798766.85  1.142372e-02
14                        Fundraiser Cards     16833.17  1.069051e-04
15                                  Gelati  40149436.72  2.549835e-01
16                              Good to Go      4975.07  3.159598e-05
17                    Hand Scooped Custard   1296300.15  8.232624e-03
18                             Italian Ice  42291791.70  2.685893e-01
19                              Milkshakes   6157304.80  3.910419e-02
20                                   Misto   5747872.34  3.650395e-02
21                              MobileCart   1516548.56  9.631391e-03
22                                 Nathans     19045.11  1.209529e-04
23                 Non-Coded Revenue Sales   1571163.22  9.978241e-03
24                               Novelties   1450792.48  9.213783e-03
25                               Sandellas       178.52  1.133756e-06
26  Shared Mobile Event - Non-Mobile Store         1.00  6.350862e-09
27                                Smoothie      6448.53  4.095373e-05
28                                  Snacks   1364481.02  8.665631e-03

In [31]:
total1=round(data1.groupby('ProductTypeName')['SalesMny'].sum(),2).sum()

In [32]:
df3group=data1.groupby('ProductTypeName')['SalesMny'].sum().reset_index()
df3group['Sales%']=df3group.SalesMny/total1

In [33]:
writer=pd.ExcelWriter('Product Mix.xlsx')
df3group.to_excel(writer, sheet_name='2023 thru Week '+str(data1.Week.max()),index=False)
df2group.to_excel(writer, sheet_name='2022',index=False)
writer.save()
writer.close()

C:\Users\jharned\Anaconda3\lib\site-packages\xlsxwriter\workbook.py:339: UserWarning: Calling close() on already closed file.
  warn("Calling close() on already closed file.")