In [1]:
#Imports the necessary libraries
import pandas as pd
import os
import numpy as np
import pyodbc as odbc
from datetime import date,timedelta,datetime
os.chdir(r'L:\J.Harned\Calendar')
calendar=pd.read_excel('2025 Sales Calendar.xlsx')
calendar['Year']=calendar.EndDate.dt.year
os.chdir(r'G:\FinanceReports\2025\Wk4')
# Names the needed driver, server name, and database
driver_name='SQL Server'
server_name='10.0.1.218'
database='ritascoolnet_live'
#Creates the connection string
connection_string=f"""
DRIVER={{{driver_name}}};
SERVER={server_name};
DATABASE={database};
Trust_Connection=yes"""
#Creates the Connection to SQL Server
connection=odbc.connect(connection_string)
print(connection)

<pyodbc.Connection object at 0x00000213A5C23370>

In [2]:
# Queries the tables from SQL
# Reads in the Weekly Sales in 2025
data=pd.read_sql_query('''SELECT *
  FROM [ritas_bi].[dbo].[tmp_raw_plda]
  WHERE YEAR(EndDate)=2025
  ORDER BY Week DESC''',connection)
# Reads in the Weekly Sales in 2024
df=pd.read_sql_query('''SELECT *
  FROM [ritas_bi].[dbo].[tmp_raw_plda]
  WHERE YEAR(EndDate)=2024''',connection)
#ShopDetail
data3=pd.read_sql_query('''Select intstoreid as intStoreID,RitasID as ShopID, FC,CoolNetGroup,LegacyStoreType,State,MSAName,DMA,StoreName as ShopName,
CoOpName,Franchisee,[Parent Shop #] as ParentID,StoreStatus,[Re Open Date] as ReOpenDate,OpenDate,StoreType from ritascoolnet_live.dbo.vShopDetail''',connection)
product_sales_24=pd.read_sql_query('''Select * from ritascoolnet_live.dbo.tblProductSalesTransactions Where Year(dteEndDate)=2024 ''',connection)
product_sales_25=pd.read_sql_query('''Select * from ritascoolnet_live.dbo.tblProductSalesTransactions Where Year(dteEndDate)=2025 ''',connection)
product_sales_24=product_sales_24[~product_sales_24.intStoreid.isnull()]

C:\Users\jharned\AppData\Local\Temp\ipykernel_34532\1121217600.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data=pd.read_sql_query('''SELECT *
C:\Users\jharned\AppData\Local\Temp\ipykernel_34532\1121217600.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pd.read_sql_query('''SELECT *
C:\Users\jharned\AppData\Local\Temp\ipykernel_34532\1121217600.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data3=pd.read_sql_query('''Select intstoreid as intStoreID,RitasID as ShopID, FC,CoolNetGroup,LegacyStoreType,State,MSAName,DMA,StoreName as ShopName,
C:\Users\jharned\AppData\Local\Temp\ipykernel_34532\1121217600.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  product_sales_24=pd.read_sql_query('''Select * from ritascoolnet_live.dbo.tblProductSalesTransactions Where Year(dteEndDate)=2024 ''',connection)
C:\Users\jharned\AppData\Local\Temp\ipykernel_34532\1121217600.py:15: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  product_sales_25=pd.read_sql_query('''Select * from ritascoolnet_live.dbo.tblProductSalesTransactions Where Year(dteEndDate)=2025 ''',connection)

In [3]:
data['Year']=2025
df['Year']=2024
product_sales_24['Year']=2024
product_sales_25['Year']=2025

In [4]:
sv=pd.read_sql_query('''Select * from ritascoolnet_live.dbo.vShopDetail''',connection)
sv=sv[['intstoreid','RitasID','Special Venue']]
sv=sv.rename(columns={'intstoreid':'intStoreID','RitasID':'ShopID','Special Venue':'SV'})

C:\Users\jharned\AppData\Local\Temp\ipykernel_34532\3679232069.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  sv=pd.read_sql_query('''Select * from ritascoolnet_live.dbo.vShopDetail''',connection)

In [5]:
total_df=pd.concat([data,df]) # Combines 2024 and 2025 Sales Data
total_df=total_df.merge(sv,how='left',on=['intStoreID','ShopID']) # Merges Special Venue with Sales Data
# total_df.loc[total_df.StartDate=='2023-03-20','Week']='12'
# total_df.loc[total_df.StartDate=='2023-03-27','Week']='13'
# total_df.loc[total_df.StartDate=='2023-10-29','StartDate']='2023-10-30'
total_df=total_df.merge(calendar[['EndDate','Week','Month']],how='left',on=['EndDate','Week']) # Adds the month column from calendar
total_df.Week=total_df.Week.astype('int')
total_df=total_df[total_df.Week<=data.Week.max()]# Filters on the max week

In [6]:
product_sales=pd.concat([product_sales_24,product_sales_25])
product_sales=product_sales.rename(columns={'dteEndDate':'EndDate'})
weeks=total_df[['EndDate','Week']].drop_duplicates(keep='first')
ps=product_sales.merge(weeks[['EndDate','Week']],how='left',on='EndDate')
ps['Retail_GC']=ps.intTransactionCount-ps.intUECount\
-ps.intDDCount-ps.intGHCount
ps

C:\Users\jharned\AppData\Local\Temp\ipykernel_34532\1298018583.py:1: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  product_sales=pd.concat([product_sales_24,product_sales_25])

,intProductSalesTransactionID,intRitasStoreID,intTransactionCount,dteStartDate,EndDate,dteCreatedOn,vchSource,intNumberOfDays,intRegister,intUECount,intDDCount,intGHCount,intStoreid,Year,Week,Retail_GC
0,3987717,1552,1733,2024-01-01,2024-01-07,2024-01-09 13:14:51.827,None,7,1,0,0,0,5485.0,2024,1.0,1733
1,3988749,22,875,2024-01-01,2024-01-07,2024-01-09 23:30:54.950,SMART,7,1,0,22,0,5455.0,2024,1.0,853
2,3988750,142,490,2024-01-01,2024-01-07,2024-01-09 23:30:54.950,SMART,7,1,0,9,0,5458.0,2024,1.0,481
3,3988751,245,511,2024-01-01,2024-01-07,2024-01-09 23:30:54.950,SMART,7,1,0,24,0,626.0,2024,1.0,487
4,3988752,325,8,2024-01-01,2024-01-07,2024-01-09 23:30:54.950,SMART,3,1,0,0,0,3870.0,2024,1.0,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21463,7152361,1539,39,2025-01-27,2025-02-02,2025-01-29 09:10:01.547,SMART,2,1,0,0,0,NaN,2025,NaN,39
21464,7152362,1542,133,2025-01-27,2025-02-02,2025-01-29 09:10:01.547,SMART,2,1,0,0,0,NaN,2025,NaN,133
21465,7152363,1545,10,2025-01-27,2025-02-02,2025-01-29 09:10:01.547,SMART,1,1,0,0,0,NaN,2025,NaN,10
21466,7152364,1571,81,2025-01-27,2025-02-02,2025-01-29 09:10:01.547,SMART,2,1,0,0,0,NaN,2025,NaN,81
21467,7152365,10836,133,2025-01-27,2025-02-02,2025-01-29 09:10:01.547,SMART,2,1,0,0,0,NaN,2025,NaN,133

In [7]:
threepd=ps.rename(columns={'intRitasStoreID':'ShopID','intTransactionCount':'Guest_Count'})
total_gc=threepd.groupby(['ShopID','Year','Week'])['Guest_Count'].sum().reset_index()
total_gc.ShopID=total_gc.ShopID.astype('int')
total_gc.Week=total_gc.Week.astype('int')

In [8]:


total_gc=total_gc[total_gc.Week<=data.Week.max()] #filters on the max week for Guest COunts
total_gc['ShopID']=pd.to_numeric(total_gc.ShopID,errors='coerce')# Converts ShopID to integers
total_gc=total_gc.merge(calendar[['Week','Year','Month']],on=['Week','Year'],how='left') #Adds month column to Guest Counts

total_gc=total_gc.merge(data3[['ShopID','State']],on='ShopID',how='left').drop_duplicates(subset=['Week','Year','ShopID','Guest_Count','Month'],
                                                                                keep='first')
total_df[total_df.EndDate.dt.year==2024].SalesMny.sum()

1894322.7284

In [9]:
core_list=['NJ','PA','DE','MD']
total_df['Area']=total_df['State'].apply(lambda x: 'Core' if x in core_list else 'Developing')
total_gc['Area']=total_gc['State'].apply(lambda x: 'Core' if x in core_list else 'Developing')

In [10]:
total_df[total_df.Year==2024].SalesMny.sum()

1894322.7284

In [11]:
# gc_region=total_gc.merge(total_df[['ShopID','Area']],on='ShopID',how='left').drop_duplicates(keep='first').groupby([
# 'Area','Year'
# ])['GC'].sum().reset_index()

In [12]:
gc_region=total_gc.groupby([
'Area','Year'
])['Guest_Count'].sum().reset_index()

In [13]:
total_df.shape

(31633, 29)

In [14]:
month=int(input('Enter Month Number:')) # Type the month name you would like to view

Enter Month Number:1

# YTD Total System Sales

In [15]:
sales_region=round(total_df.groupby(['Area','Year'])[['ShopID','SalesMny']].agg({'ShopID':'nunique','SalesMny':'sum'}),2).reset_index()
tsr=sales_region.merge(gc_region,on=['Area','Year'],how='left')
tsr['AvgChk']=round(tsr.SalesMny/tsr.Guest_Count,2)
tsr.SalesMny.sum()

3569041.02

In [16]:
tsr[tsr.Year==2024].SalesMny.sum()

1894322.73

In [17]:
data.SalesMny.sum()

1674718.2956

# Month Total System Sales

In [18]:
# sales_month=total_df[total_df.Month==total_df.Month.max()].groupby(
#     ['Area','Year'])[['ShopID','SalesMny']].agg(
#     {'ShopID':'nunique','SalesMny':'sum'}).reset_index()
# gc_month_region=total_gc[total_gc.Month==total_gc.Month.max()].merge(total_df[['ShopID','Area']],on='ShopID',how='left').drop_duplicates(keep='first').groupby([
# 'Area','Year'
# ])['GC'].sum().reset_index()
# tsr_mtd=sales_month.merge(gc_month_region,on=['Area','Year'],how='left')
# tsr_mtd['AvgChk']=round(tsr_mtd.SalesMny/tsr_mtd.GC,2)
# tsr_mtd

In [19]:
sales_month=total_df[total_df.Month==month].groupby(
    ['Area','Year'])[['ShopID','SalesMny']].agg(
    {'ShopID':'nunique','SalesMny':'sum'}).reset_index()
gc_month_region=total_gc[total_gc.Month==month].groupby([
'Area','Year'
])['Guest_Count'].sum().reset_index()
tsr_mtd=sales_month.merge(gc_month_region,on=['Area','Year'],how='left')
tsr_mtd['AvgChk']=round(tsr_mtd.SalesMny/tsr_mtd.Guest_Count,2)
tsr_mtd.sum()

Area           CoreCoreDevelopingDeveloping
Year                                   8098
ShopID                                  305
SalesMny                        3569041.024
Guest_Count                          301629
AvgChk                                 45.4
dtype: object

# Week Total System Sales

In [20]:
# sales_week=total_df[total_df.Week==total_df.Week.max()].groupby(
#     ['Region','Year'])[['ShopID','SalesMny']].agg(
#     {'ShopID':'nunique','SalesMny':'sum'}).reset_index()
# gc_week_region=total_gc[total_gc.Week==total_gc.Week.max()].merge(total_df[['ShopID','Region']],on='ShopID',how='left').drop_duplicates(keep='first').groupby([
# 'Region','Year'
# ])['GC'].sum().reset_index()
# tsr_wtd=sales_week.merge(gc_week_region,on=['Region','Year'],how='left')
# tsr_wtd['AvgChk']=round(tsr_wtd.SalesMny/tsr_wtd.GC,2)
# tsr_wtd

In [21]:
total_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 31633 entries, 0 to 808612
Data columns (total 29 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ShopID            31633 non-null  int64
 1   intStoreID        31633 non-null  int64
 2   ProductCode       31633 non-null  int64
 3   ProdSizeCode      31633 non-null  int64
 4   DiscountCode      31633 non-null  int64
 5   Register          31633 non-null  int64
 6   SalesQty          31633 non-null  int64
 7   SalesMny          31633 non-null  float64
 8   StartDate         31633 non-null  datetime64[ns]
 9   EndDate           31633 non-null  datetime64[ns]
 10  EditDate          31633 non-null  datetime64[ns]
 11  Week              31633 non-null  int32
 12  DataSource        31633 non-null  object
 13  ShopName          31633 non-null  object
 14  State             31633 non-null  object
 15  Region            31633 non-null  object
 16  ShopStatus        31633 non-null  object
 17  LegacyShopType    31633 non-null  object
 18  LegacyShopStatus  31633 non-null  object
 19  ProductTypeName   31633 non-null  object
 20  ProductSizeName   31633 non-null  object
 21  SpecialVenue      31633 non-null  object
 22  CoOpStatus        31633 non-null  object
 23  CoOpName          4567 non-null   object
 24  CoOpRate          31633 non-null  float64
 25  Year              31633 non-null  int64
 26  SV                31633 non-null  object
 27  Month             31633 non-null  int64
 28  Area              31633 non-null  object
dtypes: datetime64[ns](3), float64(2), int32(1), int64(9), object(14)
memory usage: 7.1+ MB

In [22]:
sales_week=total_df[total_df.Week==data.Week.max()].groupby(
    ['Area','Year'])[['ShopID','SalesMny']].agg(
    {'ShopID':'nunique','SalesMny':'sum'}).reset_index()
gc_week_region=total_gc[total_gc.Week==total_gc.Week.max()].groupby([
'Area','Year'
])['Guest_Count'].sum().reset_index()
tsr_wtd=sales_week.merge(gc_week_region,on=['Area','Year'],how='left')
tsr_wtd['AvgChk']=round(tsr_wtd.SalesMny/tsr_wtd.Guest_Count,2)
tsr_wtd.sum()

Area           CoreCoreDevelopingDeveloping
Year                                   8098
ShopID                                  262
SalesMny                        947764.6941
Guest_Count                           81386
AvgChk                                44.64
dtype: object

# Special Venues YTD

In [23]:
sv_ytd=round(total_df[(total_df.SV=='Yes')].groupby(['Area','Year'])[['ShopID','SalesMny']].agg({'ShopID':'nunique','SalesMny':'sum'}),2).reset_index()

# Special Venues MTD

In [24]:
sv_mtd=total_df[(total_df.SV=='Yes')&(total_df.Month==month)].groupby(['Area','Year'])[['ShopID','SalesMny']].agg({'ShopID':'nunique','SalesMny':'sum'}).reset_index()

# Special Venues WTD

In [25]:
sv_wtd=round(total_df[(total_df.SV=='Yes')&(total_df.Week==data.Week.max())].groupby(['Area','Year'])[['ShopID','SalesMny']].agg({'ShopID':'nunique','SalesMny':'sum'}),2).reset_index()

# 3PD and Open Catering Sales YTD

In [26]:
alist=['3rd Party Delivery','Full Service Catering (Open $)','Online Ordering']
pd3_oc_ytd=total_df[(total_df.ProductTypeName.isin(alist))&(total_df.SV=='No')].groupby(['Area','Year','ProductTypeName'])[['SalesMny']].agg({'SalesMny':'sum'}).reset_index()
pd3_oc_ytd=pd3_oc_ytd.iloc[:,[0,1,-1,2]]

# 3PD and Open Catering Sales MTD

In [27]:
pd3_oc_mtd=total_df[(total_df.ProductTypeName.isin(alist))&(total_df.Month==month)&(total_df.SV=='No')].groupby(['Area','Year','ProductTypeName'])[['SalesMny']].agg({'SalesMny':'sum'}).reset_index()
pd3_oc_mtd=pd3_oc_mtd.iloc[:,[0,1,-1,2]]

# 3PD and Open Catering Sales WTD

In [28]:
pd3_oc_wtd=total_df[(total_df.ProductTypeName.isin(alist))&(total_df.Week==data.Week.max())&(total_df.SV=='No')].groupby(['Area','Year','ProductTypeName'])[['SalesMny']].agg({'SalesMny':'sum'}).reset_index()
pd3_oc_wtd=pd3_oc_wtd.iloc[:,[0,1,-1,2]]

# Mobile Sales YTD

In [29]:
mobile_ytd=total_df[(total_df.LegacyShopType.str.contains('Mobile'))&(total_df.SV=='No')&(
    total_df.ProductTypeName!='Full Service Catering (Open $)')].groupby(['Area','Year'])[['ShopID','SalesMny']].agg({'ShopID':'nunique','SalesMny':'sum'}).reset_index()

In [30]:
mobile_mtd=total_df[(total_df.LegacyShopType.str.contains('Mobile'))&(total_df.SV=='No')&(
    total_df.ProductTypeName!='Full Service Catering (Open $)')&(total_df.Month==month)].groupby(
    ['Area','Year'])[['ShopID','SalesMny']].agg({'ShopID':'nunique','SalesMny':'sum'}).reset_index()

In [31]:
mobile_wtd=total_df[(total_df.LegacyShopType.str.contains('Mobile'))&(total_df.SV=='No')&(
    total_df.ProductTypeName!='Full Service Catering (Open $)')&(total_df.Week==data.Week.max())].groupby(
    ['Area','Year'])[['ShopID','SalesMny']].agg({'ShopID':'nunique','SalesMny':'sum'}).reset_index()

# Retail Sales YTD

In [32]:
# retail_gc=total_gc.merge(total_df[['ShopID','Region']],on='ShopID',how='left').drop_duplicates(keep='first')

In [33]:
retail_ytd=total_df[~(total_df.LegacyShopType.str.contains('Mobile'))&(total_df.SV=='No')&~(
    total_df.ProductTypeName.isin(alist))].groupby(
    ['Area','Year'])[['ShopID','SalesMny']].agg({'ShopID':'nunique','SalesMny':'sum'}).reset_index()
retail_ytd
shops=total_df[~(total_df.LegacyShopType.str.contains('Mobile'))&(total_df.SV=='No')&~(
    total_df.ProductTypeName.isin(alist))].ShopID.unique()
shops
gc_ytd=total_gc[total_gc.ShopID.isin(shops)].groupby([
'Area','Year'
])['Guest_Count'].sum().reset_index()
retail_ytd=retail_ytd.merge(gc_ytd,on=['Area','Year'],how='left')
retail_ytd['AvgChk']=retail_ytd.SalesMny/retail_ytd.Guest_Count

In [34]:
retail_ytd

         Area  Year  ShopID      SalesMny  Guest_Count    AvgChk
0        Core  2024      37  2.732675e+05        32253  8.472624
1        Core  2025      41  2.581776e+05        29991  8.608502
2  Developing  2024      90  1.102091e+06       112035  9.837020
3  Developing  2025     102  1.089194e+06       110332  9.871966

# Retail Sales MTD

In [35]:
retail_mtd=total_df[~(total_df.LegacyShopType.str.contains('Mobile'))&(total_df.SV=='No')&~(
    total_df.ProductTypeName.isin(alist))&(total_df.Month==month)].groupby(
    ['Area','Year'])[['ShopID','SalesMny']].agg({'ShopID':'nunique','SalesMny':'sum'}).reset_index()
shops=total_df[~(total_df.LegacyShopType.str.contains('Mobile'))&(total_df.SV=='No')&~(
    total_df.ProductTypeName.isin(alist))&(total_df.Month==month)].ShopID.unique()
gc_mtd=total_gc[total_gc.ShopID.isin(shops)&(total_gc.Month==month)].groupby([
'Area','Year'
])['Guest_Count'].sum().reset_index()
retail_mtd=retail_mtd.merge(gc_mtd,on=['Area','Year'],how='left')
retail_mtd['AvgChk']=retail_mtd.SalesMny/retail_mtd.Guest_Count

In [36]:
retail_mtd

         Area  Year  ShopID      SalesMny  Guest_Count    AvgChk
0        Core  2024      37  2.732675e+05        32253  8.472624
1        Core  2025      41  2.581776e+05        29991  8.608502
2  Developing  2024      90  1.102091e+06       112035  9.837020
3  Developing  2025     102  1.089194e+06       110332  9.871966

# Retail Sales WTD

In [37]:
retail_wtd=total_df[~(total_df.LegacyShopType.str.contains('Mobile'))&(total_df.SV=='No')&~(
    total_df.ProductTypeName.isin(alist))&(total_df.Week==data.Week.max())].groupby(
    ['Area','Year'])[['ShopID','SalesMny']].agg({'ShopID':'nunique','SalesMny':'sum'}).reset_index()
shops=total_df[~(total_df.LegacyShopType.str.contains('Mobile'))&(total_df.SV=='No')&~(
    total_df.ProductTypeName.isin(alist))&(total_df.Week==data.Week.max())].ShopID.unique()
gc_wtd=total_gc[total_gc.ShopID.isin(shops)&(total_gc.Week==total_gc.Week.max())].groupby([
'Area','Year'
])['Guest_Count'].sum().reset_index()
retail_wtd=retail_wtd.merge(gc_wtd,on=['Area','Year'],how='left')
retail_wtd['AvgChk']=retail_wtd.SalesMny/retail_wtd.Guest_Count

In [38]:
total_df[total_df.Year==2024].SalesMny.sum()

1894322.7284

In [39]:
retail_ytd[retail_ytd.Year==2024].SalesMny.sum()+mobile_ytd[mobile_ytd.Year==2024].SalesMny.sum()+pd3_oc_ytd[pd3_oc_ytd.Year==2024].SalesMny.sum()+sv_ytd[sv_ytd.Year==2024].SalesMny.sum()

1894322.7284000001

# Retail Comp Sales YTD

In [40]:
total_df.Year.unique()

array([2025, 2024], dtype=int64)

In [41]:
comps=total_df.pivot_table(index='ShopID',columns='Year',values='SalesMny',aggfunc='sum',fill_value=0).reset_index()
comps=comps[comps.ShopID<10000]
comp_list=comps[(comps[2024]>0)&(comps[2025]>0)].ShopID.unique()

In [42]:
comp_list

array([  22,   39,   73,  114,  142,  245,  250,  306,  347,  400,  413,
        445,  463,  467,  468,  485,  498,  501,  536,  556,  585,  617,
        628,  638,  691,  712,  714,  753,  764,  779,  835,  836,  843,
        847,  863,  892,  903,  905,  934,  952, 1040, 1044, 1055, 1065,
       1071, 1072, 1119, 1130, 1133, 1159, 1171, 1234, 1268, 1302, 1318,
       1334, 1335, 1336, 1337, 1352, 1356, 1357, 1362, 1369, 1371, 1377,
       1378, 1379, 1381, 1390, 1396, 1397, 1400, 1405, 1416, 1417, 1419,
       1422, 1423, 1442, 1449, 1451, 1455, 1459, 1460, 1465, 1466, 1467,
       1468, 1469, 1471, 1473, 1478, 1480, 1483, 1489, 1490, 1495, 1499,
       1502, 1504, 1505, 1507, 1512, 1515, 1517, 1518], dtype=int64)

In [43]:
comp_ytd=total_df[~(total_df.LegacyShopType.str.contains('Mobile'))&(total_df.SV=='No')&~(
total_df.ProductTypeName.isin(alist))&(total_df.ShopID.isin(comp_list))].pivot_table(index='Area',columns=['Year'],
                                                                                        values=['ShopID','SalesMny'],aggfunc=['nunique',
                                                                                                                              'sum']).reset_index()
comp_ytd=comp_ytd.iloc[:,[0,3,6,5]]
comp_gc=total_gc[total_gc.ShopID.isin(comp_list)].pivot_table(index='Area',columns='Year',values='Guest_Count',aggfunc='sum').reset_index()
comp_gc=comp_gc.iloc[:,[0,2,1]]
columns=['Area','ShopCount','CYSales','PYSales']
comp_ytd.columns=columns
comp_ytd=comp_ytd.merge(comp_gc,on='Area')
comp_ytd['CYAvgChk']=comp_ytd['CYSales']/comp_ytd[2025]
comp_ytd['PYAvgChk']=comp_ytd['PYSales']/comp_ytd[2024]
comp_ytd

,Area,ShopCount,CYSales,PYSales,2025,2024,CYAvgChk,PYAvgChk
0,Core,26,226051.6802,2.614649e+05,27435,32689,8.239536,7.998558
1,Developing,80,955477.3691,1.060946e+06,97298,107839,9.820113,9.838239

# Retail Comp Sales MTD

In [44]:
comps=total_df[total_df.Month==month].pivot_table(index='ShopID',columns='Year',values='SalesMny',aggfunc='sum',fill_value=0).reset_index()
comp_list=comps[(comps[2024]>0)&(comps[2025]>0)].ShopID.unique()
comp_mtd=total_df[~(total_df.LegacyShopType.str.contains('Mobile'))&(total_df.SV=='No')&~(
total_df.ProductTypeName.isin(alist))&(total_df.ShopID.isin(comp_list))&(total_df.Month==month)].pivot_table(index='Area',columns=['Year'],
                                                                                        values=['ShopID','SalesMny'],aggfunc=['nunique',
                                                                                                                              'sum']).reset_index()
comp_mtd=comp_mtd.iloc[:,[0,3,6,5]]
comp_gc=total_gc[total_gc.ShopID.isin(comp_list)&(total_gc.Month==month)].pivot_table(index='Area',columns='Year',values='Guest_Count',aggfunc='sum').reset_index()
comp_gc=comp_gc.iloc[:,[0,2,1]]
columns=['Area','ShopCount','CYSales','PYSales']
comp_mtd.columns=columns
comp_mtd=comp_mtd.merge(comp_gc,on='Area')
comp_mtd['CYAvgChk']=comp_mtd['CYSales']/comp_mtd[2025]
comp_mtd['PYAvgChk']=comp_mtd['PYSales']/comp_mtd[2024]

In [45]:
comps=total_df[total_df.Month==month].pivot_table(index='ShopID',columns='Year',values='SalesMny',aggfunc='sum',fill_value=0).reset_index()
comps

Year  ShopID        2024        2025
0         18       0.000      0.0000
1         22   33525.816  28908.3800
2         39   23722.065  22827.4600
3         42       0.000      1.0000
4         73   24454.630  25023.9075
..       ...         ...         ...
188    11416       0.000    142.9100
189    11419    3870.780   6362.3100
190    11453    1731.060   2606.8600
191    11502       0.000    360.0000
192    20374  119869.310      0.0000

[193 rows x 3 columns]

In [46]:
total_gc[total_gc.ShopID.isin(comp_list)&(total_gc.Month==month)].pivot_table(index='Area',columns='Year',values='Guest_Count',aggfunc='sum').reset_index()

Year        Area    2024   2025
0           Core   32689  27435
1     Developing  110033  99462

In [47]:
total_gc.Month.max()

1

# Retail Comp Sales WTD

In [48]:
comps=total_df[total_df.Week==total_df.Week.max()].pivot_table(index='ShopID',columns='Year',values='SalesMny',aggfunc='sum',fill_value=0).reset_index()
comp_list=comps[(comps[2024]>0)&(comps[2025]>0)].ShopID.unique()
comp_wtd=total_df[~(total_df.LegacyShopType.str.contains('Mobile'))&(total_df.SV=='No')&~(
total_df.ProductTypeName.isin(alist))&(total_df.ShopID.isin(comp_list))&(total_df.Week==total_df.Week.max())].pivot_table(index='Area',columns=['Year'],
                                                                                        values=['ShopID','SalesMny'],aggfunc=['nunique',
                                                                                                                              'sum']).reset_index()
comp_wtd=comp_wtd.iloc[:,[0,3,6,5]]
comp_gc=total_gc[total_gc.ShopID.isin(comp_list)&(total_gc.Week==total_df.Week.max())].pivot_table(index='Area',columns='Year',values='Guest_Count',aggfunc='sum').reset_index()
comp_gc=comp_gc.iloc[:,[0,2,1]]
columns=['Area','ShopCount','CYSales','PYSales']
comp_wtd.columns=columns
comp_wtd=comp_wtd.merge(comp_gc,on='Area')
comp_wtd['CYAvgChk']=comp_wtd['CYSales']/comp_wtd[2025]
comp_wtd['PYAvgChk']=comp_wtd['PYSales']/comp_wtd[2024]

In [49]:
cal_dates=total_df.groupby('Year')[['EndDate','Week']].max().reset_index()
cal_dates=cal_dates[['EndDate','Week','Year']]

In [50]:
cal_dates['EndDate']=pd.to_datetime(cal_dates['EndDate']).dt.strftime('%m/%d/%Y')

In [51]:
writer=pd.ExcelWriter('Weekly Data Sets WE '+str(data.EndDate.max().strftime('%m-%d-%y'))+' Week '+str(data.Week.max())+'.xlsx')
retail_wtd.to_excel(writer, sheet_name='TSS-WE',index=False)
retail_mtd.to_excel(writer, sheet_name='TSS-MTD',index=False)
retail_ytd.to_excel(writer, sheet_name='TSS-YTD',index=False)
comp_wtd.to_excel(writer, sheet_name='SSS-WE',index=False)
comp_mtd.to_excel(writer, sheet_name='SSS-MTD',index=False)
comp_ytd.to_excel(writer, sheet_name='SSS-YTD',index=False)
pd3_oc_wtd.to_excel(writer, sheet_name='3PD-OC WE',index=False)
pd3_oc_mtd.to_excel(writer, sheet_name='3PD-OC MTD',index=False)
pd3_oc_ytd.to_excel(writer, sheet_name='3PD-OC YTD',index=False)
mobile_wtd.to_excel(writer, sheet_name='MOB WE',index=False)
mobile_mtd.to_excel(writer, sheet_name='MOB MTD',index=False)
mobile_ytd.to_excel(writer, sheet_name='MOB YTD',index=False)
sv_wtd.to_excel(writer, sheet_name='SV WE',index=False)
sv_mtd.to_excel(writer, sheet_name='SV MTD',index=False)
sv_ytd.to_excel(writer, sheet_name='SV YTD',index=False)
tsr_wtd.to_excel(writer, sheet_name='TSR WE',index=False)
tsr_mtd.to_excel(writer, sheet_name='TSR MTD',index=False)
tsr.to_excel(writer, sheet_name='TSR YTD',index=False)
cal_dates.sort_values(by='Year',ascending=False).to_excel(writer,sheet_name='Cal Dates',index=False)
ws=writer.sheets['Cal Dates']

text1='Total Sales for the Week Ending '+str(total_df.EndDate.max().strftime('%m/%d/%Y'))
text2='Total Sales Year to Date as of '+str(total_df.EndDate.max().strftime('%m/%d/%Y'))
text3='Same Store Sales for the Week Ending '+str(total_df.EndDate.max().strftime('%m/%d/%Y'))

ws.write(4,0,text1)
ws.write(5,0,text2)
ws.write(6,0,text3)

writer.close()