# This script runs the Weekly Sales Reports. This is done every Wednesday
## We connect directly to our data server to pull all of the sales and shop info needed
### The script will run and produce the following reports in Excel:
 - Weekly Sales Summary. This creates several reports in one spreadsheet
     1. 3rd Party Sales by Week by Year (Will use this for 3rd Party Report to FC)
     2. 3rd Party Sales by Shop by Platform for current year ( Will use this for 3rd Party Report to FC)
     3. Sales and Qty sold by by week by year
     4. Weekly Shop Averages (Will use this for Shop Ranking Report)
     5. Sales by Shop by Week (Use this to verify sales are correct and which shops haven't reported Sales)
     6. Guest Count by Week by Shop
     7. Sales and Guest Count by Shop
 - Year Over Year Sales by Category
     1. Breaks down sales by Total, Retail, Catering, Mobile and 3rd Party
 - New Shop Comps
     1. Produces a list of shops that have recently opened within two years of the date running this report.
 - Comp Sales and Guest Count
     1. Comp Sales and Guest Count by Week (This goes to Mark and Kent in Marketing)
 - Guest Count and Sales by Month (This goes to Linda)
 - Product Mix

In [1]:
#Imports the necessary libraries
import pandas as pd
import os
import numpy as np
import pyodbc as odbc
from datetime import date,timedelta
import seaborn as sns
os.chdir(r'G:\FinanceReports\2023\2023 Final 2.7.2025')# This is the file location to which we save the excel documents. Update this weekly

In [2]:
os.getcwd()

'G:\\FinanceReports\\2023\\2023 Final 2.7.2025'

In [3]:
# Type in the month (first) & day (second) of the previous Sunday
last_week='12-31'

In [4]:
# Names the needed driver, server name, and database
driver_name='SQL Server'
server_name='10.0.1.218'
database='ritascoolnet_live'

In [5]:
#Creates the connection string
connection_string=f"""
DRIVER={{{driver_name}}};
SERVER={server_name};
DATABASE={database};
Trust_Connection=yes"""

In [6]:
#Creates the Connection to SQL Server
connection=odbc.connect(connection_string)
print(connection)

<pyodbc.Connection object at 0x00000206E4C16370>

In [7]:
# Queries the tables from SQL
# Reads in the Daily Guest Count from 2022 onwards
data1=pd.read_sql_query('''SELECT * from ritascoolnet_live.dbo.smartDailyZTape Where intZTapeID=6 and Year(dteDate)>=2022 and Year(dteDate)<=2023''',connection)
payments=pd.read_sql_query('''SELECT * from ritascoolnet_live.dbo.smartDailyZTape Where intZTapeID>=7 and intZTapeID<=9 and Year(dteDate)>=2023''',connection)

C:\Users\jharned\AppData\Local\Temp\ipykernel_21720\3137951185.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data1=pd.read_sql_query('''SELECT * from ritascoolnet_live.dbo.smartDailyZTape Where intZTapeID=6 and Year(dteDate)>=2022 and Year(dteDate)<=2023''',connection)
C:\Users\jharned\AppData\Local\Temp\ipykernel_21720\3137951185.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  payments=pd.read_sql_query('''SELECT * from ritascoolnet_live.dbo.smartDailyZTape Where intZTapeID>=7 and intZTapeID<=9 and Year(dteDate)>=2023''',connection)

In [8]:
# Reads in the Google Map to be able to join the inStoreID to the RitasID
data2=pd.read_sql_query('''Select intStoreID, intRitasStoreID, vchStoreState,vchStoreName,dteOpenDate,dteTransferDate,dteSeasonalOpenDate,dteSeasonalCloseDate from ritascoolnet_live.dbo.GOOGLE_MAP_store''',connection)

C:\Users\jharned\AppData\Local\Temp\ipykernel_21720\2683513420.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data2=pd.read_sql_query('''Select intStoreID, intRitasStoreID, vchStoreState,vchStoreName,dteOpenDate,dteTransferDate,dteSeasonalOpenDate,dteSeasonalCloseDate from ritascoolnet_live.dbo.GOOGLE_MAP_store''',connection)

In [9]:
# Pulls Marketing info needed like Coolnet Group, MSA, and DMA
data3=pd.read_sql_query('''Select intstoreid,RitasID, FC,CoolNetGroup,LegacyStoreType,State,MSAName,DMA,StoreName as ShopName,CoOpName,OpenDate from ritascoolnet_live.dbo.vShopDetail''',connection)

C:\Users\jharned\AppData\Local\Temp\ipykernel_21720\2786742228.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data3=pd.read_sql_query('''Select intstoreid,RitasID, FC,CoolNetGroup,LegacyStoreType,State,MSAName,DMA,StoreName as ShopName,CoOpName,OpenDate from ritascoolnet_live.dbo.vShopDetail''',connection)

# The Following Query Will pull in the sales data

In [ ]:
# Queries the tables from SQL
# Reads in the Weekly Sales in 2023
data=pd.read_sql_query('''SELECT *
  FROM [ritas_bi].[dbo].[tmp_raw_plda]
  WHERE YEAR(StartDate)=2023
  ORDER BY Week DESC''',connection)
# Reads in the Weekly Sales in 2022
df=pd.read_sql_query('''SELECT *
  FROM [ritas_bi].[dbo].[tmp_raw_plda]
  WHERE YEAR(StartDate)=2022 AND Week <=52''',connection)

C:\Users\jharned\AppData\Local\Temp\ipykernel_21720\2467144158.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data=pd.read_sql_query('''SELECT *

In [ ]:
data.SalesMny.sum()

# Guest Count

In [ ]:
# Renames the Column to ShopID, will make easier when merging dataframes
data3.rename(columns={'RitasID':'ShopID'},inplace=True)

In [ ]:
data1

In [ ]:
data2

In [ ]:
#Merges Guest Counts with Shop Info to get more details about the Guest Counts
gc=pd.merge(data1,data2,on='intStoreID')
gc.head()

In [ ]:
#Changes the the type of the data from strings to numbers
gc.vchValue=gc.vchValue.astype('int')
gc.intRitasStoreID=gc.intRitasStoreID.astype('int')

In [ ]:
# Gets the last 4 digits of the Ritas ID, important when rolling numbers up
gc['Ritas ID']=gc.intRitasStoreID.astype('str')
gc['Ritas ID']=gc['Ritas ID'].str[-4:]
gc['Ritas ID']=gc['Ritas ID'].astype('int')

In [ ]:
# Gets the Year and Month of the Guest Count
gc['Year']=gc.dteDate.dt.year
gc['Month']=gc.dteDate.dt.month

In [ ]:
gc[(gc['Ritas ID']==626)&(gc.dteDate.dt.year==2023)].pivot_table(index=pd.Grouper(key='dteDate',freq='W'),values='vchValue',aggfunc='sum',margins=True)

In [ ]:
gc_week=gc.set_index('dteDate')

In [ ]:
resampled=gc_week.groupby(['Ritas ID'])['vchValue'].resample('W').sum().reset_index()

resampled_pivot=resampled.pivot_table(index='Ritas ID',columns='dteDate',values='vchValue',fill_value=0).reset_index()

In [ ]:
#list(sorted(enumerate(resampled.dteDate.unique()),key=lambda x:x[1]))

# Payment Types

In [ ]:
payments

In [ ]:
payments.vchValue=payments.vchValue.astype('float')
payments=pd.merge(payments,data2,on='intStoreID',how='left')
payments.intRitasStoreID=payments.intRitasStoreID.astype('int')
payments.pivot_table(index=['intRitasStoreID'],columns='intZTapeID',values='vchValue',aggfunc='sum')

In [ ]:
pay_piv=payments.pivot_table(index=['intRitasStoreID','vchStoreName'],columns='intZTapeID',values='vchValue',aggfunc='sum').reset_index()
pay_piv.rename(columns={7:'Credit_Card',8:'Gift_Card',9:'Gift_Certificates','intRitasStoreID':'ShopID','vchStoreName':'ShopName'},inplace=True)

In [ ]:
pay_piv
pay_type=pd.merge(data.groupby(['ShopID','ShopName'])['SalesMny'].sum().reset_index(),pay_piv,on=['ShopID','ShopName'],how='left').fillna(0)
pay_type.loc['Total']=pay_type.iloc[:,[2,3,4,5]].sum(axis=0)
pay_type['%Credit_Card']=pay_type['Credit_Card']/pay_type['SalesMny']
pay_type['%Gift_Card']=pay_type['Gift_Card']/pay_type['SalesMny']
pay_type['%Gift_Certificates']=pay_type['Gift_Certificates']/pay_type['SalesMny']
# pay_type.to_excel('Payments.xlsx',index=False)

In [ ]:
pay_type=pd.merge(pay_type,data3[['ShopID','ShopName','FC','LegacyStoreType']],on=['ShopID','ShopName'],how='left').drop_duplicates(subset=['ShopID'],keep='last')

In [ ]:
pay_type=pay_type.iloc[:,[0,1,-1,-2,2,3,4,5,6,7,8]]
# pay_type.to_excel('Payments.xlsx',index=False)

In [ ]:
# # Queries the tables from SQL
# # Reads in the Weekly Sales in 2023
# data=pd.read_sql_query('''SELECT *
#   FROM [ritas_bi].[dbo].[tmp_raw_plda]
#   WHERE YEAR(StartDate)=2023
#   ORDER BY Week DESC''',connection)
# # Reads in the Weekly Sales in 2022
# df=pd.read_sql_query('''SELECT *
#   FROM [ritas_bi].[dbo].[tmp_raw_plda]
#   WHERE YEAR(StartDate)=2022 AND Week <=35''',connection)

In [ ]:
# os.chdir(r'G:\FinanceReports\2023\Wk26')
# data=pd.read_excel('2023-SRSsales-productLevel-wk26.xlsx',sheet_name='2023')
# df=pd.read_excel('2023-SRSsales-productLevel-wk26.xlsx',sheet_name='2022')

# Sales by Category

In [ ]:
#Creates a Year Column for each DataFrame based on Start Date
data['Year']=data.StartDate.dt.year# 2023 Sales Data
df['Year']=df.StartDate.dt.year# 2022 Sales Data
total=pd.concat([data,df])# Combines the dataframes into one

In [ ]:
#Creates Month Name and Month Columns
total['Month']=total.StartDate.dt.month
total['Month_Name']=total.StartDate.dt.strftime('%b')

# Rolling Up Sales to Parent Level
## We need to roll up mobile and satellite sales into their parent shop
### All satellite and mobile shops will have the suffix (the last 3 or 4 numbers in the ShopID) as the Parent Shop
For Example:
    1. Mobile shop 10363 parent Shop is 363
    2. Satellite Shop 11332 parent Shop is 1332
A good rule of thumb is if the ShopID has 5 numbers, it is either a mobile or satellite.
If the second number is 0, then the Parent Shop's ShopID has 3 digits
If the second number is 1, then the Parent Shop's ShopID has 4 digits.
Some Shops have multiple satellite and mobile shops. The suffixes will still be the same as the Parent Shop, the only thing
that changes is the 1st digit. For example:
 - 11323 and 21323 are two different satellite shops for the same parent shop 1323
### How we roll the mobile and satellite sales into the correct Parent Shop, is by taking the last four digits of the ShopID and then grouping those together and summing them up.
### This is demonstrated in the code block below

In [ ]:
exclude=[10511,11390,20096,20882,21360,31360,11360,10061,10374]# List of Satellite Shops that are considered shops.
# Need to exclude these
df_1=total[~total.ShopID.isin(exclude)]# Excludes Satellite Shops
satellite=total[total.ShopID.isin(exclude)]# Grabs only the Satellite Shops
satellite['StringID']=satellite.ShopID.astype('int')
df_1['StringID']=df_1.ShopID.astype('int')
df_1['StringID']=df_1.ShopID.astype('str')
df_1['StringID']=df_1.StringID.str[-4:]
df_1['StringID']=df_1.StringID.astype('int')
total=pd.concat([df_1,satellite])
# Creates a new DataFrame called Total with a new column called StringID. This is the column we use to aggregate all of the
## satellite and mobile sales into the Parent Shops

In [ ]:
# unique=total[(total.Year==2023)&(total.ProductTypeName.isin(items))&(total.SalesMny>0)].StringID.nunique()
# total_shops=total[total.Year==2023].StringID.nunique()
# total_weeks=total[(total.Year==2023)].groupby('StringID')['Week'].nunique().reset_index()
# total_weeks.rename(columns={'Week':'Num_Weeks_Open'},inplace=True)
# total_sales=total[(total.Year==2023)&(total.ProductTypeName.isin(items))&(total.SalesMny>0)].groupby(['StringID'])['SalesMny'].sum().reset_index()
# total_sales=total_sales.merge(total_weeks,on='StringID',how='left')
# total_sales['Avg_Weekly_Sales']=total_sales.SalesMny/total_sales.Num_Weeks_Open
# total_sales.rename(columns={'SalesMny':'Total_Sales'},inplace=True)
# summary=pd.DataFrame({'Total Number of Shops':[total_shops],
#                      'Shops w Novelty':[unique],
#                      '% of Shops':[unique/total_shops]})

In [ ]:
# total_sales=total_sales.loc[:,['StringID','Num_Weeks_Open','Total_Sales','Avg_Weekly_Sales']]

In [ ]:
# cierra=pd.ExcelWriter('Novelty Information 2023.xlsx')
# summary.to_excel(cierra, sheet_name='Summary',index=False)
# total_sales.to_excel(cierra, sheet_name='Sales Info',index=False)
# cierra.close()

In [ ]:
# total_sales=total.pivot_table(index='StringID',columns='Year',values='SalesMny',aggfunc='sum',fill_value=0).reset_index()
# total_sales=pd.merge(total_sales,data3[['ShopID','State','FC','DMA','MSAName','CoOpName']],on='ShopID',how='left').drop_duplicates(subset=[2022,2023],keep='last')
# total_sales=total_sales[['ShopID','FC','State','CoOpName','DMA','MSAName',2022,2023]]
# total_sales=pd.merge(total_sales,data[['ShopID','ShopName']],how='left',on='ShopID').drop_duplicates(subset='ShopID',keep='last')
# total_sales.loc['Total']=total_sales[[2023,2022]].sum(axis=0)
# total_sales['%_Change']=total_sales[2023]/total_sales[2022]-1
# total_sales=total_sales[['ShopID','ShopName','FC','State','CoOpName','DMA','MSAName',2023,2022,'%_Change']]
# total_sales.replace([np.inf,-np.inf],0,inplace=True)
# total_sales

In [ ]:
total[total.ShopID==10167].CoOpStatus

In [ ]:
# Creates a pivot table by shop totaling up all sales
total_sales=total.pivot_table(index='StringID',columns='Year',values='SalesMny',aggfunc='sum',fill_value=0).reset_index()
total_sales=pd.merge(total_sales,data3[['ShopID','ShopName','State','FC','DMA','MSAName','CoOpName']],left_on='StringID',right_on='ShopID').drop_duplicates(subset=[2023,2022],keep='last')
total_sales=total_sales[['ShopID','ShopName','FC','State','CoOpName','DMA','MSAName',2023,2022,]]
total_sales.loc['Total']=total_sales[[2023,2022]].sum(axis=0)
total_sales['%_Change']=total_sales[2023]/total_sales[2022]-1
total_sales.replace([np.inf,-np.inf],0,inplace=True)
total_sales

In [ ]:
# Filters on the Catering Product Type Name
cater=['Catering (Bulk Ice)','Full Service Catering (Open $)']

In [ ]:
# Filters on retail only. Removes Mobile, 3rd Party and Catering Sales
retail=total[(~total.LegacyShopType.str.contains('Mobile'))&(total.ProductTypeName!='3rd Party Delivery')&(~total.ProductTypeName.isin(cater))].pivot_table(index='ShopID',columns='Year',values='SalesMny',aggfunc='sum',fill_value=0).reset_index()

In [ ]:
# total[(total.SpecialVenue=='No')&(~total.LegacyShopType.str.contains('Mobile'))&(total.ProductTypeName!='3rd Party Delivery')&(total.ProductTypeName!='Full Service Catering (Open $)')].pivot_table(index='ShopID',columns='Year',values='SalesMny',aggfunc='sum',fill_value=0).reset_index()

In [ ]:
#Grabs the Catering Sales
catering=round(total[((total.ProductTypeName=='Full Service Catering (Open $)')|(total.ProductTypeName=='Catering (Bulk Ice)'))&(~total.LegacyShopType.str.contains('Mobile'))].pivot_table(index='ShopID',columns='Year',values='SalesMny',aggfunc='sum',fill_value=0).reset_index(),2)
catering_fc=pd.merge(catering,data3[['ShopID','State','FC','DMA','MSAName','CoOpName']],on='ShopID',how='left').drop_duplicates(subset=[2022,2023],keep='last')
catering_fc=catering_fc[['ShopID','FC','State','CoOpName','DMA','MSAName',2023,2022]]
catering_fc=pd.merge(catering_fc,data[['ShopID','ShopName']],how='left',on='ShopID').drop_duplicates(subset='ShopID',keep='last')
catering_fc.loc['Total']=catering_fc[[2023,2022]].sum(axis=0)
catering_fc['%_Change']=catering_fc[2023]/catering_fc[2022]-1
catering_fc=catering_fc[['ShopID','ShopName','FC','State','CoOpName','DMA','MSAName',2023,2022,'%_Change']]
catering_fc.replace([np.inf,-np.inf],0,inplace=True)
catering_fc

In [ ]:
# satellite=[10511,11390,20096,20882,21360,31360,11360,10061,10374,20374,10026]
# satellite=round(total[(total.ShopID.isin(satellite))].pivot_table(index='ShopID',columns='Year',values='SalesMny',aggfunc='sum',fill_value=0).reset_index(),2)
# satellite_fc=pd.merge(satellite,data3[['ShopID','State','FC','DMA','MSAName','CoOpName']],on='ShopID',how='left').drop_duplicates(subset=[2022,2023],keep='last')
# satellite_fc=satellite_fc[['ShopID','FC','State','CoOpName','DMA','MSAName',2022,2023]]
# satellite_fc=pd.merge(satellite_fc,data[['ShopID','ShopName']],how='left',on='ShopID').drop_duplicates(subset='ShopID',keep='last')
# satellite_fc.loc['Total']=satellite_fc[[2023,2022]].sum(axis=0)
# satellite_fc['%_Change']=satellite_fc[2023]/satellite_fc[2022]-1
# satellite_fc=satellite_fc[['ShopID','ShopName','FC','State','CoOpName','DMA','MSAName',2023,2022,'%_Change']]
# satellite_fc.replace([np.inf,-np.inf],0,inplace=True)
# satellite_fc.to_excel('Satellite Sales 2022-23.xlsx',index=False)

In [ ]:
# Grabs the Mobile Sales
mobile=round(total[(total.LegacyShopType.str.contains('Mobile'))].pivot_table(index='ShopID',columns='Year',values='SalesMny',aggfunc='sum',fill_value=0).reset_index(),2)
mobile_fc=pd.merge(mobile,data3[['ShopID','State','FC','DMA','MSAName','CoOpName']],on='ShopID',how='left').drop_duplicates(subset=[2022,2023],keep='last')
mobile_fc=mobile_fc[['ShopID','FC','State','CoOpName','DMA','MSAName',2022,2023]]
mobile_fc=pd.merge(mobile_fc,data[['ShopID','ShopName']],how='left',on='ShopID').drop_duplicates(subset='ShopID',keep='last')
mobile_fc.loc['Total']=mobile_fc[[2023,2022]].sum(axis=0)
mobile_fc['%_Change']=mobile_fc[2023]/mobile_fc[2022]-1
mobile_fc=mobile_fc[['ShopID','ShopName','FC','State','CoOpName','DMA','MSAName',2023,2022,'%_Change']]
mobile_fc.replace([np.inf,-np.inf],0,inplace=True)
mobile_fc

In [ ]:
#Grabs the Delivery Sales 
delivery=round(total[total.ProductTypeName=='3rd Party Delivery'].pivot_table(index='ShopID',columns='Year',values='SalesMny',aggfunc='sum',fill_value=0).reset_index(),2)
delivery_fc=pd.merge(delivery,data3[['ShopID','State','FC','DMA','MSAName','CoOpName']],on='ShopID',how='left').drop_duplicates(subset=[2022,2023],keep='last')
delivery_fc=delivery_fc[['ShopID','FC','State','CoOpName','DMA','MSAName',2022,2023]]
delivery_fc=pd.merge(delivery_fc,data[['ShopID','ShopName']],how='left',on='ShopID').drop_duplicates(subset='ShopID',keep='last')
delivery_fc.loc['Total']=delivery_fc[[2023,2022]].sum(axis=0)
delivery_fc['%_Change']=delivery_fc[2023]/delivery_fc[2022]-1
delivery_fc=delivery_fc[['ShopID','ShopName','FC','State','CoOpName','DMA','MSAName',2023,2022,'%_Change']]
delivery_fc.replace([np.inf,-np.inf],0,inplace=True)
delivery_fc

In [ ]:
#Grabs the Retail Sales 
retail_fc=pd.merge(retail,data3[['ShopID','State','FC','DMA','MSAName','CoOpName']],on='ShopID',how='left').drop_duplicates(subset=[2022,2023],keep='last')
retail_fc=retail_fc[['ShopID','FC','State','CoOpName','DMA','MSAName',2022,2023]]
retail_fc=pd.merge(retail_fc,data[['ShopID','ShopName']],how='left',on='ShopID').drop_duplicates(subset='ShopID',keep='last')
retail_fc.loc['Total']=retail_fc[[2023,2022]].sum(axis=0)
retail_fc['%_Change']=retail_fc[2023]/retail_fc[2022]-1
retail_fc=retail_fc[['ShopID','ShopName','FC','State','CoOpName','DMA','MSAName',2023,2022,'%_Change']]
retail_fc.replace([np.inf,-np.inf],0,inplace=True)
retail_fc
# retail_fc.to_excel('22-23 Retail Sales Only.xlsx',index=False)

In [ ]:
# writer8=pd.ExcelWriter('YoY Sales by Category.xlsx')
# retail_fc.to_excel(writer8, sheet_name='Retail',index=False)
# catering_fc.to_excel(writer8, sheet_name='Catering',index=False)
# mobile_fc.to_excel(writer8,sheet_name='Mobile',index=False)
# delivery_fc.to_excel(writer8, sheet_name='Delivery',index=False)
# writer8.save()
# writer8.close()

In [ ]:
# retail_fc.replace([np.inf,-np.inf],0,inplace=True)
#retail_fc.to_excel('22-23 Retail Sales Onlyv2.xlsx',index=False)

In [ ]:
retail_fc.tail()

In [ ]:
print(sns.__version__)

In [ ]:
# total[(total.Week<=26)&(total.StartDate.dt.strftime('%m-%d')>='03-01')].pivot_table(index='ShopID',columns='Year',values='SalesMny',aggfunc='sum',fill_value=0).reset_index().to_excel(
# 'Comp Sales through 6-30.xlsx',index=False)

# 3rd Party Sales

In [ ]:
# Breaks down the third Party Sales by Week
pd3=total[(total.ProductSizeName=='UberEats')&(total.Year==2023)&(total.ShopID==84)].pivot_table(index=['StringID','StartDate','EndDate'],
                                                                                                 values='SalesMny',
                                                                                                 aggfunc='sum',fill_value=0).reset_index()
# pd3.loc['Total']=pd3.sum(axis=0)
# pd3=pd3.style.format({
#     2022:'{:,.2f}'.format,
#     2023:'{:,.2f}'.format
# })
pd3.to_excel('Shop 84 Uber Eats.xlsx')

In [ ]:
# data[data.ProductTypeName=='3rd Party Delivery'].pivot_table(index='StringID',columns='Week',values='SalesMny',aggfunc='sum',fill_value=0).to_excel(
# '2023 3PD Sales by Shop by Week 1.25.24.xlsx')

In [ ]:
# os.chdir(r'L:\3PD-WeeklyReport\2023\WE 12.10.2023')
# total[(total.ProductTypeName=='3rd Party Delivery')&(total.Week==49)&(total.Year==2023)].pivot_table(
#     index='ShopID',columns='ProductSizeName',values='SalesMny',aggfunc='sum',fill_value=0).to_excel('Week 49 3PD.xlsx')

In [ ]:
# Breaks down the 3rd Party Sales by Platform
pd3_platform=data[(data.ProductTypeName=='3rd Party Delivery')&(data.Week==data.Week.max())].pivot_table(index='ShopID',columns='ProductSizeName',values='SalesMny',aggfunc='sum',fill_value=0)
pd3_platform.loc['Total']=pd3_platform.sum(axis=0)
# pd3_platform.to_excel('Rec.xlsx')
pd3_platform

In [ ]:
# pd3_platform=df[(df.ProductTypeName=='3rd Party Delivery')&(df.Year==2022)].pivot_table(index='ShopID',columns='ProductSizeName',values='SalesMny',aggfunc='sum',fill_value=0)
# pd3_platform.loc['Total']=pd3_platform.sum(axis=0)
# pd3_platform.to_excel('2022 3PD Sales.xlsx')

In [ ]:
df.Year.unique()

In [ ]:
# data[(data.ProductTypeName=='3rd Party Delivery')&(data.ProductSizeName=='DoorDash')].pivot_table(
#     index='ShopID',columns='StartDate',values='SalesMny',aggfunc='sum',fill_value=0).reset_index().to_excel('JM Door Dash.xlsx',index=False)

In [ ]:
sales_year=total.pivot_table(index='Week',columns='Year',values=['SalesMny','SalesQty'],aggfunc='sum',fill_value=0)
sales_year.loc['Total']=sales_year.sum(axis=0)
sales_year

In [ ]:
data.columns

In [ ]:
exclude=[10511,11390,20096,20882,21360,31360,11360,10061,10374]
df=data[~data.ShopID.isin(exclude)]
satellite=data[data.ShopID.isin(exclude)]
satellite['StringID']=satellite.ShopID.astype('int')

In [ ]:
df['StringID']=df.ShopID.astype('int')
df['StringID']=df.ShopID.astype('str')
df['StringID']=df.StringID.str[-4:]
df['StringID']=df.StringID.astype('int')
df.StringID.unique()

# Weekly Sales Data
## Week by Week Sales by Shops for the Current Year only

In [ ]:
data=pd.concat([df,satellite])

In [ ]:
data['Month_Name']=data.StartDate.dt.strftime('%b')

In [ ]:
month_piv=data.pivot_table(index='StringID',columns='Month_Name',values='SalesMny',aggfunc='sum',fill_value=0,margins=True)
month_piv.columns
# month_piv[['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','All']].to_excel('23 Monthly Sales.xlsx',sheet_name='Sales Rank by Month 2023')

In [ ]:
grouped=data.groupby(['StringID','Week'])['SalesMny'].sum().reset_index()

In [ ]:
grouped[grouped.StringID==8]

In [ ]:
pivot=round(grouped.pivot_table(index='StringID',values='SalesMny'),2).reset_index()

In [ ]:
shop_names=data[['StringID','ShopName']].sort_values(by='StringID',ascending=True).drop_duplicates(subset='StringID')
# Gets Unique ShopName and StringID
sales_weekly=round(data.pivot_table(index=['StringID','Region'],columns='Week',values='SalesMny',aggfunc='sum',margins=True,fill_value=0),2).reset_index()
# Creates a pivot table by week and String ID for sales
sales_weekly_names=pd.merge(sales_weekly,shop_names,on='StringID',how='left')
#Merges the ShopNames with the String ID
sales_weekly_names=sales_weekly_names.iloc[:,np.r_[0,-1,1:len(sales_weekly_names.columns)-1]]
# Rearranges the Columns

In [ ]:
for_sales_week=data2.rename(columns={'intRitasStoreID':'StringID','vchStoreName':'ShopName'})# Changes the Column Names

In [ ]:
for_sales_week.StringID=for_sales_week.StringID.astype('str')

In [ ]:
sales_weekly_names.StringID=sales_weekly_names.StringID.astype('str')

In [ ]:
sales_dates=sales_weekly_names.merge(for_sales_week[['StringID','dteSeasonalOpenDate','dteSeasonalCloseDate']],how='left',
                        on=['StringID']).drop_duplicates(subset='StringID',keep='last')# Merges more shop info to the sales

In [ ]:
pd.to_datetime(date.today())

In [ ]:
sales_dates.loc[sales_dates.StringID=='218','dteSeasonalOpenDate']='2023-02-12'
sales_dates.loc[sales_dates.StringID=='218','dteSeasonalCloseDate']='2023-10-15'

In [ ]:
# sales_dates['Open_Status']=np.where(sales_dates['dteSeasonalCloseDate']>=pd.to_datetime(date.today()),'Open',np.where(sales_dates['dteSeasonalCloseDate']<pd.to_datetime(date.today()),'Close',
#          np.where(pd.to_datetime(date.today())>=sales_dates['dteSeasonalOpenDate'],'Open','Close')))

In [ ]:
sales_dates['Open_Status']=np.where((pd.to_datetime(date.today())<=sales_dates['dteSeasonalCloseDate'])&(
    pd.to_datetime(date.today())>=sales_dates['dteSeasonalOpenDate']),'Open',
        np.where((pd.to_datetime(date.today())>sales_dates['dteSeasonalCloseDate'])|(
            pd.to_datetime(date.today())<sales_dates['dteSeasonalOpenDate']),'Close','Open'))
# Creates the logic to determine if shop is open or closed

In [ ]:
sales_dates.loc[sales_dates.StringID=='1276','Open_Status']='Close'
sales_dates.loc[sales_dates.StringID=='1432','Open_Status']='Close'

In [ ]:
sales_dates=sales_dates.iloc[:,np.r_[0,1,2,-3,-2,-1,3:len(sales_dates.columns)-3]]# Rearranges the Columns

In [ ]:
sales_dates.loc[sales_dates.StringID=='858','Open_Status']='Close'

# For Shops that Have Opened in the Past Two Years

In [ ]:
# Reads in the Weekly Sales in 2022
data_5=pd.read_sql_query('''SELECT *
  FROM [ritas_bi].[dbo].[tmp_raw_plda]
  WHERE YEAR(StartDate)=2022''',connection)

In [ ]:
data_5['Year']=data_5.StartDate.dt.year
data_5['Month_Name']=data_5.StartDate.dt.strftime('%b')
filter_22=data_5[data_5.Year==2022]

In [ ]:
filter_23=total[total.Year==2023]

In [ ]:
filtered=pd.concat([filter_22,filter_23])

In [ ]:
filtered[filtered.ProductTypeName.str.contains('Catering')].SalesMny.sum()

In [ ]:
filter_group=filtered.groupby(['ShopID','ShopName','State','SpecialVenue','Year','Month_Name'])['SalesMny'].sum().reset_index()
filter_group.Month_Name.unique()

In [ ]:
filter_group[filter_group.ShopID==1492]

In [ ]:
gc.rename(columns={'intRitasStoreID':'ShopID','vchStoreName':'ShopName','vchValue':'Guest_Count'},inplace=True)

In [ ]:
gc['Month_Name']=gc.dteDate.dt.strftime('%b')

In [ ]:
gc_group=gc.groupby(['ShopID','Year','Month_Name'])[['Guest_Count','dteOpenDate']].agg({'Guest_Count':'sum',
                                                                                             'dteOpenDate':'max'}).reset_index()

In [ ]:
gc_group

In [ ]:
# filter_group=filtered.groupby(['ShopID','ShopName','LegacyShopType','SpecialVenue','Year','Month','State','Month_Name'])['SalesMny'].sum().reset_index()

In [ ]:
combined=pd.merge(filter_group,gc_group[['ShopID','Year','Guest_Count','dteOpenDate','Month_Name']],on=['ShopID','Year','Month_Name'],how='left')
combined

In [ ]:
combined[combined.ShopID==1534]

In [ ]:
combined.loc[combined.ShopID==1534,'dteOpenDate']='2023-06-27'
combined.loc[combined.ShopID==1534,'SpecialVenue']='No'
combined.loc[combined.ShopID==1534,'ShopName']='Sea World CA'

In [ ]:
combined.loc[combined.ShopID==31360,'dteOpenDate']='2023-04-15'

In [ ]:
combined.loc[combined.ShopID==160,'dteOpenDate']='2023-06-28'

In [ ]:
combined.loc[combined.ShopID==32,'dteOpenDate']='2023-05-05'

In [ ]:
combined.loc[combined.ShopID==445,'dteOpenDate']='2023-04-12'

In [ ]:
combined.loc[combined.ShopID==835,'dteOpenDate']='2022-10-28'

In [ ]:
combined.loc[combined.ShopID==1519,'dteOpenDate']='2023-08-03'

In [ ]:
combined.loc[combined.ShopID==10374,'dteOpenDate']='2023-09-09'

In [ ]:
combined.loc[combined.ShopID==1492,'dteOpenDate']='2022-04-08'

In [ ]:
combined.loc[combined.ShopID==325,'dteOpenDate']='2023-12-20'

In [ ]:
combined.loc[combined.ShopID==1234,'dteOpenDate']='2023-12-20'

In [ ]:
#Changes the Opening Date for Store 160
# combined.at[1563,'dteOpenDate']='2023-06-28'

In [ ]:
combined.info()

In [ ]:
# combined.to_excel('All Shops.xlsx',index=False)

In [ ]:

all_pivot=filter_group.pivot_table(index='Year',
                     columns=['ShopID','Month_Name'],values='SalesMny',aggfunc='sum',fill_value=0)

In [ ]:
all_pivot

In [ ]:
new_shops=combined[combined.dteOpenDate>=np.datetime64(date.today()-timedelta(days=730))]

In [ ]:
# new_shop_pivot=new_shops.pivot_table(index=['ShopID','LegacyShopType','State','dteOpenDate'],
#                       columns=['Month_Name','Year'],values=['SalesMny','Guest_Count'],
#                       aggfunc='sum',fill_value=0).reset_index()

In [ ]:
new_shop_pivot=new_shops.pivot_table(index=['ShopID','ShopName','State','dteOpenDate','Year'],
                      columns='Month_Name',values='SalesMny',
                      aggfunc='sum',fill_value=0)

In [ ]:
new_shop_pivot

In [ ]:
columns=['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']
new_shop_pivot.columns

In [ ]:
monthly=new_shop_pivot.reindex(columns, axis=1)

In [ ]:
monthly

In [ ]:
monthly['Totals']=monthly[columns].sum(axis=1)

In [ ]:
monthly=monthly.reset_index()
monthly=monthly[(monthly.dteOpenDate.dt.year<=2022)&(monthly.ShopID<10000)]
monthly.sort_values(by=['dteOpenDate','Year'],ascending=[False,True],inplace=True)

In [ ]:
monthly

In [ ]:
data.StartDate.max().month
data.StartDate.max()

In [ ]:
new_shops_df=new_shops.pivot_table(index=['ShopID','ShopName','SpecialVenue','dteOpenDate']
                      ,columns='Year',values='SalesMny',aggfunc='sum',fill_value=0).reset_index()
new_shops_df['%_Change']=new_shops_df.iloc[:,-1]/new_shops_df.iloc[:,4]-1

In [ ]:
new_shops_df['%_Change'].replace(np.inf,0,inplace=True)

In [ ]:
new_shops_df.columns=new_shops_df.columns.astype('str')

In [ ]:
new_shops_df.sort_values('dteOpenDate',ascending=False)

In [ ]:
filter_df=new_shops_df[(new_shops_df['2022']>0)&(new_shops_df['2023']>0)]

In [ ]:
new_shop_list=list(new_shops_df.ShopID.unique())

In [ ]:
pd.merge(total[(total.ShopID.isin(new_shop_list))&(total.Week>=total.Week.max()-4)].groupby([
    'ShopID','ShopName','State','SpecialVenue','Year'
])['SalesMny'].sum().reset_index(),
         gc_group[['ShopID','Year','dteOpenDate']],on=['ShopID','Year'],how='left').drop_duplicates(keep='first').set_index('Year')

In [ ]:
last_four=total[(total.ShopID.isin(new_shop_list))&(total.Week>=total.Week.max()-4)].groupby([
    'ShopID','ShopName','State','SpecialVenue','Year'
])['SalesMny'].sum().unstack('Year').dropna().reset_index()

In [ ]:
last_four.columns

In [ ]:
last_four_df=pd.merge(last_four,gc_group[['ShopID','dteOpenDate']],on='ShopID',how='left').drop_duplicates(keep='first')
last_four_df=last_four_df[['ShopID','ShopName','State','SpecialVenue','dteOpenDate',2022,2023]]
last_four_df['%_Change']=last_four_df.iloc[:,-1]/last_four_df.iloc[:,-2]-1
last_four_df

In [ ]:
shop_names=total.groupby('ShopID')['ShopName'].unique().reset_index()

# Product Mix

In [ ]:
data.info()

In [ ]:
pmix=data.pivot_table(index='ProductTypeName',values=['SalesMny','SalesQty'],aggfunc='sum').reset_index()
sales_total=data.SalesMny.sum()
qty_total=data.SalesQty.sum()
pmix['Sales%']=pmix.SalesMny/sales_total
pmix['Qty%']=pmix.SalesQty/qty_total

In [ ]:
# data[data.ShopID==shop].groupby(['ProductTypeName','ProductSizeName'])[['SalesMny','SalesQty']].sum().reset_index().sort_values(by=['ProductTypeName','SalesMny'],
#                                                                                                                   ascending=False)

In [ ]:
# shop=836
# pmix_item=data[data.ShopID==shop].pivot_table(index='ProductSizeName',values=['SalesMny','SalesQty'],aggfunc='sum').reset_index()
# pmix_item['Sales%']=pmix_item.SalesMny/data[data.ShopID==shop].SalesMny.sum()
# pmix_item['Qty%']=pmix_item.SalesQty/data[data.ShopID==shop].SalesQty.sum()
# pmix_item.to_excel('Pmix Shop '+str(shop)+'.xlsx',index=False)

In [ ]:
pmix_item=data.pivot_table(index='ProductSizeName',values=['SalesMny','SalesQty'],aggfunc='sum').reset_index()
pmix_item['Sales%']=pmix_item.SalesMny/sales_total
pmix_item['Qty%']=pmix_item.SalesQty/qty_total

In [ ]:
week_pmix=data[data.Week==data.Week.max()].pivot_table(index='ProductTypeName',values=['SalesMny','SalesQty'],aggfunc='sum').reset_index()
week_sales_total=data[data.Week==data.Week.max()].SalesMny.sum()
week_qty_total=data[data.Week==data.Week.max()].SalesQty.sum()
week_pmix['Sales%']=week_pmix.SalesMny/week_sales_total
week_pmix['Qty%']=week_pmix.SalesQty/week_qty_total

In [ ]:
week_pmix_item=data[data.Week==data.Week.max()].pivot_table(index='ProductSizeName',values=['SalesMny','SalesQty'],aggfunc='sum').reset_index()
week_pmix_item['Sales%']=week_pmix_item.SalesMny/week_sales_total
week_pmix_item['Qty%']=week_pmix_item.SalesQty/week_qty_total

In [ ]:
week_pmix_item

In [ ]:
# pmix_items=pmix_item.style.format({
#     'SalesMny':'{:,.2f}'.format,
#     'SalesQty':'{:,.2f}'.format,
#     'Sales%':'{:,.2%}'.format,
#     'Qty%':'{:,.2%}'.format
# })

In [ ]:
# pmix_cat=pmix.style.format({
#     'SalesMny':'{:,.2f}'.format,
#     'SalesQty':'{:,.2f}'.format,
#     'Sales%':'{:,.2%}'.format,
#     'Qty%':'{:,.2%}'.format
# })
# pmix_cat

In [ ]:
weekly_index=data.set_index('StartDate').resample('W').agg({'SalesMny':'sum','SalesQty':'sum','StringID':'nunique'})
weekly_index['Qty/Shops']=round(weekly_index['SalesQty']/weekly_index['StringID']/7,0)
weekly_index.rename(columns={'StringID':'Number_Stores','Qty/Shops':'Avg_Daily_Qty/Shops'},inplace=True)
weekly_index=weekly_index[['Number_Stores','SalesMny','SalesQty','Avg_Daily_Qty/Shops']]

In [ ]:
data.groupby('ProductTypeName').resample('W',on='StartDate').agg({'SalesMny':'sum','SalesQty':'sum','StringID':'nunique'})

In [ ]:
# weekly_index.plot(y='Qty/Shops',use_index=True,figsize=(20,10))

# Total Sales and Guest Count By Month

In [ ]:
filtered.CoOpName.unique()

In [ ]:
monthly_sales=round(filtered.pivot_table(index='Month_Name',columns='Year',values='SalesMny',aggfunc='sum',fill_value=0),2)
monthly_sales=monthly_sales.reindex(columns)
monthly_sales['%_Change']=monthly_sales.iloc[:,1]/monthly_sales.iloc[:,0]-1
monthly_sales

In [ ]:
filtered[filtered.Year==2023].SalesMny.sum()

In [ ]:
# # Queries the tables from SQL
# # Reads in the Daily Sales from 2023
# daily_sales=pd.read_sql_query('''SELECT * FROM [dbo].[smartDailySales] WHERE YEAR(dteDate)>=2022''',connection)

In [ ]:
# daily_sales['Month_Name']=daily_sales.dteDate.dt.strftime('%b')
# daily_sales['Year']=daily_sales.dteDate.dt.year
# daily_sales_piv=round(daily_sales.pivot_table(index='Month_Name',columns='Year',values='mnyPosSales',aggfunc='sum',fill_value=0),2)
# daily_sales_piv=daily_sales_piv.reindex(columns)
# daily_sales_piv['%_Change']=daily_sales_piv.iloc[:,1]/daily_sales_piv.iloc[:,0]-1
# daily_sales_piv

In [ ]:
gc_new=gc.pivot_table(index='Month_Name',columns='Year',values='Guest_Count',aggfunc='sum',fill_value=0)
gc_new=gc_new.reindex(['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'])
gc_new['%_Change']=gc_new.iloc[:,1]/gc_new.iloc[:,0]-1
gc_new

In [ ]:
# gc.set_index('dteDate').groupby(['Year','ShopID']).resample('W').agg({'Guest_Count':'sum'}).reset_index().to_excel('Test w Shops.xlsx',index=False)

In [ ]:
# gc[(gc.Year==2023)&(gc.dteDate<='2023-07-09')].groupby('ShopID')['Guest_Count'].sum().reset_index().to_excel('Test Groupby.xlsx',index=False)

In [ ]:
merged=pd.merge(monthly_sales,gc_new, on='Month_Name',how='left')
merged=merged.iloc[:,[1,0,2,4,3,5]]

# Weekly Sales and Guest Comp

In [ ]:
weekly_piv=total.pivot_table(index=['ShopID','Week'],columns='Year',values='SalesMny',aggfunc='sum',fill_value=0).reset_index()
weekly_piv

In [ ]:
weekly_piv[(weekly_piv.Week==52)&(weekly_piv[2023]>0)&(weekly_piv[2022]>0)].sum(axis=0)

In [ ]:
total.pivot_table(index=['ShopID','Week',pd.Grouper(key='StartDate',freq='W')],columns='Year',values='SalesMny',aggfunc='sum',fill_value=0).reset_index()

In [ ]:
comp_shops=weekly_piv[(weekly_piv[2022]>0)&(weekly_piv[2023]>0)].ShopID.unique()
len(comp_shops)

In [ ]:
weekly_piv[(weekly_piv[2022]>0)&(weekly_piv[2023]>0)].sum(axis=0)

In [ ]:
gc[gc.ShopID==127]

In [ ]:
weekly_piv_dates=total.pivot_table(index=['ShopID','Week',pd.Grouper(key='StartDate',freq='W')],columns='Year',values='SalesMny',aggfunc='sum',fill_value=0).reset_index()

In [ ]:
weekly_piv_dates.groupby('Week')[[2022,2023]].sum().sum()

In [ ]:
# comp_sales=weekly_piv[(weekly_piv[2022]>0)&(weekly_piv[2023]>0)]

In [ ]:
# filtered.groupby(['Year',pd.Grouper(key='StartDate',freq='W')])['SalesMny'].sum()

In [ ]:
# filtered.pivot_table(index=pd.Grouper(key='StartDate',freq='w'),columns='Year',values='SalesMny',aggfunc='sum')

In [ ]:
gc_week=gc.pivot_table(index=['ShopID',pd.Grouper(key='dteDate',freq='w')],columns='Year',values='Guest_Count',aggfunc='sum').reset_index()

In [ ]:
gc_week.rename(columns={'dteDate':'StartDate'},inplace=True)

In [ ]:
gc_week.rename(columns={2022:'Guest_Count22',2023:'Guest_Count23'},inplace=True)

In [ ]:
gc_week

In [ ]:
weekly_sales_gc=pd.merge(weekly_piv_dates,gc_week[['ShopID','StartDate','Guest_Count22','Guest_Count23']],on=['ShopID','StartDate'],how='left').fillna(0)

In [ ]:
weekly_sales_gc[weekly_sales_gc.Week==52]

In [ ]:
weekly_sales_gc.rename(columns={2022:'Sales_22',2023:'Sales_23'},inplace=True)

In [ ]:
round(weekly_sales_gc[weekly_sales_gc.ShopID.isin(comp_shops)].drop(['ShopID','StartDate'],axis=1).groupby(
    'Week')[['Sales_22','Sales_23','Guest_Count22','Guest_Count23']].sum(),2)

In [ ]:
round(weekly_sales_gc[weekly_sales_gc.ShopID.isin(comp_shops)].drop(['StartDate'],axis=1).groupby(
    'ShopID')[['Sales_22','Sales_23','Guest_Count22','Guest_Count23']].sum(),2).reset_index()

# For Kent Comps

In [ ]:
new_kent=weekly_sales_gc.rename(columns={'ShopID':'Ritas ID'})

In [ ]:
new_kent

In [ ]:
# kent=new_kent.merge(rename[['Ritas ID','ShopName','State','DMA','MSAName','CoOpName']],on='Ritas ID',how='left').drop_duplicates(subset=['Ritas ID','Week','StartDate'],
#                                                                                                             keep='first')
# kent.drop('StartDate',axis=1,inplace=True)

In [ ]:
# kent

In [ ]:
# kent['Ritas ID'].nunique()
# kent=kent[kent.Week<=39]
# kent.CoOpName=kent.CoOpName.fillna('No')
# kent.loc[kent['CoOpName'].str.contains('CO-OP'),'CoOp_Y/N']='Yes'
# kent.loc[kent['CoOpName'].str.contains('No'),'CoOp_Y/N']='No'
# kent['CoOp_Y/N']=kent['CoOp_Y/N'].fillna('No')
# kent.to_excel('For Kent Week 39.xlsx',index=False)

In [ ]:
# kent[kent.Week<=39].pivot_table(index=['Ritas ID','ShopName','State','DMA','MSAName','CoOpName'],columns='Week',
#                                values=['Sales_22', 'Sales_23', 'Guest_Count22','Guest_Count23'],aggfunc='sum')

In [ ]:
# kent.drop('StartDate',axis=1).to_excel('For Kent.xlsx',index=False)

In [ ]:
#kent.Sales_23.sum()

In [ ]:
#kent_combined=round(kent.drop(['StartDate'],axis=1).groupby(['Ritas ID','ShopName','State','State','CoOpName','DMA','MSAName','Week'])[['Sales_22','Sales_23',
                                                                                                                    #'Guest_Count22','Guest_Count23']].sum(),2)

In [ ]:
#kent_combined.Sales_23.sum()

In [ ]:
#kent_combined

# Sales and Guest Count by Shop

In [ ]:
exclude=[10511,11390,20096,20882,21360,31360,11360,10061,10374]
df=total[~total.ShopID.isin(exclude)]
satellite=total[total.ShopID.isin(exclude)]
satellite['StringID']=satellite.ShopID.astype('int')
df['StringID']=df.ShopID.astype('int')
df['StringID']=df.ShopID.astype('str')
df['StringID']=df.StringID.str[-4:]
df['StringID']=df.StringID.astype('int')
total_2=pd.concat([df,satellite])
total_2.rename(columns={'StringID':'Ritas ID'},inplace=True)

In [ ]:
gc_last_week=gc[gc.dteDate.dt.strftime('%m-%d')<=last_week]

In [ ]:
gc_year=gc_last_week.pivot_table(index=['Ritas ID'],columns='Year',values='Guest_Count',aggfunc='sum',fill_value=0).reset_index()
gc_year=pd.merge(gc_year,gc[['Ritas ID','ShopName']],on='Ritas ID',how='left').drop_duplicates(subset='Ritas ID',keep='last')
gc_year

In [ ]:
gc_year.rename(columns={2022:'Guest_Count22',2023:'Guest_Count23'},inplace=True)

In [ ]:
total_piv=total_2.pivot_table(index='Ritas ID',columns='Year',values='SalesMny',aggfunc='sum',fill_value=0)
shop_sales_gc=pd.merge(gc_year,total_piv,on='Ritas ID',how='right')
shop_sales_gc.rename(columns={2022:'Sales_22',2023:'Sales_23'},inplace=True)

In [ ]:
shop_sales_gc.drop_duplicates(subset='Ritas ID',keep='last')

In [ ]:
shop_sales_gc[['Ritas ID','ShopName','Guest_Count22','Guest_Count23','Sales_22','Sales_23']]#.to_excel('Shop Sales and Guest Count.xlsx',index=False)

In [ ]:
rename=data3.rename(columns={'ShopID':'Ritas ID'})

In [ ]:
shop_sales_gc=shop_sales_gc.merge(rename[['Ritas ID','CoOpName','MSAName','DMA']],on='Ritas ID',how='left').drop_duplicates(subset='Ritas ID',
                                                                                                             keep='first')

In [ ]:
shop_sales_gc.head()

In [ ]:
shop_sales_gc=shop_sales_gc.iloc[:,[0,3,6,7,8,1,2,4,5]]

In [ ]:
writer=pd.ExcelWriter('Week '+str(data.Week.max())+' Sales Summary.xlsx')
pd3.to_excel(writer,sheet_name='3PD Sales By Year')
pd3_platform.to_excel(writer,sheet_name='3PD by Platform')
sales_year.to_excel(writer, sheet_name='Sales By Year')
pivot.to_excel(writer, sheet_name='Weekly AVG',index=False)
sales_dates.to_excel(writer,sheet_name='Weekly Sales',index=False)
resampled_pivot.to_excel(writer,sheet_name='Guest Count by Week')
shop_sales_gc.to_excel(writer,sheet_name='Sales and GC by Shop',index=False)
writer.close()
writer2=pd.ExcelWriter('New Shops Comp for '+str(data.Year.max())+' Week '+str(data.Week.max())+' v2.xlsx')
new_shops_df.sort_values('dteOpenDate',ascending=False).reset_index().to_excel(writer2, sheet_name='YTD',index=False)
monthly.sort_values(by=['ShopID','dteOpenDate'],ascending=True).to_excel(writer2,sheet_name='Month by Month',index=False)
last_four_df.sort_values('%_Change',ascending=False).head(5).to_excel(writer2,sheet_name='Top 5 % Change',index=False)
last_four_df.sort_values('%_Change',ascending=False).tail(5).to_excel(writer2,sheet_name='Bottom 5 % Change',index=False)
last_four_df.sort_values(2023,ascending=False).head(5).to_excel(writer2,sheet_name='Top 5 in Sales',index=False)
last_four_df.sort_values(2023,ascending=False).tail(5).to_excel(writer2,sheet_name='Bottom 5 in Sales',index=False)
writer2.close()
writer3=pd.ExcelWriter('2023 Week '+str(data.Week.max())+' Product Mix v2.xlsx')
pmix.to_excel(writer3, sheet_name='YTD Category',index=False,engine='openpyxl')
pmix_item.to_excel(writer3, sheet_name='YTD Items',index=False,engine='openpyxl')
week_pmix.to_excel(writer3, sheet_name='Weekly Category',index=False, engine='openpyxl')
week_pmix_item.to_excel(writer3, sheet_name='Weekly Items',index=False, engine='openpyxl')
weekly_index.to_excel(writer3,sheet_name='Qty by Shop',engine='openpyxl')
writer3.close()
writer4=pd.ExcelWriter('Guest Count and Sales 22-23 v2 for Wk'+str(data.Week.max())+'.xlsx')
merged.to_excel(writer4, sheet_name='Guest and Sales')
writer4.close()
writer5=pd.ExcelWriter('Comp Sales and Guest Count for Wk'+str(data.Week.max())+'.xlsx')
weekly_sales_gc[weekly_sales_gc.ShopID.isin(comp_shops)].drop(['ShopID','StartDate'],axis=1).groupby(
    'Week')[['Sales_22','Sales_23','Guest_Count22','Guest_Count23']].sum().to_excel(writer5, sheet_name='Comps')
writer5.close()
pay_type.to_excel('Payments Wk'+str(data.Week.max())+'.xlsx',index=False)
writer8=pd.ExcelWriter('YoY Sales by Category Wk'+str(data.Week.max())+'.xlsx')
total_sales.to_excel(writer8, sheet_name='Total Sales',index=False)
retail_fc.to_excel(writer8, sheet_name='Retail',index=False)
catering_fc.to_excel(writer8, sheet_name='Catering',index=False)
mobile_fc.to_excel(writer8,sheet_name='Mobile',index=False)
delivery_fc.to_excel(writer8, sheet_name='Delivery',index=False)
writer8.close()

# Pricing Solutions 2023

In [ ]:
# psl_prod=data.groupby('ProductSizeName')[['SalesMny','SalesQty']].sum().reset_index()
# psl_prod['Avg Price']=round(psl_prod['SalesMny']/psl_prod['SalesQty'],2)
# psl_prod

In [ ]:
# psl_shop=data.groupby(['StringID','ProductSizeName'])[['SalesMny','SalesQty']].sum().reset_index()
# psl_shop['Avg_Price']=round(psl_shop['SalesMny']/psl_shop['SalesQty'],2)
# psl_shop

In [ ]:
# product_list=data[['ProductSizeName','ProductCode','ProdSizeCode']].drop_duplicates(keep='first')

In [ ]:
# shop_sales_week=data.pivot_table(index=['StringID','ProductTypeName','ProductSizeName'],columns=pd.Grouper(key='StartDate',freq='W'),
#                  values=['SalesMny'],aggfunc='sum',fill_value=0)

In [ ]:
# shop_qty_week=data.pivot_table(index=['StringID','ProductTypeName','ProductSizeName'],columns=pd.Grouper(key='StartDate',freq='W'),
#                  values=['SalesQty'],aggfunc='sum',fill_value=0)

In [ ]:
# sales_week=data.pivot_table(index=['ProductTypeName','ProductSizeName'],columns=pd.Grouper(key='StartDate',freq='W'),
#                  values=['SalesMny'],aggfunc='sum',fill_value=0)

In [ ]:
# qty_week=data.pivot_table(index=['ProductTypeName','ProductSizeName'],columns=pd.Grouper(key='StartDate',freq='W'),
#                  values=['SalesQty'],aggfunc='sum',fill_value=0)

In [ ]:
# open_dates=combined[['ShopID','dteOpenDate']].drop_duplicates(keep='last').dropna()

In [ ]:
# writer7=pd.ExcelWriter('PSL '+str(data.EndDate.max().strftime('%Y-%m-%d'))+'.xlsx')
# sales_week.to_excel(writer7,sheet_name='Sales Week')
# qty_week.to_excel(writer7, sheet_name='Qty Week')
# shop_sales_week.to_excel(writer7, sheet_name='Shop Sales by Week')
# shop_qty_week.to_excel(writer7, sheet_name='Shop Qty by Week')
# open_dates.to_excel(writer7, sheet_name='Open Dates',index=False)
# writer7.save()
# writer7.close()

In [ ]:
# writer6=pd.ExcelWriter('PSL 2023 8.18.2023.xlsx')
# psl_prod.to_excel(writer6, sheet_name='Avg Product Price',index=False)
# psl_shop.to_excel(writer6, sheet_name='Retail Price by Shop',index=False)
# product_list.to_excel(writer6,sheet_name='Product List',index=False)
# writer6.save()
# writer6.close()

# For Kent an Natalie Philly Co-Op Weekly Sales and Guest Count

In [ ]:
# philly=df[(df.CoOpName=='CO-OP PH/WI/TR')&(df.CoOpStatus=='Yes')]

# philly_group=philly.groupby(['StringID','EndDate','Week'])['SalesMny'].sum().reset_index()

# philly_pivot=philly_group.pivot_table(index='StringID',columns='Week',values='SalesMny',aggfunc='sum',margins=True,fill_value=0).reset_index()

In [ ]:
# resampled.rename(columns={'Ritas ID':'StringID','dteDate':'EndDate'},inplace=True)

In [ ]:
# gc_philly=pd.merge(philly_group,resampled,on=['StringID','EndDate'],how='left')

In [ ]:
# gc_philly_pivot=gc_philly.pivot_table(index='StringID',columns='Week',values='vchValue',aggfunc='sum',fill_value=0,margins=True).reset_index()

In [ ]:
# philly_pivot.rename(columns={'StringID':'RitasID'},inplace=True)
# gc_philly_pivot.rename(columns={'StringID':'RitasID'},inplace=True)

In [ ]:
# writer2=pd.ExcelWriter('Philly Co-Op Week '+str(data.Week.max())+' Summary.xlsx')
# philly_pivot.to_excel(writer2, sheet_name='Weekly Sales')
# gc_philly_pivot.to_excel(writer2, sheet_name='Weekly Guest Count')
# writer2.close()
# writer2.save()

In [ ]:
#round(data.groupby('Region')['SalesMny'].sum())

In [ ]:
#round(data.pivot_table(index=['StringID','Region'],values='SalesMny',aggfunc='sum'),2).reset_index().to_excel('Test(3).xlsx')

In [ ]:
#data[data.ProductTypeName=='3rd Party Delivery'].pivot_table(index=['StringID','Region'],columns=['ProductSizeName'],values='SalesMny',aggfunc='sum',fill_value=0).reset_index().to_excel('3PD Pivot.xlsx')

In [ ]:
#round(data.pivot_table(index=['StringID','Region'],columns='Week',values='SalesMny',aggfunc='sum',margins=True),2).reset_index().to_excel('Test(4).xlsx')

In [ ]:
#data.head()

In [ ]:
#comps=total.groupby(['ShopID','Year'])[['StartDate','SalesMny']].agg({'StartDate':'min','SalesMny':'sum'}).reset_index()
#comps.Year.min()

In [ ]:
#comps[comps.StartDate.dt.strftime('%m%d')<='0301'].pivot_table(
    #index='ShopID',columns='Year',values='SalesMny',fill_value=0).reset_index().to_excel('2022-23 YTD comp by Date.xlsx',index=False)

In [ ]:
#total_df=total[total.ShopID!=11390]
#altoona=total[total.ShopID==11390]
#altoona['StringID']=altoona.ShopID.astype('int')
#total_df['StringID']=total_df.ShopID.astype('int')
#total_df['StringID']=total_df.ShopID.astype('str')
#total_df['StringID']=total_df.StringID.str[-4:]
#total_df['StringID']=total_df.StringID.astype('int')
#total_df.StringID.unique()
#total_df=pd.concat([total_df,altoona])

In [ ]:
#comps=total_df.groupby(['StringID','Year'])[['StartDate','SalesMny']].agg({'StartDate':'min','SalesMny':'sum'}).reset_index()
#comps.Year.min()

In [ ]:
#comps[comps.StartDate.dt.strftime('%m%d')<='0330'].pivot_table(
    #index='StringID',columns='Year',values='SalesMny',fill_value=0).reset_index().to_excel('2022-23 YTD comp by Date(reduced).xlsx',index=False)

In [ ]:
#data.columns

In [ ]:
#total_df[(total_df.Year==2023)&(total_df.SpecialVenue=='No')&total_df.]

In [ ]:
#pd3_platform=total[(total.ProductTypeName=='3rd Party Delivery')&(total.StartDate.dt.strftime('%m-%d')>='03-27')].pivot_table(index='ShopID',columns='Year',values='SalesMny',aggfunc='sum',fill_value=0).reset_index()

In [ ]:
#os.chdir(r'L:\J.Harned\Marketing\Inner City')
#inner_city=[2,3,4,6,11,14,29,30,31,48,53,64,66,101,155,171,185,225,312,342,349,376,560,886,889,931,932,933,1045,
            #1046,1047,1049]
#pd3_platform[pd3_platform.ShopID.isin(inner_city)].to_excel('Inner City 3PD by Year.xlsx')

# 2023 vs 2022 PMIX

In [ ]:
# total=total[total.ShopID!=11390]
# altoona=total[total.ShopID==11390]
# altoona['StringID']=altoona.ShopID.astype('int')

In [ ]:
# total['StringID']=total.ShopID.astype('int')
# total['StringID']=total.ShopID.astype('str')
# total['StringID']=total.StringID.str[-4:]
# total['StringID']=total.StringID.astype('int')

In [ ]:
# total=pd.concat([total,altoona])

In [ ]:
# df_filtered=total[(total.Week>=16)&(total.Week<=21)]

In [ ]:
# total.rename(columns={'StringID':'RitasID'},inplace=True)

In [ ]:
# #Gets Dma List
# os.chdir(r'L:\12 Sales Rank Report')
# dma=pd.read_excel('DMA List.xlsx')
# dma.rename(columns={'Ritas ID':'RitasID'},inplace=True)

In [ ]:
# df_filtered.shape

In [ ]:
# dma_open=dma[dma['Shop Status']=='Open']

In [ ]:
# total_merge=pd.merge(total,dma_open[['RitasID','FC']],on='RitasID',how='left')

In [ ]:
# total_merge.Year.unique()

In [ ]:
# total_merge.StartDate.min()

In [ ]:
# total_merge.EndDate.max()

In [ ]:
# total_merge.Week.min()

In [ ]:
# total_merge.Week.max()

In [ ]:
# total_merge.CoOpName.fillna('LSM',inplace=True)

In [ ]:
# os.chdir(r'L:\J.Harned\Marketing')
# total_merge.pivot_table(index=['RitasID','ProductTypeName','FC','Region','CoOpName','State'],columns='Year',
#                        values=['SalesMny','SalesQty'],aggfunc='sum').reset_index()#.to_excel('2023 vs 2022 PMIX.xlsx')

In [ ]:
# total_merge.CoOpName.unique()

In [ ]:
# round(total_merge.pivot_table(index=['Region','FC'],columns='Year',values=['SalesMny','SalesQty'],aggfunc='sum'),2).reset_index().to_excel(
# '23 vs 22 PMIX by Region.xlsx')

In [ ]:
# round(total_merge.pivot_table(index=['CoOpName','FC'],columns='Year',values=['SalesMny','SalesQty'],aggfunc='sum'),2).reset_index().to_excel(
# '23 vs 22 PMIX by Co-Op.xlsx')

In [ ]:
# total_merge.pivot_table(index=['ProductTypeName'],columns='Year',
#                        values=['SalesMny','SalesQty'],aggfunc='sum').reset_index().to_excel('2023 vs 2022 PMIX YTD.xlsx')

In [ ]:
# df_filtered.pivot_table(index=['ProductTypeName'],columns='Year',
#                        values=['SalesMny','SalesQty'],aggfunc='sum').reset_index().to_excel('2023 Coffee PMIX YTD.xlsx')

# For Jeanette and FC
   Year End Reporting for FC. Making a pivot table based on sales and Pmix by store

In [ ]:
sales=data.pivot_table(index='ProductSizeName',columns='StringID',values='SalesMny',aggfunc='sum',fill_value=0)

In [ ]:
sales_perc=data.pivot_table(index='ProductSizeName',columns='StringID',values='SalesMny',aggfunc='sum',fill_value=0).apply(
lambda x: x/x.sum())

In [ ]:
qty=data.pivot_table(index='ProductSizeName',columns='StringID',values='SalesQty',aggfunc='sum',fill_value=0)

In [ ]:
retail=data.groupby(['StringID','ProductSizeName'])[['SalesMny','SalesQty']].sum().reset_index()
retail['Price']=round(retail.iloc[:,-2]/retail.iloc[:,-1],2)
retail

In [ ]:
# sales_excel=pd.ExcelWriter('Jeanette Sales v4.xlsx')
# sales.to_excel(sales_excel,sheet_name='Sales')
# sales_perc.to_excel(sales_excel,sheet_name='Sales %')
# retail.to_excel(sales_excel,sheet_name='Retail Price')
# qty.to_excel(sales_excel,sheet_name='Qty')
# sales_excel.close()

In [ ]:
# total=total.drop('OpenDate',axis=1)

In [ ]:
# data3.loc[data3.RitasID==32,'OpenDate']='2023-05-05'
# data3.loc[data3.RitasID==160,'OpenDate']='2023-06-28'
# data3.loc[data3.RitasID==445,'OpenDate']='2023-04-12'
# data3.loc[data3.RitasID==835,'OpenDate']='2022-10-28'
# data3.loc[data3.RitasID==325,'OpenDate']='2023-12-20'
# data3.loc[data3.RitasID==1234,'OpenDate']='2022-12-20'

In [ ]:
data3=data3.sort_values('intstoreid',ascending=False)
data3.rename(columns={'intstoreid':'intStoreID'},inplace=True)

In [ ]:
data3=data3.drop_duplicates(subset=['RitasID'],keep='first')
data3=data3[~data.ShopName.str.contains('Mobile')]
data3

In [ ]:
data3.rename(columns={'RitasID':'StringID'}, inplace=True)

In [ ]:
total_linda=total.merge(data3[['StringID','OpenDate']],how='left',on='StringID')

In [ ]:
total_linda.groupby('Year')['SalesMny'].sum()

In [ ]:
total_linda['OpenDate']=total_linda.OpenDate.fillna('None')

In [ ]:
months=['Oct','Nov','Dec']
total_shops=total_linda[total_linda.Month_Name.isin(months)].pivot_table(index=[
    'StringID','OpenDate'],columns=['Month_Name','Year'],values='SalesMny',
                       aggfunc='sum',fill_value=0).reset_index()
total_shops[total_shops.StringID==1]

In [ ]:
comps=total.pivot_table(index='StringID',columns='Year',values='SalesMny',aggfunc='sum',fill_value=0).reset_index()
comp_shops=comps[(comps[2022]>0)&(comps[2023]>0)].StringID

In [ ]:
comp_shops

In [ ]:
comps=total_linda[(total_linda.Month_Name.isin(months))&(total_linda.StringID.isin(comp_shops))].pivot_table(index=[
    'StringID','OpenDate'],columns=['Month_Name','Year'],values='SalesMny',
                       aggfunc='sum',fill_value=0).reset_index()
comps[comps.StringID==26]

In [ ]:
# writer=pd.ExcelWriter('Shop Sales Q4 23 vs 22.xlsx')
# total_shops.to_excel(writer, sheet_name='All Shops')
# comps.to_excel(writer,sheet_name='Comp Shops')
# writer.close()

In [ ]:
total[(total.StringID==238)&(total.ProductSizeName=='Misc')&(total.Year==2023)].groupby('Week')['SalesMny'].sum()

In [ ]:
total[(total.ShopName.str.contains('Mobile'))&(total.ProductTypeName=='MobileCart')].ShopID.nunique()

In [ ]:
total[(total.ProductSizeName=='Misc')&(total.Year==2023)].groupby(['ProductTypeName','ShopID'])['SalesMny'].sum()

In [ ]:
total[(total.ShopID>=10000)&(total.Year==2023)&~(total.ShopName.str.contains('Mobile'))].ShopID.unique()

In [ ]:
# total_linda.pivot_table(index=[
#     'StringID','OpenDate','State'],values='SalesMny',columns='Year',
#                        aggfunc='sum',fill_value=0).reset_index().to_excel('For Linda Shop Opening Dates v2.xlsx')