# This script runs the Weekly Sales Reports. This is done every Wednesday
## We connect directly to our data server to pull all of the sales and shop info needed
### The script will run and produce the following reports in Excel:
 - Weekly Sales Summary. This creates several reports in one spreadsheet
     1. 3rd Party Sales by Week by Year (Will use this for 3rd Party Report to FC)
     2. 3rd Party Sales by Shop by Platform for current year ( Will use this for 3rd Party Report to FC)
     3. Sales and Qty sold by by week by year
     4. Weekly Shop Averages (Will use this for Shop Ranking Report)
     5. Sales by Shop by Week (Use this to verify sales are correct and which shops haven't reported Sales)
     6. Guest Count by Week by Shop
     7. Sales and Guest Count by Shop
 - Year Over Year Sales by Category
     1. Breaks down sales by Total, Retail, Catering, Mobile and 3rd Party
 - New Shop Comps
     1. Produces a list of shops that have recently opened within two years of the date running this report.
 - Comp Sales and Guest Count
     1. Comp Sales and Guest Count by Week (This goes to Mark and Kent in Marketing)
 - Guest Count and Sales by Month (This goes to Linda)
 - Product Mix

In [12]:
#Imports the necessary libraries
import pandas as pd
import os
import numpy as np
import pyodbc as odbc
from datetime import date,timedelta
import seaborn as sns
os.chdir(r'G:\FinanceReports\2023\2023 Final 3.10.2024')# This is the file location to which we save the excel documents. Update this weekly

In [2]:
os.getcwd()

'G:\\FinanceReports\\2023\\2023 Final 1.18.2024'

In [3]:
# Type in the month (first) & day (second) of the previous Sunday
last_week='12-31'

In [4]:
# Names the needed driver, server name, and database
driver_name='SQL Server'
server_name='10.0.1.218'
database='ritascoolnet_live'

In [5]:
#Creates the connection string
connection_string=f"""
DRIVER={{{driver_name}}};
SERVER={server_name};
DATABASE={database};
Trust_Connection=yes"""

In [6]:
#Creates the Connection to SQL Server
connection=odbc.connect(connection_string)
print(connection)

<pyodbc.Connection object at 0x000001CD586CE9F0>

In [7]:
# Queries the tables from SQL
# Reads in the Daily Guest Count from 2022 onwards
data1=pd.read_sql_query('''SELECT * from ritascoolnet_live.dbo.smartDailyZTape Where intZTapeID=6 and Year(dteDate)>=2022 and Year(dteDate)<=2023''',connection)
payments=pd.read_sql_query('''SELECT * from ritascoolnet_live.dbo.smartDailyZTape Where intZTapeID>=7 and intZTapeID<=9 and Year(dteDate)>=2023''',connection)

C:\Users\jharned\AppData\Local\Temp\ipykernel_15164\3137951185.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data1=pd.read_sql_query('''SELECT * from ritascoolnet_live.dbo.smartDailyZTape Where intZTapeID=6 and Year(dteDate)>=2022 and Year(dteDate)<=2023''',connection)
C:\Users\jharned\AppData\Local\Temp\ipykernel_15164\3137951185.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  payments=pd.read_sql_query('''SELECT * from ritascoolnet_live.dbo.smartDailyZTape Where intZTapeID>=7 and intZTapeID<=9 and Year(dteDate)>=2023''',connection)

In [8]:
# Reads in the Google Map to be able to join the inStoreID to the RitasID
data2=pd.read_sql_query('''Select intStoreID, intRitasStoreID, vchStoreState,vchStoreName,dteOpenDate,dteTransferDate,dteSeasonalOpenDate,dteSeasonalCloseDate from ritascoolnet_live.dbo.GOOGLE_MAP_store''',connection)

C:\Users\jharned\AppData\Local\Temp\ipykernel_15164\2683513420.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data2=pd.read_sql_query('''Select intStoreID, intRitasStoreID, vchStoreState,vchStoreName,dteOpenDate,dteTransferDate,dteSeasonalOpenDate,dteSeasonalCloseDate from ritascoolnet_live.dbo.GOOGLE_MAP_store''',connection)

In [9]:
# Pulls Marketing info needed like Coolnet Group, MSA, and DMA
data3=pd.read_sql_query('''Select intstoreid,RitasID, FC,CoolNetGroup,LegacyStoreType,State,MSAName,DMA,StoreName as ShopName,CoOpName,OpenDate from ritascoolnet_live.dbo.vShopDetail''',connection)

C:\Users\jharned\AppData\Local\Temp\ipykernel_15164\2786742228.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data3=pd.read_sql_query('''Select intstoreid,RitasID, FC,CoolNetGroup,LegacyStoreType,State,MSAName,DMA,StoreName as ShopName,CoOpName,OpenDate from ritascoolnet_live.dbo.vShopDetail''',connection)

# The Following Query Will pull in the sales data

In [10]:
# Queries the tables from SQL
# Reads in the Weekly Sales in 2023
data=pd.read_sql_query('''SELECT *
  FROM [ritas_bi].[dbo].[tmp_raw_plda]
  WHERE YEAR(StartDate)=2023
  ORDER BY Week DESC''',connection)
# Reads in the Weekly Sales in 2022
df=pd.read_sql_query('''SELECT *
  FROM [ritas_bi].[dbo].[tmp_raw_plda]
  WHERE YEAR(StartDate)=2022 AND Week <=52''',connection)

C:\Users\jharned\AppData\Local\Temp\ipykernel_15164\2467144158.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data=pd.read_sql_query('''SELECT *
C:\Users\jharned\AppData\Local\Temp\ipykernel_15164\2467144158.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pd.read_sql_query('''SELECT *

In [13]:
data.SalesMny.sum()

182009843.43440005

# Guest Count

In [14]:
# Renames the Column to ShopID, will make easier when merging dataframes
data3.rename(columns={'RitasID':'ShopID'},inplace=True)

In [15]:
data1

,intStoreID,dteDate,intRegister,bitAMPM,intZTapeID,vchValue,vchZTapeName_DELETE,intType
0,523,2022-01-01,1,False,6,157,zt6,2
1,694,2022-01-01,1,False,6,28,zt6,2
2,973,2022-01-01,1,False,6,103,zt6,2
3,1705,2022-01-01,1,False,6,159,zt6,2
4,1706,2022-01-01,1,False,6,141,zt6,2
...,...,...,...,...,...,...,...,...
260996,4156,2023-10-11,1,False,6,44,zt6,2
260997,4166,2023-10-11,1,False,6,33,zt6,2
260998,4173,2023-10-11,1,False,6,55,zt6,2
260999,4174,2023-10-11,1,False,6,22,zt6,2
261000,4239,2023-10-11,1,False,6,75,zt6,2

In [16]:
data2

,intStoreID,intRitasStoreID,vchStoreState,vchStoreName,dteOpenDate,dteTransferDate,dteSeasonalOpenDate,dteSeasonalCloseDate
0,20,0,OH,Beachwood,NaT,NaT,NaT,NaT
1,24,774,VA,Arlington,NaT,NaT,NaT,NaT
2,25,0,OH,Middletown,NaT,NaT,NaT,NaT
3,26,,OH,Brook Park,NaT,NaT,NaT,NaT
4,27,,OH,Brunswick,NaT,NaT,NaT,NaT
...,...,...,...,...,...,...,...,...
4408,5523,1563,DC,1500 S Capitol St-Washington DC,NaT,NaT,NaT,NaT
4409,5524,1566,OH,Toledo OH Loc. 1,NaT,NaT,NaT,NaT
4410,5525,100220,OH,Toledo OH Loc. 2,NaT,NaT,NaT,NaT
4411,5526,1561,MI,27601 Southfield Rd-Lathrup Village MI,NaT,NaT,NaT,NaT
4412,5527,5030,,SM City Fairview,NaT,NaT,NaT,NaT

In [17]:
#Merges Guest Counts with Shop Info to get more details about the Guest Counts
gc=pd.merge(data1,data2,on='intStoreID')
gc.head()

,intStoreID,dteDate,intRegister,bitAMPM,intZTapeID,vchValue,vchZTapeName_DELETE,intType,intRitasStoreID,vchStoreState,vchStoreName,dteOpenDate,dteTransferDate,dteSeasonalOpenDate,dteSeasonalCloseDate
0,523,2022-01-01,1,False,6,157,zt6,2,22,FL,1010 Court St-Clearwater FL,1993-08-06,NaT,2023-01-01,2023-12-31 23:59:59
1,523,2022-01-02,1,False,6,138,zt6,2,22,FL,1010 Court St-Clearwater FL,1993-08-06,NaT,2023-01-01,2023-12-31 23:59:59
2,523,2022-01-03,1,False,6,98,zt6,2,22,FL,1010 Court St-Clearwater FL,1993-08-06,NaT,2023-01-01,2023-12-31 23:59:59
3,523,2022-01-04,1,False,6,109,zt6,2,22,FL,1010 Court St-Clearwater FL,1993-08-06,NaT,2023-01-01,2023-12-31 23:59:59
4,523,2022-01-05,1,False,6,108,zt6,2,22,FL,1010 Court St-Clearwater FL,1993-08-06,NaT,2023-01-01,2023-12-31 23:59:59

In [18]:
#Changes the the type of the data from strings to numbers
gc.vchValue=gc.vchValue.astype('int')
gc.intRitasStoreID=gc.intRitasStoreID.astype('int')

In [19]:
# Gets the last 4 digits of the Ritas ID, important when rolling numbers up
gc['Ritas ID']=gc.intRitasStoreID.astype('str')
gc['Ritas ID']=gc['Ritas ID'].str[-4:]
gc['Ritas ID']=gc['Ritas ID'].astype('int')

In [20]:
# Gets the Year and Month of the Guest Count
gc['Year']=gc.dteDate.dt.year
gc['Month']=gc.dteDate.dt.month

In [21]:
gc[(gc['Ritas ID']==626)&(gc.dteDate.dt.year==2023)].pivot_table(index=pd.Grouper(key='dteDate',freq='W'),values='vchValue',aggfunc='sum',margins=True)

         vchValue
dteDate
All             0

In [22]:
gc_week=gc.set_index('dteDate')

In [23]:
resampled=gc_week.groupby(['Ritas ID'])['vchValue'].resample('W').sum().reset_index()

resampled_pivot=resampled.pivot_table(index='Ritas ID',columns='dteDate',values='vchValue',fill_value=0).reset_index()

In [24]:
#list(sorted(enumerate(resampled.dteDate.unique()),key=lambda x:x[1]))

# Payment Types

In [25]:
payments

,intStoreID,dteDate,intRegister,bitAMPM,intZTapeID,vchValue,vchZTapeName_DELETE,intType
0,5106,2023-03-13,1,False,7,253.47,zt7,3
1,5110,2023-03-13,1,False,7,230.8,zt7,3
2,5111,2023-03-13,1,False,7,18.29,zt7,3
3,5112,2023-03-13,1,False,7,222.12,zt7,3
4,5113,2023-03-13,1,False,7,303.24,zt7,3
...,...,...,...,...,...,...,...,...
437144,5511,2024-03-10,1,False,8,0,zt8,3
437145,5512,2024-03-10,1,False,8,0,zt8,3
437146,5513,2024-03-10,1,False,8,7.99,zt8,3
437147,5514,2024-03-10,1,False,8,0,zt8,3
437148,5518,2024-03-10,1,False,8,0,zt8,3

In [26]:
payments.vchValue=payments.vchValue.astype('float')
payments=pd.merge(payments,data2,on='intStoreID',how='left')
payments.intRitasStoreID=payments.intRitasStoreID.astype('int')
payments.pivot_table(index=['intRitasStoreID'],columns='intZTapeID',values='vchValue',aggfunc='sum')

intZTapeID              7         8    9
intRitasStoreID
1                56309.98   6417.68  0.0
2                71588.22  11902.25  0.0
3                23602.12    714.63  0.0
4                61014.62   3898.91  0.0
6                53206.15   2739.39  0.0
...                   ...       ...  ...
11418            23340.95      0.00  0.0
11419            39387.48      0.00  0.0
11453            23541.80      0.00  0.0
30060             5220.87    294.60  0.0
30332             4534.16      0.00  0.0

[556 rows x 3 columns]

In [27]:
pay_piv=payments.pivot_table(index=['intRitasStoreID','vchStoreName'],columns='intZTapeID',values='vchValue',aggfunc='sum').reset_index()
pay_piv.rename(columns={7:'Credit_Card',8:'Gift_Card',9:'Gift_Certificates','intRitasStoreID':'ShopID','vchStoreName':'ShopName'},inplace=True)

In [28]:
pay_piv
pay_type=pd.merge(data.groupby(['ShopID','ShopName'])['SalesMny'].sum().reset_index(),pay_piv,on=['ShopID','ShopName'],how='left').fillna(0)
pay_type.loc['Total']=pay_type.iloc[:,[2,3,4,5]].sum(axis=0)
pay_type['%Credit_Card']=pay_type['Credit_Card']/pay_type['SalesMny']
pay_type['%Gift_Card']=pay_type['Gift_Card']/pay_type['SalesMny']
pay_type['%Gift_Certificates']=pay_type['Gift_Certificates']/pay_type['SalesMny']
# pay_type.to_excel('Payments.xlsx',index=False)

In [29]:
pay_type=pd.merge(pay_type,data3[['ShopID','ShopName','FC','LegacyStoreType']],on=['ShopID','ShopName'],how='left').drop_duplicates(subset=['ShopID'],keep='last')

In [30]:
pay_type=pay_type.iloc[:,[0,1,-1,-2,2,3,4,5,6,7,8]]
# pay_type.to_excel('Payments.xlsx',index=False)

In [31]:
# # Queries the tables from SQL
# # Reads in the Weekly Sales in 2023
# data=pd.read_sql_query('''SELECT *
#   FROM [ritas_bi].[dbo].[tmp_raw_plda]
#   WHERE YEAR(StartDate)=2023
#   ORDER BY Week DESC''',connection)
# # Reads in the Weekly Sales in 2022
# df=pd.read_sql_query('''SELECT *
#   FROM [ritas_bi].[dbo].[tmp_raw_plda]
#   WHERE YEAR(StartDate)=2022 AND Week <=35''',connection)

In [32]:
# os.chdir(r'G:\FinanceReports\2023\Wk26')
# data=pd.read_excel('2023-SRSsales-productLevel-wk26.xlsx',sheet_name='2023')
# df=pd.read_excel('2023-SRSsales-productLevel-wk26.xlsx',sheet_name='2022')

# Sales by Category

In [33]:
#Creates a Year Column for each DataFrame based on Start Date
data['Year']=data.StartDate.dt.year# 2023 Sales Data
df['Year']=df.StartDate.dt.year# 2022 Sales Data
total=pd.concat([data,df])# Combines the dataframes into one

In [34]:
#Creates Month Name and Month Columns
total['Month']=total.StartDate.dt.month
total['Month_Name']=total.StartDate.dt.strftime('%b')

# Rolling Up Sales to Parent Level
## We need to roll up mobile and satellite sales into their parent shop
### All satellite and mobile shops will have the suffix (the last 3 or 4 numbers in the ShopID) as the Parent Shop
For Example:
    1. Mobile shop 10363 parent Shop is 363
    2. Satellite Shop 11332 parent Shop is 1332
A good rule of thumb is if the ShopID has 5 numbers, it is either a mobile or satellite.
If the second number is 0, then the Parent Shop's ShopID has 3 digits
If the second number is 1, then the Parent Shop's ShopID has 4 digits.
Some Shops have multiple satellite and mobile shops. The suffixes will still be the same as the Parent Shop, the only thing
that changes is the 1st digit. For example:
 - 11323 and 21323 are two different satellite shops for the same parent shop 1323
### How we roll the mobile and satellite sales into the correct Parent Shop, is by taking the last four digits of the ShopID and then grouping those together and summing them up.
### This is demonstrated in the code block below

In [35]:
exclude=[10511,11390,20096,20882,21360,31360,11360,10061,10374]# List of Satellite Shops that are considered shops.
# Need to exclude these
df_1=total[~total.ShopID.isin(exclude)]# Excludes Satellite Shops
satellite=total[total.ShopID.isin(exclude)]# Grabs only the Satellite Shops
satellite['StringID']=satellite.ShopID.astype('int')
df_1['StringID']=df_1.ShopID.astype('int')
df_1['StringID']=df_1.ShopID.astype('str')
df_1['StringID']=df_1.StringID.str[-4:]
df_1['StringID']=df_1.StringID.astype('int')
total=pd.concat([df_1,satellite])
# Creates a new DataFrame called Total with a new column called StringID. This is the column we use to aggregate all of the
## satellite and mobile sales into the Parent Shops

C:\Users\jharned\AppData\Local\Temp\ipykernel_15164\2446333627.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  satellite['StringID']=satellite.ShopID.astype('int')
C:\Users\jharned\AppData\Local\Temp\ipykernel_15164\2446333627.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1['StringID']=df_1.ShopID.astype('int')
C:\Users\jharned\AppData\Local\Temp\ipykernel_15164\2446333627.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1['StringID']=df_1.ShopID.astype('str')
C:\Users\jharned\AppData\Local\Temp\ipykernel_15164\2446333627.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1['StringID']=df_1.StringID.str[-4:]
C:\Users\jharned\AppData\Local\Temp\ipykernel_15164\2446333627.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1['StringID']=df_1.StringID.astype('int')

In [36]:
# unique=total[(total.Year==2023)&(total.ProductTypeName.isin(items))&(total.SalesMny>0)].StringID.nunique()
# total_shops=total[total.Year==2023].StringID.nunique()
# total_weeks=total[(total.Year==2023)].groupby('StringID')['Week'].nunique().reset_index()
# total_weeks.rename(columns={'Week':'Num_Weeks_Open'},inplace=True)
# total_sales=total[(total.Year==2023)&(total.ProductTypeName.isin(items))&(total.SalesMny>0)].groupby(['StringID'])['SalesMny'].sum().reset_index()
# total_sales=total_sales.merge(total_weeks,on='StringID',how='left')
# total_sales['Avg_Weekly_Sales']=total_sales.SalesMny/total_sales.Num_Weeks_Open
# total_sales.rename(columns={'SalesMny':'Total_Sales'},inplace=True)
# summary=pd.DataFrame({'Total Number of Shops':[total_shops],
#                      'Shops w Novelty':[unique],
#                      '% of Shops':[unique/total_shops]})

In [37]:
# total_sales=total_sales.loc[:,['StringID','Num_Weeks_Open','Total_Sales','Avg_Weekly_Sales']]

In [38]:
# cierra=pd.ExcelWriter('Novelty Information 2023.xlsx')
# summary.to_excel(cierra, sheet_name='Summary',index=False)
# total_sales.to_excel(cierra, sheet_name='Sales Info',index=False)
# cierra.close()

In [39]:
# total_sales=total.pivot_table(index='StringID',columns='Year',values='SalesMny',aggfunc='sum',fill_value=0).reset_index()
# total_sales=pd.merge(total_sales,data3[['ShopID','State','FC','DMA','MSAName','CoOpName']],on='ShopID',how='left').drop_duplicates(subset=[2022,2023],keep='last')
# total_sales=total_sales[['ShopID','FC','State','CoOpName','DMA','MSAName',2022,2023]]
# total_sales=pd.merge(total_sales,data[['ShopID','ShopName']],how='left',on='ShopID').drop_duplicates(subset='ShopID',keep='last')
# total_sales.loc['Total']=total_sales[[2023,2022]].sum(axis=0)
# total_sales['%_Change']=total_sales[2023]/total_sales[2022]-1
# total_sales=total_sales[['ShopID','ShopName','FC','State','CoOpName','DMA','MSAName',2023,2022,'%_Change']]
# total_sales.replace([np.inf,-np.inf],0,inplace=True)
# total_sales

In [40]:
total[total.ShopID==10167].CoOpStatus

Series([], Name: CoOpStatus, dtype: object)

In [41]:
# Creates a pivot table by shop totaling up all sales
total_sales=total.pivot_table(index='StringID',columns='Year',values='SalesMny',aggfunc='sum',fill_value=0).reset_index()
total_sales=pd.merge(total_sales,data3[['ShopID','ShopName','State','FC','DMA','MSAName','CoOpName']],left_on='StringID',right_on='ShopID').drop_duplicates(subset=[2023,2022],keep='last')
total_sales=total_sales[['ShopID','ShopName','FC','State','CoOpName','DMA','MSAName',2023,2022,]]
total_sales.loc['Total']=total_sales[[2023,2022]].sum(axis=0)
total_sales['%_Change']=total_sales[2023]/total_sales[2022]-1
total_sales.replace([np.inf,-np.inf],0,inplace=True)
total_sales

,ShopID,ShopName,FC,State,CoOpName,DMA,MSAName,2023,2022,%_Change
1,1.0,Woodhaven,Lindsey Goff,PA,CO-OP PH/WI/TR,Philadelphia,Philadelphia-Camden-Wilmington,4.090810e+05,3.728212e+05,0.097258
2,2.0,3244 Red Lion Rd-Phila PA,Lindsey Goff,PA,CO-OP PH/WI/TR,Philadelphia,Philadelphia-Camden-Wilmington,5.701977e+05,4.990349e+05,0.142601
5,3.0,5901 Rising Sun Ave-Phila PA,Lindsey Goff,PA,CO-OP PH/WI/TR,Philadelphia,Philadelphia-Camden-Wilmington,3.024882e+05,2.566478e+05,0.178612
7,4.0,Pine Valley,Lindsey Goff,PA,CO-OP PH/WI/TR,Philadelphia,Philadelphia-Camden-Wilmington,2.647952e+05,2.635410e+05,0.004759
8,6.0,Rhawn Street,Lindsey Goff,PA,CO-OP PH/WI/TR,Philadelphia,Philadelphia-Camden-Wilmington,3.975039e+05,3.786593e+05,0.049767
...,...,...,...,...,...,...,...,...,...,...
995,20096.0,1 Premium Outlet Blvd-Tinton Falls NJ,Paul Greenberg,NJ,None,New York,New York-Newark-Jersey City,8.885610e+04,8.532010e+04,0.041444
997,20882.0,Dutch Wonderland-Lancaster PA,Doug Leitzell,PA,CO-OP LANCA,Harrisburg-Lancaster-Lebanon-York,Lancaster,1.541628e+05,1.553764e+05,-0.007810
998,21360.0,Mann Center,Lindsey Goff,PA,CO-OP PH/WI/TR,Philadelphia,Philadelphia-Camden-Wilmington,1.688775e+05,5.935000e+03,27.454507
999,31360.0,1 Lincoln Financial Way-Phila PA,Lindsey Goff,PA,CO-OP PH/WI/TR,Philadelphia,Philadelphia-Camden-Wilmington,4.572395e+05,0.000000e+00,0.000000
Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.820098e+08,1.577875e+08,0.153512

In [42]:
# Filters on the Catering Product Type Name
cater=['Catering (Bulk Ice)','Full Service Catering (Open $)']

In [43]:
# Filters on retail only. Removes Mobile, 3rd Party and Catering Sales
retail=total[(~total.LegacyShopType.str.contains('Mobile'))&(total.ProductTypeName!='3rd Party Delivery')&(~total.ProductTypeName.isin(cater))].pivot_table(index='ShopID',columns='Year',values='SalesMny',aggfunc='sum',fill_value=0).reset_index()

In [44]:
# total[(total.SpecialVenue=='No')&(~total.LegacyShopType.str.contains('Mobile'))&(total.ProductTypeName!='3rd Party Delivery')&(total.ProductTypeName!='Full Service Catering (Open $)')].pivot_table(index='ShopID',columns='Year',values='SalesMny',aggfunc='sum',fill_value=0).reset_index()

In [45]:
#Grabs the Catering Sales
catering=round(total[((total.ProductTypeName=='Full Service Catering (Open $)')|(total.ProductTypeName=='Catering (Bulk Ice)'))&(~total.LegacyShopType.str.contains('Mobile'))].pivot_table(index='ShopID',columns='Year',values='SalesMny',aggfunc='sum',fill_value=0).reset_index(),2)
catering_fc=pd.merge(catering,data3[['ShopID','State','FC','DMA','MSAName','CoOpName']],on='ShopID',how='left').drop_duplicates(subset=[2022,2023],keep='last')
catering_fc=catering_fc[['ShopID','FC','State','CoOpName','DMA','MSAName',2023,2022]]
catering_fc=pd.merge(catering_fc,data[['ShopID','ShopName']],how='left',on='ShopID').drop_duplicates(subset='ShopID',keep='last')
catering_fc.loc['Total']=catering_fc[[2023,2022]].sum(axis=0)
catering_fc['%_Change']=catering_fc[2023]/catering_fc[2022]-1
catering_fc=catering_fc[['ShopID','ShopName','FC','State','CoOpName','DMA','MSAName',2023,2022,'%_Change']]
catering_fc.replace([np.inf,-np.inf],0,inplace=True)
catering_fc

,ShopID,ShopName,FC,State,CoOpName,DMA,MSAName,2023,2022,%_Change
1033,1.0,Woodhaven,Lindsey Goff,PA,CO-OP PH/WI/TR,Philadelphia,Philadelphia-Camden-Wilmington,359.90,1864.39,-0.806961
2284,2.0,3244 Red Lion Rd-Phila PA,Lindsey Goff,PA,CO-OP PH/WI/TR,Philadelphia,Philadelphia-Camden-Wilmington,5413.82,3748.96,0.444086
3476,3.0,5901 Rising Sun Ave-Phila PA,Lindsey Goff,PA,CO-OP PH/WI/TR,Philadelphia,Philadelphia-Camden-Wilmington,1606.66,779.74,1.060507
4650,4.0,Pine Valley,Lindsey Goff,PA,CO-OP PH/WI/TR,Philadelphia,Philadelphia-Camden-Wilmington,4225.02,4178.99,0.011015
5871,6.0,Rhawn Street,Lindsey Goff,PA,CO-OP PH/WI/TR,Philadelphia,Philadelphia-Camden-Wilmington,2195.32,2568.22,-0.145198
...,...,...,...,...,...,...,...,...,...,...
664572,10882.0,NaN,None,PA,CO-OP LANCA,Harrisburg-Lancaster-Lebanon-York,Lancaster,0.00,1385.65,-1.000000
664604,10940.0,University of South Carolina,Pete Skenteris,SC,None,Columbia,Columbia,969.75,2497.08,-0.611646
665957,11390.0,Altoona,Doug Leitzell,PA,None,Johnstown-Altoona,None,1098.73,1017.39,0.079950
667035,31360.0,1 Lincoln Financial Way-Phila PA,Lindsey Goff,PA,CO-OP PH/WI/TR,Philadelphia,Philadelphia-Camden-Wilmington,0.00,0.00,NaN
Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4137538.50,3453492.18,0.198074

In [46]:
# satellite=[10511,11390,20096,20882,21360,31360,11360,10061,10374,20374,10026]
# satellite=round(total[(total.ShopID.isin(satellite))].pivot_table(index='ShopID',columns='Year',values='SalesMny',aggfunc='sum',fill_value=0).reset_index(),2)
# satellite_fc=pd.merge(satellite,data3[['ShopID','State','FC','DMA','MSAName','CoOpName']],on='ShopID',how='left').drop_duplicates(subset=[2022,2023],keep='last')
# satellite_fc=satellite_fc[['ShopID','FC','State','CoOpName','DMA','MSAName',2022,2023]]
# satellite_fc=pd.merge(satellite_fc,data[['ShopID','ShopName']],how='left',on='ShopID').drop_duplicates(subset='ShopID',keep='last')
# satellite_fc.loc['Total']=satellite_fc[[2023,2022]].sum(axis=0)
# satellite_fc['%_Change']=satellite_fc[2023]/satellite_fc[2022]-1
# satellite_fc=satellite_fc[['ShopID','ShopName','FC','State','CoOpName','DMA','MSAName',2023,2022,'%_Change']]
# satellite_fc.replace([np.inf,-np.inf],0,inplace=True)
# satellite_fc.to_excel('Satellite Sales 2022-23.xlsx',index=False)

In [47]:
# Grabs the Mobile Sales
mobile=round(total[(total.LegacyShopType.str.contains('Mobile'))].pivot_table(index='ShopID',columns='Year',values='SalesMny',aggfunc='sum',fill_value=0).reset_index(),2)
mobile_fc=pd.merge(mobile,data3[['ShopID','State','FC','DMA','MSAName','CoOpName']],on='ShopID',how='left').drop_duplicates(subset=[2022,2023],keep='last')
mobile_fc=mobile_fc[['ShopID','FC','State','CoOpName','DMA','MSAName',2022,2023]]
mobile_fc=pd.merge(mobile_fc,data[['ShopID','ShopName']],how='left',on='ShopID').drop_duplicates(subset='ShopID',keep='last')
mobile_fc.loc['Total']=mobile_fc[[2023,2022]].sum(axis=0)
mobile_fc['%_Change']=mobile_fc[2023]/mobile_fc[2022]-1
mobile_fc=mobile_fc[['ShopID','ShopName','FC','State','CoOpName','DMA','MSAName',2023,2022,'%_Change']]
mobile_fc.replace([np.inf,-np.inf],0,inplace=True)
mobile_fc

,ShopID,ShopName,FC,State,CoOpName,DMA,MSAName,2023,2022,%_Change
0,10008.0,Newtown Mobile,Lindsey Goff,PA,CO-OP PH/WI/TR,Philadelphia,Philadelphia-Camden-Wilmington,118177.86,93204.00,0.267948
1312,10026.0,1 N. Forest Beach-Hilton Head SC,Pete Skenteris,SC,None,Savannah,Hilton Head-Bluffton,503790.35,409830.56,0.229265
1328,10041.0,Edison Mobile 1-1,Lisa Williams,NJ,None,New York,New York-Newark-Jersey City,17388.00,14616.00,0.189655
1355,10071.0,Woodbridge Mobile 1-1,Lisa Williams,NJ,None,New York,New York-Newark-Jersey City,133267.07,114095.32,0.168033
1358,10128.0,Flemington - Mobile,Lisa Williams,NJ,None,New York,New York-Newark-Jersey City,2593.00,19325.00,-0.865821
1366,10149.0,Jacksonville Beach Mobile 1-1,Jamie Snyder,FL,None,Jacksonville,Jacksonville,4234.01,0.00,0.000000
1367,10159.0,NaN,Trisha Transue,PA,None,Philadelphia,Allentown-Bethlehem-Easton,0.00,5701.50,-1.000000
1372,10175.0,Rio Grande Mobile,Paul Greenberg,NJ,None,Philadelphia,Ocean City,9900.00,4097.00,1.416402
1393,10200.0,Cinnaminson Mobile 1-1,Jordan Tucker,NJ,CO-OP PH/WI/TR,Philadelphia,Philadelphia-Camden-Wilmington,17511.00,106499.20,-0.835576
1410,10238.0,Bloomsburg Mobile,Doug Leitzell,PA,None,Wilkes Barre-Scranton,Bloomsburg-Berwick,9314.00,6798.00,0.370109
1411,10250.0,NaN,Doug Leitzell,PA,CO-OP YORK,Harrisburg-Lancaster-Lebanon-York,York-Hanover,0.00,575.00,-1.000000
1412,10259.0,NaN,Doug Leitzell,PA,CO-OP LANCA,Harrisburg-Lancaster-Lebanon-York,Lancaster,0.00,2015.00,-1.000000
1419,10274.0,McMurray Mobile,Dave Roemer,PA,CO-OP PITTS,Pittsburgh,Pittsburgh,5845.00,0.00,0.000000
1437,10289.0,Queenstown Premium Outlets Mobile 1-1,Lisa Harris,MD,CO-OP BALTI,Baltimore,Baltimore-Columbia-Towson,40984.15,77360.00,-0.470215
1529,10292.0,Seaford Mobile,Emily Little,DE,None,Salisbury,Salisbury,434058.00,380486.00,0.140799
1534,10306.0,Burtonsville - Mobile,Lisa Harris,MD,CO-OP WASHI,Washington DC,Washington-Arlington-Alexandria,2963.00,3948.00,-0.249493
1547,10338.0,Pottsville Mobile,Trisha Transue,PA,None,Wilkes Barre-Scranton,None,19550.00,7220.00,1.707756
1548,10345.0,NaN,Lisa Harris,MD,CO-OP BALTI,Baltimore,Baltimore-Columbia-Towson,0.00,5522.00,-1.000000
1616,10350.0,Hillsborough Mobile,Lisa Williams,NJ,None,New York,New York-Newark-Jersey City,70665.13,73229.49,-0.035018
1979,10359.0,Charlotte Hall Mobile,Jordan Tucker,MD,None,Washington DC,None,22221.00,0.00,0.000000
2004,10393.0,Randolph Mobile,Lisa Williams,NJ,None,New York,New York-Newark-Jersey City,13999.25,208.00,66.304087
2028,10412.0,Oakland Mobile 1-1,Dave Roemer,PA,CO-OP PITTS,Pittsburgh,Pittsburgh,113805.11,112784.16,0.009052
2040,10441.0,Severna Park - Mobile,Lisa Harris,MD,CO-OP BALTI,Baltimore,Baltimore-Columbia-Towson,26980.00,7353.00,2.669251
2072,10445.0,Princess Anne Rd Mobile 1-1,Pete Skenteris,VA,None,Norfolk-Portsmouth-Newport News,Virginia Beach-Norfolk-Newport News,113652.63,212666.79,-0.465584
2181,10476.0,Prince Frederick Mobile,Jordan Tucker,MD,CO-OP WASHI,Washington DC,Washington-Arlington-Alexandria,14091.68,9318.00,0.512307
2263,10525.0,Dunkirk Mobile,Jordan Tucker,MD,CO-OP WASHI,Washington DC,Washington-Arlington-Alexandria,9990.50,0.00,0.000000
2264,10824.0,Roselle Mobile 1-1,Lisa Williams,NJ,None,New York,New York-Newark-Jersey City,101.00,0.00,0.000000
2937,10836.0,Naples Mobile 1-1,Jamie Snyder,FL,None,Ft. Myers-Naples,Naples-Marco Island,196585.74,155412.29,0.264930
2938,10860.0,NaN,Pete Skenteris,VA,CO-OP WASHI,Washington DC,Washington-Arlington-Alexandria,0.00,6467.00,-1.000000
2992,10927.0,Dorney Park - Mobile,Trisha Transue,PA,None,Philadelphia,Allentown-Bethlehem-Easton,51015.00,4202.99,11.137788
3044,10928.0,Dorney Park II - Mobile,Trisha Transue,PA,None,Philadelphia,Allentown-Bethlehem-Easton,42279.28,34957.76,0.209439
3045,10935.0,NaN,Paul Greenberg,NJ,CO-OP PH/WI/TR,Philadelphia,Philadelphia-Camden-Wilmington,0.00,30087.00,-1.000000
3134,10937.0,Foley Mobile,Jamie Snyder,AL,None,Mobile-Pensacola,Daphne-Fairhope-Foley,17812.75,8540.50,1.085680
3228,11053.0,Asheville Mobile 1-1,Pete Skenteris,NC,None,Greenville-Spartansville-Asheville,Asheville,46934.57,30424.78,0.542643
3260,11187.0,Quakertown Mobile,Trisha Transue,PA,CO-OP PH/WI/TR,Philadelphia,Philadelphia-Camden-Wilmington,43291.00,33976.00,0.274164
3376,11237.0,Park Ridge Mobile,Dave Roemer,IL,None,Chicago,Chicago-Naperville-Elgin,15599.20,0.00,0.000000
3421,11318.0,Putt-Putt Fun Center - Mobile,Jamie Snyder,GA,None,Augusta,Augusta-Richmond County,67291.00,67006.00,0.004253
3669,11369.0,Savannah Mobile 1-1,Pete Skenteris,GA,None,Savannah,Savannah,79325.88,92733.99,-0.144587
3670,11381.0,NaN,John Martin (FC),CO,None,Denver,Denver-Aurora,0.00,7072.00,-1.000000
3919,11394.0,East Colorado Springs Mobile 1-1,John Martin (FC),CO,None,Colorado Springs-Pueblo,Colorado Springs,34636.53,50226.00,-0.310386
3965,11397.0,Tuscaloosa Mobile 1-1,Jamie Snyder,AL,None,Birmingham,Tuscaloosa,9138.46,7760.80,0.177515
3966,11400.0,NaN,Jamie Snyder,AL,None,Huntsville-Decatur,Huntsville,0.00,85290.29,-1.000000
4262,11407.0,Hermitage Mobile,Dave Roemer,PA,None,Youngstown,Youngstown-Warren-Boardman,52329.01,8182.50,5.395235
4496,11418.0,Carmel Mobile,Dave Roemer,IN,None,Indianapolis,Indianapolis-Carmel-Anderson,49308.15,18393.83,1.680690
5085,11419.0,4255 Tamiami Trail-Port Charlotte FL Mobile,Jamie Snyder,FL,None,Ft. Myers-Naples,Punta Gorda,110549.05,71344.83,0.549503
5566,11453.0,Bowling Green Mobile,Jamie Snyder,KY,None,Bowling Green,Bowling Green,66946.87,5544.84,11.073724
5588,20289.0,Kent Island Mobile 1-2,Lisa Harris,MD,CO-OP BALTI,Baltimore,Baltimore-Columbia-Towson,41062.00,41760.00,-0.016715
5649,20374.0,Rhode Island Mobile,Lisa Harris,DC,CO-OP WASHI,Washington DC,Washington-Arlington-Alexandria,287196.17,0.00,0.000000
5653,20714.0,Plaza Shopping Center Mobile 1-2,Pete Skenteris,NC,None,Greenville-New Bern-Washington,Jacksonville,5150.47,5701.32,-0.096618
5654,20824.0,NaN,Lisa Williams,NJ,None,New York,New York-Newark-Jersey City,0.00,9387.51,-1.000000
5655,21365.0,NaN,John Martin (FC),NV,None,Reno,Reno,0.00,9822.18,-1.000000
5870,30060.0,Curry Hollow - Drive-Thru,Dave Roemer,PA,CO-OP PITTS,Pittsburgh,Pittsburgh,26193.39,160545.75,-0.836848
6134,30332.0,Blandon Mobile 1-2,Doug Leitzell,PA,None,Philadelphia,Reading,35981.25,42606.00,-0.155489
6166,30445.0,Princess Anne Rd VA Mobile 1-3,Pete Skenteris,VA,None,Norfolk-Portsmouth-Newport News,Virginia Beach-Norfolk-Newport News,113990.04,109260.07,0.043291
Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3097697.55,2763558.25,0.120909

In [48]:
#Grabs the Delivery Sales 
delivery=round(total[total.ProductTypeName=='3rd Party Delivery'].pivot_table(index='ShopID',columns='Year',values='SalesMny',aggfunc='sum',fill_value=0).reset_index(),2)
delivery_fc=pd.merge(delivery,data3[['ShopID','State','FC','DMA','MSAName','CoOpName']],on='ShopID',how='left').drop_duplicates(subset=[2022,2023],keep='last')
delivery_fc=delivery_fc[['ShopID','FC','State','CoOpName','DMA','MSAName',2022,2023]]
delivery_fc=pd.merge(delivery_fc,data[['ShopID','ShopName']],how='left',on='ShopID').drop_duplicates(subset='ShopID',keep='last')
delivery_fc.loc['Total']=delivery_fc[[2023,2022]].sum(axis=0)
delivery_fc['%_Change']=delivery_fc[2023]/delivery_fc[2022]-1
delivery_fc=delivery_fc[['ShopID','ShopName','FC','State','CoOpName','DMA','MSAName',2023,2022,'%_Change']]
delivery_fc.replace([np.inf,-np.inf],0,inplace=True)
delivery_fc

,ShopID,ShopName,FC,State,CoOpName,DMA,MSAName,2023,2022,%_Change
1191,3.0,5901 Rising Sun Ave-Phila PA,Lindsey Goff,PA,CO-OP PH/WI/TR,Philadelphia,Philadelphia-Camden-Wilmington,43376.26,3520.60,11.320701
2365,4.0,Pine Valley,Lindsey Goff,PA,CO-OP PH/WI/TR,Philadelphia,Philadelphia-Camden-Wilmington,20923.44,18693.63,0.119282
3586,6.0,Rhawn Street,Lindsey Goff,PA,CO-OP PH/WI/TR,Philadelphia,Philadelphia-Camden-Wilmington,10091.69,7909.03,0.275971
4840,8.0,Newtown,Lindsey Goff,PA,CO-OP PH/WI/TR,Philadelphia,Philadelphia-Camden-Wilmington,21496.36,19541.04,0.100062
5519,9.0,902 Boardwalk-Ocean City NJ,John D'Allesandro,NJ,None,Philadelphia,Ocean City,0.00,10218.63,-1.000000
...,...,...,...,...,...,...,...,...,...,...
572198,1522.0,3319 W Elm St-McHenry IL,Dave Roemer,IL,None,Chicago,Chicago-Naperville-Elgin,1753.99,0.00,0.000000
572511,1530.0,419 W Baltimore St-Baltimore MD,Lisa Harris,MD,CO-OP BALTI,Baltimore,Baltimore-Columbia-Towson,666.29,0.00,0.000000
572512,10882.0,NaN,None,PA,CO-OP LANCA,Harrisburg-Lancaster-Lebanon-York,Lancaster,0.00,38763.03,-1.000000
573590,31360.0,1 Lincoln Financial Way-Phila PA,Lindsey Goff,PA,CO-OP PH/WI/TR,Philadelphia,Philadelphia-Camden-Wilmington,0.00,0.00,NaN
Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11298444.55,8683094.27,0.301200

In [49]:
#Grabs the Retail Sales 
retail_fc=pd.merge(retail,data3[['ShopID','State','FC','DMA','MSAName','CoOpName']],on='ShopID',how='left').drop_duplicates(subset=[2022,2023],keep='last')
retail_fc=retail_fc[['ShopID','FC','State','CoOpName','DMA','MSAName',2022,2023]]
retail_fc=pd.merge(retail_fc,data[['ShopID','ShopName']],how='left',on='ShopID').drop_duplicates(subset='ShopID',keep='last')
retail_fc.loc['Total']=retail_fc[[2023,2022]].sum(axis=0)
retail_fc['%_Change']=retail_fc[2023]/retail_fc[2022]-1
retail_fc=retail_fc[['ShopID','ShopName','FC','State','CoOpName','DMA','MSAName',2023,2022,'%_Change']]
retail_fc.replace([np.inf,-np.inf],0,inplace=True)
retail_fc
# retail_fc.to_excel('22-23 Retail Sales Only.xlsx',index=False)

,ShopID,ShopName,FC,State,CoOpName,DMA,MSAName,2023,2022,%_Change
1033,1.0,Woodhaven,Lindsey Goff,PA,CO-OP PH/WI/TR,Philadelphia,Philadelphia-Camden-Wilmington,4.087211e+05,3.709568e+05,0.101803
2284,2.0,3244 Red Lion Rd-Phila PA,Lindsey Goff,PA,CO-OP PH/WI/TR,Philadelphia,Philadelphia-Camden-Wilmington,5.647838e+05,4.952860e+05,0.140319
3476,3.0,5901 Rising Sun Ave-Phila PA,Lindsey Goff,PA,CO-OP PH/WI/TR,Philadelphia,Philadelphia-Camden-Wilmington,2.575052e+05,2.523475e+05,0.020439
4650,4.0,Pine Valley,Lindsey Goff,PA,CO-OP PH/WI/TR,Philadelphia,Philadelphia-Camden-Wilmington,2.396468e+05,2.406684e+05,-0.004245
5871,6.0,Rhawn Street,Lindsey Goff,PA,CO-OP PH/WI/TR,Philadelphia,Philadelphia-Camden-Wilmington,3.852169e+05,3.681821e+05,0.046267
...,...,...,...,...,...,...,...,...,...,...
682100,20096.0,1 Premium Outlet Blvd-Tinton Falls NJ,Paul Greenberg,NJ,None,New York,New York-Newark-Jersey City,8.885610e+04,8.532010e+04,0.041444
682724,20882.0,Dutch Wonderland-Lancaster PA,Doug Leitzell,PA,CO-OP LANCA,Harrisburg-Lancaster-Lebanon-York,Lancaster,1.541628e+05,1.553764e+05,-0.007810
683054,21360.0,Mann Center,Lindsey Goff,PA,CO-OP PH/WI/TR,Philadelphia,Philadelphia-Camden-Wilmington,1.688775e+05,5.935000e+03,27.454507
684132,31360.0,1 Lincoln Financial Way-Phila PA,Lindsey Goff,PA,CO-OP PH/WI/TR,Philadelphia,Philadelphia-Camden-Wilmington,4.572395e+05,0.000000e+00,0.000000
Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.634762e+08,1.428874e+08,0.144091

In [50]:
# writer8=pd.ExcelWriter('YoY Sales by Category.xlsx')
# retail_fc.to_excel(writer8, sheet_name='Retail',index=False)
# catering_fc.to_excel(writer8, sheet_name='Catering',index=False)
# mobile_fc.to_excel(writer8,sheet_name='Mobile',index=False)
# delivery_fc.to_excel(writer8, sheet_name='Delivery',index=False)
# writer8.save()
# writer8.close()

In [51]:
# retail_fc.replace([np.inf,-np.inf],0,inplace=True)
#retail_fc.to_excel('22-23 Retail Sales Onlyv2.xlsx',index=False)

In [52]:
retail_fc.tail()

,ShopID,ShopName,FC,State,CoOpName,DMA,MSAName,2023,2022,%_Change
682100,20096.0,1 Premium Outlet Blvd-Tinton Falls NJ,Paul Greenberg,NJ,None,New York,New York-Newark-Jersey City,8.885610e+04,8.532010e+04,0.041444
682724,20882.0,Dutch Wonderland-Lancaster PA,Doug Leitzell,PA,CO-OP LANCA,Harrisburg-Lancaster-Lebanon-York,Lancaster,1.541628e+05,1.553764e+05,-0.007810
683054,21360.0,Mann Center,Lindsey Goff,PA,CO-OP PH/WI/TR,Philadelphia,Philadelphia-Camden-Wilmington,1.688775e+05,5.935000e+03,27.454507
684132,31360.0,1 Lincoln Financial Way-Phila PA,Lindsey Goff,PA,CO-OP PH/WI/TR,Philadelphia,Philadelphia-Camden-Wilmington,4.572395e+05,0.000000e+00,0.000000
Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.634762e+08,1.428874e+08,0.144091

In [53]:
print(sns.__version__)

0.11.2

In [54]:
# total[(total.Week<=26)&(total.StartDate.dt.strftime('%m-%d')>='03-01')].pivot_table(index='ShopID',columns='Year',values='SalesMny',aggfunc='sum',fill_value=0).reset_index().to_excel(
# 'Comp Sales through 6-30.xlsx',index=False)

# 3rd Party Sales

In [55]:
# Breaks down the third Party Sales by Week
pd3=total[(total.ProductSizeName=='UberEats')&(total.Year==2023)&(total.ShopID==84)].pivot_table(index=['StringID','StartDate','EndDate'],
                                                                                                 values='SalesMny',
                                                                                                 aggfunc='sum',fill_value=0).reset_index()
# pd3.loc['Total']=pd3.sum(axis=0)
# pd3=pd3.style.format({
#     2022:'{:,.2f}'.format,
#     2023:'{:,.2f}'.format
# })
pd3.to_excel('Shop 84 Uber Eats.xlsx')

In [56]:
# data[data.ProductTypeName=='3rd Party Delivery'].pivot_table(index='StringID',columns='Week',values='SalesMny',aggfunc='sum',fill_value=0).to_excel(
# '2023 3PD Sales by Shop by Week 1.25.24.xlsx')

In [57]:
# os.chdir(r'L:\3PD-WeeklyReport\2023\WE 12.10.2023')
# total[(total.ProductTypeName=='3rd Party Delivery')&(total.Week==49)&(total.Year==2023)].pivot_table(
#     index='ShopID',columns='ProductSizeName',values='SalesMny',aggfunc='sum',fill_value=0).to_excel('Week 49 3PD.xlsx')

In [58]:
# Breaks down the 3rd Party Sales by Platform
pd3_platform=data[(data.ProductTypeName=='3rd Party Delivery')&(data.Week==data.Week.max())].pivot_table(index='ShopID',columns='ProductSizeName',values='SalesMny',aggfunc='sum',fill_value=0)
pd3_platform.loc['Total']=pd3_platform.sum(axis=0)
# pd3_platform.to_excel('Rec.xlsx')
pd3_platform

ProductSizeName  DoorDash  GrubHub  Other 3rd Party Deliv Non MFA  UberEats
ShopID
22                 234.35     0.00                           0.00    235.25
39                   0.00     0.00                           0.00    129.57
73                 172.74     0.00                           0.00      0.00
114               1019.11   106.21                           0.00    191.33
142                 54.90     0.00                           0.00      0.00
...                   ...      ...                            ...       ...
1534                 0.00     0.00                           0.00      0.00
1552                 0.00     0.00                           0.00      0.00
10374                0.00     0.00                           0.00      0.00
31360                0.00     0.00                           0.00      0.00
Total            25958.86  1185.82                         422.45  16093.20

[107 rows x 4 columns]

In [59]:
# pd3_platform=df[(df.ProductTypeName=='3rd Party Delivery')&(df.Year==2022)].pivot_table(index='ShopID',columns='ProductSizeName',values='SalesMny',aggfunc='sum',fill_value=0)
# pd3_platform.loc['Total']=pd3_platform.sum(axis=0)
# pd3_platform.to_excel('2022 3PD Sales.xlsx')

In [60]:
df.Year.unique()

array([2022])

In [61]:
# data[(data.ProductTypeName=='3rd Party Delivery')&(data.ProductSizeName=='DoorDash')].pivot_table(
#     index='ShopID',columns='StartDate',values='SalesMny',aggfunc='sum',fill_value=0).reset_index().to_excel('JM Door Dash.xlsx',index=False)

In [62]:
sales_year=total.pivot_table(index='Week',columns='Year',values=['SalesMny','SalesQty'],aggfunc='sum',fill_value=0)
sales_year.loc['Total']=sales_year.sum(axis=0)
sales_year

           SalesMny                  SalesQty
Year           2022          2023        2022        2023
Week
1      2.845653e+05  3.672715e+05     57878.0     72980.0
2      2.868979e+05  3.161436e+05     58684.0     60789.0
3      3.017845e+05  3.779716e+05     61269.0     70574.0
4      3.116180e+05  3.912422e+05     59710.0     74785.0
5      3.658213e+05  4.201300e+05     74038.0     78996.0
6      4.236491e+05  4.663648e+05     83335.0     89266.0
7      5.801667e+05  7.094886e+05    118676.0    142160.0
8      1.078886e+06  1.278497e+06    244054.0    266529.0
9      2.461388e+06  2.142995e+06    575722.0    448379.0
10     2.112332e+06  2.385305e+06    477086.0    493751.0
11     4.704403e+06  2.788309e+06   1129603.0    581534.0
12     3.461743e+06  5.091094e+06    795565.0   1156176.0
13     3.063545e+06  4.437708e+06    682960.0    940446.0
14     3.183528e+06  5.056759e+06    706804.0   1091484.0
15     5.107939e+06  7.144734e+06   1184538.0   1551946.0
16     4.407397e+06  5.638128e+06   1005374.0   1207353.0
17     4.196807e+06  3.808589e+06    940899.0    776264.0
18     3.815740e+06  4.854462e+06    852869.0   1015419.0
19     5.358699e+06  6.639394e+06   1214945.0   1404103.0
20     6.344313e+06  5.935678e+06   1414023.0   1232095.0
21     5.341615e+06  6.545943e+06   1165010.0   1352490.0
22     7.104495e+06  7.588328e+06   1565301.0   1523818.0
23     5.824716e+06  6.561433e+06   1265088.0   1328444.0
24     6.461531e+06  6.503637e+06   1421138.0   1313922.0
25     6.028935e+06  5.856555e+06   1313868.0   1186330.0
26     6.150910e+06  6.432953e+06   1343044.0   1298170.0
27     5.883928e+06  7.229350e+06   1274652.0   1437899.0
28     5.841287e+06  7.124395e+06   1284603.0   1458823.0
29     6.811582e+06  7.164998e+06   1476279.0   1460687.0
30     5.488221e+06  7.149302e+06   1201494.0   1428817.0
31     5.894238e+06  6.268463e+06   1282157.0   1271708.0
32     5.609842e+06  5.949196e+06   1223547.0   1193389.0
33     5.181003e+06  6.031931e+06   1111565.0   1216565.0
34     4.936778e+06  5.465966e+06   1073083.0   1108048.0
35     4.561574e+06  5.099638e+06   1002442.0   1033994.0
36     3.186046e+06  4.634546e+06    687137.0    938762.0
37     3.295726e+06  3.636888e+06    719088.0    705949.0
38     2.569455e+06  2.599242e+06    550636.0    515823.0
39     1.807078e+06  2.593783e+06    381154.0    502445.0
40     1.453707e+06  2.368122e+06    304881.0    462456.0
41     1.415936e+06  1.636944e+06    294486.0    315047.0
42     9.620835e+05  1.303089e+06    188426.0    228275.0
43     8.101585e+05  1.311299e+06    159978.0    233974.0
44     5.962259e+05  6.969593e+05    118504.0    115754.0
45     4.791634e+05  6.737251e+05     92087.0    117961.0
46     3.320436e+05  5.767526e+05     62440.0     96264.0
47     3.619658e+05  4.820563e+05     72498.0     79975.0
48     3.312172e+05  4.193283e+05     63831.0     72180.0
49     3.340932e+05  4.433747e+05     65362.0     75575.0
50     2.991626e+05  4.248903e+05     58138.0     72067.0
51     2.187458e+05  4.172110e+05     41331.0     69966.0
52     3.628091e+05  5.692833e+05     78240.0     92392.0
Total  1.577875e+08  1.820098e+08  34679520.0  37062998.0

In [63]:
data.columns

Index(['ShopID', 'intStoreID', 'ProductCode', 'ProdSizeCode', 'DiscountCode',
       'Register', 'SalesQty', 'SalesMny', 'StartDate', 'EndDate', 'EditDate',
       'Week', 'DataSource', 'ShopName', 'State', 'Region', 'ShopStatus',
       'LegacyShopType', 'LegacyShopStatus', 'ProductTypeName',
       'ProductSizeName', 'SpecialVenue', 'CoOpStatus', 'CoOpName', 'CoOpRate',
       'Year'],
      dtype='object')

In [64]:
exclude=[10511,11390,20096,20882,21360,31360,11360,10061,10374]
df=data[~data.ShopID.isin(exclude)]
satellite=data[data.ShopID.isin(exclude)]
satellite['StringID']=satellite.ShopID.astype('int')

C:\Users\jharned\AppData\Local\Temp\ipykernel_15164\3226610784.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  satellite['StringID']=satellite.ShopID.astype('int')

In [65]:
df['StringID']=df.ShopID.astype('int')
df['StringID']=df.ShopID.astype('str')
df['StringID']=df.StringID.str[-4:]
df['StringID']=df.StringID.astype('int')
df.StringID.unique()

C:\Users\jharned\AppData\Local\Temp\ipykernel_15164\2367224316.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['StringID']=df.ShopID.astype('int')
C:\Users\jharned\AppData\Local\Temp\ipykernel_15164\2367224316.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['StringID']=df.ShopID.astype('str')
C:\Users\jharned\AppData\Local\Temp\ipykernel_15164\2367224316.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['StringID']=df.StringID.str[-4:]
C:\Users\jharned\AppData\Local\Temp\ipykernel_15164\2367224316.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['StringID']=df.StringID.astype('int')

array([  22,   26,   39,   73,  114,  185,  142,  306,  250,  347,  325,
        400,  463,  245,  467,  556,  332,  468,  485,  413,  712,  536,
        714,  445,  560,  585,  892,  476,  384,  764,  498,  903,  501,
        779,  934,  638,  888,  905, 1040, 1044,  836,  952, 1055, 1133,
        843,  847, 1171,  617,  863, 1302, 1072,  626,  691, 1318, 1119,
       1351,  937, 1352, 1356,  753, 1357, 1065,  835, 1159, 1071, 1379,
       1268, 1130, 1381, 1335, 1322, 1383, 1336, 1416, 1369, 1371, 1337,
       1417, 1121, 1422, 1362, 1126, 1423, 1365, 1396, 1400, 1234, 1451,
       1377, 1334, 1403, 1460, 1480, 1418, 1454, 1390, 1465, 1378, 1442,
       1468, 1466, 1469, 1467, 1471, 1405, 1489, 1472, 1419, 1473, 1490,
       1483, 1455, 1495, 1484, 1499, 1515, 1502, 1534, 1552, 1504, 1507,
       1512, 1453, 1132, 1420, 1431,  374, 1518, 1397, 1449,  543, 1459,
        160, 1450,  127,  385,  278,   53, 1478,  301,  263,  289, 1254,
       1398, 1407, 1482, 1517, 1522,  111, 1409,  369,  872,   97,  259,
        133,  161, 1237, 1394, 1436,  333, 1474, 1187, 1500,  412, 1368,
       1479, 1456,  689,  223,  154,   78,   54,  149,  292,  429,  436,
        514,  518,  393,  564,  496,  183, 1488, 1530,  571,  313, 1476,
        930, 1364,  394,  860,  288,  474,  487,  365,  285,  628,  248,
        711,  473,  254,   32,   86,   89,  213,  221,  178,  382,  410,
       1053,  676, 1269,  940, 1413,  123, 1477,  729,  209,  227, 1266,
        359, 1273, 1355, 1253, 1212, 1088,  423,  889,  944, 1172,  503,
        663,  305,  355,  521,  354,  649,  552, 1387, 1404,  734,  156,
        803,  164,  287,  681, 1347,  243, 1519,  139,  182,  453,   48,
        303,   68,   87,   64,  237,   88,  559,   43,  204,  477,  173,
        190,   29,   18,  350,  337,    2,   82,   83,  295,  241,   11,
         37,  314,   96, 1406, 1401,  931,   84,    8,   20,   81,   21,
         57,   55,   41,   92,  122,  124,  152,  197,  194,  136,  214,
        145,  171,  231,  279,  280,  212,  341,  330,  261,  290,  293,
        383,  340,  440,  403,  575,  525,  545,  887, 1047, 1385, 1427,
       1395,   71, 1389, 1435,  349, 1440,  386, 1393,  388,  339,  324,
        390,  391,  824,  372,  353,  579,  886,  362,  322, 1432, 1424,
        402,  532, 1018,  392,  291,  150,  274, 1139,  188, 1160,  267,
        658,  312,  639,  172,  169,  777,  158,  184,  181,  218,  224,
        316,  175,  235,  238,   98,   44,  206,  105,   42,  484,  368,
         94,   56,  225,  358,  195,   28,   70,  134,  118,   40,   58,
         61,   65,   66,  128,  129,  298,  260,    9,   12,   15,  331,
        102,  104,    6,   10,   14,   36,   31,   95,   60,   91,   47,
         69,  120,  113,  117,  100,  151,  144,  125,  135,  198,  323,
        217,  215,  207,  249,  256,  286,  345,  270,  335,  381,  343,
        444,  405,  399,  108,  438,  493,  490,  790,  516,  933,  885,
        912,  853,  882, 1060, 1049,  452,  899,  435,  472, 1520, 1272,
       1492,  338, 1276, 1170,  897, 1231, 1446,  704,  746, 1376, 1457,
       1271,  414,  421,  344,  929,  932,  366,  311, 1462, 1445,  342,
        507,  510,  534,  376,  379,  550,  153,  417,  370,  167,  519,
        364,  159,  163,  361,  187,  304,  495,  247,  465,  170,  155,
        334,  271,  138,  180,  441,  242,  427,  229,  428,  874,  101,
        486,  239, 1045, 1046,  246,  309,  200,  205,  166,  230,  731,
        380,  211,  387,  397,   59,   85,  192,   30,  106,  257,  109,
          7,   19,  148,   34,    1,    3,    4,   45,   16,  186,  299,
        371,  446,  927, 1348,  650,  866, 1458, 1265,  294,  928,  858])

# Weekly Sales Data
## Week by Week Sales by Shops for the Current Year only

In [66]:
data=pd.concat([df,satellite])

In [67]:
data['Month_Name']=data.StartDate.dt.strftime('%b')

In [68]:
month_piv=data.pivot_table(index='StringID',columns='Month_Name',values='SalesMny',aggfunc='sum',fill_value=0,margins=True)
month_piv.columns
# month_piv[['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','All']].to_excel('23 Monthly Sales.xlsx',sheet_name='Sales Rank by Month 2023')

Index(['Apr', 'Aug', 'Dec', 'Feb', 'Jan', 'Jul', 'Jun', 'Mar', 'May', 'Nov',
       'Oct', 'Sep', 'All'],
      dtype='object', name='Month_Name')

In [69]:
grouped=data.groupby(['StringID','Week'])['SalesMny'].sum().reset_index()

In [70]:
grouped[grouped.StringID==8]

     StringID  Week     SalesMny
195         8     8    3522.7200
196         8     9    6687.6050
197         8    10    8681.4962
198         8    11    8484.7997
199         8    12   16546.2956
200         8    13   14900.4775
201         8    14   15586.8815
202         8    15   21243.0587
203         8    16   16207.7775
204         8    17    9214.8450
205         8    18   13027.0760
206         8    19   18972.6750
207         8    20   17140.9150
208         8    21   18581.2625
209         8    22   18868.1915
210         8    23   19719.2330
211         8    24   16648.8995
212         8    25   15727.3769
213         8    26   16147.6275
214         8    27   16578.4315
215         8    28   15148.4150
216         8    29   16791.1155
217         8    30   15391.2200
218         8    31   15174.6225
219         8    32   13184.9330
220         8    33   14312.3855
221         8    34   12983.4500
222         8    35   14007.0861
223         8    36   11126.9880
224         8    37  126255.8950
225         8    38    5914.8805
226         8    39    4845.3135
227         8    40    6494.5290
228         8    41    4819.2450
229         8    42    4556.0575

In [71]:
pivot=round(grouped.pivot_table(index='StringID',values='SalesMny'),2).reset_index()

In [72]:
shop_names=data[['StringID','ShopName']].sort_values(by='StringID',ascending=True).drop_duplicates(subset='StringID')
# Gets Unique ShopName and StringID
sales_weekly=round(data.pivot_table(index=['StringID','Region'],columns='Week',values='SalesMny',aggfunc='sum',margins=True,fill_value=0),2).reset_index()
# Creates a pivot table by week and String ID for sales
sales_weekly_names=pd.merge(sales_weekly,shop_names,on='StringID',how='left')
#Merges the ShopNames with the String ID
sales_weekly_names=sales_weekly_names.iloc[:,np.r_[0,-1,1:len(sales_weekly_names.columns)-1]]
# Rearranges the Columns

In [73]:
for_sales_week=data2.rename(columns={'intRitasStoreID':'StringID','vchStoreName':'ShopName'})# Changes the Column Names

In [74]:
for_sales_week.StringID=for_sales_week.StringID.astype('str')

In [75]:
sales_weekly_names.StringID=sales_weekly_names.StringID.astype('str')

In [76]:
sales_dates=sales_weekly_names.merge(for_sales_week[['StringID','dteSeasonalOpenDate','dteSeasonalCloseDate']],how='left',
                        on=['StringID']).drop_duplicates(subset='StringID',keep='last')# Merges more shop info to the sales

In [77]:
pd.to_datetime(date.today())

Timestamp('2024-03-10 00:00:00')

In [78]:
sales_dates.loc[sales_dates.StringID=='218','dteSeasonalOpenDate']='2023-02-12'
sales_dates.loc[sales_dates.StringID=='218','dteSeasonalCloseDate']='2023-10-15'

In [79]:
# sales_dates['Open_Status']=np.where(sales_dates['dteSeasonalCloseDate']>=pd.to_datetime(date.today()),'Open',np.where(sales_dates['dteSeasonalCloseDate']<pd.to_datetime(date.today()),'Close',
#          np.where(pd.to_datetime(date.today())>=sales_dates['dteSeasonalOpenDate'],'Open','Close')))

In [80]:
sales_dates['Open_Status']=np.where((pd.to_datetime(date.today())<=sales_dates['dteSeasonalCloseDate'])&(
    pd.to_datetime(date.today())>=sales_dates['dteSeasonalOpenDate']),'Open',
        np.where((pd.to_datetime(date.today())>sales_dates['dteSeasonalCloseDate'])|(
            pd.to_datetime(date.today())<sales_dates['dteSeasonalOpenDate']),'Close','Open'))
# Creates the logic to determine if shop is open or closed

In [81]:
sales_dates.loc[sales_dates.StringID=='1276','Open_Status']='Close'
sales_dates.loc[sales_dates.StringID=='1432','Open_Status']='Close'

In [82]:
sales_dates=sales_dates.iloc[:,np.r_[0,1,2,-3,-2,-1,3:len(sales_dates.columns)-3]]# Rearranges the Columns

In [83]:
sales_dates.loc[sales_dates.StringID=='858','Open_Status']='Close'

# For Shops that Have Opened in the Past Two Years

In [84]:
# Reads in the Weekly Sales in 2022
data_5=pd.read_sql_query('''SELECT *
  FROM [ritas_bi].[dbo].[tmp_raw_plda]
  WHERE YEAR(StartDate)=2022''',connection)

C:\Users\jharned\AppData\Local\Temp\ipykernel_15164\1150339345.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data_5=pd.read_sql_query('''SELECT *

In [85]:
data_5['Year']=data_5.StartDate.dt.year
data_5['Month_Name']=data_5.StartDate.dt.strftime('%b')
filter_22=data_5[data_5.Year==2022]

In [86]:
filter_23=total[total.Year==2023]

In [87]:
filtered=pd.concat([filter_22,filter_23])

In [88]:
filtered[filtered.ProductTypeName.str.contains('Catering')].SalesMny.sum()

7844121.1468

In [89]:
filter_group=filtered.groupby(['ShopID','ShopName','State','SpecialVenue','Year','Month_Name'])['SalesMny'].sum().reset_index()
filter_group.Month_Name.unique()

array(['Apr', 'Aug', 'Feb', 'Jul', 'Jun', 'Mar', 'May', 'Oct', 'Sep',
       'Dec', 'Jan', 'Nov'], dtype=object)

In [90]:
filter_group[filter_group.ShopID==1492]

,ShopID,ShopName,State,SpecialVenue,Year,Month_Name,SalesMny
9715,1492,Oriole Park-Camden Yards-Baltimore MD,MD,Yes,2022,Apr,31729.29
9716,1492,Oriole Park-Camden Yards-Baltimore MD,MD,Yes,2022,Aug,66442.00
9717,1492,Oriole Park-Camden Yards-Baltimore MD,MD,Yes,2022,Jul,72397.50
9718,1492,Oriole Park-Camden Yards-Baltimore MD,MD,Yes,2022,Jun,13387.50
9719,1492,Oriole Park-Camden Yards-Baltimore MD,MD,Yes,2022,May,47835.31
9720,1492,Oriole Park-Camden Yards-Baltimore MD,MD,Yes,2022,Sep,41700.00
9721,1492,Oriole Park-Camden Yards-Baltimore MD,MD,Yes,2023,Apr,35695.75
9722,1492,Oriole Park-Camden Yards-Baltimore MD,MD,Yes,2023,Aug,36293.00
9723,1492,Oriole Park-Camden Yards-Baltimore MD,MD,Yes,2023,Jul,84990.50
9724,1492,Oriole Park-Camden Yards-Baltimore MD,MD,Yes,2023,Jun,56412.25
9725,1492,Oriole Park-Camden Yards-Baltimore MD,MD,Yes,2023,May,64041.25
9726,1492,Oriole Park-Camden Yards-Baltimore MD,MD,Yes,2023,Sep,33034.50

In [91]:
gc.rename(columns={'intRitasStoreID':'ShopID','vchStoreName':'ShopName','vchValue':'Guest_Count'},inplace=True)

In [92]:
gc['Month_Name']=gc.dteDate.dt.strftime('%b')

In [93]:
gc_group=gc.groupby(['ShopID','Year','Month_Name'])[['Guest_Count','dteOpenDate']].agg({'Guest_Count':'sum',
                                                                                             'dteOpenDate':'max'}).reset_index()

In [94]:
gc_group

      ShopID  Year Month_Name  Guest_Count dteOpenDate
0          1  2022        Apr         4668  1984-05-04
1          1  2022        Aug         5716  1984-05-04
2          1  2022        Feb          197  1984-05-04
3          1  2022        Jul         6378  1984-05-04
4          1  2022        Jun         6366  1984-05-04
...      ...   ...        ...          ...         ...
9869   30332  2023        Jul         1709  2004-05-13
9870   30332  2023        Jun          557  2004-05-13
9871   30332  2023        Mar          200  2004-05-13
9872   30332  2023        May          775  2004-05-13
9873   30332  2023        Oct          105  2004-05-13

[9874 rows x 5 columns]

In [95]:
# filter_group=filtered.groupby(['ShopID','ShopName','LegacyShopType','SpecialVenue','Year','Month','State','Month_Name'])['SalesMny'].sum().reset_index()

In [96]:
combined=pd.merge(filter_group,gc_group[['ShopID','Year','Guest_Count','dteOpenDate','Month_Name']],on=['ShopID','Year','Month_Name'],how='left')
combined

,ShopID,ShopName,State,SpecialVenue,Year,Month_Name,SalesMny,Guest_Count,dteOpenDate
0,1,Woodhaven,PA,No,2022,Apr,45574.075,4668.0,1984-05-04
1,1,Woodhaven,PA,No,2022,Aug,62985.253,5716.0,1984-05-04
2,1,Woodhaven,PA,No,2022,Feb,9255.172,197.0,1984-05-04
3,1,Woodhaven,PA,No,2022,Jul,59323.126,6378.0,1984-05-04
4,1,Woodhaven,PA,No,2022,Jun,59291.292,6366.0,1984-05-04
...,...,...,...,...,...,...,...,...,...
10400,31360,1 Lincoln Financial Way-Phila PA,PA,Yes,2023,Jun,36168.000,NaN,NaT
10401,31360,1 Lincoln Financial Way-Phila PA,PA,Yes,2023,May,159850.000,NaN,NaT
10402,31360,1 Lincoln Financial Way-Phila PA,PA,Yes,2023,Nov,9498.500,NaN,NaT
10403,31360,1 Lincoln Financial Way-Phila PA,PA,Yes,2023,Oct,15834.500,NaN,NaT
10404,31360,1 Lincoln Financial Way-Phila PA,PA,Yes,2023,Sep,36353.000,NaN,NaT

In [97]:
combined[combined.ShopID==1534]

,ShopID,ShopName,State,SpecialVenue,Year,Month_Name,SalesMny,Guest_Count,dteOpenDate
9779,1534,San Diego CA,CA,Yes,2023,Aug,105893.44,NaN,NaT
9780,1534,San Diego CA,CA,Yes,2023,Jul,249819.24,NaN,NaT
9781,1534,San Diego CA,CA,Yes,2023,Jun,44235.26,NaN,NaT
9782,1534,San Diego CA,CA,Yes,2023,Nov,14987.18,NaN,NaT
9783,1534,San Diego CA,CA,Yes,2023,Oct,85865.27,NaN,NaT
9784,1534,San Diego CA,CA,Yes,2023,Sep,58944.03,NaN,NaT
9785,1534,Sea World CA,CA,Yes,2023,Dec,69827.45,NaN,NaT
9786,1534,Sea World CA,CA,Yes,2023,Nov,36588.29,NaN,NaT

In [98]:
combined.loc[combined.ShopID==1534,'dteOpenDate']='2023-06-27'
combined.loc[combined.ShopID==1534,'SpecialVenue']='No'
combined.loc[combined.ShopID==1534,'ShopName']='Sea World CA'

In [99]:
combined.loc[combined.ShopID==31360,'dteOpenDate']='2023-04-15'

In [100]:
combined.loc[combined.ShopID==160,'dteOpenDate']='2023-06-28'

In [101]:
combined.loc[combined.ShopID==32,'dteOpenDate']='2023-05-05'

In [102]:
combined.loc[combined.ShopID==445,'dteOpenDate']='2023-04-12'

In [103]:
combined.loc[combined.ShopID==835,'dteOpenDate']='2022-10-28'

In [104]:
combined.loc[combined.ShopID==1519,'dteOpenDate']='2023-08-03'

In [105]:
combined.loc[combined.ShopID==10374,'dteOpenDate']='2023-09-09'

In [106]:
combined.loc[combined.ShopID==1492,'dteOpenDate']='2022-04-08'

In [107]:
combined.loc[combined.ShopID==325,'dteOpenDate']='2023-12-20'

In [108]:
combined.loc[combined.ShopID==1234,'dteOpenDate']='2023-12-20'

In [109]:
#Changes the Opening Date for Store 160
# combined.at[1563,'dteOpenDate']='2023-06-28'

In [110]:
combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10405 entries, 0 to 10404
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ShopID        10405 non-null  int64
 1   ShopName      10405 non-null  object
 2   State         10405 non-null  object
 3   SpecialVenue  10405 non-null  object
 4   Year          10405 non-null  int32
 5   Month_Name    10405 non-null  object
 6   SalesMny      10405 non-null  float64
 7   Guest_Count   9602 non-null   float64
 8   dteOpenDate   9617 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int32(1), int64(1), object(4)
memory usage: 691.1+ KB

In [111]:
# combined.to_excel('All Shops.xlsx',index=False)

In [112]:

all_pivot=filter_group.pivot_table(index='Year',
                     columns=['ShopID','Month_Name'],values='SalesMny',aggfunc='sum',fill_value=0)

In [113]:
all_pivot

ShopID          1                                                            \
Month_Name        Apr        Aug       Feb        Jul        Jun        Mar
Year
2022        45574.075  62985.253  9255.172  59323.126  59291.292  39719.882
2023        60898.876  46585.735  6330.972  78755.616  57881.833  45477.017

ShopID                                      2      ...    30445            \
Month_Name        May  Oct        Sep         Apr  ...      Mar       May
Year                                               ...
2022        69673.686  0.0  26998.693  65306.9410  ...  37223.0  22712.87
2023        82778.498  0.0  30372.478  83560.7315  ...  35717.3  20435.18

ShopID        31360                                                         \
Month_Name      Aug      Dec       Jul      Jun       May     Nov      Oct
Year
2022            0.0      0.0       0.0      0.0       0.0     0.0      0.0
2023        52985.0  10895.0  135655.5  36168.0  159850.0  9498.5  15834.5

ShopID
Month_Name      Sep
Year
2022            0.0
2023        36353.0

[2 rows x 5660 columns]

In [114]:
new_shops=combined[combined.dteOpenDate>=np.datetime64(date.today()-timedelta(days=730))]

In [115]:
# new_shop_pivot=new_shops.pivot_table(index=['ShopID','LegacyShopType','State','dteOpenDate'],
#                       columns=['Month_Name','Year'],values=['SalesMny','Guest_Count'],
#                       aggfunc='sum',fill_value=0).reset_index()

In [116]:
new_shop_pivot=new_shops.pivot_table(index=['ShopID','ShopName','State','dteOpenDate','Year'],
                      columns='Month_Name',values='SalesMny',
                      aggfunc='sum',fill_value=0)

In [117]:
new_shop_pivot

,,,,Month_Name,Apr,Aug,Dec,Feb,Jan,Jul,Jun,Mar,May,Nov,Oct,Sep
ShopID,ShopName,State,dteOpenDate,Year,,,,,,,,,,,,
32,825 Blackwood Clementon Rd-Lindenwold NJ,NJ,2023-05-05,2023,0.0000,96203.3250,0.0000,0.0,0.0,154865.1650,119531.3420,0.0,156727.8680,9125.8770,53898.0810,66536.809
160,726 Route 202-Bridgewater NJ,NJ,2023-06-28,2023,0.0000,21060.6670,2696.8820,0.0,0.0,36661.4720,5601.8590,0.0,0.0000,6537.9730,10082.5870,12609.718
325,2872 Custer Ave-Pittsburgh PA,PA,2023-12-20,2023,0.0000,0.0000,188.4000,0.0,0.0,0.0000,0.0000,0.0,0.0000,0.0000,0.0000,0.000
445,5308 Princess Anne Rd-Virginia Beach VA,VA,2023-04-12,2023,59912.6988,62164.5935,19871.6695,0.0,0.0,97193.9847,78761.3435,0.0,88284.2587,20649.0715,35245.8340,41444.108
835,4587 Okeechobee Blvd.-West Palm Beach FL,FL,2022-10-28,2022,0.0000,0.0000,18211.9860,0.0,0.0,0.0000,0.0000,0.0,0.0000,16329.4620,5764.1760,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1522,3319 W Elm St-McHenry IL,IL,2023-08-07,2023,0.0000,63304.1720,5471.2025,0.0,0.0,0.0000,0.0000,0.0,0.0000,9518.0720,20924.3165,36945.884
1530,419 W Baltimore St-Baltimore MD,MD,2023-08-16,2023,0.0000,4648.7610,0.0000,0.0,0.0,0.0000,0.0000,0.0,0.0000,1412.2210,2216.4210,5434.910
1534,Sea World CA,CA,2023-06-27,2023,0.0000,105893.4400,69827.4500,0.0,0.0,249819.2400,44235.2600,0.0,0.0000,51575.4700,85865.2700,58944.030
10374,1600 Fedex Way- N. Englewood MD,MD,2023-09-09,2023,0.0000,0.0000,3320.0000,0.0,0.0,0.0000,0.0000,0.0,0.0000,9947.7500,11732.1100,11658.910
31360,1 Lincoln Financial Way-Phila PA,PA,2023-04-15,2023,0.0000,52985.0000,10895.0000,0.0,0.0,135655.5000,36168.0000,0.0,159850.0000,9498.5000,15834.5000,36353.000

In [118]:
columns=['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']
new_shop_pivot.columns

Index(['Apr', 'Aug', 'Dec', 'Feb', 'Jan', 'Jul', 'Jun', 'Mar', 'May', 'Nov',
       'Oct', 'Sep'],
      dtype='object', name='Month_Name')

In [119]:
monthly=new_shop_pivot.reindex(columns, axis=1)

In [120]:
monthly

,,,,Month_Name,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
ShopID,ShopName,State,dteOpenDate,Year,,,,,,,,,,,,
32,825 Blackwood Clementon Rd-Lindenwold NJ,NJ,2023-05-05,2023,0.0,0.0,0.0,0.0000,156727.8680,119531.3420,154865.1650,96203.3250,66536.809,53898.0810,9125.8770,0.0000
160,726 Route 202-Bridgewater NJ,NJ,2023-06-28,2023,0.0,0.0,0.0,0.0000,0.0000,5601.8590,36661.4720,21060.6670,12609.718,10082.5870,6537.9730,2696.8820
325,2872 Custer Ave-Pittsburgh PA,PA,2023-12-20,2023,0.0,0.0,0.0,0.0000,0.0000,0.0000,0.0000,0.0000,0.000,0.0000,0.0000,188.4000
445,5308 Princess Anne Rd-Virginia Beach VA,VA,2023-04-12,2023,0.0,0.0,0.0,59912.6988,88284.2587,78761.3435,97193.9847,62164.5935,41444.108,35245.8340,20649.0715,19871.6695
835,4587 Okeechobee Blvd.-West Palm Beach FL,FL,2022-10-28,2022,0.0,0.0,0.0,0.0000,0.0000,0.0000,0.0000,0.0000,0.000,5764.1760,16329.4620,18211.9860
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1522,3319 W Elm St-McHenry IL,IL,2023-08-07,2023,0.0,0.0,0.0,0.0000,0.0000,0.0000,0.0000,63304.1720,36945.884,20924.3165,9518.0720,5471.2025
1530,419 W Baltimore St-Baltimore MD,MD,2023-08-16,2023,0.0,0.0,0.0,0.0000,0.0000,0.0000,0.0000,4648.7610,5434.910,2216.4210,1412.2210,0.0000
1534,Sea World CA,CA,2023-06-27,2023,0.0,0.0,0.0,0.0000,0.0000,44235.2600,249819.2400,105893.4400,58944.030,85865.2700,51575.4700,69827.4500
10374,1600 Fedex Way- N. Englewood MD,MD,2023-09-09,2023,0.0,0.0,0.0,0.0000,0.0000,0.0000,0.0000,0.0000,11658.910,11732.1100,9947.7500,3320.0000
31360,1 Lincoln Financial Way-Phila PA,PA,2023-04-15,2023,0.0,0.0,0.0,0.0000,159850.0000,36168.0000,135655.5000,52985.0000,36353.000,15834.5000,9498.5000,10895.0000

In [121]:
monthly['Totals']=monthly[columns].sum(axis=1)

In [122]:
monthly=monthly.reset_index()
monthly=monthly[(monthly.dteOpenDate.dt.year<=2022)&(monthly.ShopID<10000)]
monthly.sort_values(by=['dteOpenDate','Year'],ascending=[False,True],inplace=True)

In [123]:
monthly

Month_Name,ShopID,ShopName,State,dteOpenDate,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Totals
9,1337,1631 Collins Ave-Miami FL,FL,2022-12-14,2022,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,20206.9000,20206.9000
10,1337,1631 Collins Ave-Miami FL,FL,2022-12-14,2023,36073.0600,34815.5100,39074.1616,40651.7300,43119.3244,35418.6129,62786.4770,36505.0795,22130.8850,27728.0685,22091.1965,27162.7885,427556.8939
14,1420,38535 Chestnut Ridge Rd-Elyria OH,OH,2022-11-29,2022,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,5637.4850,7321.3150,12958.8000
15,1420,38535 Chestnut Ridge Rd-Elyria OH,OH,2022-11-29,2023,0.0000,11576.4600,45926.1200,49831.2737,78879.9740,61940.2644,73840.5932,43942.1329,31540.6105,26210.7823,10850.8771,125.0000,434664.0881
4,835,4587 Okeechobee Blvd.-West Palm Beach FL,FL,2022-10-28,2022,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,5764.1760,16329.4620,18211.9860,40305.6240
5,835,4587 Okeechobee Blvd.-West Palm Beach FL,FL,2022-10-28,2023,24386.9640,25934.2650,32792.6900,32048.3880,42188.3125,37245.5220,49215.7790,33793.5750,28074.2300,34489.5400,24932.1010,21553.0260,386654.3925
43,1468,BWI Airport,MD,2022-10-12,2022,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,43713.2882,34230.8437,32495.5219,110439.6538
44,1468,BWI Airport,MD,2022-10-12,2023,38967.3314,38049.7667,40755.1350,49910.1476,54688.8633,56900.1697,67460.2278,44945.1601,41610.1653,58931.2284,46100.5883,42074.6983,580393.4819
57,1479,400 S. Fourth St.-Hamburg PA,PA,2022-10-09,2022,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,33293.6010,11607.6948,0.0000,44901.2958
58,1479,400 S. Fourth St.-Hamburg PA,PA,2022-10-09,2023,0.0000,19518.6780,28799.0376,35385.0258,54191.6187,33666.8950,44133.6314,32368.8109,18281.9960,16922.3234,6546.3120,0.0000,289814.3288
30,1456,1337 Main St.-Walpole MA,MA,2022-09-08,2022,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,33540.0100,13019.7800,10380.5300,0.0000,56940.3200
31,1456,1337 Main St.-Walpole MA,MA,2022-09-08,2023,0.0000,0.0000,25698.4400,41374.5400,82369.1000,65191.8000,87977.2200,55751.5600,31560.9600,27328.1100,8080.3900,0.0000,425332.1200
25,1449,2511 FL 60 East-Valrico FL,FL,2022-08-29,2022,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,4629.9990,18805.4847,25384.1253,16123.5333,12567.4585,77510.6008
26,1449,2511 FL 60 East-Valrico FL,FL,2022-08-29,2023,20856.4031,17218.4300,25183.1560,29493.8327,38754.1029,31006.3705,36650.8863,26769.2640,24690.9616,23183.5740,12116.7805,7402.7150,293326.4766
32,1457,1208 S Ocean Blvd-Myrtle Beach SC,SC,2022-08-20,2022,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,6536.1300,4708.2200,0.0000,0.0000,0.0000,11244.3500
33,1457,1208 S Ocean Blvd-Myrtle Beach SC,SC,2022-08-20,2023,0.0000,0.0000,0.0000,10095.2800,16166.8800,23560.3100,37894.9900,19614.5000,6778.6100,0.0000,0.0000,0.0000,114110.5700
36,1459,255 Rivertown Shops Dr.-St. Johns FL,FL,2022-08-16,2022,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,40570.7720,37601.4268,37008.7080,13094.3115,9.9900,128285.2083
37,1459,255 Rivertown Shops Dr.-St. Johns FL,FL,2022-08-16,2023,24810.8459,28281.1040,34830.6696,35308.2851,45348.0689,35196.2316,40107.2879,34235.4046,26519.0147,25416.5310,10060.0034,3602.9320,343716.3787
60,1482,6006 Mahoning Ave-Austintown OH,OH,2022-07-28,2022,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,17544.5340,90485.3497,46689.5070,38589.4100,18407.2400,8668.2900,220384.3307
61,1482,6006 Mahoning Ave-Austintown OH,OH,2022-07-28,2023,0.0000,16889.8420,28886.8590,41939.4340,70892.7530,53183.3215,68926.2830,44981.3970,30257.8945,23577.9430,13105.2740,6599.4330,399240.4340
12,1395,4815 West Chester Pk-Edgmont PA,PA,2022-07-19,2022,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,17188.3755,39000.8470,13365.7340,2088.7510,0.0000,0.0000,71643.7075
13,1395,4815 West Chester Pk-Edgmont PA,PA,2022-07-19,2023,0.0000,0.0000,18724.5350,31197.3130,48348.2065,39084.6945,53325.2085,34722.4640,17808.8020,4939.6775,0.0000,0.0000,248150.9010
38,1460,30 International Dr. S-Flanders NJ,NJ,2022-07-18,2022,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,18309.6690,42746.9170,17921.5595,16483.5280,8896.4585,6113.7300,110471.8620
39,1460,30 International Dr. S-Flanders NJ,NJ,2022-07-18,2023,12398.4060,11422.1040,21707.5300,30714.2820,58085.1880,48418.2525,64133.8860,42382.5230,22504.5800,19810.5845,8912.9820,6250.3650,346740.6830
50,1474,1301 W. Brigantine Ave-Brigantine NJ,NJ,2022-07-13,2022,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,36938.3300,54586.7600,4220.2360,0.0000,0.0000,0.0000,95745.3260
51,1474,1301 W. Brigantine Ave-Brigantine NJ,NJ,2022-07-13,2023,0.0000,0.0000,0.0000,0.0000,9405.2200,29804.0080,63404.8950,41557.9560,5380.0210,0.0000,0.0000,0.0000,149552.1000
20,1440,53 Mountain Blvd-Warren NJ,NJ,2022-06-30,2022,0.0000,0.0000,0.0000,0.0000,0.0000,7738.1665,46558.3105,46707.4195,19291.3348,12795.5600,0.0000,0.0000,133090.7913
21,1440,53 Mountain Blvd-Warren NJ,NJ,2022-06-30,2023,0.0000,10752.5950,19622.5780,29606.5190,53361.8400,40902.2840,50974.5600,34631.7761,21195.2801,9967.5880,0.0000,0.0000,271015.0202
47,1472,726 N. Heinicke Rd-Miamisburg OH,OH,2022-06-23,2022,0.0000,0.0000,0.0000,0.0000,0.0000,15878.4120,26227.6520,24541.3700,14578.1800,11044.5050,3377.5900,1544.2400,97191.9490
48,1472,726 N. Heinicke Rd-Miamisburg OH,OH,2022-06-23,2023,0.0000,0.0000,7927.9500,19370.1900,35104.6795,24434.6320,30426.1040,19262.1595,14399.8285,8972.1350,4618.2985,3647.9300,168163.9070
52,1476,1333 N Santa Fe Ave-Edmond OK,OK,2022-06-22,2022,0.0000,0.0000,0.0000,0.0000,0.0000,17383.8050,39411.5770,41183.4260,23738.3790,18354.7865,2752.8350,0.0000,142824.8085
53,1476,1333 N Santa Fe Ave-Edmond OK,OK,2022-06-22,2023,0.0000,3285.0600,13383.4100,17256.0420,31919.1064,34153.7580,48451.5100,27980.9430,18467.9060,12997.8630,2641.1830,0.0000,210536.7814
34,1458,38016 Fenwick Shoals Blvd.-Selbyville DE,DE,2022-05-27,2022,0.0000,0.0000,0.0000,0.0000,8251.0060,24372.1835,32789.9420,31324.6650,5413.9900,0.0000,0.0000,0.0000,102151.7865
35,1458,38016 Fenwick Shoals Blvd.-Selbyville DE,DE,2022-05-27,2023,0.0000,0.0000,0.0000,0.0000,6866.3160,25020.7050,41266.3660,25723.3137,1117.4900,0.0000,0.0000,0.0000,99994.1907
16,1423,4502 Route 9 S.-Howell NJ,NJ,2022-05-09,2022,0.0000,0.0000,0.0000,0.0000,86338.0275,83431.9680,79561.9520,83395.5980,27506.4600,37148.2060,21287.4950,17280.7000,435950.4065
17,1423,4502 Route 9 S.-Howell NJ,NJ,2022-05-09,2023,33233.3500,35755.0190,48651.0330,66864.1630,93032.1570,76703.2500,103226.0555,72928.8100,37651.6210,44760.2700,20085.6000,21197.1300,654088.4585
27,1454,5931 International Dr-Orlando FL,FL,2022-05-07,2022,0.0000,0.0000,0.0000,0.0000,17876.0075,20899.7120,22233.6224,18474.2210,10856.7864,14368.5656,7458.9160,8839.1845,121007.0154
28,1454,5931 International Dr-Orlando FL,FL,2022-05-07,2023,10821.3930,14434.4370,17362.3745,16441.6655,19911.8730,22441.6905,24885.4575,11954.7950,9183.3480,10002.9441,5631.9680,4670.3090,167742.2551
67,1492,Oriole Park-Camden Yards-Baltimore MD,MD,2022-04-08,2022,0.0000,0.0000,0.0000,31729.2900,47835.3100,13387.5000,72397.5000,66442.0000,41700.0000,0.0000,0.0000,0.0000,273491.6000
68,1492,Oriole Park-Camden Yards-Baltimore MD,MD,2022-04-08,2023,0.0000,0.0000,0.0000,35695.7500,64041.2500,56412.2500,84990.5000,36293.0000,33034.5000,0.0000,0.0000,0.0000,310467.2500
23,1446,51 E 4th St-Bridgeport PA,PA,2022-03-18,2022,0.0000,0.0000,11456.8400,19829.8700,29860.4617,23425.0490,23110.5610,23031.3640,9333.8450,0.0000,0.0000,0.0000,140047.9907
55,1478,Rivers Casino,PA,2022-03-18,2022,0.0000,0.0000,11345.3800,20077.5200,30290.3600,22069.2700,21414.4400,26384.3300,15496.6900,14115.7300,10491.7600,9007.6700,180693.1500
24,1446,51 E 4th St-Bridgeport PA,PA,2022-03-18,2023,0.0000,0.0000,17192.7640,25763.3280,30727.6300,23772.9890,29869.8430,20253.1029,12400.0380,0.0000,0.0000,0.0000,159979.6949
56,1478,Rivers Casino,PA,2022-03-18,2023,13218.8800,14575.8000,19289.2900,23757.2800,24504.5900,20353.8800,28850.2400,15551.6400,11971.6800,13623.7500,12055.9500,6573.8700,204326.8500

In [124]:
data.StartDate.max().month
data.StartDate.max()

Timestamp('2023-12-25 00:00:00')

In [125]:
new_shops_df=new_shops.pivot_table(index=['ShopID','ShopName','SpecialVenue','dteOpenDate']
                      ,columns='Year',values='SalesMny',aggfunc='sum',fill_value=0).reset_index()
new_shops_df['%_Change']=new_shops_df.iloc[:,-1]/new_shops_df.iloc[:,4]-1

In [126]:
new_shops_df['%_Change'].replace(np.inf,0,inplace=True)

In [127]:
new_shops_df.columns=new_shops_df.columns.astype('str')

In [128]:
new_shops_df.sort_values('dteOpenDate',ascending=False)

Year,ShopID,ShopName,SpecialVenue,dteOpenDate,2022,2023,%_Change
49,1502,1731 Lakewood Ranch Blvd.-Bradenton FL,No,2023-12-28,0.0000,2290.8820,0.000000
2,325,2872 Custer Ave-Pittsburgh PA,No,2023-12-20,0.0000,188.4000,0.000000
6,1234,5136 W 95th St-Oak Lawn IL,No,2023-12-20,447.0100,2832.4400,5.336413
47,1499,921 N Harrison Ave-Cary NC,No,2023-12-14,0.0000,3893.1350,0.000000
44,1490,32385 Constitution Hwy-Locust Grove VA,No,2023-12-13,0.0000,18827.1825,0.000000
...,...,...,...,...,...,...,...
11,1423,4502 Route 9 S.-Howell NJ,No,2022-05-09,435950.4065,654088.4585,0.500374
18,1454,5931 International Dr-Orlando FL,No,2022-05-07,121007.0154,167742.2551,0.386219
45,1492,Oriole Park-Camden Yards-Baltimore MD,Yes,2022-04-08,273491.6000,310467.2500,0.135198
16,1446,51 E 4th St-Bridgeport PA,No,2022-03-18,140047.9907,159979.6949,0.142321
36,1478,Rivers Casino,Yes,2022-03-18,180693.1500,204326.8500,0.130795

In [129]:
filter_df=new_shops_df[(new_shops_df['2022']>0)&(new_shops_df['2023']>0)]

In [130]:
new_shop_list=list(new_shops_df.ShopID.unique())

In [131]:
pd.merge(total[(total.ShopID.isin(new_shop_list))&(total.Week>=total.Week.max()-4)].groupby([
    'ShopID','ShopName','State','SpecialVenue','Year'
])['SalesMny'].sum().reset_index(),
         gc_group[['ShopID','Year','dteOpenDate']],on=['ShopID','Year'],how='left').drop_duplicates(keep='first').set_index('Year')

,ShopID,ShopName,State,SpecialVenue,SalesMny,dteOpenDate
Year,,,,,,
2023,160,726 Route 202-Bridgewater NJ,NJ,No,3675.2120,1997-07-21
2023,325,2872 Custer Ave-Pittsburgh PA,PA,No,188.4000,2004-08-06
2023,445,5308 Princess Anne Rd-Virginia Beach VA,VA,No,24520.0775,2006-09-10
2022,835,4587 Okeechobee Blvd.-West Palm Beach FL,FL,No,22708.4460,2010-07-23
2023,835,4587 Okeechobee Blvd.-West Palm Beach FL,FL,No,27543.7260,2010-07-23
2023,1234,5136 W 95th St-Oak Lawn IL,IL,No,2832.4400,2017-08-30
2022,1337,1631 Collins Ave-Miami FL,FL,No,20206.9000,2022-12-14
2023,1337,1631 Collins Ave-Miami FL,FL,No,31805.8680,2022-12-14
2022,1420,38535 Chestnut Ridge Rd-Elyria OH,OH,No,12958.8000,2022-11-29
2023,1420,38535 Chestnut Ridge Rd-Elyria OH,OH,No,125.0000,2022-11-29
2022,1423,4502 Route 9 S.-Howell NJ,NJ,No,22029.8450,2022-05-09
2023,1423,4502 Route 9 S.-Howell NJ,NJ,No,24991.9400,2022-05-09
2023,1431,2100 W. Republic Rd-Springfield MO,MO,No,4612.9925,2023-08-16
2023,1442,22618 Three Notch Rd-California MD,MD,No,17279.6323,2023-04-22
2022,1449,2511 FL 60 East-Valrico FL,FL,No,16578.0826,2022-08-29
2023,1449,2511 FL 60 East-Valrico FL,FL,No,10170.5690,2022-08-29
2022,1454,5931 International Dr-Orlando FL,FL,No,10517.5575,2022-05-07
2023,1454,5931 International Dr-Orlando FL,FL,No,5820.6665,2022-05-07
2023,1455,76020 William Burgess Blvd.-Yulee FL,FL,No,11501.2700,2023-02-09
2022,1456,1337 Main St.-Walpole MA,MA,No,651.9100,2022-09-08
2022,1459,255 Rivertown Shops Dr.-St. Johns FL,FL,No,9.9900,2022-08-16
2023,1459,255 Rivertown Shops Dr.-St. Johns FL,FL,No,5306.6935,2022-08-16
2022,1460,30 International Dr. S-Flanders NJ,NJ,No,8053.0410,2022-07-18
2023,1460,30 International Dr. S-Flanders NJ,NJ,No,8038.0450,2022-07-18
2023,1465,401 Faison Rd-Mount Pleasant SC,SC,No,13945.9180,2023-07-15
2023,1466,850 Bronx River Rd-Bronxville NY,NY,No,16751.2200,2023-04-05
2023,1467,32836 US Hwy 19-Palm Harbor FL,FL,No,8588.4620,2023-06-01
2022,1468,BWI Airport,MD,No,40348.0813,2022-10-12
2023,1468,BWI Airport,MD,No,50692.6551,2022-10-12
2023,1469,5940 N Lincoln Ave-Chicago IL,IL,No,14473.0605,2023-04-17
2023,1471,847 Cypress Pkwy-Kissimmee FL,FL,No,9636.9790,2023-06-28
2022,1472,726 N. Heinicke Rd-Miamisburg OH,OH,No,2303.8800,2022-06-23
2023,1472,726 N. Heinicke Rd-Miamisburg OH,OH,No,4661.0600,2022-06-23
2023,1473,419 US Hwy 80 W-Savannah GA,GA,No,12189.7140,2023-06-09
2023,1474,1301 W. Brigantine Ave-Brigantine NJ,NJ,No,0.0000,2022-07-13
2022,1478,Rivers Casino,PA,Yes,11871.6600,2022-03-18
2023,1478,Rivers Casino,PA,Yes,9921.4600,2022-03-18
2022,1479,400 S. Fourth St.-Hamburg PA,PA,No,0.0000,2022-10-09
2023,1480,4210 N 1st Ave-Tucson AZ,AZ,No,19993.1480,2023-05-22
2022,1482,6006 Mahoning Ave-Austintown OH,OH,No,12854.0800,2022-07-28
2023,1482,6006 Mahoning Ave-Austintown OH,OH,No,8965.0230,2022-07-28
2023,1483,7592 Telegraph Rd-Alexandria VA,VA,No,14653.3065,2023-06-12
2023,1484,526 Hwy 17 North-Myrtle Beach SC,SC,No,6924.9390,2023-06-02
2023,1489,7 Venture Dr-Bluffton SC,SC,No,23715.2200,2023-02-25
2023,1490,32385 Constitution Hwy-Locust Grove VA,VA,No,18827.1825,2023-12-13
2023,1495,1305 S Military Tr.-Deerfield Beach FL,FL,No,16988.8250,2023-07-12
2023,1499,921 N Harrison Ave-Cary NC,NC,No,3893.1350,2023-12-14
2023,1502,1731 Lakewood Ranch Blvd.-Bradenton FL,FL,No,2290.8820,2023-12-28
2023,1504,2009 S Walnut Ave-New Braunfels TX,TX,No,15672.8690,2023-08-31
2023,1507,2881 Clark Rd-Sarasota FL,FL,No,23035.2000,2023-12-06
2023,1512,9292 SR 14-Streetsboro OH,OH,No,26636.4100,2023-12-02
2023,1515,8469 Hwy 63 S-Alexander City AL,AL,No,5252.1000,2023-09-15
2023,1517,430 E Kirkwood Ave-Bloomington IN,IN,No,10282.0600,2023-11-30
2023,1518,243 Singleton Rd-Mooresville NC,NC,No,9724.9240,2023-10-11
2023,1522,3319 W Elm St-McHenry IL,IL,No,7626.3515,2023-08-07
2023,1534,Sea World CA,CA,Yes,76494.4000,NaT
2023,10374,1600 Fedex Way- N. Englewood MD,MD,Yes,8590.0000,NaT
2023,31360,1 Lincoln Financial Way-Phila PA,PA,Yes,17545.5000,NaT

In [132]:
last_four=total[(total.ShopID.isin(new_shop_list))&(total.Week>=total.Week.max()-4)].groupby([
    'ShopID','ShopName','State','SpecialVenue','Year'
])['SalesMny'].sum().unstack('Year').dropna().reset_index()

In [133]:
last_four.columns

Index(['ShopID', 'ShopName', 'State', 'SpecialVenue', 2022, 2023], dtype='object', name='Year')

In [134]:
last_four_df=pd.merge(last_four,gc_group[['ShopID','dteOpenDate']],on='ShopID',how='left').drop_duplicates(keep='first')
last_four_df=last_four_df[['ShopID','ShopName','State','SpecialVenue','dteOpenDate',2022,2023]]
last_four_df['%_Change']=last_four_df.iloc[:,-1]/last_four_df.iloc[:,-2]-1
last_four_df

,ShopID,ShopName,State,SpecialVenue,dteOpenDate,2022,2023,%_Change
0,835,4587 Okeechobee Blvd.-West Palm Beach FL,FL,No,2010-07-23,22708.4460,27543.7260,0.212929
15,1337,1631 Collins Ave-Miami FL,FL,No,2022-12-14,20206.9000,31805.8680,0.574010
28,1420,38535 Chestnut Ridge Rd-Elyria OH,OH,No,2022-11-29,12958.8000,125.0000,-0.990354
42,1423,4502 Route 9 S.-Howell NJ,NJ,No,2022-05-09,22029.8450,24991.9400,0.134458
62,1449,2511 FL 60 East-Valrico FL,FL,No,2022-08-29,16578.0826,10170.5690,-0.386505
79,1454,5931 International Dr-Orlando FL,FL,No,2022-05-07,10517.5575,5820.6665,-0.446576
99,1459,255 Rivertown Shops Dr.-St. Johns FL,FL,No,2022-08-16,9.9900,5306.6935,530.200551
116,1460,30 International Dr. S-Flanders NJ,NJ,No,2022-07-18,8053.0410,8038.0450,-0.001862
134,1468,BWI Airport,MD,No,2022-10-12,40348.0813,50692.6551,0.256383
149,1472,726 N. Heinicke Rd-Miamisburg OH,OH,No,2022-06-23,2303.8800,4661.0600,1.023135
166,1478,Rivers Casino,PA,Yes,2022-03-18,11871.6600,9921.4600,-0.164274
188,1482,6006 Mahoning Ave-Austintown OH,OH,No,2022-07-28,12854.0800,8965.0230,-0.302554

In [135]:
shop_names=total.groupby('ShopID')['ShopName'].unique().reset_index()

# Product Mix

In [136]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 690496 entries, 0 to 681727
Data columns (total 28 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   ShopID            690496 non-null  int64
 1   intStoreID        690496 non-null  int64
 2   ProductCode       690496 non-null  int64
 3   ProdSizeCode      690496 non-null  int64
 4   DiscountCode      690496 non-null  int64
 5   Register          690496 non-null  int64
 6   SalesQty          690496 non-null  int64
 7   SalesMny          690496 non-null  float64
 8   StartDate         690496 non-null  datetime64[ns]
 9   EndDate           690496 non-null  datetime64[ns]
 10  EditDate          690496 non-null  datetime64[ns]
 11  Week              690496 non-null  int64
 12  DataSource        690496 non-null  object
 13  ShopName          690496 non-null  object
 14  State             690496 non-null  object
 15  Region            690496 non-null  object
 16  ShopStatus        690496 non-null  object
 17  LegacyShopType    690496 non-null  object
 18  LegacyShopStatus  690496 non-null  object
 19  ProductTypeName   690496 non-null  object
 20  ProductSizeName   690496 non-null  object
 21  SpecialVenue      690496 non-null  object
 22  CoOpStatus        690496 non-null  object
 23  CoOpName          326568 non-null  object
 24  CoOpRate          690496 non-null  float64
 25  Year              690496 non-null  int32
 26  StringID          690496 non-null  int32
 27  Month_Name        690496 non-null  object
dtypes: datetime64[ns](3), float64(2), int32(2), int64(8), object(13)
memory usage: 147.5+ MB

In [137]:
pmix=data.pivot_table(index='ProductTypeName',values=['SalesMny','SalesQty'],aggfunc='sum').reset_index()
sales_total=data.SalesMny.sum()
qty_total=data.SalesQty.sum()
pmix['Sales%']=pmix.SalesMny/sales_total
pmix['Qty%']=pmix.SalesQty/qty_total

In [138]:
# data[data.ShopID==shop].groupby(['ProductTypeName','ProductSizeName'])[['SalesMny','SalesQty']].sum().reset_index().sort_values(by=['ProductTypeName','SalesMny'],
#                                                                                                                   ascending=False)

In [139]:
# shop=836
# pmix_item=data[data.ShopID==shop].pivot_table(index='ProductSizeName',values=['SalesMny','SalesQty'],aggfunc='sum').reset_index()
# pmix_item['Sales%']=pmix_item.SalesMny/data[data.ShopID==shop].SalesMny.sum()
# pmix_item['Qty%']=pmix_item.SalesQty/data[data.ShopID==shop].SalesQty.sum()
# pmix_item.to_excel('Pmix Shop '+str(shop)+'.xlsx',index=False)

In [140]:
pmix_item=data.pivot_table(index='ProductSizeName',values=['SalesMny','SalesQty'],aggfunc='sum').reset_index()
pmix_item['Sales%']=pmix_item.SalesMny/sales_total
pmix_item['Qty%']=pmix_item.SalesQty/qty_total

In [141]:
week_pmix=data[data.Week==data.Week.max()].pivot_table(index='ProductTypeName',values=['SalesMny','SalesQty'],aggfunc='sum').reset_index()
week_sales_total=data[data.Week==data.Week.max()].SalesMny.sum()
week_qty_total=data[data.Week==data.Week.max()].SalesQty.sum()
week_pmix['Sales%']=week_pmix.SalesMny/week_sales_total
week_pmix['Qty%']=week_pmix.SalesQty/week_qty_total

In [142]:
week_pmix_item=data[data.Week==data.Week.max()].pivot_table(index='ProductSizeName',values=['SalesMny','SalesQty'],aggfunc='sum').reset_index()
week_pmix_item['Sales%']=week_pmix_item.SalesMny/week_sales_total
week_pmix_item['Qty%']=week_pmix_item.SalesQty/week_qty_total

In [143]:
week_pmix_item

,ProductSizeName,SalesMny,SalesQty,Sales%,Qty%
0,2.5 Gallon,76.9900,1,0.000135,0.000011
1,3 Pretzel Special,0.0000,7,0.000000,0.000076
2,5-Layer Gelati,862.0860,131,0.001514,0.001418
3,6-pack Custard Cookie Sandwiches,1535.1860,108,0.002697,0.001169
4,Additional Topping,4908.6025,4273,0.008622,0.046249
...,...,...,...,...,...
115,Tumbler,51.9600,4,0.000091,0.000043
116,UberEats,16093.2000,0,0.028269,0.000000
117,Unicorn Glitter,2.3800,2,0.000004,0.000022
118,Waffle Cone/Bowl Upcharge,1787.0100,1397,0.003139,0.015120
119,Whipped Cream,29.2400,40,0.000051,0.000433

In [144]:
# pmix_items=pmix_item.style.format({
#     'SalesMny':'{:,.2f}'.format,
#     'SalesQty':'{:,.2f}'.format,
#     'Sales%':'{:,.2%}'.format,
#     'Qty%':'{:,.2%}'.format
# })

In [145]:
# pmix_cat=pmix.style.format({
#     'SalesMny':'{:,.2f}'.format,
#     'SalesQty':'{:,.2f}'.format,
#     'Sales%':'{:,.2%}'.format,
#     'Qty%':'{:,.2%}'.format
# })
# pmix_cat

In [146]:
weekly_index=data.set_index('StartDate').resample('W').agg({'SalesMny':'sum','SalesQty':'sum','StringID':'nunique'})
weekly_index['Qty/Shops']=round(weekly_index['SalesQty']/weekly_index['StringID']/7,0)
weekly_index.rename(columns={'StringID':'Number_Stores','Qty/Shops':'Avg_Daily_Qty/Shops'},inplace=True)
weekly_index=weekly_index[['Number_Stores','SalesMny','SalesQty','Avg_Daily_Qty/Shops']]

In [147]:
data.groupby('ProductTypeName').resample('W',on='StartDate').agg({'SalesMny':'sum','SalesQty':'sum','StringID':'nunique'})

                               SalesMny  SalesQty  StringID
ProductTypeName    StartDate
3rd Party Delivery 2023-01-08  36576.18        51        65
                   2023-01-15  26169.56         1        59
                   2023-01-22  38589.24         0        71
                   2023-01-29  24998.58         3        64
                   2023-02-05  28650.39         1        80
...                                 ...       ...       ...
Test - Snacks      2023-10-29     38.34         6         1
                   2023-11-05     12.78         2         1
                   2023-11-12      0.00         0         0
                   2023-11-19     38.34         6         1
                   2023-11-26     12.78         2         1

[1730 rows x 3 columns]

In [148]:
# weekly_index.plot(y='Qty/Shops',use_index=True,figsize=(20,10))

# Total Sales and Guest Count By Month

In [149]:
filtered.CoOpName.unique()

array(['CO-OP PH/WI/TR', None, 'CO-OP PITTS', 'CO-OP HARRI',
       'CO-OP BALTI', 'CO-OP YORK', 'CO-OP LANCA', 'CO-OP WASHI'],
      dtype=object)

In [150]:
monthly_sales=round(filtered.pivot_table(index='Month_Name',columns='Year',values='SalesMny',aggfunc='sum',fill_value=0),2)
monthly_sales=monthly_sales.reindex(columns)
monthly_sales['%_Change']=monthly_sales.iloc[:,1]/monthly_sales.iloc[:,0]-1
monthly_sales

Year               2022         2023  %_Change
Month_Name
Jan          1550686.98   1872758.86  0.207696
Feb          4544090.20   4597345.88  0.011720
Mar         13342023.57  14702414.86  0.101963
Apr         16895670.66  21648208.72  0.281287
May         27964862.07  31563805.09  0.128695
Jun         24466092.47  25354577.82  0.036315
Jul         24025018.07  34936507.40  0.454172
Aug         26183435.65  22546730.94 -0.138893
Sep         10858305.87  13464458.94  0.240015
Oct          5238110.41   7316413.31  0.396766
Nov          1504389.98   2151862.33  0.430389
Dec          1214810.68   1854759.29  0.526789

In [151]:
filtered[filtered.Year==2023].SalesMny.sum()

182009843.43440002

In [152]:
# # Queries the tables from SQL
# # Reads in the Daily Sales from 2023
# daily_sales=pd.read_sql_query('''SELECT * FROM [dbo].[smartDailySales] WHERE YEAR(dteDate)>=2022''',connection)

In [153]:
# daily_sales['Month_Name']=daily_sales.dteDate.dt.strftime('%b')
# daily_sales['Year']=daily_sales.dteDate.dt.year
# daily_sales_piv=round(daily_sales.pivot_table(index='Month_Name',columns='Year',values='mnyPosSales',aggfunc='sum',fill_value=0),2)
# daily_sales_piv=daily_sales_piv.reindex(columns)
# daily_sales_piv['%_Change']=daily_sales_piv.iloc[:,1]/daily_sales_piv.iloc[:,0]-1
# daily_sales_piv

In [154]:
gc_new=gc.pivot_table(index='Month_Name',columns='Year',values='Guest_Count',aggfunc='sum',fill_value=0)
gc_new=gc_new.reindex(['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'])
gc_new['%_Change']=gc_new.iloc[:,1]/gc_new.iloc[:,0]-1
gc_new

Year           2022     2023  %_Change
Month_Name
Jan          109983   145580  0.323659
Feb          221525   273152  0.233053
Mar         1364184  1426401  0.045607
Apr         1653875  2090332  0.263900
May         2190083  2343597  0.070095
Jun         2385658  2329266 -0.023638
Jul         2399794  2617117  0.090559
Aug         2124061  2137605  0.006376
Sep         1243615  1358799  0.092620
Oct          466822   623107  0.334785
Nov          168914   197423  0.168778
Dec          133846   164215  0.226895

In [155]:
# gc.set_index('dteDate').groupby(['Year','ShopID']).resample('W').agg({'Guest_Count':'sum'}).reset_index().to_excel('Test w Shops.xlsx',index=False)

In [156]:
# gc[(gc.Year==2023)&(gc.dteDate<='2023-07-09')].groupby('ShopID')['Guest_Count'].sum().reset_index().to_excel('Test Groupby.xlsx',index=False)

In [157]:
merged=pd.merge(monthly_sales,gc_new, on='Month_Name',how='left')
merged=merged.iloc[:,[1,0,2,4,3,5]]

# Weekly Sales and Guest Comp

In [158]:
weekly_piv=total.pivot_table(index=['ShopID','Week'],columns='Year',values='SalesMny',aggfunc='sum',fill_value=0).reset_index()
weekly_piv

Year   ShopID  Week       2022       2023
0           1     8   1658.510      2.990
1           1     9   7596.662   6327.982
2           1    10   6962.020   6800.941
3           1    11  14956.600   8258.021
4           1    12  10087.332  17778.261
...       ...   ...        ...        ...
22037   31360    44      0.000   5970.000
22038   31360    47      0.000   2848.000
22039   31360    48      0.000   6650.500
22040   31360    49      0.000   4015.000
22041   31360    52      0.000   6880.000

[22042 rows x 4 columns]

In [159]:
weekly_piv[(weekly_piv.Week==52)&(weekly_piv[2023]>0)&(weekly_piv[2022]>0)].sum(axis=0)

Year
ShopID    100558.0000
Week        4264.0000
2022      330765.8160
2023      340672.3886
dtype: float64

In [160]:
total.pivot_table(index=['ShopID','Week',pd.Grouper(key='StartDate',freq='W')],columns='Year',values='SalesMny',aggfunc='sum',fill_value=0).reset_index()

Year   ShopID  Week  StartDate      2022      2023
0           1     8 2022-02-27  1658.510     0.000
1           1     8 2023-02-26     0.000     2.990
2           1     9 2022-03-06  7596.662     0.000
3           1     9 2023-03-05     0.000  6327.982
4           1    10 2022-03-13  6962.020     0.000
...       ...   ...        ...       ...       ...
40463   31360    44 2023-11-05     0.000  5970.000
40464   31360    47 2023-11-26     0.000  2848.000
40465   31360    48 2023-12-03     0.000  6650.500
40466   31360    49 2023-12-10     0.000  4015.000
40467   31360    52 2023-12-31     0.000  6880.000

[40468 rows x 5 columns]

In [161]:
comp_shops=weekly_piv[(weekly_piv[2022]>0)&(weekly_piv[2023]>0)].ShopID.unique()
len(comp_shops)

550

In [162]:
weekly_piv[(weekly_piv[2022]>0)&(weekly_piv[2023]>0)].sum(axis=0)

Year
ShopID    1.730381e+07
Week      4.667790e+05
2022      1.532642e+08
2023      1.667876e+08
dtype: float64

In [163]:
gc[gc.ShopID==127]

,intStoreID,dteDate,intRegister,bitAMPM,intZTapeID,Guest_Count,vchZTapeName_DELETE,intType,ShopID,vchStoreState,ShopName,dteOpenDate,dteTransferDate,dteSeasonalOpenDate,dteSeasonalCloseDate,Ritas ID,Year,Month,Month_Name
178060,773,2022-03-16,1,False,6,285,,2,127,OH,Henderson Road,1996-09-25,2000-01-16,2024-02-01,2024-12-20,127,2022,3,Mar
178061,773,2022-02-01,1,False,6,71,,2,127,OH,Henderson Road,1996-09-25,2000-01-16,2024-02-01,2024-12-20,127,2022,2,Feb
178062,773,2022-03-17,1,False,6,252,,2,127,OH,Henderson Road,1996-09-25,2000-01-16,2024-02-01,2024-12-20,127,2022,3,Mar
178063,773,2022-03-18,1,False,6,206,,2,127,OH,Henderson Road,1996-09-25,2000-01-16,2024-02-01,2024-12-20,127,2022,3,Mar
178064,773,2022-03-19,1,False,6,150,,2,127,OH,Henderson Road,1996-09-25,2000-01-16,2024-02-01,2024-12-20,127,2022,3,Mar
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178691,773,2023-10-07,1,False,6,160,,2,127,OH,Henderson Road,1996-09-25,2000-01-16,2024-02-01,2024-12-20,127,2023,10,Oct
178692,773,2023-10-08,1,False,6,137,,2,127,OH,Henderson Road,1996-09-25,2000-01-16,2024-02-01,2024-12-20,127,2023,10,Oct
178693,773,2023-10-09,1,False,6,111,,2,127,OH,Henderson Road,1996-09-25,2000-01-16,2024-02-01,2024-12-20,127,2023,10,Oct
178694,773,2023-10-10,1,False,6,138,,2,127,OH,Henderson Road,1996-09-25,2000-01-16,2024-02-01,2024-12-20,127,2023,10,Oct
178695,773,2023-10-11,1,False,6,185,,2,127,OH,Henderson Road,1996-09-25,2000-01-16,2024-02-01,2024-12-20,127,2023,10,Oct

In [164]:
weekly_piv_dates=total.pivot_table(index=['ShopID','Week',pd.Grouper(key='StartDate',freq='W')],columns='Year',values='SalesMny',aggfunc='sum',fill_value=0).reset_index()

In [165]:
weekly_piv_dates.groupby('Week')[[2022,2023]].sum().sum()

Year
2022    1.577875e+08
2023    1.820098e+08
dtype: float64

In [166]:
# comp_sales=weekly_piv[(weekly_piv[2022]>0)&(weekly_piv[2023]>0)]

In [167]:
# filtered.groupby(['Year',pd.Grouper(key='StartDate',freq='W')])['SalesMny'].sum()

In [168]:
# filtered.pivot_table(index=pd.Grouper(key='StartDate',freq='w'),columns='Year',values='SalesMny',aggfunc='sum')

In [169]:
gc_week=gc.pivot_table(index=['ShopID',pd.Grouper(key='dteDate',freq='w')],columns='Year',values='Guest_Count',aggfunc='sum').reset_index()

In [170]:
gc_week.rename(columns={'dteDate':'StartDate'},inplace=True)

In [171]:
gc_week.rename(columns={2022:'Guest_Count22',2023:'Guest_Count23'},inplace=True)

In [172]:
gc_week

Year   ShopID  StartDate  Guest_Count22  Guest_Count23
0           1 2022-02-27          148.0            NaN
1           1 2022-03-06          716.0            NaN
2           1 2022-03-13          660.0            NaN
3           1 2022-03-20         1508.0            NaN
4           1 2022-03-27         1051.0            NaN
...       ...        ...            ...            ...
39062   30332 2023-08-06            NaN          283.0
39063   30332 2023-08-13            NaN          252.0
39064   30332 2023-08-20            NaN          227.0
39065   30332 2023-10-08            NaN           35.0
39066   30332 2023-10-29            NaN           70.0

[39067 rows x 4 columns]

In [173]:
weekly_sales_gc=pd.merge(weekly_piv_dates,gc_week[['ShopID','StartDate','Guest_Count22','Guest_Count23']],on=['ShopID','StartDate'],how='left').fillna(0)

In [174]:
weekly_sales_gc[weekly_sales_gc.Week==52]

Year,ShopID,Week,StartDate,2022,2023,Guest_Count22,Guest_Count23
1309,22,52,2023-01-01,6877.094,0.0000,618.0,130.0
1310,22,52,2023-12-31,0.000,7684.0900,0.0,662.0
1372,26,52,2023-12-31,0.000,5970.4785,0.0,511.0
1973,39,52,2023-01-01,4204.035,0.0000,298.0,89.0
1974,39,52,2023-12-31,0.000,4185.6400,0.0,384.0
...,...,...,...,...,...,...,...
40073,11419,52,2023-01-01,641.700,0.0000,80.0,0.0
40074,11419,52,2023-12-31,0.000,2265.5200,0.0,234.0
40126,11453,52,2023-12-31,0.000,373.0100,0.0,56.0
40231,20374,52,2023-12-31,0.000,39828.1400,0.0,0.0
40467,31360,52,2023-12-31,0.000,6880.0000,0.0,0.0

In [175]:
weekly_sales_gc.rename(columns={2022:'Sales_22',2023:'Sales_23'},inplace=True)

In [176]:
round(weekly_sales_gc[weekly_sales_gc.ShopID.isin(comp_shops)].drop(['ShopID','StartDate'],axis=1).groupby(
    'Week')[['Sales_22','Sales_23','Guest_Count22','Guest_Count23']].sum(),2)

Year    Sales_22    Sales_23  Guest_Count22  Guest_Count23
Week
1      275390.61   367271.53        22855.0        34203.0
2      279804.44   316143.61        23798.0        29248.0
3      292345.18   377971.58        24727.0        33522.0
4      302530.00   391242.17        24277.0        35143.0
5      355654.40   420129.97        30249.0        37070.0
6      412036.26   458650.58        35013.0        41118.0
7      569023.94   699265.66        47776.0        62278.0
8     1067026.66  1262537.94        93721.0       111253.0
9     2434519.40  2113749.53       225935.0       187649.0
10    2091486.08  2358818.25       194199.0       210069.0
11    4664700.12  2758272.81       466003.0       241819.0
12    3423788.23  5041272.12       353391.0       552238.0
13    3023816.99  4393204.72       278696.0       392074.0
14    3142391.11  5005575.14       294710.0       456552.0
15    5054570.97  7053497.13       470265.0       626034.0
16    4342394.26  5532719.14       401019.0       501793.0
17    4137579.48  3713518.26       382991.0       330868.0
18    3757328.64  4734305.61       350734.0       417303.0
19    5275753.49  6468359.48       491967.0       567640.0
20    6252975.36  5793810.84       563903.0       508696.0
21    5242361.53  6310717.09       470781.0       547813.0
22    6982934.29  7338075.31       626284.0       609990.0
23    5727056.55  6365627.01       518088.0       540552.0
24    6365209.77  6284234.18       573019.0       521538.0
25    5932053.50  5667194.06       535804.0       478353.0
26    6052014.56  6168612.81       637239.0       518043.0
27    5802804.85  6923361.32       507951.0       563869.0
28    5753818.01  6801822.49       522827.0       576942.0
29    6704261.70  6796352.01       594149.0       573139.0
30    5405397.31  6782655.77       487962.0       557364.0
31    5811661.17  5983297.00       525456.0       503476.0
32    5531409.30  5649616.26       501927.0       475826.0
33    5081250.57  5706221.95       458124.0       485573.0
34    4887282.48  5169794.60       445800.0       444700.0
35    4519256.34  4826953.63       419543.0       414525.0
36    3157286.89  4364826.37       294518.0       387792.0
37    3260624.01  3323524.27       310864.0       298474.0
38    2549859.71  2427371.32       242192.0       223257.0
39    1788421.67  2392105.31       170149.0       207009.0
40    1440472.72  2192142.37       132802.0       190986.0
41    1409428.69  1473374.15       125738.0       133420.0
42     952946.70  1138387.69        83619.0        93301.0
43     804622.73  1128471.36        72372.0        93303.0
44     593514.10   554464.01        55974.0        75105.0
45     477263.30   544903.47        43078.0        47574.0
46     322408.99   447916.66        30644.0        39694.0
47     360033.50   364950.94        33056.0        31429.0
48     329866.90   331922.28        31850.0        30016.0
49     332468.94   346620.21        32228.0        29796.0
50     297664.22   316991.45        28874.0        28858.0
51     216634.76   291504.82        20446.0        27993.0
52     362799.69   373097.90        30072.0        36442.0

In [177]:
round(weekly_sales_gc[weekly_sales_gc.ShopID.isin(comp_shops)].drop(['StartDate'],axis=1).groupby(
    'ShopID')[['Sales_22','Sales_23','Guest_Count22','Guest_Count23']].sum(),2).reset_index()

Year  ShopID   Sales_22   Sales_23  Guest_Count22  Guest_Count23
0          1  372821.18  409081.02        36758.0        36998.0
1          2  499034.94  570197.67        49283.0        51743.0
2          3  256647.83  302488.15        28251.0        26423.0
3          4  263541.02  264795.23        25203.0        22589.0
4          6  378659.34  397503.91        38431.0        38560.0
..       ...        ...        ...            ...            ...
545    20882  155376.38  154162.82            0.0            0.0
546    21360    5935.00  168877.50            0.0            0.0
547    30060  160545.75   26193.39        15747.0         2317.0
548    30332   42606.00   35981.25         4913.0         4033.0
549    30445  109260.07  113990.04            0.0            0.0

[550 rows x 5 columns]

# For Kent Comps

In [178]:
new_kent=weekly_sales_gc.rename(columns={'ShopID':'Ritas ID'})

In [179]:
new_kent

Year,Ritas ID,Week,StartDate,Sales_22,Sales_23,Guest_Count22,Guest_Count23
0,1,8,2022-02-27,1658.510,0.000,148.0,0.0
1,1,8,2023-02-26,0.000,2.990,0.0,1.0
2,1,9,2022-03-06,7596.662,0.000,716.0,0.0
3,1,9,2023-03-05,0.000,6327.982,0.0,523.0
4,1,10,2022-03-13,6962.020,0.000,660.0,0.0
...,...,...,...,...,...,...,...
40463,31360,44,2023-11-05,0.000,5970.000,0.0,0.0
40464,31360,47,2023-11-26,0.000,2848.000,0.0,0.0
40465,31360,48,2023-12-03,0.000,6650.500,0.0,0.0
40466,31360,49,2023-12-10,0.000,4015.000,0.0,0.0
40467,31360,52,2023-12-31,0.000,6880.000,0.0,0.0

In [180]:
# kent=new_kent.merge(rename[['Ritas ID','ShopName','State','DMA','MSAName','CoOpName']],on='Ritas ID',how='left').drop_duplicates(subset=['Ritas ID','Week','StartDate'],
#                                                                                                             keep='first')
# kent.drop('StartDate',axis=1,inplace=True)

In [181]:
# kent

In [182]:
# kent['Ritas ID'].nunique()
# kent=kent[kent.Week<=39]
# kent.CoOpName=kent.CoOpName.fillna('No')
# kent.loc[kent['CoOpName'].str.contains('CO-OP'),'CoOp_Y/N']='Yes'
# kent.loc[kent['CoOpName'].str.contains('No'),'CoOp_Y/N']='No'
# kent['CoOp_Y/N']=kent['CoOp_Y/N'].fillna('No')
# kent.to_excel('For Kent Week 39.xlsx',index=False)

In [183]:
# kent[kent.Week<=39].pivot_table(index=['Ritas ID','ShopName','State','DMA','MSAName','CoOpName'],columns='Week',
#                                values=['Sales_22', 'Sales_23', 'Guest_Count22','Guest_Count23'],aggfunc='sum')

In [184]:
# kent.drop('StartDate',axis=1).to_excel('For Kent.xlsx',index=False)

In [185]:
#kent.Sales_23.sum()

In [186]:
#kent_combined=round(kent.drop(['StartDate'],axis=1).groupby(['Ritas ID','ShopName','State','State','CoOpName','DMA','MSAName','Week'])[['Sales_22','Sales_23',
                                                                                                                    #'Guest_Count22','Guest_Count23']].sum(),2)

In [187]:
#kent_combined.Sales_23.sum()

In [188]:
#kent_combined

# Sales and Guest Count by Shop

In [189]:
exclude=[10511,11390,20096,20882,21360,31360,11360,10061,10374]
df=total[~total.ShopID.isin(exclude)]
satellite=total[total.ShopID.isin(exclude)]
satellite['StringID']=satellite.ShopID.astype('int')
df['StringID']=df.ShopID.astype('int')
df['StringID']=df.ShopID.astype('str')
df['StringID']=df.StringID.str[-4:]
df['StringID']=df.StringID.astype('int')
total_2=pd.concat([df,satellite])
total_2.rename(columns={'StringID':'Ritas ID'},inplace=True)

C:\Users\jharned\AppData\Local\Temp\ipykernel_15164\519728301.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  satellite['StringID']=satellite.ShopID.astype('int')
C:\Users\jharned\AppData\Local\Temp\ipykernel_15164\519728301.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['StringID']=df.ShopID.astype('int')
C:\Users\jharned\AppData\Local\Temp\ipykernel_15164\519728301.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['StringID']=df.ShopID.astype('str')
C:\Users\jharned\AppData\Local\Temp\ipykernel_15164\519728301.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['StringID']=df.StringID.str[-4:]
C:\Users\jharned\AppData\Local\Temp\ipykernel_15164\519728301.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['StringID']=df.StringID.astype('int')

In [190]:
gc_last_week=gc[gc.dteDate.dt.strftime('%m-%d')<=last_week]

In [191]:
gc_year=gc_last_week.pivot_table(index=['Ritas ID'],columns='Year',values='Guest_Count',aggfunc='sum',fill_value=0).reset_index()
gc_year=pd.merge(gc_year,gc[['Ritas ID','ShopName']],on='Ritas ID',how='left').drop_duplicates(subset='Ritas ID',keep='last')
gc_year

        Ritas ID   2022   2023                         ShopName
436            1  36758  36998                        Woodhaven
915            2  49283  51743        3244 Red Lion Rd-Phila PA
1353           3  28251  26423     5901 Rising Sun Ave-Phila PA
1787           4  24351  22589                      Pine Valley
2240           6  38431  38560                     Rhawn Street
...          ...    ...    ...                              ...
260517      1518      0   3172  243 Singleton Rd-Mooresville NC
260605      1519      0   3912      21020 Sycolin Rd-Ashburn VA
260819      1520      0  30517      3724 Boston St-Baltimore MD
260933      1522      0  11083         3319 W Elm St-McHenry IL
261000      1530      0   2193  419 W Baltimore St-Baltimore MD

[558 rows x 4 columns]

In [192]:
gc_year.rename(columns={2022:'Guest_Count22',2023:'Guest_Count23'},inplace=True)

In [193]:
total_piv=total_2.pivot_table(index='Ritas ID',columns='Year',values='SalesMny',aggfunc='sum',fill_value=0)
shop_sales_gc=pd.merge(gc_year,total_piv,on='Ritas ID',how='right')
shop_sales_gc.rename(columns={2022:'Sales_22',2023:'Sales_23'},inplace=True)

In [194]:
shop_sales_gc.drop_duplicates(subset='Ritas ID',keep='last')

,Ritas ID,Guest_Count22,Guest_Count23,ShopName,Sales_22,Sales_23
0,1,36758.0,36998.0,Woodhaven,372821.1790,409081.0250
1,2,49283.0,51743.0,3244 Red Lion Rd-Phila PA,499034.9450,570197.6675
2,3,28251.0,26423.0,5901 Rising Sun Ave-Phila PA,256647.8307,302488.1535
3,4,24351.0,22589.0,Pine Valley,263541.0212,264795.2265
4,6,38431.0,38560.0,Rhawn Street,378659.3401,397503.9060
...,...,...,...,...,...,...
570,11390,NaN,NaN,NaN,73247.7452,84570.6225
571,20096,NaN,NaN,NaN,85320.1000,88856.1000
572,20882,NaN,NaN,NaN,155376.3800,154162.8200
573,21360,NaN,NaN,NaN,5935.0000,168877.5000
574,31360,NaN,NaN,NaN,0.0000,457239.5000

In [195]:
shop_sales_gc[['Ritas ID','ShopName','Guest_Count22','Guest_Count23','Sales_22','Sales_23']]#.to_excel('Shop Sales and Guest Count.xlsx',index=False)

,Ritas ID,ShopName,Guest_Count22,Guest_Count23,Sales_22,Sales_23
0,1,Woodhaven,36758.0,36998.0,372821.1790,409081.0250
1,2,3244 Red Lion Rd-Phila PA,49283.0,51743.0,499034.9450,570197.6675
2,3,5901 Rising Sun Ave-Phila PA,28251.0,26423.0,256647.8307,302488.1535
3,4,Pine Valley,24351.0,22589.0,263541.0212,264795.2265
4,6,Rhawn Street,38431.0,38560.0,378659.3401,397503.9060
...,...,...,...,...,...,...
570,11390,NaN,NaN,NaN,73247.7452,84570.6225
571,20096,NaN,NaN,NaN,85320.1000,88856.1000
572,20882,NaN,NaN,NaN,155376.3800,154162.8200
573,21360,NaN,NaN,NaN,5935.0000,168877.5000
574,31360,NaN,NaN,NaN,0.0000,457239.5000

In [196]:
rename=data3.rename(columns={'ShopID':'Ritas ID'})

In [197]:
shop_sales_gc=shop_sales_gc.merge(rename[['Ritas ID','CoOpName','MSAName','DMA']],on='Ritas ID',how='left').drop_duplicates(subset='Ritas ID',
                                                                                                             keep='first')

In [198]:
shop_sales_gc.head()

,Ritas ID,Guest_Count22,Guest_Count23,ShopName,Sales_22,Sales_23,CoOpName,MSAName,DMA
0,1,36758.0,36998.0,Woodhaven,372821.1790,409081.0250,CO-OP PH/WI/TR,Philadelphia-Camden-Wilmington,Philadelphia
2,2,49283.0,51743.0,3244 Red Lion Rd-Phila PA,499034.9450,570197.6675,CO-OP PH/WI/TR,Philadelphia-Camden-Wilmington,Philadelphia
3,3,28251.0,26423.0,5901 Rising Sun Ave-Phila PA,256647.8307,302488.1535,CO-OP PH/WI/TR,Philadelphia-Camden-Wilmington,Philadelphia
6,4,24351.0,22589.0,Pine Valley,263541.0212,264795.2265,CO-OP PH/WI/TR,Philadelphia-Camden-Wilmington,Philadelphia
8,6,38431.0,38560.0,Rhawn Street,378659.3401,397503.9060,CO-OP PH/WI/TR,Philadelphia-Camden-Wilmington,Philadelphia

In [199]:
shop_sales_gc=shop_sales_gc.iloc[:,[0,3,6,7,8,1,2,4,5]]

In [261]:
writer=pd.ExcelWriter('Week '+str(data.Week.max())+' Sales Summary.xlsx')
pd3.to_excel(writer,sheet_name='3PD Sales By Year')
pd3_platform.to_excel(writer,sheet_name='3PD by Platform')
sales_year.to_excel(writer, sheet_name='Sales By Year')
pivot.to_excel(writer, sheet_name='Weekly AVG',index=False)
sales_dates.to_excel(writer,sheet_name='Weekly Sales',index=False)
resampled_pivot.to_excel(writer,sheet_name='Guest Count by Week')
shop_sales_gc.to_excel(writer,sheet_name='Sales and GC by Shop',index=False)
writer.close()
writer2=pd.ExcelWriter('New Shops Comp for '+str(data.Year.max())+' Week '+str(data.Week.max())+' v2.xlsx')
new_shops_df.sort_values('dteOpenDate',ascending=False).reset_index().to_excel(writer2, sheet_name='YTD',index=False)
monthly.sort_values(by=['ShopID','dteOpenDate'],ascending=True).to_excel(writer2,sheet_name='Month by Month',index=False)
last_four_df.sort_values('%_Change',ascending=False).head(5).to_excel(writer2,sheet_name='Top 5 % Change',index=False)
last_four_df.sort_values('%_Change',ascending=False).tail(5).to_excel(writer2,sheet_name='Bottom 5 % Change',index=False)
last_four_df.sort_values(2023,ascending=False).head(5).to_excel(writer2,sheet_name='Top 5 in Sales',index=False)
last_four_df.sort_values(2023,ascending=False).tail(5).to_excel(writer2,sheet_name='Bottom 5 in Sales',index=False)
writer2.close()
writer3=pd.ExcelWriter('2023 Week '+str(data.Week.max())+' Product Mix v2.xlsx')
pmix.to_excel(writer3, sheet_name='YTD Category',index=False,engine='openpyxl')
pmix_item.to_excel(writer3, sheet_name='YTD Items',index=False,engine='openpyxl')
week_pmix.to_excel(writer3, sheet_name='Weekly Category',index=False, engine='openpyxl')
week_pmix_item.to_excel(writer3, sheet_name='Weekly Items',index=False, engine='openpyxl')
weekly_index.to_excel(writer3,sheet_name='Qty by Shop',engine='openpyxl')
writer3.close()
writer4=pd.ExcelWriter('Guest Count and Sales 22-23 v2 for Wk'+str(data.Week.max())+'.xlsx')
merged.to_excel(writer4, sheet_name='Guest and Sales')
writer4.close()
writer5=pd.ExcelWriter('Comp Sales and Guest Count for Wk'+str(data.Week.max())+'.xlsx')
weekly_sales_gc[weekly_sales_gc.ShopID.isin(comp_shops)].drop(['ShopID','StartDate'],axis=1).groupby(
    'Week')[['Sales_22','Sales_23','Guest_Count22','Guest_Count23']].sum().to_excel(writer5, sheet_name='Comps')
writer5.close()
pay_type.to_excel('Payments Wk'+str(data.Week.max())+'.xlsx',index=False)
writer8=pd.ExcelWriter('YoY Sales by Category Wk'+str(data.Week.max())+'.xlsx')
total_sales.to_excel(writer8, sheet_name='Total Sales',index=False)
retail_fc.to_excel(writer8, sheet_name='Retail',index=False)
catering_fc.to_excel(writer8, sheet_name='Catering',index=False)
mobile_fc.to_excel(writer8,sheet_name='Mobile',index=False)
delivery_fc.to_excel(writer8, sheet_name='Delivery',index=False)
writer8.close()

# Pricing Solutions 2023

In [201]:
# psl_prod=data.groupby('ProductSizeName')[['SalesMny','SalesQty']].sum().reset_index()
# psl_prod['Avg Price']=round(psl_prod['SalesMny']/psl_prod['SalesQty'],2)
# psl_prod

In [202]:
# psl_shop=data.groupby(['StringID','ProductSizeName'])[['SalesMny','SalesQty']].sum().reset_index()
# psl_shop['Avg_Price']=round(psl_shop['SalesMny']/psl_shop['SalesQty'],2)
# psl_shop

In [203]:
# product_list=data[['ProductSizeName','ProductCode','ProdSizeCode']].drop_duplicates(keep='first')

In [204]:
# shop_sales_week=data.pivot_table(index=['StringID','ProductTypeName','ProductSizeName'],columns=pd.Grouper(key='StartDate',freq='W'),
#                  values=['SalesMny'],aggfunc='sum',fill_value=0)

In [205]:
# shop_qty_week=data.pivot_table(index=['StringID','ProductTypeName','ProductSizeName'],columns=pd.Grouper(key='StartDate',freq='W'),
#                  values=['SalesQty'],aggfunc='sum',fill_value=0)

In [206]:
# sales_week=data.pivot_table(index=['ProductTypeName','ProductSizeName'],columns=pd.Grouper(key='StartDate',freq='W'),
#                  values=['SalesMny'],aggfunc='sum',fill_value=0)

In [207]:
# qty_week=data.pivot_table(index=['ProductTypeName','ProductSizeName'],columns=pd.Grouper(key='StartDate',freq='W'),
#                  values=['SalesQty'],aggfunc='sum',fill_value=0)

In [208]:
# open_dates=combined[['ShopID','dteOpenDate']].drop_duplicates(keep='last').dropna()

In [209]:
# writer7=pd.ExcelWriter('PSL '+str(data.EndDate.max().strftime('%Y-%m-%d'))+'.xlsx')
# sales_week.to_excel(writer7,sheet_name='Sales Week')
# qty_week.to_excel(writer7, sheet_name='Qty Week')
# shop_sales_week.to_excel(writer7, sheet_name='Shop Sales by Week')
# shop_qty_week.to_excel(writer7, sheet_name='Shop Qty by Week')
# open_dates.to_excel(writer7, sheet_name='Open Dates',index=False)
# writer7.save()
# writer7.close()

In [210]:
# writer6=pd.ExcelWriter('PSL 2023 8.18.2023.xlsx')
# psl_prod.to_excel(writer6, sheet_name='Avg Product Price',index=False)
# psl_shop.to_excel(writer6, sheet_name='Retail Price by Shop',index=False)
# product_list.to_excel(writer6,sheet_name='Product List',index=False)
# writer6.save()
# writer6.close()

# For Kent an Natalie Philly Co-Op Weekly Sales and Guest Count

In [211]:
# philly=df[(df.CoOpName=='CO-OP PH/WI/TR')&(df.CoOpStatus=='Yes')]

# philly_group=philly.groupby(['StringID','EndDate','Week'])['SalesMny'].sum().reset_index()

# philly_pivot=philly_group.pivot_table(index='StringID',columns='Week',values='SalesMny',aggfunc='sum',margins=True,fill_value=0).reset_index()

In [212]:
# resampled.rename(columns={'Ritas ID':'StringID','dteDate':'EndDate'},inplace=True)

In [213]:
# gc_philly=pd.merge(philly_group,resampled,on=['StringID','EndDate'],how='left')

In [214]:
# gc_philly_pivot=gc_philly.pivot_table(index='StringID',columns='Week',values='vchValue',aggfunc='sum',fill_value=0,margins=True).reset_index()

In [215]:
# philly_pivot.rename(columns={'StringID':'RitasID'},inplace=True)
# gc_philly_pivot.rename(columns={'StringID':'RitasID'},inplace=True)

In [216]:
# writer2=pd.ExcelWriter('Philly Co-Op Week '+str(data.Week.max())+' Summary.xlsx')
# philly_pivot.to_excel(writer2, sheet_name='Weekly Sales')
# gc_philly_pivot.to_excel(writer2, sheet_name='Weekly Guest Count')
# writer2.close()
# writer2.save()

In [217]:
#round(data.groupby('Region')['SalesMny'].sum())

In [218]:
#round(data.pivot_table(index=['StringID','Region'],values='SalesMny',aggfunc='sum'),2).reset_index().to_excel('Test(3).xlsx')

In [219]:
#data[data.ProductTypeName=='3rd Party Delivery'].pivot_table(index=['StringID','Region'],columns=['ProductSizeName'],values='SalesMny',aggfunc='sum',fill_value=0).reset_index().to_excel('3PD Pivot.xlsx')

In [220]:
#round(data.pivot_table(index=['StringID','Region'],columns='Week',values='SalesMny',aggfunc='sum',margins=True),2).reset_index().to_excel('Test(4).xlsx')

In [221]:
#data.head()

In [222]:
#comps=total.groupby(['ShopID','Year'])[['StartDate','SalesMny']].agg({'StartDate':'min','SalesMny':'sum'}).reset_index()
#comps.Year.min()

In [223]:
#comps[comps.StartDate.dt.strftime('%m%d')<='0301'].pivot_table(
    #index='ShopID',columns='Year',values='SalesMny',fill_value=0).reset_index().to_excel('2022-23 YTD comp by Date.xlsx',index=False)

In [224]:
#total_df=total[total.ShopID!=11390]
#altoona=total[total.ShopID==11390]
#altoona['StringID']=altoona.ShopID.astype('int')
#total_df['StringID']=total_df.ShopID.astype('int')
#total_df['StringID']=total_df.ShopID.astype('str')
#total_df['StringID']=total_df.StringID.str[-4:]
#total_df['StringID']=total_df.StringID.astype('int')
#total_df.StringID.unique()
#total_df=pd.concat([total_df,altoona])

In [225]:
#comps=total_df.groupby(['StringID','Year'])[['StartDate','SalesMny']].agg({'StartDate':'min','SalesMny':'sum'}).reset_index()
#comps.Year.min()

In [226]:
#comps[comps.StartDate.dt.strftime('%m%d')<='0330'].pivot_table(
    #index='StringID',columns='Year',values='SalesMny',fill_value=0).reset_index().to_excel('2022-23 YTD comp by Date(reduced).xlsx',index=False)

In [227]:
#data.columns

In [228]:
#total_df[(total_df.Year==2023)&(total_df.SpecialVenue=='No')&total_df.]

In [229]:
#pd3_platform=total[(total.ProductTypeName=='3rd Party Delivery')&(total.StartDate.dt.strftime('%m-%d')>='03-27')].pivot_table(index='ShopID',columns='Year',values='SalesMny',aggfunc='sum',fill_value=0).reset_index()

In [230]:
#os.chdir(r'L:\J.Harned\Marketing\Inner City')
#inner_city=[2,3,4,6,11,14,29,30,31,48,53,64,66,101,155,171,185,225,312,342,349,376,560,886,889,931,932,933,1045,
            #1046,1047,1049]
#pd3_platform[pd3_platform.ShopID.isin(inner_city)].to_excel('Inner City 3PD by Year.xlsx')

# 2023 vs 2022 PMIX

In [231]:
# total=total[total.ShopID!=11390]
# altoona=total[total.ShopID==11390]
# altoona['StringID']=altoona.ShopID.astype('int')

In [232]:
# total['StringID']=total.ShopID.astype('int')
# total['StringID']=total.ShopID.astype('str')
# total['StringID']=total.StringID.str[-4:]
# total['StringID']=total.StringID.astype('int')

In [233]:
# total=pd.concat([total,altoona])

In [234]:
# df_filtered=total[(total.Week>=16)&(total.Week<=21)]

In [235]:
# total.rename(columns={'StringID':'RitasID'},inplace=True)

In [236]:
# #Gets Dma List
# os.chdir(r'L:\12 Sales Rank Report')
# dma=pd.read_excel('DMA List.xlsx')
# dma.rename(columns={'Ritas ID':'RitasID'},inplace=True)

In [237]:
# df_filtered.shape

In [238]:
# dma_open=dma[dma['Shop Status']=='Open']

In [239]:
# total_merge=pd.merge(total,dma_open[['RitasID','FC']],on='RitasID',how='left')

In [240]:
# total_merge.Year.unique()

In [241]:
# total_merge.StartDate.min()

In [242]:
# total_merge.EndDate.max()

In [243]:
# total_merge.Week.min()

In [244]:
# total_merge.Week.max()

In [245]:
# total_merge.CoOpName.fillna('LSM',inplace=True)

In [246]:
# os.chdir(r'L:\J.Harned\Marketing')
# total_merge.pivot_table(index=['RitasID','ProductTypeName','FC','Region','CoOpName','State'],columns='Year',
#                        values=['SalesMny','SalesQty'],aggfunc='sum').reset_index()#.to_excel('2023 vs 2022 PMIX.xlsx')

In [247]:
# total_merge.CoOpName.unique()

In [248]:
# round(total_merge.pivot_table(index=['Region','FC'],columns='Year',values=['SalesMny','SalesQty'],aggfunc='sum'),2).reset_index().to_excel(
# '23 vs 22 PMIX by Region.xlsx')

In [249]:
# round(total_merge.pivot_table(index=['CoOpName','FC'],columns='Year',values=['SalesMny','SalesQty'],aggfunc='sum'),2).reset_index().to_excel(
# '23 vs 22 PMIX by Co-Op.xlsx')

In [250]:
# total_merge.pivot_table(index=['ProductTypeName'],columns='Year',
#                        values=['SalesMny','SalesQty'],aggfunc='sum').reset_index().to_excel('2023 vs 2022 PMIX YTD.xlsx')

In [251]:
# df_filtered.pivot_table(index=['ProductTypeName'],columns='Year',
#                        values=['SalesMny','SalesQty'],aggfunc='sum').reset_index().to_excel('2023 Coffee PMIX YTD.xlsx')

# For Jeanette and FC
   Year End Reporting for FC. Making a pivot table based on sales and Pmix by store

In [252]:
sales=data.pivot_table(index='ProductSizeName',columns='StringID',values='SalesMny',aggfunc='sum',fill_value=0)

In [253]:
sales_perc=data.pivot_table(index='ProductSizeName',columns='StringID',values='SalesMny',aggfunc='sum',fill_value=0).apply(
lambda x: x/x.sum())

In [254]:
qty=data.pivot_table(index='ProductSizeName',columns='StringID',values='SalesQty',aggfunc='sum',fill_value=0)

In [255]:
retail=data.groupby(['StringID','ProductSizeName'])[['SalesMny','SalesQty']].sum().reset_index()
retail['Price']=round(retail.iloc[:,-2]/retail.iloc[:,-1],2)
retail

       StringID      ProductSizeName    SalesMny  SalesQty  Price
0             1    3 Pretzel Special    6986.282      2002   3.49
1             1       5-Layer Gelati    3306.270       473   6.99
2             1   Additional Topping    4038.930      2150   1.88
3             1             Blendini    9339.551      1419   6.58
4             1             Concrete   16156.304      2102   7.69
...         ...                  ...         ...       ...    ...
24561     31360       Philly Pretzel   36510.000      6085   6.00
24562     31360  Ritas Bottled Water   24955.000      4991   5.00
24563     31360            Small Ice  230175.000     25575   9.00
24564     31360                 Soda    6253.500      1137   5.50
24565     31360             UberEats       0.000         0    NaN

[24566 rows x 5 columns]

In [256]:
# sales_excel=pd.ExcelWriter('Jeanette Sales v4.xlsx')
# sales.to_excel(sales_excel,sheet_name='Sales')
# sales_perc.to_excel(sales_excel,sheet_name='Sales %')
# retail.to_excel(sales_excel,sheet_name='Retail Price')
# qty.to_excel(sales_excel,sheet_name='Qty')
# sales_excel.close()

In [257]:
# total=total.drop('OpenDate',axis=1)

In [258]:
# data3.loc[data3.RitasID==32,'OpenDate']='2023-05-05'
# data3.loc[data3.RitasID==160,'OpenDate']='2023-06-28'
# data3.loc[data3.RitasID==445,'OpenDate']='2023-04-12'
# data3.loc[data3.RitasID==835,'OpenDate']='2022-10-28'
# data3.loc[data3.RitasID==325,'OpenDate']='2023-12-20'
# data3.loc[data3.RitasID==1234,'OpenDate']='2022-12-20'

In [259]:
data3=data3.sort_values('intstoreid',ascending=False)
data3.rename(columns={'intstoreid':'intStoreID'},inplace=True)

In [260]:
data3=data3.drop_duplicates(subset=['RitasID'],keep='first')
data3=data3[~data.ShopName.str.contains('Mobile')]
data3

KeyError: Index(['RitasID'], dtype='object')

In [ ]:
data3.rename(columns={'RitasID':'StringID'}, inplace=True)

In [ ]:
total_linda=total.merge(data3[['StringID','OpenDate']],how='left',on='StringID')

In [ ]:
total_linda.groupby('Year')['SalesMny'].sum()

In [ ]:
total_linda['OpenDate']=total_linda.OpenDate.fillna('None')

In [ ]:
months=['Oct','Nov','Dec']
total_shops=total_linda[total_linda.Month_Name.isin(months)].pivot_table(index=[
    'StringID','OpenDate'],columns=['Month_Name','Year'],values='SalesMny',
                       aggfunc='sum',fill_value=0).reset_index()
total_shops[total_shops.StringID==1]

In [ ]:
comps=total.pivot_table(index='StringID',columns='Year',values='SalesMny',aggfunc='sum',fill_value=0).reset_index()
comp_shops=comps[(comps[2022]>0)&(comps[2023]>0)].StringID

In [ ]:
comp_shops

In [ ]:
comps=total_linda[(total_linda.Month_Name.isin(months))&(total_linda.StringID.isin(comp_shops))].pivot_table(index=[
    'StringID','OpenDate'],columns=['Month_Name','Year'],values='SalesMny',
                       aggfunc='sum',fill_value=0).reset_index()
comps[comps.StringID==26]

In [ ]:
# writer=pd.ExcelWriter('Shop Sales Q4 23 vs 22.xlsx')
# total_shops.to_excel(writer, sheet_name='All Shops')
# comps.to_excel(writer,sheet_name='Comp Shops')
# writer.close()

In [ ]:
total[(total.StringID==238)&(total.ProductSizeName=='Misc')&(total.Year==2023)].groupby('Week')['SalesMny'].sum()

In [ ]:
total[(total.ShopName.str.contains('Mobile'))&(total.ProductTypeName=='MobileCart')].ShopID.nunique()

In [ ]:
total[(total.ProductSizeName=='Misc')&(total.Year==2023)].groupby(['ProductTypeName','ShopID'])['SalesMny'].sum()

In [ ]:
total[(total.ShopID>=10000)&(total.Year==2023)&~(total.ShopName.str.contains('Mobile'))].ShopID.unique()

In [ ]:
# total_linda.pivot_table(index=[
#     'StringID','OpenDate','State'],values='SalesMny',columns='Year',
#                        aggfunc='sum',fill_value=0).reset_index().to_excel('For Linda Shop Opening Dates v2.xlsx')