In [1]:
#Imports the necessary libraries
import pandas as pd
import os
import numpy as np
import pyodbc as odbc
from datetime import date,timedelta,datetime
os.chdir(r'G:\FinanceReports\2024\Wk26')

In [2]:
# Names the needed driver, server name, and database
driver_name='SQL Server'
server_name='10.0.1.218'
database='ritascoolnet_live'
#Creates the connection string
connection_string=f"""
DRIVER={{{driver_name}}};
SERVER={server_name};
DATABASE={database};
Trust_Connection=yes"""
#Creates the Connection to SQL Server
connection=odbc.connect(connection_string)
print(connection)

<pyodbc.Connection object at 0x0000028514F2ED30>

In [3]:
# Queries the tables from SQL
# Reads in the Weekly Sales in 2023
# Data3 Gets Guest Count
data=pd.read_sql_query('''SELECT *
  FROM [ritas_bi].[dbo].[tmp_raw_plda]
  WHERE YEAR(StartDate)=2024''',connection)

C:\Users\jharned\AppData\Local\Temp\ipykernel_36704\965625088.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data=pd.read_sql_query('''SELECT *

In [4]:
gelati=data[data.Week>=24]

In [5]:
percent=gelati.pivot_table(index=['ShopID','ShopName'],columns='ProductSizeName',values='SalesMny',aggfunc='sum',fill_value=0,margins=True)
percent=percent.div(percent.iloc[:,-1],axis=0)['5-Layer Gelati'].reset_index()
percent=percent.rename(columns={'5-Layer Gelati':'%_Sales'})
sales=gelati.pivot_table(index=['ShopID','ShopName'],values='SalesMny',aggfunc='sum',fill_value=0).reset_index()\
.sort_values(by='SalesMny',ascending=False)
qty_sales=gelati.pivot_table(index=['ShopID','ShopName'],columns='ProductSizeName',values=['SalesMny','SalesQty'],aggfunc='sum',fill_value=0)\
[[('SalesMny','5-Layer Gelati'),('SalesQty','5-Layer Gelati')]].reset_index()
columns=['ShopID','ShopName','Sales 5-Layer Gelati','Qty 5-Layer Gelati']
qty_sales.columns=columns

merged=sales.merge(qty_sales, on=['ShopID','ShopName'],how='left').merge(percent,on=['ShopID','ShopName'],how='left')

writer=pd.ExcelWriter('5-Layer Gelati WE '+str(data.EndDate.max().strftime('%m-%d-%y'))+'.xlsx')
merged.sort_values(by=['%_Sales'],ascending=False).to_excel(writer, startrow=5,startcol=0,sheet_name='5 Layer Gelati',index=False)
wb=writer.book
ws=writer.sheets['5 Layer Gelati']
format_1=wb.add_format({'num_format':'$#,##0',
                       'align':'center', 'valign':'vcenter'})
format_2=wb.add_format({'num_format':'#,##0',
                       'align':'center', 'valign':'vcenter'})
format_3=wb.add_format({'num_format':'0.0%',
                       'align':'center', 'valign':'vcenter'})
header_format=wb.add_format({'bold':True,
                            'italic':True,
                            'align':'center', 'valign':'vcenter'})
ws.set_column('A:A',14)
ws.set_column('B:B',40)
ws.set_column('C:D',31,format_1)
ws.set_column('D:D',18,format_1)
ws.set_column('E:E',16,format_2)
ws.set_column('F:F',16,format_3)

text1='Ritas Franchise Operations,LLC'
text2='2024 5 Layer Gelati'
text3='Sales thru 06/14/2024 '+' - '+str(gelati.EndDate.max().strftime('%m/%d/%y'))
text4='Source Code: dbo.tmp_raw_plda'
ws.write(0,2,text1,header_format)
ws.write(1,2,text2,header_format)
ws.write(2,2,text3,header_format)
ws.write(3,2,text4,header_format)
writer.close()

In [6]:
gelati.pivot_table(index=['ShopID','ShopName'],columns='ProductSizeName',values='SalesMny',aggfunc='sum',fill_value=0)\
['5-Layer Gelati'].sort_values(ascending=False)

ShopID  ShopName
1528    731 Wayne Ave-Chambersburg PA            4578.45
182     538 W South St-Frederick MD              4191.75
180     Gore Road                                3737.69
215     73 Landis Ave-Bridgeton NJ               3655.84
1522    3319 W Elm St-McHenry IL                 3460.05
                                                  ...
1551    10165 McKinley Dr-Tampa Bay FL              0.00
1552    7007 SeaWorld Dr-Orlando FL                 0.00
1563    1500 S Capitol St-Washington DC             0.00
1573    1 Busch Gardens Blvd-Williamsburg VA        0.00
30332   Blandon Mobile 1-2                          0.00
Name: 5-Layer Gelati, Length: 577, dtype: float64

In [7]:
percent=gelati.pivot_table(index=['ShopID','ShopName'],columns='ProductSizeName',values='SalesMny',aggfunc='sum',fill_value=0,margins=True)
percent.div(percent.iloc[:,-1],axis=0)['5-Layer Gelati'].reset_index()

    ShopID                                     ShopName  5-Layer Gelati
0        1                                    Woodhaven        0.008456
1        2                    3244 Red Lion Rd-Phila PA        0.019525
2        3                 5901 Rising Sun Ave-Phila PA        0.014536
3        4                                  Pine Valley        0.025185
4        6                                 Rhawn Street        0.021173
..     ...                                          ...             ...
573  11419  4255 Tamiami Trail-Port Charlotte FL Mobile        0.000000
574  11453                         Bowling Green Mobile        0.000000
575  20096        1 Premium Outlet Blvd-Tinton Falls NJ        0.000000
576  30332                           Blandon Mobile 1-2        0.000000
577    All                                                     0.024407

[578 rows x 3 columns]

In [8]:
# percent=gelati.pivot_table(index=['ShopID','ShopName'],columns='ProductSizeName',values='SalesMny',aggfunc='sum',fill_value=0)\
# .apply(lambda x:x/sum(x))['5-Layer Gelati'].reset_index()