In [1]:
import pyodbc as odbc
import pandas as pd
import os

In [2]:
driver_name='SQL Server'
server_name='10.0.1.218'
database='ritascoolnet_live'
connection_string=f"""
DRIVER={{{driver_name}}};
SERVER={server_name};
DATABASE={database};
Trust_Connection=yes"""
connection=odbc.connect(connection_string)

In [5]:
df=pd.read_sql_query('''SELECT * FROM [ritas_bi].[dbo].[tmp_raw_plda]
  WHERE YEAR(StartDate)=2022 ''',connection)

C:\Users\jharned\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [10]:
df

Empty DataFrame
Columns: [ShopID, intStoreID, ProductCode, ProdSizeCode, DiscountCode, Register, SalesQty, SalesMny, StartDate, EndDate, EditDate, Week, DataSource, ShopName, State, Region, ShopStatus, LegacyShopType, LegacyShopStatus, ProductTypeName, ProductSizeName, SpecialVenue, CoOpStatus, CoOpName, CoOpRate]
Index: []

[0 rows x 25 columns]

In [5]:
df.Week.unique()

array([ 8, 39, 38, 14, 36, 10, 13, 37, 34, 18, 21, 30,  9, 16, 33, 26, 12,
       35, 27, 17, 29, 25, 28, 31, 19, 32, 24, 11, 15, 22, 20, 23, 43, 40,
       41,  6, 42,  7, 51,  4, 50, 45,  3, 48, 46, 52, 49,  5,  2, 47,  1,
       44], dtype=int64)

In [6]:
carolinas=['NC','SC']
closed=['409 Mills Ave-Greenville SC','Seneca']
df=df[(df.State.isin(carolinas))&(df.SpecialVenue=='No')&(~df.ShopName.str.contains('Mobile'))&(~df.ShopName.isin(closed))]
df.ShopID.unique()

array([   26,   628,   681,   711,   714,   843,   940,  1053,  1410,
        1427,  1457, 10026], dtype=int64)

In [92]:
df.ShopName.unique()

array(['Hilton Head', '804 2nd Loop Rd-Florence SC', 'The Arbors ',
       'Ballantyne', 'Plaza Shopping Center', 'Greenville SC',
       'Ritas in the Vista', 'Asheville', 'Fort Mill',
       '1806 Rozzelles Ferry Rd-Charlotte NC',
       '1208 S Ocean Blvd-Myrtle Beach SC',
       '1 N. Forest Beach-Hilton Head SC'], dtype=object)

In [93]:
gelati=df[df.ProductSizeName=='5-Layer Gelati']

In [94]:
gelati=gelati[(gelati.StartDate>='2022-06-06')&(gelati.EndDate<='2022-07-03')]
gelati=round(gelati.pivot_table(index=['ShopID','ShopName'],columns='Week',values=['SalesMny','SalesQty'], aggfunc='sum',fill_value=0),2).reset_index()

In [95]:
ice=df[(df.ProductTypeName=='Italian Ice')&(df.StartDate>='2022-07-10')&(df.EndDate<='2022-08-06')]
ice=round(ice.pivot_table(index=['ShopID','ShopName'],columns='Week',values=['SalesMny','SalesQty'],aggfunc='sum',fill_value=0),2).reset_index()

In [96]:
frozen_bev=df[(df.ProductTypeName=='Frozen Drinks')&(df.StartDate>='2022-04-18')&(df.EndDate<='2022-05-15')]
frozen_bev1=df[(df.ProductTypeName=='Frozen Drinks')&(df.StartDate>='2022-08-07')&(df.EndDate<='2022-09-11')]

In [97]:
all_bev=pd.concat([frozen_bev,frozen_bev1])

In [98]:
all_bev=round(all_bev.pivot_table(index=['ShopID','ShopName'],columns='Week',values=['SalesMny','SalesQty'],aggfunc='sum',fill_value=0),2).reset_index()

In [102]:
os.chdir(r'L:\J.Harned\Marketing\Carolina')
writer=pd.ExcelWriter('Carolina Data.xlsx')
all_bev.to_excel(writer, sheet_name='Frozen_Beverage')
ice.to_excel(writer, sheet_name='Italian Ice')
gelati.to_excel(writer, sheet_name='Gelati')
writer.close()
writer.save()

In [10]:
df[(df.State.isin(carolinas))&(df.Week>=9)&(df.Week<=27)].groupby(['ShopID','ShopName'])['SalesMny'].sum().reset_index()

    ShopID                              ShopName     SalesMny
0       26                           Hilton Head  223944.1971
1      628           804 2nd Loop Rd-Florence SC  110365.5300
2      681                           The Arbors   249347.8649
3      711                            Ballantyne  173785.1445
4      714                 Plaza Shopping Center  134040.4071
5      843                         Greenville SC  102647.9585
6      940                    Ritas in the Vista  113378.0630
7     1053                             Asheville   51612.2971
8     1410                             Fort Mill   67254.2330
9     1427  1806 Rozzelles Ferry Rd-Charlotte NC   99503.4022
10   10026      1 N. Forest Beach-Hilton Head SC  224745.1174

In [11]:
df[(df.State.isin(carolinas))&(df.Week>=9)&(df.Week<=31)].groupby(['ShopID','ShopName'])['SalesMny'].sum().reset_index()

    ShopID                              ShopName     SalesMny
0       26                           Hilton Head  303760.6876
1      628           804 2nd Loop Rd-Florence SC  133114.5300
2      681                           The Arbors   304994.0779
3      711                            Ballantyne  215889.6270
4      714                 Plaza Shopping Center  165845.2121
5      843                         Greenville SC  124997.8895
6      940                    Ritas in the Vista  137679.8230
7     1053                             Asheville   60942.3356
8     1410                             Fort Mill   81874.6210
9     1427  1806 Rozzelles Ferry Rd-Charlotte NC  122987.2348
10   10026      1 N. Forest Beach-Hilton Head SC  301430.9974

In [12]:
os.chdir(r'L:\J.Harned\Marketing\Carolina')
writer=pd.ExcelWriter('Carolina Sales.xlsx')
df[(df.State.isin(carolinas))&(df.Week>=9)&(df.Week<=27)].groupby(['ShopID','ShopName'])['SalesMny'].sum().reset_index().to_excel(writer,sheet_name='Week 9-27',index=False)
df[(df.State.isin(carolinas))&(df.Week>=9)&(df.Week<=31)].groupby(['ShopID','ShopName'])['SalesMny'].sum().reset_index().to_excel(writer,sheet_name='Week 9-31',index=False)
writer.save()
writer.close()

C:\Users\jharned\Anaconda3\lib\site-packages\xlsxwriter\workbook.py:339: UserWarning: Calling close() on already closed file.
  warn("Calling close() on already closed file.")