In [1]:
#Imports the necessary libraries
import pandas as pd
import os
import numpy as np
import pyodbc as odbc
from datetime import date,timedelta,datetime
import xlsxwriter
os.chdir(r'L:\J.Harned\Calendar')
calendar=pd.read_excel('2024 Sales Calendar.xlsx')
os.chdir(r'G:\FinanceReports\2024\Wk42')

In [2]:
this_year=calendar[calendar.StartDate.dt.year==date.today().year]
this_year

    StartDate    EndDate  Week Month_Name Quarter  Month
0  2024-01-01 2024-01-07     1    January      Q1      1
1  2024-01-08 2024-01-14     2    January      Q1      1
2  2024-01-15 2024-01-21     3    January      Q1      1
3  2024-01-22 2024-01-28     4    January      Q1      1
4  2024-01-29 2024-02-04     5   February      Q1      2
5  2024-02-05 2024-02-11     6   February      Q1      2
6  2024-02-12 2024-02-18     7   February      Q1      2
7  2024-02-19 2024-02-25     8   February      Q1      2
8  2024-02-26 2024-03-03     9      March      Q1      3
9  2024-03-04 2024-03-10    10      March      Q1      3
10 2024-03-11 2024-03-17    11      March      Q1      3
11 2024-03-18 2024-03-24    12      March      Q1      3
12 2024-03-25 2024-03-31    13      March      Q1      3
13 2024-04-01 2024-04-07    14      April      Q2      4
14 2024-04-08 2024-04-14    15      April      Q2      4
15 2024-04-15 2024-04-21    16      April      Q2      4
16 2024-04-22 2024-04-28    17      April      Q2      4
17 2024-04-29 2024-05-05    18        May      Q2      5
18 2024-05-06 2024-05-12    19        May      Q2      5
19 2024-05-13 2024-05-19    20        May      Q2      5
20 2024-05-20 2024-05-26    21        May      Q2      5
21 2024-05-27 2024-06-02    22       June      Q2      6
22 2024-06-03 2024-06-09    23       June      Q2      6
23 2024-06-10 2024-06-16    24       June      Q2      6
24 2024-06-17 2024-06-23    25       June      Q2      6
25 2024-06-24 2024-06-30    26       June      Q2      6
26 2024-07-01 2024-07-07    27       July      Q3      7
27 2024-07-08 2024-07-14    28       July      Q3      7
28 2024-07-15 2024-07-21    29       July      Q3      7
29 2024-07-22 2024-07-28    30       July      Q3      7
30 2024-07-29 2024-08-04    31     August      Q3      8
31 2024-08-05 2024-08-11    32     August      Q3      8
32 2024-08-12 2024-08-18    33     August      Q3      8
33 2024-08-19 2024-08-25    34     August      Q3      8
34 2024-08-26 2024-09-01    35  September      Q3      9
35 2024-09-02 2024-09-08    36  September      Q3      9
36 2024-09-09 2024-09-15    37  September      Q3      9
37 2024-09-16 2024-09-22    38  September      Q3      9
38 2024-09-23 2024-09-29    39  September      Q3      9
39 2024-09-30 2024-10-06    40    October      Q4     10
40 2024-10-07 2024-10-13    41    October      Q4     10
41 2024-10-14 2024-10-20    42    October      Q4     10
42 2024-10-21 2024-10-27    43    October      Q4     10
43 2024-10-28 2024-11-03    44   November      Q4     11
44 2024-11-04 2024-11-10    45   November      Q4     11
45 2024-11-11 2024-11-17    46   November      Q4     11
46 2024-11-18 2024-11-24    47   November      Q4     11
47 2024-11-25 2024-12-01    48   December      Q4     12
48 2024-12-02 2024-12-08    49   December      Q4     12
49 2024-12-09 2024-12-15    50   December      Q4     12
50 2024-12-16 2024-12-22    51   December      Q4     12
51 2024-12-23 2024-12-29    52   December      Q4     12

In [3]:
# Names the needed driver, server name, and database
driver_name='SQL Server'
server_name='10.0.1.218'
database='ritascoolnet_live'

In [4]:
#Creates the connection string
connection_string=f"""
DRIVER={{{driver_name}}};
SERVER={server_name};
DATABASE={database};
Trust_Connection=yes"""

In [5]:
#Creates the Connection to SQL Server
connection=odbc.connect(connection_string)
print(connection)

<pyodbc.Connection object at 0x000002764487E5E0>

In [6]:
# Queries the tables from SQL
# Reads in the Weekly Sales in 2023
# Data3 Gets Guest Count
data=pd.read_sql_query('''SELECT *
  FROM [ritas_bi].[dbo].[tmp_raw_plda]
  WHERE YEAR(StartDate)>=2023''',connection)
product_sales=pd.read_sql_query('''Select * from ritascoolnet_live.dbo.tblProductSalesTransactions Where Year(dteStartDate)>=2023 ''',connection)

C:\Users\jharned\AppData\Local\Temp\ipykernel_4560\2176703149.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data=pd.read_sql_query('''SELECT *
C:\Users\jharned\AppData\Local\Temp\ipykernel_4560\2176703149.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  product_sales=pd.read_sql_query('''Select * from ritascoolnet_live.dbo.tblProductSalesTransactions Where Year(dteStartDate)>=2023 ''',connection)

In [7]:
data.loc[data.StartDate=='2023-03-20','Week']=12
data.loc[data.StartDate=='2023-03-27','Week']=13
data.loc[data.ShopID==31360,'ShopID']=1568

In [8]:
product_sales=product_sales.rename(columns={'dteStartDate':'StartDate'})
weeks=data[['StartDate','Week']].drop_duplicates(keep='first')
ps=product_sales.merge(weeks[['StartDate','Week']],how='left',on='StartDate')
ps['Retail_GC']=ps.intTransactionCount-ps.intUECount\
-ps.intDDCount-ps.intGHCount
ps['Year']=ps.StartDate.dt.year
threepd=ps.rename(columns={'intRitasStoreID':'ShopID'})
threepd.ShopID=threepd.ShopID.astype('int')
gc=threepd.groupby(['ShopID','Year','Week','StartDate'])['Retail_GC'].sum().reset_index()
gc.Week=gc.Week.astype('int')
gc.loc[gc.ShopID==31360,'ShopID']=1568
gc['ParentID']=gc.ShopID.astype('int')
gc['ParentID']=gc.ShopID.astype('str')
gc['ParentID']=gc.ParentID.str[-4:]
gc['ParentID']=gc.ParentID.astype('int')
gc_total=gc
gc_total=gc_total[gc_total.ParentID!=491]

In [9]:
gc_total=gc_total.pivot_table(index=['ParentID','Week'],columns='Year',values='Retail_GC',aggfunc='sum',fill_value=0).reset_index()

In [10]:
gc_total

Year   ParentID  Week  2023  2024
0             1     8     1     0
1             1     9   523   386
2             1    10   586   613
3             1    11   722  1507
4             1    12  1893   944
...         ...   ...   ...   ...
21596      1574    37     0   186
21597      1574    38     0   253
21598      1574    39     0   232
21599      1574    40     0   326
21600      1574    41     0   518

[21601 rows x 4 columns]

In [11]:
data['Year']=data.StartDate.dt.year
this_week=data[data.Year==2024].Week.max()
sales=data[data.Week<=this_week]
gc_total=gc_total[gc_total.Week<=this_week]
sales['ParentID']=sales.ShopID.astype('int')
sales['ParentID']=sales.ShopID.astype('str')
sales['ParentID']=sales.ParentID.str[-4:]
sales['ParentID']=sales.ParentID.astype('int')

C:\Users\jharned\AppData\Local\Temp\ipykernel_18896\2989941079.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales['ParentID']=sales.ShopID.astype('int')
C:\Users\jharned\AppData\Local\Temp\ipykernel_18896\2989941079.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales['ParentID']=sales.ShopID.astype('str')
C:\Users\jharned\AppData\Local\Temp\ipykernel_18896\2989941079.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales['ParentID']=sales.ParentID.str[-4:]
C:\Users\jharned\AppData\Local\Temp\ipykernel_18896\2989941079.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales['ParentID']=sales.ParentID.astype('int')

In [12]:
sales[sales.Week==40].groupby('Year')['SalesMny'].sum()

Year
2023    2.368122e+06
2024    2.959576e+06
Name: SalesMny, dtype: float64

In [13]:
weekly_piv=sales.pivot_table(index=['ParentID'],columns='Year',values='SalesMny',aggfunc='sum',fill_value=0).reset_index()
comp_shops=weekly_piv[(weekly_piv[2023]>0)&(weekly_piv[2024]>0)].ParentID.unique()
len(comp_shops)

528

In [14]:
comp_shops

array([   1,    2,    3,    4,    6,    7,    8,    9,   10,   11,   12,
         14,   15,   16,   18,   19,   20,   21,   22,   26,   28,   29,
         30,   31,   32,   34,   36,   37,   39,   40,   41,   42,   43,
         44,   45,   47,   48,   53,   54,   55,   56,   57,   58,   59,
         60,   61,   64,   65,   66,   68,   69,   70,   71,   73,   78,
         81,   82,   83,   84,   85,   86,   87,   88,   89,   91,   92,
         94,   95,   96,   97,   98,  100,  101,  102,  104,  105,  106,
        108,  109,  111,  113,  114,  117,  118,  120,  122,  123,  124,
        125,  127,  128,  129,  133,  134,  135,  136,  138,  139,  142,
        144,  145,  148,  149,  150,  151,  152,  153,  154,  155,  156,
        158,  159,  160,  161,  163,  164,  166,  167,  169,  170,  171,
        172,  173,  175,  178,  180,  181,  182,  183,  184,  185,  186,
        187,  188,  190,  192,  194,  195,  197,  198,  200,  204,  205,
        206,  207,  209,  211,  212,  213,  214,  215,  217,  218,  221,
        223,  224,  225,  227,  229,  230,  231,  235,  237,  238,  239,
        241,  242,  243,  245,  246,  247,  248,  249,  250,  254,  256,
        257,  259,  260,  261,  263,  267,  270,  271,  274,  278,  279,
        280,  285,  286,  287,  288,  289,  290,  291,  292,  293,  295,
        298,  299,  301,  303,  304,  305,  306,  309,  311,  312,  313,
        314,  316,  322,  323,  330,  331,  332,  333,  334,  335,  337,
        338,  339,  340,  341,  342,  343,  344,  345,  347,  349,  350,
        353,  354,  355,  358,  359,  361,  362,  364,  365,  366,  368,
        369,  370,  371,  372,  374,  376,  379,  380,  381,  382,  383,
        384,  385,  386,  387,  388,  390,  391,  392,  393,  394,  397,
        399,  400,  402,  403,  405,  410,  412,  413,  414,  417,  421,
        423,  427,  428,  429,  435,  436,  438,  440,  441,  444,  445,
        452,  453,  463,  467,  468,  472,  473,  474,  476,  477,  484,
        485,  486,  487,  490,  493,  495,  496,  498,  501,  503,  510,
        514,  516,  518,  519,  521,  525,  532,  534,  536,  543,  545,
        550,  552,  559,  560,  564,  571,  575,  579,  585,  617,  626,
        628,  638,  649,  650,  658,  663,  676,  681,  689,  691,  704,
        711,  712,  714,  729,  731,  734,  746,  753,  764,  777,  779,
        790,  803,  824,  835,  836,  843,  847,  853,  860,  863,  866,
        872,  874,  882,  885,  886,  887,  888,  889,  892,  897,  899,
        903,  905,  912,  927,  928,  929,  930,  931,  932,  933,  934,
        937,  940,  944,  952, 1018, 1040, 1044, 1045, 1046, 1047, 1049,
       1053, 1055, 1060, 1065, 1071, 1072, 1088, 1119, 1121, 1126, 1130,
       1132, 1133, 1159, 1160, 1170, 1171, 1172, 1187, 1212, 1231, 1237,
       1253, 1254, 1265, 1266, 1268, 1269, 1271, 1272, 1273, 1302, 1318,
       1322, 1334, 1335, 1336, 1337, 1347, 1348, 1351, 1352, 1355, 1356,
       1357, 1362, 1364, 1365, 1368, 1369, 1371, 1376, 1377, 1378, 1379,
       1381, 1383, 1387, 1389, 1390, 1393, 1394, 1395, 1396, 1397, 1398,
       1400, 1401, 1403, 1404, 1405, 1406, 1407, 1409, 1413, 1416, 1417,
       1418, 1419, 1420, 1422, 1423, 1424, 1431, 1435, 1436, 1440, 1442,
       1445, 1446, 1449, 1450, 1451, 1453, 1454, 1455, 1456, 1457, 1458,
       1459, 1460, 1462, 1465, 1466, 1467, 1468, 1469, 1471, 1472, 1473,
       1474, 1476, 1477, 1478, 1479, 1480, 1482, 1483, 1484, 1489, 1492,
       1495, 1500, 1504, 1515, 1518, 1519, 1520, 1522, 1530, 1534, 1568])

In [15]:
weekly_piv[weekly_piv.ParentID==1431]

Year  ParentID        2023         2024
495       1431  87188.6526  195224.7505

In [16]:
weekly_piv_dates=sales.pivot_table(index=['ParentID','Week'],columns='Year',values='SalesMny',aggfunc='sum',fill_value=0).reset_index()

In [17]:
merge=weekly_piv_dates.merge(gc_total,on=['ParentID','Week'],how='left',suffixes=[' Total Sales',' Retail GC'])
comps=merge[merge.ParentID.isin(comp_shops)]

In [18]:
comps

Year,ParentID,Week,2023 Total Sales,2024 Total Sales,2023 Retail GC,2024 Retail GC
0,1,8,2.990,0.0000,1.0,0.0
1,1,9,6327.982,4955.0000,523.0,386.0
2,1,10,6800.941,7162.6956,586.0,613.0
3,1,11,8258.021,17857.2470,722.0,1507.0
4,1,12,17778.261,9819.8516,1893.0,944.0
...,...,...,...,...,...,...
19707,1568,36,13056.500,0.0000,849.0,0.0
19708,1568,37,0.000,5103.0000,0.0,250.0
19709,1568,38,0.000,18084.0000,0.0,975.0
19710,1568,39,23296.500,0.0000,1314.0,0.0
19711,1568,40,626.000,0.0000,57.0,0.0

In [19]:
true_comps=comps[(comps['2024 Total Sales']>0)&(comps['2023 Total Sales']>0)]
true_comps=true_comps.groupby('Week')[['2024 Total Sales','2023 Total Sales','2024 Retail GC','2023 Retail GC']].sum()
true_comps['Total Sales%']=true_comps['2024 Total Sales']/true_comps['2023 Total Sales']-1
true_comps['GC%']=true_comps['2024 Retail GC']/true_comps['2023 Retail GC']-1
true_comps=true_comps.iloc[:,[0,1,-2,2,3,-1]]

In [20]:
true_comps

Year,2024 Total Sales,2023 Total Sales,Total Sales%,2024 Retail GC,2023 Retail GC,GC%
Week,,,,,,
1,3.152199e+05,3.423084e+05,-0.079135,26847.0,31691.0,-0.152851
2,2.938563e+05,2.967097e+05,-0.009617,24977.0,27415.0,-0.088929
3,2.710709e+05,3.385110e+05,-0.199226,22851.0,30569.0,-0.252478
4,3.886834e+05,3.527776e+05,0.101780,32623.0,31968.0,0.020489
5,3.487459e+05,3.785737e+05,-0.078790,30673.0,33871.0,-0.094417
6,4.333564e+05,4.208302e+05,0.029765,36999.0,37588.0,-0.015670
7,5.294960e+05,6.311097e+05,-0.161008,43999.0,56231.0,-0.217531
8,9.885766e+05,1.142618e+06,-0.134814,83315.0,100223.0,-0.168704
9,2.505200e+06,2.092593e+06,0.197175,206569.0,185274.0,0.114938
10,2.715924e+06,2.331939e+06,0.164663,227464.0,207413.0,0.096672
11,5.615672e+06,2.735683e+06,1.052750,476701.0,239529.0,0.990160
12,3.633630e+06,5.013293e+06,-0.275201,405044.0,546560.0,-0.258921
13,3.728156e+06,4.363241e+06,-0.145554,318179.0,389439.0,-0.182981
14,3.503818e+06,4.991918e+06,-0.298102,289147.0,451277.0,-0.359269
15,5.714513e+06,7.053796e+06,-0.189867,488703.0,633550.0,-0.228628
16,5.321701e+06,5.569359e+06,-0.044468,459279.0,507781.0,-0.095518
17,5.663146e+06,3.731112e+06,0.517817,493616.0,336314.0,0.467724
18,5.936941e+06,4.782153e+06,0.241479,519797.0,424797.0,0.223636
19,5.140559e+06,6.524920e+06,-0.212165,434695.0,578465.0,-0.248537
20,5.043656e+06,5.821644e+06,-0.133637,423825.0,519402.0,-0.184014
21,7.660076e+06,6.415872e+06,0.193926,639397.0,561894.0,0.137932
22,6.964570e+06,7.426619e+06,-0.062215,573156.0,630709.0,-0.091251
23,7.321308e+06,6.440858e+06,0.136698,609594.0,558817.0,0.090865
24,7.305003e+06,6.404685e+06,0.140572,601012.0,544595.0,0.103594
25,8.427172e+06,5.735016e+06,0.469424,687472.0,494156.0,0.391204
26,7.034894e+06,6.323467e+06,0.112506,582038.0,541657.0,0.074551
27,7.819396e+06,7.138565e+06,0.095374,624274.0,596150.0,0.047176
28,7.031324e+06,6.983542e+06,0.006842,574875.0,605987.0,-0.051341
29,6.776350e+06,7.010880e+06,-0.033452,552982.0,603519.0,-0.083737
30,6.140516e+06,7.010600e+06,-0.124110,502003.0,592668.0,-0.152978
31,6.153099e+06,6.175907e+06,-0.003693,496562.0,534663.0,-0.071262
32,5.098598e+06,5.822889e+06,-0.124387,416649.0,503825.0,-0.173028
33,5.526271e+06,5.921872e+06,-0.066803,462608.0,519024.0,-0.108696
34,5.237568e+06,5.341659e+06,-0.019487,437492.0,470309.0,-0.069778
35,4.999350e+06,5.007694e+06,-0.001666,424617.0,440592.0,-0.036258
36,3.981867e+06,4.543307e+06,-0.123575,338498.0,407443.0,-0.169214
37,3.829320e+06,3.548774e+06,0.079054,333376.0,317290.0,0.050698
38,3.279500e+06,2.533487e+06,0.294461,283115.0,234017.0,0.209805
39,2.219267e+06,2.510748e+06,-0.116093,183311.0,219149.0,-0.163533
40,2.337111e+06,2.316268e+06,0.008999,196999.0,204569.0,-0.037005
41,1.851206e+06,1.527218e+06,0.212143,150829.0,138145.0,0.091817

In [21]:
weekly_comps=comps.groupby('Week')[['2024 Total Sales','2023 Total Sales','2024 Retail GC','2023 Retail GC']].sum()

In [22]:
weekly_comps['Total Sales%']=weekly_comps['2024 Total Sales']/weekly_comps['2023 Total Sales']-1
weekly_comps['GC%']=weekly_comps['2024 Retail GC']/weekly_comps['2023 Retail GC']-1
weekly_comps=weekly_comps.iloc[:,[0,1,-2,2,3,-1]]

In [23]:
monthly_comps=weekly_comps.reset_index().merge(this_year[['Week','Month_Name','Month']],how='left',on='Week')
monthly_comps=monthly_comps.groupby(['Month','Month_Name'])[['2024 Total Sales','2023 Total Sales','2024 Retail GC','2023 Retail GC']].sum()
monthly_comps=monthly_comps.reset_index().drop('Month',axis=1).set_index('Month_Name')
monthly_comps.loc['YTD Totals']=monthly_comps.sum(axis=0)
monthly_comps['Total Sales%']=monthly_comps['2024 Total Sales']/monthly_comps['2023 Total Sales']-1
monthly_comps['GC%']=monthly_comps['2024 Retail GC']/monthly_comps['2023 Retail GC']-1
monthly_comps=monthly_comps.iloc[:,[0,1,-2,2,3,-1]]
monthly_comps

,2024 Total Sales,2023 Total Sales,Total Sales%,2024 Retail GC,2023 Retail GC,GC%
Month_Name,,,,,,
January,1.691168e+06,1.389748e+06,0.216888,131552.0,125928.0,0.044660
February,2.894213e+06,2.799839e+06,0.033707,237623.0,247359.0,-0.039360
March,1.929574e+07,1.663769e+07,0.159761,1731765.0,1578777.0,0.096903
April,2.119587e+07,2.140802e+07,-0.009910,1812298.0,1934544.0,-0.063191
May,2.462365e+07,2.366191e+07,0.040645,2087925.0,2090536.0,-0.001249
June,3.780072e+07,3.254292e+07,0.161565,3114699.0,2785761.0,0.118078
July,2.803729e+07,2.839989e+07,-0.012768,2275549.0,2418408.0,-0.059072
August,2.231592e+07,2.348304e+07,-0.049701,1836139.0,2046357.0,-0.102728
September,1.841084e+07,1.835963e+07,0.002790,1570577.0,1636934.0,-0.040537
October,4.813557e+06,3.970043e+06,0.212470,401888.0,354710.0,0.133004
YTD Totals,1.810790e+08,1.726527e+08,0.048805,15200015.0,15219314.0,-0.001268

In [24]:
# lastrow=monthly_comps.shape[0]
# with pd.ExcelWriter('Comp Sales and Guest Count for Wk'+str(this_week)+' v2.xlsx',engine='xlsxwriter') as writer5:
#     comp_workbook=writer5.book
#     format_header2=comp_workbook.add_format()
#     format_header2.set_italic()
#     format_header2.set_bold()
#     format_num=comp_workbook.add_format({'num_format':'$#,##0',
#                                         'align':'center',
#                                         'valign':'vcenter'})
#     format_qty=comp_workbook.add_format({'num_format':'#,##0',
#                                         'align':'center',
#                                         'valign':'vcenter'})
#     perc_format=comp_workbook.add_format({'num_format':'#0.0%',
#                                          'align':'center',
#                                          'valign':'vcenter'})
#     total_dollar_format=comp_workbook.add_format({'bold':True,
#                                           'bg_color':'#d5d8dc',
#                                           'num_format':'$#,##0',
#                                         'align':'center',
#                                         'valign':'vcenter'})
    
#     total_gc_format=comp_workbook.add_format({'bold':True,
#                                           'bg_color':'#d5d8dc',
#                                           'num_format':'#,##0',
#                                         'align':'center',
#                                         'valign':'vcenter'})
    
#     total_perc_format=comp_workbook.add_format({'bold':True,
#                                           'bg_color':'#d5d8dc',
#                                           'num_format':'#0.0%',
#                                         'align':'center',
#                                         'valign':'vcenter'})
#     a1=comp_workbook.add_format({'align':'center','valign':'vcenter','bold':True})
#     border_format=comp_workbook.add_format({'top':2,'bottom':2,'left':2,'right':2})
#     title='Ritas Franchise Company,LLC'
#     comp_text='Weekly Comp Sales and Guest Count (3rd Party GC Excluded)'
#     comp_text2='2024 v 2023 Sales and Guest Counts thru Week '+str(this_week)
#     comp_text3='As of '+str(data.EndDate.max().strftime('%m-%d-%y'))
    
#     monthly_comps.to_excel(writer5,startrow=5,startcol=0, sheet_name='Comps')
#     weekly_comps.T.to_excel(writer5,startrow=5,startcol=0, sheet_name='''Mark's Format''')
    
#     ws=writer5.sheets['Comps']                     
#     ws.conditional_format(xlsxwriter.utility.xl_range(5,0,len(monthly_comps)+5,len(monthly_comps.columns)),
#                                   {'type': 'no_errors', 'format': border_format})
#     for col in range(0,2):
#         ws.write(monthly_comps.shape[0]+5,col+1,monthly_comps.iloc[-1,col],total_dollar_format)
  
#     for col in range(3,5):
#         ws.write(monthly_comps.shape[0]+5,col+1,monthly_comps.iloc[-1,col],total_gc_format)
#     for col in range(2,3):
#         ws.write(monthly_comps.shape[0]+5,col+1,monthly_comps.iloc[-1,col],total_perc_format)
#     for col in range(5,6):
#         ws.write(monthly_comps.shape[0]+5,col+1,monthly_comps.iloc[-1,col],total_perc_format)
        
#     ws.write(lastrow+5,0,'YTD Totals',total_dollar_format)    
#     ws.write(0,1,title,format_header2)
#     ws.write(1,1,comp_text,format_header2)
#     ws.write(2,1,comp_text2,format_header2)
#     ws.write(3,1,comp_text3,format_header2)
#     ws.set_column('A:A',13)
#     ws.set_column('B:C',15,format_num)
#     ws.set_column('D:D',15,perc_format)
#     ws.set_column('E:F',15,format_qty)
#     ws.set_column('G:G',15,perc_format)
#     ws.insert_image('A1','Logo.png')
#     ws.hide_gridlines(2)
   
#     ws1=writer5.sheets['''Mark's Format''']
#     ws1.conditional_format(xlsxwriter.utility.xl_range(5,0,len(weekly_comps.T)+5,len(weekly_comps.T.columns)),
#                                   {'type': 'no_errors', 'format': border_format})
#     ws1.write(0,1,title,format_header2)
#     ws1.write(1,1,comp_text,format_header2)
#     ws1.write(2,1,comp_text2,format_header2)
#     ws1.write(3,1,comp_text3,format_header2)
#     ws1.set_column('A:ZZ',13)
#     ws1.write('A6','Week',a1)
#     ws1.set_column('A:AZ',14)
#     ws1.set_row(6,None,format_num)
#     ws1.set_row(7,None,format_num)
#     ws1.set_row(8,None,perc_format)
#     ws1.set_row(9,None,format_qty)
#     ws1.set_row(10,None,format_qty)
#     ws1.set_row(11,None,perc_format)
#     ws1.insert_image('A1','Logo.png')
#     ws1.hide_gridlines(2)

In [25]:
no_3pd=sales[sales.ProductTypeName!='3rd Party Delivery'].pivot_table(index=['ParentID'],columns='Year',values='SalesMny',aggfunc='sum',fill_value=0).reset_index()
comp_shops=no_3pd[(no_3pd[2023]>0)&(no_3pd[2024]>0)].ParentID.unique()
len(comp_shops)

528

In [26]:
no_3pd

Year  ParentID         2023         2024
0            1  409081.0250  398612.2120
1            2  560835.5125  544062.2625
2            3  259111.8935  229952.2220
3            4  243871.7865  250055.0768
4            6  387412.2160  416132.7139
..         ...          ...          ...
569       1563       0.0000  279198.0100
570       1568  421637.5000  327714.5000
571       1571       0.0000   13447.6750
572       1573       0.0000  705734.6700
573       1574       0.0000  167341.0000

[574 rows x 3 columns]

In [27]:
no_3pd_dates=sales[sales.ProductTypeName!='3rd Party Delivery'].pivot_table(index=['ParentID','Week'],columns='Year',values='SalesMny',aggfunc='sum',fill_value=0).reset_index()
merge=no_3pd_dates.merge(gc_total,on=['ParentID','Week'],how='left',suffixes=[' Retail Sales',' Retail GC'])
merge=merge[(merge['2023 Retail Sales']>0)&(merge['2024 Retail Sales']>0)]
no_3pd_comps=merge.groupby('Week')[['2024 Retail Sales','2023 Retail Sales','2024 Retail GC','2023 Retail GC']].sum()
no_3pd_comps['Retail Sales%']=no_3pd_comps['2024 Retail Sales']/no_3pd_comps['2023 Retail Sales']-1
no_3pd_comps['GC%']=no_3pd_comps['2024 Retail GC']/no_3pd_comps['2023 Retail GC']-1
no_3pd_comps=no_3pd_comps.iloc[:,[0,1,-2,2,3,-1]]

In [28]:
merge.sum(axis=0)

Year
ParentID             1.006872e+07
Week                 4.105190e+05
2023 Retail Sales    1.606494e+08
2024 Retail Sales    1.628504e+08
2023 Retail GC       1.508359e+07
2024 Retail GC       1.471473e+07
dtype: float64

In [29]:

weekly_comps=true_comps.merge(no_3pd_comps[['2024 Retail Sales','2023 Retail Sales','Retail Sales%']],right_index=True,left_index=True)
weekly_comps=weekly_comps.iloc[:,[0,1,2,-3,-2,-1,3,4,5]]

In [30]:
weekly_comps

Year,2024 Total Sales,2023 Total Sales,Total Sales%,2024 Retail Sales,2023 Retail Sales,Retail Sales%,2024 Retail GC,2023 Retail GC,GC%
Week,,,,,,,,,
1,3.152199e+05,3.423084e+05,-0.079135,2.808770e+05,3.160212e+05,-0.111208,26847.0,31691.0,-0.152851
2,2.938563e+05,2.967097e+05,-0.009617,2.561467e+05,2.689573e+05,-0.047631,24977.0,27415.0,-0.088929
3,2.710709e+05,3.385110e+05,-0.199226,2.352628e+05,3.074396e+05,-0.234767,22851.0,30569.0,-0.252478
4,3.886834e+05,3.527776e+05,0.101780,3.512359e+05,3.219527e+05,0.090955,32623.0,31968.0,0.020489
5,3.487459e+05,3.785737e+05,-0.078790,3.103142e+05,3.479274e+05,-0.108106,30673.0,33871.0,-0.094417
6,4.333564e+05,4.208302e+05,0.029765,3.887247e+05,3.930031e+05,-0.010886,36999.0,37588.0,-0.015670
7,5.294960e+05,6.311097e+05,-0.161008,4.757873e+05,5.861477e+05,-0.188281,43999.0,56231.0,-0.217531
8,9.885766e+05,1.142618e+06,-0.134814,8.906311e+05,1.054130e+06,-0.155103,83315.0,100223.0,-0.168704
9,2.505200e+06,2.092593e+06,0.197175,2.318089e+06,1.940515e+06,0.194574,206569.0,185274.0,0.114938
10,2.715924e+06,2.331939e+06,0.164663,2.471696e+06,2.143685e+06,0.153013,227464.0,207413.0,0.096672
11,5.615672e+06,2.735683e+06,1.052750,5.275979e+06,2.523899e+06,1.090408,476701.0,239529.0,0.990160
12,3.633630e+06,5.013293e+06,-0.275201,3.305508e+06,4.739366e+06,-0.302542,405044.0,546560.0,-0.258921
13,3.728156e+06,4.363241e+06,-0.145554,3.425520e+06,4.077257e+06,-0.159847,318179.0,389439.0,-0.182981
14,3.503818e+06,4.991918e+06,-0.298102,3.194116e+06,4.708950e+06,-0.321692,289147.0,451277.0,-0.359269
15,5.714513e+06,7.053796e+06,-0.189867,5.336335e+06,6.702722e+06,-0.203855,488703.0,633550.0,-0.228628
16,5.321701e+06,5.569359e+06,-0.044468,4.946796e+06,5.243750e+06,-0.056630,459279.0,507781.0,-0.095518
17,5.663146e+06,3.731112e+06,0.517817,5.359104e+06,3.420754e+06,0.566644,493616.0,336314.0,0.467724
18,5.936941e+06,4.782153e+06,0.241479,5.535477e+06,4.476175e+06,0.236653,519797.0,424797.0,0.223636
19,5.140559e+06,6.524920e+06,-0.212165,4.784544e+06,6.176546e+06,-0.225369,434695.0,578465.0,-0.248537
20,5.043656e+06,5.821644e+06,-0.133637,4.662148e+06,5.482086e+06,-0.149567,423825.0,519402.0,-0.184014
21,7.660076e+06,6.415872e+06,0.193926,7.229463e+06,6.100129e+06,0.185133,639397.0,561894.0,0.137932
22,6.964570e+06,7.426619e+06,-0.062215,6.512726e+06,7.013058e+06,-0.071343,573156.0,630709.0,-0.091251
23,7.321308e+06,6.440858e+06,0.136698,6.875396e+06,6.071304e+06,0.132441,609594.0,558817.0,0.090865
24,7.305003e+06,6.404685e+06,0.140572,6.875366e+06,6.041467e+06,0.138029,601012.0,544595.0,0.103594
25,8.427172e+06,5.735016e+06,0.469424,7.909860e+06,5.375755e+06,0.471395,687472.0,494156.0,0.391204
26,7.034894e+06,6.323467e+06,0.112506,6.575817e+06,5.959519e+06,0.103414,582038.0,541657.0,0.074551
27,7.819396e+06,7.138565e+06,0.095374,7.329175e+06,6.736537e+06,0.087974,624274.0,596150.0,0.047176
28,7.031324e+06,6.983542e+06,0.006842,6.576710e+06,6.606603e+06,-0.004525,574875.0,605987.0,-0.051341
29,6.776350e+06,7.010880e+06,-0.033452,6.360437e+06,6.633575e+06,-0.041175,552982.0,603519.0,-0.083737
30,6.140516e+06,7.010600e+06,-0.124110,5.733746e+06,6.615696e+06,-0.133312,502003.0,592668.0,-0.152978
31,6.153099e+06,6.175907e+06,-0.003693,5.731007e+06,5.822116e+06,-0.015649,496562.0,534663.0,-0.071262
32,5.098598e+06,5.822889e+06,-0.124387,4.715262e+06,5.476651e+06,-0.139025,416649.0,503825.0,-0.173028
33,5.526271e+06,5.921872e+06,-0.066803,5.141448e+06,5.579988e+06,-0.078592,462608.0,519024.0,-0.108696
34,5.237568e+06,5.341659e+06,-0.019487,4.888740e+06,5.019696e+06,-0.026089,437492.0,470309.0,-0.069778
35,4.999350e+06,5.007694e+06,-0.001666,4.638816e+06,4.703406e+06,-0.013733,424617.0,440592.0,-0.036258
36,3.981867e+06,4.543307e+06,-0.123575,3.663827e+06,4.233124e+06,-0.134486,338498.0,407443.0,-0.169214
37,3.829320e+06,3.548774e+06,0.079054,3.526515e+06,3.291365e+06,0.071444,333376.0,317290.0,0.050698
38,3.279500e+06,2.533487e+06,0.294461,3.000794e+06,2.314143e+06,0.296719,283115.0,234017.0,0.209805
39,2.219267e+06,2.510748e+06,-0.116093,1.968348e+06,2.304221e+06,-0.145764,183311.0,219149.0,-0.163533
40,2.337111e+06,2.316268e+06,0.008999,2.109025e+06,2.137062e+06,-0.013119,196999.0,204569.0,-0.037005
41,1.851206e+06,1.527218e+06,0.212143,1.683641e+06,1.382656e+06,0.217686,150829.0,138145.0,0.091817

In [31]:
no_3pd_dates=sales[sales.ProductTypeName!='3rd Party Delivery'].pivot_table(index=['ParentID','Week'],columns='Year',values='SalesMny',aggfunc='sum',fill_value=0).reset_index()
merge=no_3pd_dates.merge(gc_total,on=['ParentID','Week'],how='left',suffixes=[' Retail Sales',' Retail GC'])
comps=merge[merge.ParentID.isin(comp_shops)]
no_3pd_comps=comps.groupby('Week')[['2024 Retail Sales','2023 Retail Sales','2024 Retail GC','2023 Retail GC']].sum()
no_3pd_comps['Retail Sales%']=no_3pd_comps['2024 Retail Sales']/no_3pd_comps['2023 Retail Sales']-1
no_3pd_comps['GC%']=no_3pd_comps['2024 Retail GC']/no_3pd_comps['2023 Retail GC']-1
no_3pd_comps=no_3pd_comps.iloc[:,[0,1,-2,2,3,-1]]
monthly_comps_no_3pds=no_3pd_comps.reset_index().merge(this_year[['Week','Month_Name','Month']],how='left',on='Week')
monthly_comps_no_3pds=monthly_comps_no_3pds.groupby(['Month','Month_Name'])[['2024 Retail Sales','2023 Retail Sales','2024 Retail GC','2023 Retail GC']].sum()
monthly_comps_no_3pds=monthly_comps_no_3pds.reset_index().drop('Month',axis=1).set_index('Month_Name')
monthly_comps_no_3pds.loc['YTD Totals']=monthly_comps_no_3pds.sum(axis=0)
monthly_comps_no_3pds['Retail Sales%']=monthly_comps_no_3pds['2024 Retail Sales']/monthly_comps_no_3pds['2023 Retail Sales']-1
monthly_comps_no_3pds['GC%']=monthly_comps_no_3pds['2024 Retail GC']/monthly_comps_no_3pds['2023 Retail GC']-1
monthly_comps_no_3pds=monthly_comps_no_3pds.iloc[:,[0,1,-2,2,3,-1]]
monthly_comps_no_3pds

,2024 Retail Sales,2023 Retail Sales,Retail Sales%,2024 Retail GC,2023 Retail GC,GC%
Month_Name,,,,,,
January,1.497355e+06,1.268776e+06,0.180157,131552.0,125928.0,0.044660
February,2.604949e+06,2.588238e+06,0.006457,237623.0,247359.0,-0.039360
March,1.780343e+07,1.552332e+07,0.146883,1731765.0,1578777.0,0.096903
April,1.976498e+07,2.016180e+07,-0.019682,1812298.0,1934544.0,-0.063191
May,2.300682e+07,2.235821e+07,0.029010,2087925.0,2090536.0,-0.001249
June,3.545974e+07,3.067338e+07,0.156043,3114699.0,2785761.0,0.118078
July,2.625562e+07,2.684792e+07,-0.022062,2275549.0,2418408.0,-0.059072
August,2.076569e+07,2.211818e+07,-0.061148,1836139.0,2046357.0,-0.102728
September,1.689601e+07,1.706395e+07,-0.009842,1570577.0,1636934.0,-0.040537
October,4.380743e+06,3.641123e+06,0.203130,401888.0,354710.0,0.133004
YTD Totals,1.684353e+08,1.622449e+08,0.038155,15200015.0,15219314.0,-0.001268

In [32]:
monthly_comps=monthly_comps.merge(monthly_comps_no_3pds[['2024 Retail Sales','2023 Retail Sales','Retail Sales%']],right_index=True,left_index=True)
monthly_comps=monthly_comps.iloc[:,[0,1,2,-3,-2,-1,3,4,5]]

In [33]:
monthly_comps

,2024 Total Sales,2023 Total Sales,Total Sales%,2024 Retail Sales,2023 Retail Sales,Retail Sales%,2024 Retail GC,2023 Retail GC,GC%
Month_Name,,,,,,,,,
January,1.691168e+06,1.389748e+06,0.216888,1.497355e+06,1.268776e+06,0.180157,131552.0,125928.0,0.044660
February,2.894213e+06,2.799839e+06,0.033707,2.604949e+06,2.588238e+06,0.006457,237623.0,247359.0,-0.039360
March,1.929574e+07,1.663769e+07,0.159761,1.780343e+07,1.552332e+07,0.146883,1731765.0,1578777.0,0.096903
April,2.119587e+07,2.140802e+07,-0.009910,1.976498e+07,2.016180e+07,-0.019682,1812298.0,1934544.0,-0.063191
May,2.462365e+07,2.366191e+07,0.040645,2.300682e+07,2.235821e+07,0.029010,2087925.0,2090536.0,-0.001249
June,3.780072e+07,3.254292e+07,0.161565,3.545974e+07,3.067338e+07,0.156043,3114699.0,2785761.0,0.118078
July,2.803729e+07,2.839989e+07,-0.012768,2.625562e+07,2.684792e+07,-0.022062,2275549.0,2418408.0,-0.059072
August,2.231592e+07,2.348304e+07,-0.049701,2.076569e+07,2.211818e+07,-0.061148,1836139.0,2046357.0,-0.102728
September,1.841084e+07,1.835963e+07,0.002790,1.689601e+07,1.706395e+07,-0.009842,1570577.0,1636934.0,-0.040537
October,4.813557e+06,3.970043e+06,0.212470,4.380743e+06,3.641123e+06,0.203130,401888.0,354710.0,0.133004
YTD Totals,1.810790e+08,1.726527e+08,0.048805,1.684353e+08,1.622449e+08,0.038155,15200015.0,15219314.0,-0.001268

In [34]:
lastrow=monthly_comps.shape[0]
with pd.ExcelWriter('Comp Sales and Guest Count for Wk'+str(this_week)+' v3.xlsx',engine='xlsxwriter') as writer5:
    comp_workbook=writer5.book
    format_header2=comp_workbook.add_format()
    format_header2.set_italic()
    format_header2.set_bold()
    
    format_num=comp_workbook.add_format({'num_format':'$#,##0',
                                        'align':'center',
                                        'valign':'vcenter'})
    format_qty=comp_workbook.add_format({'num_format':'#,##0',
                                        'align':'center',
                                        'valign':'vcenter'})
    perc_format=comp_workbook.add_format({'num_format':'#0.0%',
                                         'align':'center',
                                         'valign':'vcenter'})
    
    total_dollar_format=comp_workbook.add_format({'bold':True,
                                          'bg_color':'#d5d8dc',
                                          'num_format':'$#,##0',
                                        'align':'center',
                                        'valign':'vcenter'})
    
    total_gc_format=comp_workbook.add_format({'bold':True,
                                          'bg_color':'#d5d8dc',
                                          'num_format':'#,##0',
                                        'align':'center',
                                        'valign':'vcenter'})
    
    total_perc_format=comp_workbook.add_format({'bold':True,
                                          'bg_color':'#d5d8dc',
                                          'num_format':'#0.0%',
                                        'align':'center',
                                        'valign':'vcenter'})
    a1=comp_workbook.add_format({'align':'center','valign':'vcenter','bold':True})
    border_format=comp_workbook.add_format({'top':2,'bottom':2,'left':2,'right':2})
    
    title='Ritas Franchise Company,LLC'
    comp_text='Weekly Comp Sales and Guest Count (3rd Party GC Excluded)'
    comp_text1='Comp Total Sales Include: Retail/Mobile/Satellite/3rd Party'
    comp_text2='Comp Retail Sales Include: Retail/Mobile/Satellite'
    comp_text3='2024 v 2023 Sales and Guest Counts thru Week '+str(this_week)
    comp_text4='As of '+str(data.EndDate.max().strftime('%m-%d-%y'))
    
    monthly_comps.to_excel(writer5,startrow=7,startcol=0, sheet_name='Comps')
    weekly_comps.T.to_excel(writer5,startrow=7,startcol=0, sheet_name='''Mark's Format''')
    
    ws=writer5.sheets['Comps']                     
    ws.conditional_format(xlsxwriter.utility.xl_range(7,0,len(monthly_comps)+7,len(monthly_comps.columns)),
                                  {'type': 'no_errors', 'format': border_format})
    for col in range(0,2):
        ws.write(monthly_comps.shape[0]+7,col+1,monthly_comps.iloc[-1,col],total_dollar_format)
  
    for col in range(3,5):
        ws.write(monthly_comps.shape[0]+7,col+1,monthly_comps.iloc[-1,col],total_dollar_format)
    for col in range(2,3):
        ws.write(monthly_comps.shape[0]+7,col+1,monthly_comps.iloc[-1,col],total_perc_format)
    for col in range(5,6):
        ws.write(monthly_comps.shape[0]+7,col+1,monthly_comps.iloc[-1,col],total_perc_format)
    for col in range(6,8):
        ws.write(monthly_comps.shape[0]+7,col+1,monthly_comps.iloc[-1,col],total_gc_format)
    for col in range(8,9):
        ws.write(monthly_comps.shape[0]+7,col+1,monthly_comps.iloc[-1,col],total_perc_format)
        
    
        
    ws.write(lastrow+7,0,'YTD Totals',total_dollar_format)    
    ws.write(0,1,title,format_header2)
    ws.write(1,1,comp_text,format_header2)
    ws.write(2,1,comp_text1,format_header2)
    ws.write(3,1,comp_text2,format_header2)
    ws.write(4,1,comp_text3,format_header2)
    ws.write(5,1,comp_text4,format_header2)
    ws.set_column('A:A',13)
    ws.set_column('B:C',15,format_num)
    ws.set_column('D:D',15,perc_format)
    ws.set_column('E:F',15,format_num)
    ws.set_column('G:G',15,perc_format)
    ws.set_column('H:I',15,format_qty)
    ws.set_column('J:J',15,perc_format)
    ws.insert_image('A1','Logo.png')
    ws.hide_gridlines(2)
   
    ws1=writer5.sheets['''Mark's Format''']
    ws1.conditional_format(xlsxwriter.utility.xl_range(7,0,len(weekly_comps.T)+7,len(weekly_comps.T.columns)),
                                  {'type': 'no_errors', 'format': border_format})
    
    ws1.write(0,1,title,format_header2)
    ws1.write(1,1,comp_text,format_header2)
    ws1.write(2,1,comp_text1,format_header2)
    ws1.write(3,1,comp_text2,format_header2)
    ws1.write(4,1,comp_text3,format_header2)
    ws1.write(5,1,comp_text4,format_header2)
    ws1.set_column('A:ZZ',15)
    ws1.write('A8','Week',a1)
    ws1.set_column('A:AZ',15)
    ws1.set_row(8,None,format_num)
    ws1.set_row(9,None,format_num)
    ws1.set_row(10,None,perc_format)
    ws1.set_row(11,None,format_num)
    ws1.set_row(12,None,format_num)
    ws1.set_row(13,None,perc_format)
    ws1.set_row(14,None,format_qty)
    ws1.set_row(15,None,format_qty)
    ws1.set_row(16,None,perc_format)
    ws1.insert_image('A1','Logo.png')
    ws1.hide_gridlines(2)