In [18]:
#Imports the necessary libraries
import pandas as pd
import os
import numpy as np
import pyodbc as odbc
from datetime import date,timedelta,datetime
import xlsxwriter
os.chdir(r'G:\FinanceReports\2024\Wk35')

In [19]:
# Names the needed driver, server name, and database
driver_name='SQL Server'
server_name='10.0.1.218'
database='ritascoolnet_live'

In [20]:
#Creates the connection string
connection_string=f"""
DRIVER={{{driver_name}}};
SERVER={server_name};
DATABASE={database};
Trust_Connection=yes"""

In [21]:
#Creates the Connection to SQL Server
connection=odbc.connect(connection_string)
print(connection)

<pyodbc.Connection object at 0x000001FC58FD3ED0>

In [22]:
# Queries the tables from SQL
# Reads in the Weekly Sales in 2023
# Data3 Gets Guest Count
data=pd.read_sql_query('''SELECT *
  FROM [ritas_bi].[dbo].[tmp_raw_plda]
  WHERE YEAR(StartDate)>=2023''',connection)
product_sales=pd.read_sql_query('''Select * from ritascoolnet_live.dbo.tblProductSalesTransactions Where Year(dteStartDate)>=2023 ''',connection)

C:\Users\jharned\AppData\Local\Temp\ipykernel_37084\2176703149.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data=pd.read_sql_query('''SELECT *
C:\Users\jharned\AppData\Local\Temp\ipykernel_37084\2176703149.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  product_sales=pd.read_sql_query('''Select * from ritascoolnet_live.dbo.tblProductSalesTransactions Where Year(dteStartDate)>=2023 ''',connection)

In [23]:
data.loc[data.StartDate=='2023-03-20','Week']=12
data.loc[data.StartDate=='2023-03-27','Week']=13
data.loc[data.ShopID==31360,'ShopID']=1568

In [24]:
product_sales=product_sales.rename(columns={'dteStartDate':'StartDate'})
weeks=data[['StartDate','Week']].drop_duplicates(keep='first')
ps=product_sales.merge(weeks[['StartDate','Week']],how='left',on='StartDate')
ps['Retail_GC']=ps.intTransactionCount-ps.intUECount\
-ps.intDDCount-ps.intGHCount
ps['Year']=ps.StartDate.dt.year
threepd=ps.rename(columns={'intRitasStoreID':'ShopID'})
threepd.ShopID=threepd.ShopID.astype('int')
gc=threepd.groupby(['ShopID','Year','Week','StartDate'])['Retail_GC'].sum().reset_index()
gc.Week=gc.Week.astype('int')
gc.loc[gc.ShopID==31360,'ShopID']=1568
gc['ParentID']=gc.ShopID.astype('int')
gc['ParentID']=gc.ShopID.astype('str')
gc['ParentID']=gc.ParentID.str[-4:]
gc['ParentID']=gc.ParentID.astype('int')
gc_total=gc
gc_total=gc_total[gc_total.ParentID!=491]

In [25]:
gc_total=gc_total.pivot_table(index=['ParentID','Week'],columns='Year',values='Retail_GC',aggfunc='sum',fill_value=0).reset_index()

In [26]:
gc_total[gc_total.Week<=32][2024].sum()

12802573

In [27]:
data['Year']=data.StartDate.dt.year
this_week=data[data.Year==2024].Week.max()
sales=data[data.Week<=this_week]
gc_total=gc_total[gc_total.Week<=this_week]
sales['ParentID']=sales.ShopID.astype('int')
sales['ParentID']=sales.ShopID.astype('str')
sales['ParentID']=sales.ParentID.str[-4:]
sales['ParentID']=sales.ParentID.astype('int')

C:\Users\jharned\AppData\Local\Temp\ipykernel_37084\2989941079.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales['ParentID']=sales.ShopID.astype('int')
C:\Users\jharned\AppData\Local\Temp\ipykernel_37084\2989941079.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales['ParentID']=sales.ShopID.astype('str')
C:\Users\jharned\AppData\Local\Temp\ipykernel_37084\2989941079.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales['ParentID']=sales.ParentID.str[-4:]
C:\Users\jharned\AppData\Local\Temp\ipykernel_37084\2989941079.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales['ParentID']=sales.ParentID.astype('int')

In [28]:
weekly_piv=sales.pivot_table(index=['ParentID'],columns='Year',values='SalesMny',aggfunc='sum',fill_value=0).reset_index()
comp_shops=weekly_piv[(weekly_piv[2023]>0)&(weekly_piv[2024]>0)].ParentID.unique()
len(comp_shops)

526

In [29]:
weekly_piv

Year  ParentID         2023         2024
0            1  378708.5470  363171.1685
1            2  503639.6735  489864.6750
2            3  281547.3475  248809.9450
3            4  245024.7185  242387.5158
4            6  361687.5715  388237.6174
..         ...          ...          ...
567       1561       0.0000   27953.4127
568       1563       0.0000  205774.0200
569       1568  384658.5000  201135.5000
570       1573       0.0000  576628.1500
571       1574       0.0000  144573.6200

[572 rows x 3 columns]

In [30]:
weekly_piv_dates=sales.pivot_table(index=['ParentID','Week'],columns='Year',values='SalesMny',aggfunc='sum',fill_value=0).reset_index()

In [31]:
merge=weekly_piv_dates.merge(gc_total,on=['ParentID','Week'],how='left',suffixes=[' Sales',' Retail GC'])
comps=merge[merge.ParentID.isin(comp_shops)]

In [32]:
merge['2024 Retail GC'].sum()

14191678.0

In [33]:
weekly_comps=comps.groupby('Week')[['2024 Sales','2023 Sales','2024 Retail GC','2023 Retail GC']].sum()

In [34]:
writer5=pd.ExcelWriter('Comp Sales and Guest Count for Wk'+str(this_week)+' v2.xlsx')
comp_workbook=writer5.book
format_header2=comp_workbook.add_format()
format_header2.set_italic()
format_header2.set_bold()
format_num=comp_workbook.add_format({'num_format':'$#,##0',
                                    'align':'center',
                                    'valign':'vcenter'})
format_qty=comp_workbook.add_format({'num_format':'#,##0',
                                    'align':'center',
                                    'valign':'vcenter'})
border_format=comp_workbook.add_format({'top':2,'bottom':2,'left':2,'right':2})
title='Ritas Franchise Company,LLC'
comp_text='Weekly Comp Sales and Guest Count-No 3rd Party GC'
comp_text2='2024 v 2023 Sales and Guest Counts thru Week '+str(this_week)
comp_text3='As of '+str(data.EndDate.max().strftime('%m-%d-%y'))
weekly_comps.to_excel(writer5,startrow=5,startcol=0, sheet_name='Comps')
ws=writer5.sheets['Comps']
ws.conditional_format(xlsxwriter.utility.xl_range(5,0,len(weekly_comps)+5,len(weekly_comps.columns)),
                              {'type': 'no_errors', 'format': border_format})
ws.write(0,1,title,format_header2)
ws.write(1,1,comp_text,format_header2)
ws.write(2,1,comp_text2,format_header2)
ws.write(3,1,comp_text3,format_header2)
ws.set_column('B:C',15,format_num)
ws.set_column('D:E',15,format_qty)
ws.insert_image('A1','Logo.png')
ws.hide_gridlines(2)
writer5.close()