In [1]:
#Imports the necessary libraries
import pandas as pd
import os
import numpy as np
import pyodbc as odbc
from datetime import date,timedelta,datetime
import xlsxwriter
os.chdir(r'L:\J.Harned\Calendar')
calendar=pd.read_excel('2024 Sales Calendar.xlsx')
os.chdir(r'G:\FinanceReports\2024\Wk50')

In [2]:
this_year=calendar[calendar.StartDate.dt.year==date.today().year]

In [3]:
# Names the needed driver, server name, and database
driver_name='SQL Server'
server_name='10.0.1.218'
database='ritascoolnet_live'

In [4]:
#Creates the connection string
connection_string=f"""
DRIVER={{{driver_name}}};
SERVER={server_name};
DATABASE={database};
Trust_Connection=yes"""

In [5]:
#Creates the Connection to SQL Server
connection=odbc.connect(connection_string)
print(connection)

<pyodbc.Connection object at 0x00000134BB4541D0>

In [6]:
# Queries the tables from SQL
# Reads in the Weekly Sales in 2023
# Data3 Gets Guest Count
data=pd.read_sql_query('''SELECT *
  FROM [ritas_bi].[dbo].[tmp_raw_plda]
  WHERE YEAR(StartDate)>=2023''',connection)
product_sales=pd.read_sql_query('''Select * from ritascoolnet_live.dbo.tblProductSalesTransactions Where Year(dteStartDate)>=2023 ''',connection)

C:\Users\jharned\AppData\Local\Temp\ipykernel_2400\2176703149.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data=pd.read_sql_query('''SELECT *
C:\Users\jharned\AppData\Local\Temp\ipykernel_2400\2176703149.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  product_sales=pd.read_sql_query('''Select * from ritascoolnet_live.dbo.tblProductSalesTransactions Where Year(dteStartDate)>=2023 ''',connection)

In [9]:
data.loc[data.StartDate=='2023-03-20','Week']=12
data.loc[data.StartDate=='2023-03-27','Week']=13
data.loc[data.StartDate=='2023-10-29','StartDate']='2023-10-30'
data.loc[data.ShopID==31360,'ShopID']=1568

In [10]:
product_sales=product_sales.rename(columns={'dteStartDate':'StartDate'})
weeks=data[['StartDate','Week']].drop_duplicates(keep='first')
ps=product_sales.merge(weeks[['StartDate','Week']],how='left',on='StartDate')
ps['Retail_GC']=ps.intTransactionCount-ps.intUECount\
-ps.intDDCount-ps.intGHCount
ps['Year']=ps.StartDate.dt.year
threepd=ps.rename(columns={'intRitasStoreID':'ShopID'})
threepd.ShopID=threepd.ShopID.astype('int')
gc=threepd.groupby(['ShopID','Year','Week','StartDate'])['Retail_GC'].sum().reset_index()
gc.Week=gc.Week.astype('int')
gc.loc[gc.ShopID==31360,'ShopID']=1568
gc['ParentID']=gc.ShopID.astype('int')
gc['ParentID']=gc.ShopID.astype('str')
gc['ParentID']=gc.ParentID.str[-4:]
gc['ParentID']=gc.ParentID.astype('int')
gc_total=gc
gc_total=gc_total[gc_total.ParentID!=491]

In [11]:
gc_total=gc_total.pivot_table(index=['ParentID','Week'],columns='Year',values='Retail_GC',aggfunc='sum',fill_value=0).reset_index()

In [12]:
gc[(gc.Week==48)&(gc.Year==2023)].Retail_GC.sum()

36998

In [13]:
data['Year']=data.StartDate.dt.year
this_week=data[data.Year==2024].Week.max()
sales=data[data.Week<=this_week]
gc_total=gc_total[gc_total.Week<=this_week]
sales['ParentID']=sales.ShopID.astype('int')
sales['ParentID']=sales.ShopID.astype('str')
sales['ParentID']=sales.ParentID.str[-4:]
sales['ParentID']=sales.ParentID.astype('int')

C:\Users\jharned\AppData\Local\Temp\ipykernel_2400\2989941079.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales['ParentID']=sales.ShopID.astype('int')
C:\Users\jharned\AppData\Local\Temp\ipykernel_2400\2989941079.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales['ParentID']=sales.ShopID.astype('str')
C:\Users\jharned\AppData\Local\Temp\ipykernel_2400\2989941079.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales['ParentID']=sales.ParentID.str[-4:]
C:\Users\jharned\AppData\Local\Temp\ipykernel_2400\2989941079.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales['ParentID']=sales.ParentID.astype('int')

In [14]:
sales[sales.Week==40].groupby('Year')['SalesMny'].sum()

Year
2023    2.368122e+06
2024    2.981415e+06
Name: SalesMny, dtype: float64

In [15]:
weekly_piv=sales.pivot_table(index=['ParentID'],columns='Year',values='SalesMny',aggfunc='sum',fill_value=0).reset_index()
comp_shops=weekly_piv[(weekly_piv[2023]>0)&(weekly_piv[2024]>0)].ParentID.unique()
len(comp_shops)

536

In [16]:
comp_shops

array([   1,    2,    3,    4,    6,    7,    8,    9,   10,   11,   12,
         14,   15,   16,   18,   19,   20,   21,   22,   26,   28,   29,
         30,   31,   32,   34,   36,   37,   39,   40,   41,   42,   43,
         44,   45,   47,   48,   53,   54,   55,   56,   57,   58,   59,
         60,   61,   64,   65,   66,   68,   69,   70,   71,   73,   78,
         81,   82,   83,   84,   85,   86,   87,   88,   89,   91,   92,
         94,   95,   96,   97,   98,  100,  101,  102,  104,  105,  106,
        108,  109,  111,  113,  114,  117,  118,  120,  122,  123,  124,
        125,  127,  128,  129,  133,  134,  135,  136,  138,  139,  142,
        144,  145,  148,  149,  150,  151,  152,  153,  154,  155,  156,
        158,  159,  160,  161,  163,  164,  166,  167,  169,  170,  171,
        172,  173,  175,  178,  180,  181,  182,  183,  184,  185,  186,
        187,  188,  190,  192,  194,  195,  197,  198,  200,  204,  205,
        206,  207,  209,  211,  212,  213,  214,  215,  217,  218,  221,
        223,  224,  225,  227,  229,  230,  231,  235,  237,  238,  239,
        241,  242,  243,  245,  246,  247,  248,  249,  250,  254,  256,
        257,  259,  260,  261,  263,  267,  270,  271,  274,  278,  279,
        280,  285,  286,  287,  288,  289,  290,  291,  292,  293,  295,
        298,  299,  301,  303,  304,  305,  306,  309,  311,  312,  313,
        314,  316,  322,  323,  330,  331,  332,  333,  334,  335,  337,
        338,  339,  340,  341,  342,  343,  344,  345,  347,  349,  350,
        353,  354,  355,  358,  359,  361,  362,  364,  365,  366,  368,
        369,  370,  371,  372,  374,  376,  379,  380,  381,  382,  383,
        384,  385,  386,  387,  388,  390,  391,  392,  393,  394,  397,
        399,  400,  402,  403,  405,  410,  412,  413,  414,  417,  421,
        423,  427,  428,  429,  435,  436,  438,  440,  441,  444,  445,
        452,  453,  463,  467,  468,  472,  473,  474,  476,  477,  484,
        485,  486,  487,  490,  493,  495,  496,  498,  501,  503,  510,
        514,  516,  518,  519,  521,  525,  532,  534,  536,  543,  545,
        550,  552,  556,  559,  560,  564,  571,  575,  579,  585,  617,
        626,  628,  638,  649,  650,  658,  663,  676,  681,  689,  691,
        704,  711,  712,  714,  729,  731,  734,  746,  753,  764,  777,
        779,  790,  803,  824,  835,  836,  843,  847,  853,  860,  863,
        866,  872,  874,  882,  885,  886,  887,  888,  889,  892,  897,
        899,  903,  905,  912,  927,  928,  929,  930,  931,  932,  933,
        934,  937,  940,  944,  952, 1018, 1040, 1044, 1045, 1046, 1047,
       1049, 1053, 1055, 1060, 1065, 1071, 1072, 1088, 1119, 1121, 1126,
       1130, 1132, 1133, 1159, 1160, 1170, 1171, 1172, 1187, 1212, 1231,
       1237, 1253, 1254, 1265, 1266, 1268, 1269, 1271, 1272, 1273, 1302,
       1318, 1322, 1334, 1335, 1336, 1337, 1347, 1348, 1351, 1352, 1355,
       1356, 1357, 1362, 1364, 1365, 1368, 1369, 1371, 1376, 1377, 1378,
       1379, 1381, 1383, 1387, 1389, 1390, 1393, 1394, 1395, 1396, 1397,
       1398, 1400, 1401, 1403, 1404, 1405, 1406, 1407, 1409, 1413, 1416,
       1417, 1418, 1419, 1420, 1422, 1423, 1424, 1431, 1435, 1436, 1440,
       1442, 1445, 1446, 1449, 1450, 1451, 1453, 1454, 1455, 1456, 1457,
       1458, 1459, 1460, 1462, 1465, 1466, 1467, 1468, 1469, 1471, 1472,
       1473, 1474, 1476, 1477, 1478, 1479, 1480, 1482, 1483, 1484, 1488,
       1489, 1490, 1492, 1495, 1499, 1500, 1504, 1507, 1512, 1515, 1517,
       1518, 1519, 1520, 1522, 1530, 1534, 1552, 1568])

In [17]:
weekly_piv[weekly_piv.ParentID==1431]

Year  ParentID         2023        2024
495       1431  111001.0291  212379.014

In [18]:
weekly_piv_dates=sales.pivot_table(index=['ParentID','Week'],columns='Year',values='SalesMny',aggfunc='sum',fill_value=0).reset_index()

In [19]:
merge=weekly_piv_dates.merge(gc_total,on=['ParentID','Week'],how='left',suffixes=[' Total Sales',' Retail GC'])
comps=merge[merge.ParentID.isin(comp_shops)]

In [20]:
comps

Year,ParentID,Week,2023 Total Sales,2024 Total Sales,2023 Retail GC,2024 Retail GC
0,1,8,2.990,0.0000,1.0,0.0
1,1,9,6327.982,4955.0000,523.0,386.0
2,1,10,6800.941,7162.6956,586.0,613.0
3,1,11,8258.021,17857.2470,722.0,1507.0
4,1,12,17778.261,9819.8516,1893.0,944.0
...,...,...,...,...,...,...
21962,1568,45,0.000,8640.0000,0.0,440.0
21963,1568,46,0.000,2313.0000,0.0,116.0
21964,1568,47,2848.000,0.0000,145.0,0.0
21965,1568,48,6650.500,0.0000,398.0,0.0
21966,1568,49,4015.000,2763.0000,235.0,138.0

In [21]:
true_comps=comps[(comps['2024 Total Sales']>0)&(comps['2023 Total Sales']>0)]
true_comps=true_comps.groupby('Week')[['2024 Total Sales','2023 Total Sales','2024 Retail GC','2023 Retail GC']].sum()
true_comps['Total Sales%']=true_comps['2024 Total Sales']/true_comps['2023 Total Sales']-1
true_comps['GC%']=true_comps['2024 Retail GC']/true_comps['2023 Retail GC']-1
true_comps=true_comps.iloc[:,[0,1,-2,2,3,-1]]

In [22]:
true_comps

Year,2024 Total Sales,2023 Total Sales,Total Sales%,2024 Retail GC,2023 Retail GC,GC%
Week,,,,,,
1,3.152199e+05,3.423084e+05,-0.079135,26847.0,31691.0,-0.152851
2,2.944980e+05,2.967097e+05,-0.007454,25019.0,27415.0,-0.087397
3,2.716956e+05,3.385110e+05,-0.197380,22904.0,30569.0,-0.250744
4,3.908321e+05,3.527776e+05,0.107871,32763.0,31968.0,0.024869
5,3.643550e+05,3.785737e+05,-0.037559,32154.0,33871.0,-0.050692
6,4.333564e+05,4.208302e+05,0.029765,37004.0,37588.0,-0.015537
7,5.294960e+05,6.311097e+05,-0.161008,43999.0,56231.0,-0.217531
8,9.885766e+05,1.145343e+06,-0.136873,83315.0,100473.0,-0.170772
9,2.505200e+06,2.093831e+06,0.196467,206569.0,185422.0,0.114048
10,2.721941e+06,2.336480e+06,0.164975,228278.0,207869.0,0.098182
11,5.615672e+06,2.735683e+06,1.052750,476701.0,239529.0,0.990160
12,3.633630e+06,5.013066e+06,-0.275168,405044.0,548071.0,-0.260964
13,3.728156e+06,4.374027e+06,-0.147661,318179.0,390504.0,-0.185209
14,3.504498e+06,4.993339e+06,-0.298165,289192.0,451416.0,-0.359367
15,5.714513e+06,7.055214e+06,-0.190030,488703.0,633681.0,-0.228787
16,5.321701e+06,5.569359e+06,-0.044468,459279.0,507781.0,-0.095518
17,5.663146e+06,3.731112e+06,0.517817,493616.0,336314.0,0.467724
18,5.936941e+06,4.782153e+06,0.241479,519797.0,424797.0,0.223636
19,5.140559e+06,6.524920e+06,-0.212165,434695.0,578465.0,-0.248537
20,5.043701e+06,5.821644e+06,-0.133629,423827.0,519402.0,-0.184010
21,7.681949e+06,6.433324e+06,0.194087,640625.0,563184.0,0.137506
22,6.964570e+06,7.426619e+06,-0.062215,573156.0,630709.0,-0.091251
23,7.348627e+06,6.440858e+06,0.140939,609794.0,558817.0,0.091223
24,7.308222e+06,6.404685e+06,0.141074,601112.0,544595.0,0.103778
25,8.427172e+06,5.742888e+06,0.467410,687472.0,497669.0,0.381384
26,7.032178e+06,6.326706e+06,0.111507,581866.0,541950.0,0.073653
27,7.814987e+06,7.138565e+06,0.094756,623964.0,596017.0,0.046890
28,7.013986e+06,6.983542e+06,0.004359,574608.0,605987.0,-0.051782
29,6.794752e+06,7.010880e+06,-0.030827,553710.0,603519.0,-0.082531
30,6.151956e+06,7.024719e+06,-0.124242,502655.0,594770.0,-0.154875
31,6.189325e+06,6.188842e+06,0.000078,498796.0,535977.0,-0.069371
32,5.131751e+06,5.829237e+06,-0.119653,418356.0,504430.0,-0.170636
33,5.542241e+06,5.921872e+06,-0.064107,462938.0,519024.0,-0.108061
34,5.288315e+06,5.362089e+06,-0.013758,439291.0,471604.0,-0.068517
35,5.017084e+06,5.007694e+06,0.001875,425539.0,440592.0,-0.034165
36,3.993829e+06,4.548004e+06,-0.121850,339357.0,407813.0,-0.167861
37,3.842999e+06,3.548774e+06,0.082909,333525.0,317290.0,0.051168
38,3.278962e+06,2.533487e+06,0.294249,283087.0,234017.0,0.209686
39,2.266329e+06,2.534048e+06,-0.105649,185970.0,220401.0,-0.156220
40,2.358950e+06,2.316894e+06,0.018152,197687.0,204626.0,-0.033911
41,1.859677e+06,1.529998e+06,0.215477,151901.0,138482.0,0.096901
42,1.337428e+06,1.179447e+06,0.133945,102286.0,99800.0,0.024910
43,1.195588e+06,1.194867e+06,0.000604,95486.0,99197.0,-0.037410
44,7.675395e+05,6.532853e+05,0.174892,58902.0,52986.0,0.111652
45,7.109954e+05,6.420320e+05,0.107414,54232.0,54487.0,-0.004680
46,5.129141e+05,5.019418e+05,0.021860,43166.0,44746.0,-0.035310
47,4.132715e+05,4.103098e+05,0.007218,34152.0,35342.0,-0.033671
48,4.136625e+05,3.796395e+05,0.089619,32768.0,34433.0,-0.048355
49,3.279777e+05,4.052315e+05,-0.190641,28211.0,35023.0,-0.194501
50,3.484696e+05,3.750012e+05,-0.070751,29386.0,34429.0,-0.146475

In [23]:
weekly_comps=comps.groupby('Week')[['2024 Total Sales','2023 Total Sales','2024 Retail GC','2023 Retail GC']].sum()

In [24]:
weekly_comps['Total Sales%']=weekly_comps['2024 Total Sales']/weekly_comps['2023 Total Sales']-1
weekly_comps['GC%']=weekly_comps['2024 Retail GC']/weekly_comps['2023 Retail GC']-1
weekly_comps=weekly_comps.iloc[:,[0,1,-2,2,3,-1]]

In [25]:
weekly_comps=weekly_comps.rename(columns={'2024 Total Sales':'2024 Total System Sales',
                                           '2023 Total Sales':'2023 Total System Sales',
                                           'Total Sales%':'Total System Sales%'})

In [26]:
monthly_comps=weekly_comps.reset_index().merge(this_year[['Week','Month_Name','Month']],how='left',on='Week')
monthly_comps=monthly_comps.groupby(['Month','Month_Name'])[['2024 Total System Sales','2023 Total System Sales','2024 Retail GC','2023 Retail GC']].sum()
monthly_comps=monthly_comps.reset_index().drop('Month',axis=1).set_index('Month_Name')
monthly_comps.loc['YTD Totals']=monthly_comps.sum(axis=0)
monthly_comps['Total System Sales%']=monthly_comps['2024 Total System Sales']/monthly_comps['2023 Total System Sales']-1
monthly_comps['GC%']=monthly_comps['2024 Retail GC']/monthly_comps['2023 Retail GC']-1
monthly_comps=monthly_comps.iloc[:,[0,1,-2,2,3,-1]]
monthly_comps

,2024 Total System Sales,2023 Total System Sales,Total System Sales%,2024 Retail GC,2023 Retail GC,GC%
Month_Name,,,,,,
January,1.846227e+06,1.389748e+06,0.328462,144171.0,125928.0,0.144868
February,3.128281e+06,2.802879e+06,0.116095,258135.0,247643.0,0.042367
March,1.978860e+07,1.664948e+07,0.188542,1776683.0,1581501.0,0.123416
April,2.162701e+07,2.141086e+07,0.010095,1851945.0,1934814.0,-0.042830
May,2.506276e+07,2.366191e+07,0.059203,2126377.0,2090536.0,0.017144
June,3.840255e+07,3.255403e+07,0.179656,3165058.0,2789567.0,0.134605
July,2.851042e+07,2.840746e+07,0.003624,2316181.0,2419758.0,-0.042805
August,2.278894e+07,2.349836e+07,-0.030190,1871599.0,2047905.0,-0.086091
September,1.884738e+07,1.835963e+07,0.026566,1607120.0,1636870.0,-0.018175
October,8.085790e+06,6.582068e+06,0.228457,659504.0,571044.0,0.154909
November,2.967232e+06,2.429493e+06,0.221338,234625.0,199949.0,0.173424
December,1.228706e+06,1.287593e+06,-0.045734,101174.0,111435.0,-0.092081
YTD Totals,1.922839e+08,1.790335e+08,0.074011,16112572.0,15756950.0,0.022569

In [27]:
true_comps=true_comps.rename(columns={'2024 Total Sales':'2024 Total System Comp Sales',
                                           '2023 Total Sales':'2023 Total System Comp Sales',
                                           'Total Sales%':'Total System Sales Comp%'})

In [28]:
lastrow=monthly_comps.shape[0]
with pd.ExcelWriter('Comp Sales and Guest Count for Wk'+str(this_week)+' v2.xlsx',engine='xlsxwriter') as writer5:
    comp_workbook=writer5.book
    format_header2=comp_workbook.add_format()
    format_header2.set_italic()
    format_header2.set_bold()
    format_num=comp_workbook.add_format({'num_format':'$#,##0',
                                        'align':'center',
                                        'valign':'vcenter'})
    format_qty=comp_workbook.add_format({'num_format':'#,##0',
                                        'align':'center',
                                        'valign':'vcenter'})
    perc_format=comp_workbook.add_format({'num_format':'#0.0%',
                                         'align':'center',
                                         'valign':'vcenter'})
    total_dollar_format=comp_workbook.add_format({'bold':True,
                                          'bg_color':'#d5d8dc',
                                          'num_format':'$#,##0',
                                        'align':'center',
                                        'valign':'vcenter'})
    
    total_gc_format=comp_workbook.add_format({'bold':True,
                                          'bg_color':'#d5d8dc',
                                          'num_format':'#,##0',
                                        'align':'center',
                                        'valign':'vcenter'})
    
    total_perc_format=comp_workbook.add_format({'bold':True,
                                          'bg_color':'#d5d8dc',
                                          'num_format':'#0.0%',
                                        'align':'center',
                                        'valign':'vcenter'})
    a1=comp_workbook.add_format({'align':'center','valign':'vcenter','bold':True})
    border_format=comp_workbook.add_format({'top':2,'bottom':2,'left':2,'right':2})
    
    title='Ritas Franchise Company,LLC'
    comp_text='Weekly Comp Sales and Guest Count (3rd Party GC Excluded)'
    comp_text1='Comp Total System Sales Include: Retail/Mobile/Satellite/3rd Party/Special Venue'
    comp_text2='2024 v 2023 Sales and Guest Counts thru Week '+str(this_week)
    comp_text3='As of '+str(data.EndDate.max().strftime('%m-%d-%y'))
    
    monthly_comps.to_excel(writer5,startrow=6,startcol=0, sheet_name='Comps')
    true_comps.T.to_excel(writer5,startrow=6,startcol=0, sheet_name='''Mark's Format''')
    
    ws=writer5.sheets['Comps']                     
    ws.conditional_format(xlsxwriter.utility.xl_range(6,0,len(monthly_comps)+6,len(monthly_comps.columns)),
                                  {'type': 'no_errors', 'format': border_format})
    for col in range(0,2):
        ws.write(monthly_comps.shape[0]+6,col+1,monthly_comps.iloc[-1,col],total_dollar_format)
  
    for col in range(3,5):
        ws.write(monthly_comps.shape[0]+6,col+1,monthly_comps.iloc[-1,col],total_gc_format)
    for col in range(2,3):
        ws.write(monthly_comps.shape[0]+6,col+1,monthly_comps.iloc[-1,col],total_perc_format)
    for col in range(5,6):
        ws.write(monthly_comps.shape[0]+6,col+1,monthly_comps.iloc[-1,col],total_perc_format)
        
    ws.write(lastrow+6,0,'YTD Totals',total_dollar_format)    
    ws.write(0,1,title,format_header2)
    ws.write(1,1,comp_text,format_header2)
    ws.write(2,1,comp_text1,format_header2)
    ws.write(3,1,comp_text2,format_header2)
    ws.write(4,1,comp_text3,format_header2)
    ws.set_column('A:A',13)
    ws.set_column('B:C',22,format_num)
    ws.set_column('D:D',22,perc_format)
    ws.set_column('E:F',15,format_qty)
    ws.set_column('G:G',15,perc_format)
    ws.insert_image('A1','Logo.png')
    ws.hide_gridlines(2)
   
    ws1=writer5.sheets['''Mark's Format''']
    ws1.conditional_format(xlsxwriter.utility.xl_range(6,0,len(true_comps.T)+6,len(true_comps.T.columns)),
                                  {'type': 'no_errors', 'format': border_format})
    ws1.write(0,1,title,format_header2)
    ws1.write(1,1,comp_text,format_header2)
    ws1.write(2,1,comp_text1,format_header2)
    ws1.write(3,1,comp_text2,format_header2)
    ws1.write(4,1,comp_text3,format_header2)
    ws1.set_column('A:ZZ',13)
    ws1.write('A7','Week',a1)
    ws1.set_column('A:A',22)
    ws1.set_column('B:AZ',14)
    ws1.set_row(7,None,format_num)
    ws1.set_row(8,None,format_num)
    ws1.set_row(9,None,perc_format)
    ws1.set_row(10,None,format_qty)
    ws1.set_row(11,None,format_qty)
    ws1.set_row(12,None,perc_format)
    ws1.insert_image('A1','Logo.png')
    ws1.hide_gridlines(2)

# Comp with Retail Sales Only

In [29]:
# no_3pd=sales[sales.ProductTypeName!='3rd Party Delivery'].pivot_table(index=['ParentID'],columns='Year',values='SalesMny',aggfunc='sum',fill_value=0).reset_index()
# comp_shops=no_3pd[(no_3pd[2023]>0)&(no_3pd[2024]>0)].ParentID.unique()
# len(comp_shops)

In [30]:
# no_3pd_dates=sales[sales.ProductTypeName!='3rd Party Delivery'].pivot_table(index=['ParentID','Week'],columns='Year',values='SalesMny',aggfunc='sum',fill_value=0).reset_index()
# merge=no_3pd_dates.merge(gc_total,on=['ParentID','Week'],how='left',suffixes=[' Retail Sales',' Retail GC'])
# merge=merge[(merge['2023 Retail Sales']>0)&(merge['2024 Retail Sales']>0)]
# no_3pd_comps=merge.groupby('Week')[['2024 Retail Sales','2023 Retail Sales','2024 Retail GC','2023 Retail GC']].sum()
# no_3pd_comps['Retail Sales%']=no_3pd_comps['2024 Retail Sales']/no_3pd_comps['2023 Retail Sales']-1
# no_3pd_comps['GC%']=no_3pd_comps['2024 Retail GC']/no_3pd_comps['2023 Retail GC']-1
# no_3pd_comps=no_3pd_comps.iloc[:,[0,1,-2,2,3,-1]]

In [31]:

# weekly_comps=true_comps.merge(no_3pd_comps[['2024 Retail Sales','2023 Retail Sales','Retail Sales%']],right_index=True,left_index=True)
# weekly_comps=weekly_comps.iloc[:,[0,1,2,-3,-2,-1,3,4,5]]

In [32]:
# no_3pd_dates=sales[sales.ProductTypeName!='3rd Party Delivery'].pivot_table(index=['ParentID','Week'],columns='Year',values='SalesMny',aggfunc='sum',fill_value=0).reset_index()
# merge=no_3pd_dates.merge(gc_total,on=['ParentID','Week'],how='left',suffixes=[' Retail Sales',' Retail GC'])
# comps=merge[merge.ParentID.isin(comp_shops)]
# no_3pd_comps=comps.groupby('Week')[['2024 Retail Sales','2023 Retail Sales','2024 Retail GC','2023 Retail GC']].sum()
# no_3pd_comps['Retail Sales%']=no_3pd_comps['2024 Retail Sales']/no_3pd_comps['2023 Retail Sales']-1
# no_3pd_comps['GC%']=no_3pd_comps['2024 Retail GC']/no_3pd_comps['2023 Retail GC']-1
# no_3pd_comps=no_3pd_comps.iloc[:,[0,1,-2,2,3,-1]]
# monthly_comps_no_3pds=no_3pd_comps.reset_index().merge(this_year[['Week','Month_Name','Month']],how='left',on='Week')
# monthly_comps_no_3pds=monthly_comps_no_3pds.groupby(['Month','Month_Name'])[['2024 Retail Sales','2023 Retail Sales','2024 Retail GC','2023 Retail GC']].sum()
# monthly_comps_no_3pds=monthly_comps_no_3pds.reset_index().drop('Month',axis=1).set_index('Month_Name')
# monthly_comps_no_3pds.loc['YTD Totals']=monthly_comps_no_3pds.sum(axis=0)
# monthly_comps_no_3pds['Retail Sales%']=monthly_comps_no_3pds['2024 Retail Sales']/monthly_comps_no_3pds['2023 Retail Sales']-1
# monthly_comps_no_3pds['GC%']=monthly_comps_no_3pds['2024 Retail GC']/monthly_comps_no_3pds['2023 Retail GC']-1
# monthly_comps_no_3pds=monthly_comps_no_3pds.iloc[:,[0,1,-2,2,3,-1]]
# monthly_comps_no_3pds

In [33]:
# monthly_comps=monthly_comps.merge(monthly_comps_no_3pds[['2024 Retail Sales','2023 Retail Sales','Retail Sales%']],right_index=True,left_index=True)
# monthly_comps=monthly_comps.iloc[:,[0,1,2,-3,-2,-1,3,4,5]]

In [34]:
# monthly_comps.iloc[:,[0,1,2,6,7,8]]

In [35]:
# lastrow=monthly_comps.shape[0]
# with pd.ExcelWriter('Comp Sales and Guest Count for Wk'+str(this_week)+' v3.xlsx',engine='xlsxwriter') as writer5:
#     comp_workbook=writer5.book
#     format_header2=comp_workbook.add_format()
#     format_header2.set_italic()
#     format_header2.set_bold()
    
#     format_num=comp_workbook.add_format({'num_format':'$#,##0',
#                                         'align':'center',
#                                         'valign':'vcenter'})
#     format_qty=comp_workbook.add_format({'num_format':'#,##0',
#                                         'align':'center',
#                                         'valign':'vcenter'})
#     perc_format=comp_workbook.add_format({'num_format':'#0.0%',
#                                          'align':'center',
#                                          'valign':'vcenter'})
    
#     total_dollar_format=comp_workbook.add_format({'bold':True,
#                                           'bg_color':'#d5d8dc',
#                                           'num_format':'$#,##0',
#                                         'align':'center',
#                                         'valign':'vcenter'})
    
#     total_gc_format=comp_workbook.add_format({'bold':True,
#                                           'bg_color':'#d5d8dc',
#                                           'num_format':'#,##0',
#                                         'align':'center',
#                                         'valign':'vcenter'})
    
#     total_perc_format=comp_workbook.add_format({'bold':True,
#                                           'bg_color':'#d5d8dc',
#                                           'num_format':'#0.0%',
#                                         'align':'center',
#                                         'valign':'vcenter'})
#     a1=comp_workbook.add_format({'align':'center','valign':'vcenter','bold':True})
#     border_format=comp_workbook.add_format({'top':2,'bottom':2,'left':2,'right':2})
    
#     title='Ritas Franchise Company,LLC'
#     comp_text='Weekly Comp Sales and Guest Count (3rd Party GC Excluded)'
#     comp_text1='Comp Total Sales Include: Retail/Mobile/Satellite/3rd Party'
#     comp_text2='Comp Retail Sales Include: Retail/Mobile/Satellite'
#     comp_text3='2024 v 2023 Sales and Guest Counts thru Week '+str(this_week)
#     comp_text4='As of '+str(data.EndDate.max().strftime('%m-%d-%y'))
    
#     monthly_comps.to_excel(writer5,startrow=7,startcol=0, sheet_name='Comps')
#     weekly_comps.T.to_excel(writer5,startrow=7,startcol=0, sheet_name='''Mark's Format''')
    
#     ws=writer5.sheets['Comps']                     
#     ws.conditional_format(xlsxwriter.utility.xl_range(7,0,len(monthly_comps)+7,len(monthly_comps.columns)),
#                                   {'type': 'no_errors', 'format': border_format})
#     for col in range(0,2):
#         ws.write(monthly_comps.shape[0]+7,col+1,monthly_comps.iloc[-1,col],total_dollar_format)
  
#     for col in range(3,5):
#         ws.write(monthly_comps.shape[0]+7,col+1,monthly_comps.iloc[-1,col],total_dollar_format)
#     for col in range(2,3):
#         ws.write(monthly_comps.shape[0]+7,col+1,monthly_comps.iloc[-1,col],total_perc_format)
#     for col in range(5,6):
#         ws.write(monthly_comps.shape[0]+7,col+1,monthly_comps.iloc[-1,col],total_perc_format)
#     for col in range(6,8):
#         ws.write(monthly_comps.shape[0]+7,col+1,monthly_comps.iloc[-1,col],total_gc_format)
#     for col in range(8,9):
#         ws.write(monthly_comps.shape[0]+7,col+1,monthly_comps.iloc[-1,col],total_perc_format)
        
    
        
#     ws.write(lastrow+7,0,'YTD Totals',total_dollar_format)    
#     ws.write(0,1,title,format_header2)
#     ws.write(1,1,comp_text,format_header2)
#     ws.write(2,1,comp_text1,format_header2)
#     ws.write(3,1,comp_text2,format_header2)
#     ws.write(4,1,comp_text3,format_header2)
#     ws.write(5,1,comp_text4,format_header2)
#     ws.set_column('A:A',13)
#     ws.set_column('B:C',15,format_num)
#     ws.set_column('D:D',15,perc_format)
#     ws.set_column('E:F',15,format_num)
#     ws.set_column('G:G',15,perc_format)
#     ws.set_column('H:I',15,format_qty)
#     ws.set_column('J:J',15,perc_format)
#     ws.insert_image('A1','Logo.png')
#     ws.hide_gridlines(2)
   
#     ws1=writer5.sheets['''Mark's Format''']
#     ws1.conditional_format(xlsxwriter.utility.xl_range(7,0,len(weekly_comps.T)+7,len(weekly_comps.T.columns)),
#                                   {'type': 'no_errors', 'format': border_format})
    
#     ws1.write(0,1,title,format_header2)
#     ws1.write(1,1,comp_text,format_header2)
#     ws1.write(2,1,comp_text1,format_header2)
#     ws1.write(3,1,comp_text2,format_header2)
#     ws1.write(4,1,comp_text3,format_header2)
#     ws1.write(5,1,comp_text4,format_header2)
#     ws1.set_column('A:ZZ',15)
#     ws1.write('A8','Week',a1)
#     ws1.set_column('A:AZ',15)
#     ws1.set_row(8,None,format_num)
#     ws1.set_row(9,None,format_num)
#     ws1.set_row(10,None,perc_format)
#     ws1.set_row(11,None,format_num)
#     ws1.set_row(12,None,format_num)
#     ws1.set_row(13,None,perc_format)
#     ws1.set_row(14,None,format_qty)
#     ws1.set_row(15,None,format_qty)
#     ws1.set_row(16,None,perc_format)
#     ws1.insert_image('A1','Logo.png')
#     ws1.hide_gridlines(2)

# Kathy Average Checks with Different Variations

In [36]:
# total_sales=sales.merge(calendar[['StartDate','Month_Name','Month']],on='StartDate',how='left')
# total_sales=total_sales[total_sales.Week<=this_week]

In [37]:
# total_sales_pivot=total_sales.pivot_table(index=['Month','Month_Name'],
#                        columns='Year',values='SalesMny',aggfunc='sum').reset_index().drop('Month',axis=1).set_index('Month_Name')
# total_sales_pivot=total_sales_pivot.iloc[:,[-1,0]]
# column=['2024 Total Sales','2023 Total Sales']
# total_sales_pivot.columns=column
# total_sales_pivot.loc['YTD Totals']=total_sales_pivot.sum(axis=0)
# total_sales_pivot['Total Sales%']=total_sales_pivot.iloc[:,0]/total_sales_pivot.iloc[:,-1]-1
# total_sales_pivot

In [38]:
# threepd.loc[threepd.ShopID==31360,'ShopID']=1568
# all_gc=threepd.groupby(['ShopID','Year','Week','StartDate'])['intTransactionCount'].sum().reset_index()
# all_gc.Week=all_gc.Week.astype('int')
# all_ts_gc=total_sales[['ShopID','StartDate','Month_Name','Month']].drop_duplicates(subset=['ShopID','StartDate'],keep='first')\
# .merge(all_gc[['StartDate','ShopID','intTransactionCount']],on=['StartDate','ShopID'],how='left').fillna(0)
# all_ts_gc=all_ts_gc.rename(columns={'intTransactionCount':'Total_GC'})
# all_ts_gc_pivot=all_ts_gc.pivot_table(index=['Month','Month_Name'],
#                        columns=ts_gc.StartDate.dt.year,values='Total_GC',aggfunc='sum').reset_index().drop('Month',axis=1).set_index('Month_Name')
# all_ts_gc_pivot=all_ts_gc_pivot.iloc[:,[-1,0]]
# column=['2024 Total_GC','2023 Total_GC']
# all_ts_gc_pivot.columns=column
# all_ts_gc_pivot
# all_ts_gc_pivot.loc['YTD Totals']=all_ts_gc_pivot.sum(axis=0)
# all_ts_gc_pivot['Total Sales%']=all_ts_gc_pivot.iloc[:,0]/all_ts_gc_pivot.iloc[:,-1]-1
# all_ts_gc_pivot

In [39]:
# totals_combined=total_sales_pivot.merge(all_ts_gc_pivot,left_on='Month_Name',right_on='Month_Name')
# totals_combined['2024 Avg Check']=totals_combined['2024 Total Sales']/totals_combined['2024 Total_GC']
# totals_combined['2023 Avg Check']=totals_combined['2023 Total Sales']/totals_combined['2023 Total_GC']
# totals_combined['Avg Check%']=totals_combined['2024 Avg Check']/totals_combined['2023 Avg Check']-1
# totals_combined

In [40]:
# ts_gc=total_sales[['ShopID','StartDate','Month_Name','Month']].drop_duplicates(subset=['ShopID','StartDate'],keep='first')\
# .merge(gc[['StartDate','ShopID','Retail_GC']],on=['StartDate','ShopID'],how='left').fillna(0)
# ts_gc_pivot=ts_gc.pivot_table(index=['Month','Month_Name'],
#                        columns=ts_gc.StartDate.dt.year,values='Retail_GC',aggfunc='sum').reset_index().drop('Month',axis=1).set_index('Month_Name')
# ts_gc_pivot=ts_gc_pivot.iloc[:,[-1,0]]
# column=['2024 Retail_GC','2023 Retail_GC']
# ts_gc_pivot.columns=column
# ts_gc_pivot.loc['YTD Totals']=ts_gc_pivot.sum(axis=0)
# ts_gc_pivot['Total GC%']=ts_gc_pivot.iloc[:,0]/ts_gc_pivot.iloc[:,-1]-1
# ts_gc_pivot

In [41]:
# total_sales_no3pd_gc=total_sales_pivot.merge(ts_gc_pivot,left_on='Month_Name',right_on='Month_Name')
# total_sales_no3pd_gc['2024 Avg Check']=total_sales_no3pd_gc['2024 Total Sales']/total_sales_no3pd_gc['2024 Retail_GC']
# total_sales_no3pd_gc['2023 Avg Check']=total_sales_no3pd_gc['2023 Total Sales']/total_sales_no3pd_gc['2023 Retail_GC']
# total_sales_no3pd_gc['Avg Check%']=total_sales_no3pd_gc['2024 Avg Check']/total_sales_no3pd_gc['2023 Avg Check']-1
# total_sales_no3pd_gc

In [42]:
# comp_sales=total_sales[total_sales.ParentID.isin(comp_shops)]
# comp_sales_pivot=comp_sales.pivot_table(index=['Month','Month_Name'],
#                        columns='Year',values='SalesMny',aggfunc='sum').reset_index().drop('Month',axis=1).set_index('Month_Name')
# comp_sales_pivot=comp_sales_pivot.iloc[:,[-1,0]]
# column=['2024 Total Sales','2023 Total Sales']
# comp_sales_pivot.columns=column
# comp_sales_pivot.loc['YTD Totals']=comp_sales_pivot.sum(axis=0)
# comp_sales_pivot['Total Sales%']=comp_sales_pivot.iloc[:,0]/comp_sales_pivot.iloc[:,-1]-1
# comp_sales_pivot

In [43]:
# all_gc=threepd.groupby(['ShopID','Year','Week','StartDate'])['intTransactionCount'].sum().reset_index()
# all_gc.Week=all_gc.Week.astype('int')
# all_gc['ParentID']=all_gc.ShopID.astype('int')
# all_gc['ParentID']=all_gc.ShopID.astype('str')
# all_gc['ParentID']=all_gc.ParentID.str[-4:]
# all_gc['ParentID']=all_gc.ParentID.astype('int')


# comp_ts_gc=comp_sales[['ParentID','StartDate','Month_Name','Month']].drop_duplicates(subset=['ParentID','StartDate'],keep='first')\
# .merge(all_gc[['StartDate','ParentID','intTransactionCount']],on=['StartDate','ParentID'],how='left').fillna(0)

# comp_ts_gc=comp_ts_gc.rename(columns={'intTransactionCount':'Total_GC'})
# comp_ts_gc_pivot=comp_ts_gc.pivot_table(index=['Month','Month_Name'],
#                        columns=comp_ts_gc.StartDate.dt.year,values='Total_GC',aggfunc='sum').reset_index().drop('Month',axis=1).set_index('Month_Name')
# comp_ts_gc_pivot=comp_ts_gc_pivot.iloc[:,[-1,0]]
# column=['2024 Total_GC','2023 Total_GC']
# comp_ts_gc_pivot.columns=column
# comp_ts_gc_pivot.loc['YTD Totals']=comp_ts_gc_pivot.sum(axis=0)
# comp_ts_gc_pivot['Total GC%']=comp_ts_gc_pivot.iloc[:,0]/comp_ts_gc_pivot.iloc[:,-1]-1
# comp_ts_gc_pivot

In [44]:
# comp_3pd_gc=comp_sales_pivot.merge(comp_ts_gc_pivot,left_on='Month_Name',right_on='Month_Name')
# comp_3pd_gc['2024 Avg Check']=comp_3pd_gc['2024 Total Sales']/comp_3pd_gc['2024 Total_GC']
# comp_3pd_gc['2023 Avg Check']=comp_3pd_gc['2023 Total Sales']/comp_3pd_gc['2023 Total_GC']
# comp_3pd_gc['Avg Check%']=comp_3pd_gc['2024 Avg Check']/comp_3pd_gc['2023 Avg Check']-1
# comp_3pd_gc

In [45]:
# new_monthly_comps=monthly_comps.drop(['2024 Retail Sales','2023 Retail Sales','Retail Sales%'],axis=1)
# new_monthly_comps['2024 Avg Check']=new_monthly_comps['2024 Total Sales']/new_monthly_comps['2024 Retail GC']
# new_monthly_comps['2023 Avg Check']=new_monthly_comps['2023 Total Sales']/new_monthly_comps['2023 Retail GC']
# new_monthly_comps['Avg Check%']=new_monthly_comps['2024 Avg Check']/new_monthly_comps['2023 Avg Check']-1
# new_monthly_comps

In [46]:
# evoke=total_sales[~total_sales.ParentID.isin([294,324,
#                                               446,465,507,639,858,1139,1276,1385,1427,1432])].pivot_table(index=['Month','Month_Name'],
#                        columns='Year',values='SalesMny',aggfunc='sum').reset_index().drop('Month',axis=1).set_index('Month_Name')
# evoke=evoke.iloc[:,[-1,0]]
# column=['2024 Total Sales','2023 Total Sales']
# evoke.columns=column
# evoke.loc['YTD Totals']=evoke.sum(axis=0)
# evoke['Total Sales%']=evoke.iloc[:,0]/evoke.iloc[:,-1]-1
# evoke

In [47]:
# evoke_gc=total_sales[['ShopID','StartDate','Month_Name','Month']].drop_duplicates(subset=['ShopID','StartDate'],keep='first')\
# .merge(gc[['StartDate','ShopID','Retail_GC']],on=['StartDate','ShopID'],how='left').fillna(0)
# evoke_gc_pivot=evoke_gc[~evoke_gc.ShopID.isin([294,324,
#                                               446,465,507,639,858,1139,1276,1385,1427,1432])].pivot_table(index=['Month','Month_Name'],
#                        columns=evoke_gc.StartDate.dt.year,values='Retail_GC',aggfunc='sum').reset_index().drop('Month',axis=1).set_index('Month_Name')
# evoke_gc_pivot=evoke_gc_pivot.iloc[:,[-1,0]]
# column=['2024 Retail_GC','2023 Retail_GC']
# evoke_gc_pivot.columns=column
# evoke_gc_pivot.loc['YTD Totals']=evoke_gc_pivot.sum(axis=0)
# evoke_gc_pivot['Total GC%']=evoke_gc_pivot.iloc[:,0]/evoke_gc_pivot.iloc[:,-1]-1
# evoke_gc_pivot

In [48]:
# evoke_3pd_gc=evoke.merge(evoke_gc_pivot,left_on='Month_Name',right_on='Month_Name')
# evoke_3pd_gc['2024 Avg Check']=evoke_3pd_gc['2024 Total Sales']/evoke_3pd_gc['2024 Retail_GC']
# evoke_3pd_gc['2023 Avg Check']=evoke_3pd_gc['2023 Total Sales']/evoke_3pd_gc['2023 Retail_GC']
# evoke_3pd_gc['Avg Check%']=evoke_3pd_gc['2024 Avg Check']/evoke_3pd_gc['2023 Avg Check']-1
# evoke_3pd_gc

In [49]:
# writer1=pd.ExcelWriter('Kathy Avg Check with Different Variations.xlsx')
# totals_combined.to_excel(writer1, sheet_name='Total Sales & GC')
# total_sales_no3pd_gc.to_excel(writer1, sheet_name='Total Sales No 3PD GC')
# comp_3pd_gc.to_excel(writer1,sheet_name='Comp Sales and GC with 3PD')
# new_monthly_comps.to_excel(writer1,sheet_name='Comp Sales with no 3PD GC')
# evoke_3pd_gc.to_excel(writer1,sheet_name='Evoke')
# writer1.close()