In [1]:
#Imports the necessary libraries
import pandas as pd
import os
import numpy as np
import pyodbc as odbc
from datetime import date,timedelta,datetime
import xlsxwriter
os.chdir(r'G:\FinanceReports\2024\New folder')

In [2]:
# Names the needed driver, server name, and database
driver_name='SQL Server'
server_name='10.0.1.218'
database='ritascoolnet_live'

In [3]:
#Creates the connection string
connection_string=f"""
DRIVER={{{driver_name}}};
SERVER={server_name};
DATABASE={database};
Trust_Connection=yes"""

In [4]:
#Creates the Connection to SQL Server
connection=odbc.connect(connection_string)
print(connection)

<pyodbc.Connection object at 0x00000191ED4BCC60>

In [5]:
# Queries the tables from SQL
# Reads in the Weekly Sales in 2023
# Data3 Gets Guest Count
data=pd.read_sql_query('''SELECT *
  FROM [ritas_bi].[dbo].[tmp_raw_plda]
  WHERE YEAR(StartDate)>=2023''',connection)
product_sales=pd.read_sql_query('''Select * from ritascoolnet_live.dbo.tblProductSalesTransactions Where Year(dteStartDate)>=2023 ''',connection)

C:\Users\jharned\AppData\Local\Temp\ipykernel_4072\2176703149.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data=pd.read_sql_query('''SELECT *
C:\Users\jharned\AppData\Local\Temp\ipykernel_4072\2176703149.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  product_sales=pd.read_sql_query('''Select * from ritascoolnet_live.dbo.tblProductSalesTransactions Where Year(dteStartDate)>=2023 ''',connection)

In [6]:
data.loc[data.StartDate=='2023-03-20','Week']=12
data.loc[data.StartDate=='2023-03-27','Week']=13

In [23]:
product_sales[(product_sales.StartDate.dt.year==2024)&(product_sales.intRitasStoreID=='65')].head()

,intProductSalesTransactionID,intRitasStoreID,intTransactionCount,StartDate,dteEndDate,dteCreatedOn,vchSource,intNumberOfDays,intRegister,intUECount,intDDCount,intGHCount
18835,4210424,65,454,2024-02-26,2024-03-03,2024-03-05 22:35:49.473,SMART,3,1,3,42,3
19217,4289322,65,825,2024-03-04,2024-03-10,2024-03-12 23:52:33.333,SMART,7,1,21,110,8
19737,4369864,65,1521,2024-03-11,2024-03-17,2024-03-20 01:06:00.097,SMART,7,1,22,111,8
20525,4448640,65,1537,2024-03-18,2024-03-24,2024-03-26 22:47:06.510,SMART,7,1,21,145,7
20997,4530350,65,1241,2024-03-25,2024-03-31,2024-04-03 01:57:44.480,SMART,7,1,15,110,6

In [7]:
product_sales=product_sales.rename(columns={'dteStartDate':'StartDate'})
weeks=data[['StartDate','Week']].drop_duplicates(keep='first')
ps=product_sales.merge(weeks[['StartDate','Week']],how='left',on='StartDate')
ps['Retail_GC']=ps.intTransactionCount-ps.intUECount\
-ps.intDDCount-ps.intGHCount
ps['Year']=ps.StartDate.dt.year
threepd=ps.rename(columns={'intRitasStoreID':'ShopID'})
threepd.ShopID=threepd.ShopID.astype('int')
gc=threepd.groupby(['ShopID','Year','Week','StartDate'])['Retail_GC'].sum().reset_index()
gc.Week=gc.Week.astype('int')
gc.loc[gc.ShopID==31360,'ShopID']=1568
gc['ParentID']=gc.ShopID.astype('int')
gc['ParentID']=gc.ShopID.astype('str')
gc['ParentID']=gc.ParentID.str[-4:]
gc['ParentID']=gc.ParentID.astype('int')
gc_total=gc
gc_total=gc_total[gc_total.ParentID!=491]

In [8]:
gc_total=gc_total.pivot_table(index=['ParentID','Week'],columns='Year',values='Retail_GC',aggfunc='sum',fill_value=0).reset_index()

In [9]:
gc_total[gc_total.Week<=32][2024].sum()

12779495

In [10]:
data['Year']=data.StartDate.dt.year
this_week=data[data.Year==2024].Week.max()
sales=data[data.Week<=this_week]
gc_total=gc_total[gc_total.Week<=this_week]
sales['ParentID']=sales.ShopID.astype('int')
sales['ParentID']=sales.ShopID.astype('str')
sales['ParentID']=sales.ParentID.str[-4:]
sales['ParentID']=sales.ParentID.astype('int')

C:\Users\jharned\AppData\Local\Temp\ipykernel_4072\2989941079.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales['ParentID']=sales.ShopID.astype('int')
C:\Users\jharned\AppData\Local\Temp\ipykernel_4072\2989941079.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales['ParentID']=sales.ShopID.astype('str')
C:\Users\jharned\AppData\Local\Temp\ipykernel_4072\2989941079.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales['ParentID']=sales.ParentID.str[-4:]
C:\Users\jharned\AppData\Local\Temp\ipykernel_4072\2989941079.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales['ParentID']=sales.ParentID.astype('int')

In [11]:
weekly_piv=sales.pivot_table(index=['ParentID'],columns='Year',values='SalesMny',aggfunc='sum',fill_value=0).reset_index()
comp_shops=weekly_piv[(weekly_piv[2023]>0)&(weekly_piv[2024]>0)].ParentID.unique()
len(comp_shops)

524

In [12]:
weekly_piv_dates=sales.pivot_table(index=['ParentID','Week'],columns='Year',values='SalesMny',aggfunc='sum',fill_value=0).reset_index()

In [14]:
merge=weekly_piv_dates.merge(gc_total,on=['ParentID','Week'],how='left',suffixes=[' Sales',' Retail GC'])
comps=merge[merge.ParentID.isin(comp_shops)]

In [15]:
merge['2024 Retail GC'].sum()

13261283.0

In [16]:
weekly_comps=comps.groupby('Week')[['2024 Sales','2023 Sales','2024 Retail GC','2023 Retail GC']].sum()

In [17]:
writer5=pd.ExcelWriter('Comp Sales and Guest Count for Wk'+str(this_week)+' v2.xlsx')
comp_workbook=writer5.book
format_header2=comp_workbook.add_format()
format_header2.set_italic()
format_header2.set_bold()
format_num=comp_workbook.add_format({'num_format':'$#,##0',
                                    'align':'center',
                                    'valign':'vcenter'})
format_qty=comp_workbook.add_format({'num_format':'#,##0',
                                    'align':'center',
                                    'valign':'vcenter'})
border_format=comp_workbook.add_format({'top':2,'bottom':2,'left':2,'right':2})
title='Ritas Franchise Company,LLC'
comp_text='Weekly Comp Sales and Guest Count'
comp_text2='2024 v 2023 Sales and Guest Counts thru Week '+str(this_week)
comp_text3='As of '+str(data.EndDate.max().strftime('%m-%d-%y'))
weekly_comps.to_excel(writer5,startrow=5,startcol=0, sheet_name='Comps')
ws=writer5.sheets['Comps']
ws.conditional_format(xlsxwriter.utility.xl_range(5,0,len(weekly_comps)+5,len(weekly_comps.columns)),
                              {'type': 'no_errors', 'format': border_format})
ws.write(0,1,title,format_header2)
ws.write(1,1,comp_text,format_header2)
ws.write(2,1,comp_text2,format_header2)
ws.write(3,1,comp_text3,format_header2)
ws.set_column('B:C',15,format_num)
ws.set_column('D:E',15,format_qty)
ws.insert_image('A1','Logo.png')
ws.hide_gridlines(2)
writer5.close()