In [1]:
import pandas as pd
import os
import numpy as np
import pyodbc as odbc
from datetime import date,timedelta

In [2]:
# Names the needed driver, server name, and database
driver_name='SQL Server'
server_name='10.0.1.218'
database='ritascoolnet_live'

In [3]:
#Creates the connection string
connection_string=f"""
DRIVER={{{driver_name}}};
SERVER={server_name};
DATABASE={database};
Trust_Connection=yes"""

In [5]:
#Creates the Connection to SQL Server
connection=odbc.connect(connection_string)
print(connection)

<pyodbc.Connection object at 0x0000021467011100>

In [39]:
#Reads in the CoolNet Group Name
data2=pd.read_sql_query('''Select intstoreid,RitasID, FC,CoolNetGroup,LegacyStoreType,State from ritascoolnet_live.dbo.vShopDetail''',connection)
# Queries the tables from SQL
# Reads in the Weekly Sales in 2023
data=pd.read_sql_query('''SELECT *
  FROM [ritas_bi].[dbo].[tmp_raw_plda]
  WHERE YEAR(StartDate)=2023
  ORDER BY Week DESC''',connection)
# Queries the tables from SQL
# Reads in the Daily Guest Count from 2022 onwards
data1=pd.read_sql_query('''SELECT * from ritascoolnet_live.dbo.smartDailyZTape Where intZTapeID=6 and Year(dteDate)>=2023''',connection)

C:\Users\jharned\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\jharned\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\jharned\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [40]:
exclude=[10511,11390,20096,20882,21360,31360,11360,10061]
df=data[~data.ShopID.isin(exclude)]
satellite=data[data.ShopID.isin(exclude)]
satellite['StringID']=satellite.ShopID.astype('int')
df['StringID']=df.ShopID.astype('int')
df['StringID']=df.ShopID.astype('str')
df['StringID']=df.StringID.str[-4:]
df['StringID']=df.StringID.astype('int')
data=pd.concat([df,satellite])

C:\Users\jharned\AppData\Local\Temp\ipykernel_27404\1102845687.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  satellite['StringID']=satellite.ShopID.astype('int')
C:\Users\jharned\AppData\Local\Temp\ipykernel_27404\1102845687.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['StringID']=df.ShopID.astype('int')
C:\Users\jharned\AppData\Local\Temp\ipykernel_27404\1102845687.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['StringID']=df.ShopID.astype('str')
C:\Users\jharned\AppData\Local\Temp\ipykernel_27404\1102845687.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['StringID']=df.StringID.str[-4:]
C:\Users\jharned\AppData\Local\Temp\ipykernel_27404\1102845687.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['StringID']=df.StringID.astype('int')

In [32]:
data.columns

Index(['ShopID', 'intStoreID', 'ProductCode', 'ProdSizeCode', 'DiscountCode',
       'Register', 'SalesQty', 'SalesMny', 'StartDate', 'EndDate', 'EditDate',
       'Week', 'DataSource', 'ShopName', 'State', 'Region', 'ShopStatus',
       'LegacyShopType', 'LegacyShopStatus', 'ProductTypeName',
       'ProductSizeName', 'SpecialVenue', 'CoOpStatus', 'CoOpName', 'CoOpRate',
       'StringID'],
      dtype='object')

In [33]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4346 entries, 0 to 4345
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   intstoreid       4346 non-null   int64
 1   RitasID          4214 non-null   float64
 2   FC               2621 non-null   object
 3   CoolNetGroup     4346 non-null   object
 4   LegacyStoreType  2907 non-null   object
 5   State            4346 non-null   object
dtypes: float64(1), int64(1), object(4)
memory usage: 203.8+ KB

In [42]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80190 entries, 0 to 80189
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   intStoreID           80190 non-null  int64
 1   dteDate              80190 non-null  datetime64[ns]
 2   intRegister          80190 non-null  int64
 3   bitAMPM              80190 non-null  bool
 4   intZTapeID           80190 non-null  int64
 5   vchValue             80190 non-null  object
 6   vchZTapeName_DELETE  80190 non-null  object
 7   intType              80190 non-null  int64
dtypes: bool(1), datetime64[ns](1), int64(4), object(2)
memory usage: 4.4+ MB

In [43]:
data1['vchValue']=data1.vchValue.astype('int')
data1.rename(columns={'vchValue':'Guest_Count'},inplace=True)

In [50]:
guest_count=data1.groupby('intStoreID')['Guest_Count'].sum().reset_index()

In [44]:
data2.rename(columns={'intstoreid':'intStoreID'},inplace=True)

In [45]:
df.columns

Index(['ShopID', 'intStoreID', 'ProductCode', 'ProdSizeCode', 'DiscountCode',
       'Register', 'SalesQty', 'SalesMny', 'StartDate', 'EndDate', 'EditDate',
       'Week', 'DataSource', 'ShopName', 'State', 'Region', 'ShopStatus',
       'LegacyShopType', 'LegacyShopStatus', 'ProductTypeName',
       'ProductSizeName', 'SpecialVenue', 'CoOpStatus', 'CoOpName', 'CoOpRate',
       'StringID'],
      dtype='object')

In [46]:
df=pd.merge(data,data2[['intStoreID','FC']],on='intStoreID',how='left').drop_duplicates(keep='first')

In [70]:
fc_group=df.groupby(['StringID','intStoreID','FC'])[['SalesMny','SalesQty','Week']].agg({'SalesMny':'sum',
                                                                                        'SalesQty':'sum',
                                                                                        'Week':['max','min']}).reset_index()
fc_group['Weeks_Open']=fc_group.iloc[:,-2]-fc_group.iloc[:,-1]+1
fc_group.columns=list(map(''.join, fc_group.columns.values))

In [71]:
fc_group

,StringID,intStoreID,FC,SalesMnysum,SalesQtysum,Weekmax,Weekmin,Weeks_Open
0,1,3817,Cierra Holden,285594.4970,65043,28,8,21
1,2,779,Cierra Holden,381590.0170,86949,28,8,21
2,3,5348,Cierra Holden,214201.2665,48832,28,9,20
3,4,3855,Cierra Holden,181947.6075,40048,28,9,20
4,6,783,Cierra Holden,273264.5155,66818,28,8,21
...,...,...,...,...,...,...,...,...
576,1520,5400,Lisa Harris,174275.2480,39769,28,9,20
577,11390,4933,Dave Roemer,53399.0409,17596,28,4,25
578,20096,4578,Paul Greenberg,44391.3000,7479,28,14,15
579,21360,4644,Cierra Holden,6759.0000,1145,21,21,1
580,31360,5444,Lindsey Goff,96789.5000,11791,21,19,3

In [73]:
all_df=pd.merge(fc_group,guest_count[['intStoreID','Guest_Count']],on='intStoreID',how='left')

In [75]:
all_df.rename(columns={'SalesMnysum':'Sales','SalesQtysum':'Qty'},inplace=True)

In [77]:
all_df.drop(['Weekmax','Weekmin'],axis=1,inplace=True)

In [78]:
all_df['Avg_Sales']=all_df['Sales']/all_df['Weeks_Open']
all_df['Avg_GC']=all_df['Guest_Count']/all_df['Weeks_Open']
all_df['Check_Avg']=all_df['Sales']/all_df['Guest_Count']

In [80]:
os.chdir(r'L:\J.Harned\FC Data')
all_df.to_excel('FC Data.xlsx',index=False)