In [1]:
#Imports the necessary libraries
import pandas as pd
import os
import numpy as np
import pyodbc as odbc
from datetime import date,timedelta
os.chdir(r'''L:\FDD's''')

In [2]:
# Names the needed driver, server name, and database
driver_name='SQL Server'
server_name='10.0.1.218'
database='ritascoolnet_live'

In [3]:
#Creates the connection string
connection_string=f"""
DRIVER={{{driver_name}}};
SERVER={server_name};
DATABASE={database};
Trust_Connection=yes"""

In [4]:
#Creates the Connection to SQL Server
connection=odbc.connect(connection_string)
print(connection)

<pyodbc.Connection object at 0x000001CAA63F01D0>

In [5]:
# Reads in the Google Map to be able to join the inStoreID to the RitasID
data2=pd.read_sql_query('''Select intStoreID, intRitasStoreID as StringID, vchStoreState as State,vchStoreName as ShopName,dteOpenDate,dteTransferDate,dteSeasonalOpenDate,dteSeasonalCloseDate,bitDriveThru as DriveThru from ritascoolnet_live.dbo.GOOGLE_MAP_store''',connection)
# Pulls Marketing info needed like Coolnet Group, MSA, and DMA
data3=pd.read_sql_query('''Select intstoreid as intStoreID,RitasID as ShopID, FC,CoolNetGroup,LegacyStoreType,State,MSAName,DMA,StoreName as ShopName,CoOpName,Seasonality,StoreStatus,OpenDate from ritascoolnet_live.dbo.vShopDetail''',connection)

C:\Users\jharned\AppData\Local\Temp\ipykernel_4156\1233595303.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data2=pd.read_sql_query('''Select intStoreID, intRitasStoreID as StringID, vchStoreState as State,vchStoreName as ShopName,dteOpenDate,dteTransferDate,dteSeasonalOpenDate,dteSeasonalCloseDate,bitDriveThru as DriveThru from ritascoolnet_live.dbo.GOOGLE_MAP_store''',connection)
C:\Users\jharned\AppData\Local\Temp\ipykernel_4156\1233595303.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data3=pd.read_sql_query('''Select intstoreid as intStoreID,RitasID as ShopID, FC,CoolNetGroup,LegacyStoreType,State,MSAName,DMA,StoreName as ShopName,CoOpName,Seasonality,StoreStatus,OpenDate from ritascoolnet_live.dbo.vShopDetail''',connection)

In [6]:
# Queries the tables from SQL
# Reads in the Weekly Sales in 2023
data=pd.read_sql_query('''SELECT *
  FROM [ritas_bi].[dbo].[tmp_raw_plda]
  WHERE YEAR(StartDate)=2024
  ORDER BY Week DESC''',connection)

C:\Users\jharned\AppData\Local\Temp\ipykernel_4156\2576024223.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data=pd.read_sql_query('''SELECT *

In [7]:
#Counts the Number of Satellite Shops
data[~(data.ShopName.str.contains('Mobile'))&(data.ShopID>=10000)].ShopID.nunique()

9

In [8]:
#Counts the number of Mobiles
data[(data.ShopName.str.contains('Mobile'))].ShopID.nunique()

50

In [9]:
data[data.ShopID==374].SalesMny.sum()

589510.635

In [10]:
data[data.ShopName=='Rhode Island Mobile'].SalesMny.sum()

0.0

# Do not need to exclude Satellite Shops that are counted as "Shops"

In [65]:
# exclude=[10511,11390,20096,20882,21360,31360,11360,10061,10374]# List of Satellite Shops that are considered shops.
# Need to exclude these
# df_1=data[~data.ShopID.isin(exclude)]# Excludes Satellite Shops
# satellite=data[data.ShopID.isin(exclude)]# Grabs only the Satellite Shops
# satellite['StringID']=satellite.ShopID.astype('int')
data['StringID']=data.ShopID.astype('int')
data['StringID']=data.ShopID.astype('str')
data['StringID']=data.StringID.str[-4:]
data['StringID']=data.StringID.astype('int')
# data=pd.concat([df_1,satellite])
# Creates a new DataFrame called data with a new column called StringID. This is the column we use to aggregate all of the
# satellite and mobile sales into the Parent Shops

In [66]:
data.SalesMny.sum()

196932194.56449986

In [67]:
data[data.ShopID==1502]['ShopName']

2918      1731 Lakewood Ranch Blvd.-Bradenton FL
2922      1731 Lakewood Ranch Blvd.-Bradenton FL
2934      1731 Lakewood Ranch Blvd.-Bradenton FL
2942      1731 Lakewood Ranch Blvd.-Bradenton FL
2946      1731 Lakewood Ranch Blvd.-Bradenton FL
                           ...
766140    1731 Lakewood Ranch Blvd.-Bradenton FL
766148    1731 Lakewood Ranch Blvd.-Bradenton FL
766152    1731 Lakewood Ranch Blvd.-Bradenton FL
766156    1731 Lakewood Ranch Blvd.-Bradenton FL
766160    1731 Lakewood Ranch Blvd.-Bradenton FL
Name: ShopName, Length: 1769, dtype: object

In [68]:
data.loc[data.ShopID==101,'intStoreID']=5495
data.loc[data.ShopID==218,'intStoreID']=2144
data.loc[data.ShopID==370,'intStoreID']=5483
data.loc[data.ShopID==410,'intStoreID']=5481
data.loc[data.ShopID==412,'intStoreID']=5489
data.loc[data.ShopID==496,'intStoreID']=5496

In [69]:
data[data.ShopID==218]

,ShopID,intStoreID,ProductCode,ProdSizeCode,DiscountCode,Register,SalesQty,SalesMny,StartDate,EndDate,...,ShopStatus,LegacyShopType,LegacyShopStatus,ProductTypeName,ProductSizeName,SpecialVenue,CoOpStatus,CoOpName,CoOpRate,StringID
20235,218,2144,79,302,5,1,0,-53.147,2024-10-28,2024-11-03,...,Open,Walk-in,Rita's Store,Discount,Discount,No,Yes,Wilkes Barre,0.0,218
22040,218,2144,1,7,126,1,30,143.700,2024-10-28,2024-11-03,...,Open,Walk-in,Rita's Store,Italian Ice,Large Ice,No,Yes,Wilkes Barre,0.0,218
22044,218,2144,1,8,126,1,61,426.390,2024-10-28,2024-11-03,...,Open,Walk-in,Rita's Store,Italian Ice,Quart Ice,No,Yes,Wilkes Barre,0.0,218
22048,218,2144,5,113,126,1,22,30.580,2024-10-28,2024-11-03,...,Open,Walk-in,Rita's Store,Custard,Waffle Cone/Bowl Upcharge,No,Yes,Wilkes Barre,0.0,218
22052,218,2144,6,87,126,1,31,232.190,2024-10-28,2024-11-03,...,Open,Walk-in,Rita's Store,Concrete,Concrete,No,Yes,Wilkes Barre,0.0,218
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
740609,218,2144,5,1281,126,1,2,5.980,2024-02-12,2024-02-18,...,Open,Walk-in,Rita's Store,Custard,Pup Cup,No,Yes,Wilkes Barre,0.0,218
740613,218,2144,6,87,126,1,5,37.450,2024-02-12,2024-02-18,...,Open,Walk-in,Rita's Store,Concrete,Concrete,No,Yes,Wilkes Barre,0.0,218
740617,218,2144,1,7,126,1,5,23.950,2024-02-12,2024-02-18,...,Open,Walk-in,Rita's Store,Italian Ice,Large Ice,No,Yes,Wilkes Barre,0.0,218
741035,218,2144,64,1141,126,1,1,6.290,2024-02-12,2024-02-18,...,Open,Walk-in,Rita's Store,Frozen Coffee,Large Frozen Coffee,No,Yes,Wilkes Barre,0.0,218
742029,218,2144,79,302,5,1,0,-11.146,2024-02-12,2024-02-18,...,Open,Walk-in,Rita's Store,Discount,Discount,No,Yes,Wilkes Barre,0.0,218

In [70]:
# Removes shops that never opened or have closed
data2.dropna(subset='dteOpenDate',inplace=True)
data2.dropna(subset='dteSeasonalOpenDate',inplace=True)

In [71]:
shop_detail=data3[data3.ShopID>0].sort_values(by=['ShopID','StoreStatus']).drop_duplicates(subset=['ShopID'],keep='first')

In [72]:
#Removes duplicate shop values
shops=data2.sort_values('intStoreID').drop_duplicates(
    subset='StringID',keep='last')

In [73]:
data3[data3.ShopID==1360]

,intStoreID,ShopID,FC,CoolNetGroup,LegacyStoreType,State,MSAName,DMA,ShopName,CoOpName,Seasonality,StoreStatus,OpenDate
3584,4675,1360.0,Lindsey Goff,PA Klotkowski-Thain-Bauer,Undefined,PA,Philadelphia-Camden-Wilmington,Philadelphia,Domino Lane - Kitchen,None,Seasonal,Terminated,NaT

In [74]:
# #Converts the ShopID to numeric
shops['StringID']=pd.to_numeric(shops['StringID'],errors='coerce')

In [75]:
#Aggregates the Sales Data to get sum of sales and number of unique weeks opened
df_group=data.groupby(['StringID','Region'])[['SalesMny','Week']].agg(
    {'SalesMny':'sum','Week':'nunique'}).reset_index()

In [76]:
df_group.SalesMny.sum()

196932194.5645

In [77]:
shop_detail.columns

Index(['intStoreID', 'ShopID', 'FC', 'CoolNetGroup', 'LegacyStoreType',
       'State', 'MSAName', 'DMA', 'ShopName', 'CoOpName', 'Seasonality',
       'StoreStatus', 'OpenDate'],
      dtype='object')

In [78]:
dates_group=df_group.merge(shop_detail[['intStoreID','OpenDate','ShopName','ShopID','LegacyStoreType','Seasonality',
                                       'StoreStatus']],left_on='StringID',right_on='ShopID')

In [79]:
dates_group

,StringID,Region,SalesMny,Week,intStoreID,OpenDate,ShopName,ShopID,LegacyStoreType,Seasonality,StoreStatus
0,1,Core,398612.2120,32,3817,1984-05-04,1227 Bristol Pk-Andalusia PA,1.0,Walk-up,Seasonal,Open
1,2,Core,555412.4075,36,779,1987-04-01,3244 Red Lion Rd-Phila PA,2.0,Walk-up,Seasonal,Open
2,3,Core,267354.9320,32,5348,1988-06-01,5901 Rising Sun Ave-Phila PA,3.0,Walk-up,Seasonal,Open
3,4,Core,264771.2268,32,3855,1990-04-06,Pine Valley,4.0,Walk-up,Seasonal,Open
4,6,Core,425042.0439,33,783,1990-06-21,Rhawn Street,6.0,Walk-up,Seasonal,Open
...,...,...,...,...,...,...,...,...,...,...,...
560,1563,Developing,279198.0100,19,5523,2024-04-01,1500 S Capitol St-Washington DC,1563.0,Special Venue,Seasonal,Open
561,1568,Core,456138.5000,21,5547,2023-05-06,1 Lincoln Financial Way-Phila PA,1568.0,Special Venue,Year Round,Open
562,1571,Developing,44254.9170,9,5537,2024-09-25,5648 Circa Fishhawk Blvd-Lithia FL,1571.0,Walk-in,Year Round,Open
563,1573,Developing,781249.9200,27,5536,2024-05-16,1 Busch Gardens Blvd-Williamsburg VA,1573.0,Special Venue,Seasonal,Open
564,1574,Developing,183349.7300,22,2686,2024-06-27,10500 SeaWorld Dr-San Antonio TX,1574.0,Special Venue,Year Round,Open

In [80]:
dates_group.SalesMny.sum()

196932194.5645

In [81]:
dates_group[dates_group.StoreStatus!='Open']

,StringID,Region,SalesMny,Week,intStoreID,OpenDate,ShopName,ShopID,LegacyStoreType,Seasonality,StoreStatus
168,243,Core,191908.4240,24,5100,2000-08-21,Highspire,243.0,Walk-up,Seasonal,Temp - Closed
270,403,Core,127367.7515,24,4080,2006-05-05,Mahwah,403.0,Walk-in,Seasonal,Temp - Closed
400,1053,Developing,40519.4490,31,3709,2014-08-16,Asheville NC,1053.0,Walk-in,Year Round,Terminated
434,1322,Developing,182836.9533,40,4445,2018-09-15,Fort Collins,1322.0,Walk-in,Year Round,Terminated
448,1365,Developing,140178.3903,30,5565,2019-06-04,Huntington Beach CA,1365.0,Walk-in / Walk-up,Year Round,RELO - Closed

In [82]:
dates_group=dates_group.merge(data[['intStoreID','LegacyShopStatus']],on='intStoreID',how='left').drop_duplicates(keep='first')

In [83]:
dates_group.StringID.sum()

370544

In [84]:
dates_group.SalesMny.sum()

196932194.5645

In [85]:
grouped=dates_group.merge(shops[['intStoreID','DriveThru']],on='intStoreID',how='left')

In [86]:
grouped.SalesMny.sum()

196932194.5645

In [87]:
grouped[grouped.StringID==496]

,StringID,Region,SalesMny,Week,intStoreID,OpenDate,ShopName,ShopID,LegacyStoreType,Seasonality,StoreStatus,LegacyShopStatus,DriveThru
306,496,Core,295930.197,38,5496,2007-05-09,7698 Belair Rd-Baltimore MD,496.0,Walk-in / Walk-up,Seasonal,Open,Rita's Store,0.0

In [88]:
data[data.ShopID==496]

,ShopID,intStoreID,ProductCode,ProdSizeCode,DiscountCode,Register,SalesQty,SalesMny,StartDate,EndDate,...,ShopStatus,LegacyShopType,LegacyShopStatus,ProductTypeName,ProductSizeName,SpecialVenue,CoOpStatus,CoOpName,CoOpRate,StringID
788,496,5496,3,20,126,1,6,35.94,2024-11-18,2024-11-24,...,Open,Walk-in / Walk-up,Rita's Store,Gelati,Large Gelati,No,Yes,Baltimore,0.015,496
792,496,5496,3,1247,126,1,8,43.92,2024-11-18,2024-11-24,...,Open,Walk-in / Walk-up,Rita's Store,Gelati,Small Gelati,No,Yes,Baltimore,0.015,496
796,496,5496,4,1224,126,1,5,26.45,2024-11-18,2024-11-24,...,Open,Walk-in / Walk-up,Rita's Store,Gelati Blender,Small Gelati Blender,No,Yes,Baltimore,0.015,496
800,496,5496,5,1216,126,1,2,10.38,2024-11-18,2024-11-24,...,Open,Walk-in / Walk-up,Rita's Store,Custard,Large SS Cup/Cone,No,Yes,Baltimore,0.015,496
804,496,5496,5,1218,126,1,4,25.96,2024-11-18,2024-11-24,...,Open,Walk-in / Walk-up,Rita's Store,Custard,Small SS Sundae,No,Yes,Baltimore,0.015,496
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
702023,496,5496,115,112,126,1,5,5.45,2024-03-04,2024-03-10,...,Open,Walk-in / Walk-up,Rita's Store,Sprinkles,Sprinkles Upcharge,No,Yes,Baltimore,0.015,496
702123,496,5496,1,5,126,1,13,38.87,2024-03-04,2024-03-10,...,Open,Walk-in / Walk-up,Rita's Store,Italian Ice,Kids Ice,No,Yes,Baltimore,0.015,496
702127,496,5496,1,7,126,1,10,48.90,2024-03-04,2024-03-10,...,Open,Walk-in / Walk-up,Rita's Store,Italian Ice,Large Ice,No,Yes,Baltimore,0.015,496
702135,496,5496,1,1246,126,1,27,107.73,2024-03-04,2024-03-10,...,Open,Walk-in / Walk-up,Rita's Store,Italian Ice,Small Ice,No,Yes,Baltimore,0.015,496
702147,496,5496,4,1224,126,1,1,5.29,2024-03-04,2024-03-10,...,Open,Walk-in / Walk-up,Rita's Store,Gelati Blender,Small Gelati Blender,No,Yes,Baltimore,0.015,496

In [89]:
season_weeks=data[(data.EndDate>='2024-03-01')&(data.StartDate<='2024-09-30')].groupby('StringID')['Week'].nunique().reset_index()
season_weeks.rename(columns={'Week':'In_Season_Weeks'},inplace=True)

In [90]:
sorted(data[(data.EndDate>='2024-03-01')&(data.StartDate<='2024-09-30')].EndDate.unique())

[Timestamp('2024-03-03 00:00:00'),
 Timestamp('2024-03-10 00:00:00'),
 Timestamp('2024-03-17 00:00:00'),
 Timestamp('2024-03-24 00:00:00'),
 Timestamp('2024-03-31 00:00:00'),
 Timestamp('2024-04-07 00:00:00'),
 Timestamp('2024-04-14 00:00:00'),
 Timestamp('2024-04-21 00:00:00'),
 Timestamp('2024-04-28 00:00:00'),
 Timestamp('2024-05-05 00:00:00'),
 Timestamp('2024-05-12 00:00:00'),
 Timestamp('2024-05-19 00:00:00'),
 Timestamp('2024-05-26 00:00:00'),
 Timestamp('2024-06-02 00:00:00'),
 Timestamp('2024-06-09 00:00:00'),
 Timestamp('2024-06-16 00:00:00'),
 Timestamp('2024-06-23 00:00:00'),
 Timestamp('2024-06-30 00:00:00'),
 Timestamp('2024-07-07 00:00:00'),
 Timestamp('2024-07-14 00:00:00'),
 Timestamp('2024-07-21 00:00:00'),
 Timestamp('2024-07-28 00:00:00'),
 Timestamp('2024-08-04 00:00:00'),
 Timestamp('2024-08-11 00:00:00'),
 Timestamp('2024-08-18 00:00:00'),
 Timestamp('2024-08-25 00:00:00'),
 Timestamp('2024-09-01 00:00:00'),
 Timestamp('2024-09-08 00:00:00'),
 Timestamp('2024-09-15 00:00:00'),
 Timestamp('2024-09-22 00:00:00'),
 Timestamp('2024-09-29 00:00:00'),
 Timestamp('2024-10-06 00:00:00')]

In [91]:
totals=grouped.merge(season_weeks, on='StringID',how='left')
totals['In_Season_Weeks']=totals.In_Season_Weeks.fillna(0)

In [92]:
totals.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 565 entries, 0 to 564
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   StringID          565 non-null    int32
 1   Region            565 non-null    object
 2   SalesMny          565 non-null    float64
 3   Week              565 non-null    int64
 4   intStoreID        565 non-null    int64
 5   OpenDate          565 non-null    datetime64[ns]
 6   ShopName          565 non-null    object
 7   ShopID            565 non-null    float64
 8   LegacyStoreType   565 non-null    object
 9   Seasonality       565 non-null    object
 10  StoreStatus       565 non-null    object
 11  LegacyShopStatus  563 non-null    object
 12  DriveThru         564 non-null    float64
 13  In_Season_Weeks   565 non-null    float64
dtypes: datetime64[ns](1), float64(4), int32(1), int64(2), object(6)
memory usage: 59.7+ KB

In [93]:
totals.SalesMny.sum()

196932194.5645

In [94]:
totals=totals.iloc[:,[7,6,1,10,8,11,2,3,13,5,12,9]]

In [95]:
totals.sort_values('ShopID')

,ShopID,ShopName,Region,StoreStatus,LegacyStoreType,LegacyShopStatus,SalesMny,Week,In_Season_Weeks,OpenDate,DriveThru,Seasonality
0,1.0,1227 Bristol Pk-Andalusia PA,Core,Open,Walk-up,Rita's Store,398612.2120,32,32.0,1984-05-04,0.0,Seasonal
1,2.0,3244 Red Lion Rd-Phila PA,Core,Open,Walk-up,Rita's Store,555412.4075,36,32.0,1987-04-01,0.0,Seasonal
2,3.0,5901 Rising Sun Ave-Phila PA,Core,Open,Walk-up,Rita's Store,267354.9320,32,32.0,1988-06-01,0.0,Seasonal
3,4.0,Pine Valley,Core,Open,Walk-up,Rita's Store,264771.2268,32,32.0,1990-04-06,0.0,Seasonal
4,6.0,Rhawn Street,Core,Open,Walk-up,Rita's Store,425042.0439,33,32.0,1990-06-21,0.0,Seasonal
...,...,...,...,...,...,...,...,...,...,...,...,...
560,1563.0,1500 S Capitol St-Washington DC,Developing,Open,Special Venue,Rita's Store,279198.0100,19,19.0,2024-04-01,0.0,Seasonal
561,1568.0,1 Lincoln Financial Way-Phila PA,Core,Open,Special Venue,Express Store,456138.5000,21,16.0,2023-05-06,0.0,Year Round
562,1571.0,5648 Circa Fishhawk Blvd-Lithia FL,Developing,Open,Walk-in,Rita's Store,44254.9170,9,2.0,2024-09-25,2.0,Year Round
563,1573.0,1 Busch Gardens Blvd-Williamsburg VA,Developing,Open,Special Venue,Express Store,781249.9200,27,21.0,2024-05-16,0.0,Seasonal
564,1574.0,10500 SeaWorld Dr-San Antonio TX,Developing,Open,Special Venue,Express Store,183349.7300,22,15.0,2024-06-27,0.0,Year Round

In [96]:
totals.rename(columns={'Week':'Weeks_Open'},inplace=True)

In [97]:
removed=totals[(totals.StoreStatus!='Open')|(totals.In_Season_Weeks<26)]
totals[~totals.ShopID.isin(removed.ShopID)]

,ShopID,ShopName,Region,StoreStatus,LegacyStoreType,LegacyShopStatus,SalesMny,Weeks_Open,In_Season_Weeks,OpenDate,DriveThru,Seasonality
0,1.0,1227 Bristol Pk-Andalusia PA,Core,Open,Walk-up,Rita's Store,3.986122e+05,32,32.0,1984-05-04,0.0,Seasonal
1,2.0,3244 Red Lion Rd-Phila PA,Core,Open,Walk-up,Rita's Store,5.554124e+05,36,32.0,1987-04-01,0.0,Seasonal
2,3.0,5901 Rising Sun Ave-Phila PA,Core,Open,Walk-up,Rita's Store,2.673549e+05,32,32.0,1988-06-01,0.0,Seasonal
3,4.0,Pine Valley,Core,Open,Walk-up,Rita's Store,2.647712e+05,32,32.0,1990-04-06,0.0,Seasonal
4,6.0,Rhawn Street,Core,Open,Walk-up,Rita's Store,4.250420e+05,33,32.0,1990-06-21,0.0,Seasonal
...,...,...,...,...,...,...,...,...,...,...,...,...
546,1522.0,3319 W Elm St-McHenry IL,Developing,Open,Walk-in,Rita's Store,4.224039e+05,40,32.0,2023-08-07,0.0,Seasonal
552,1530.0,419 W Baltimore St-Baltimore MD,Core,Open,Walk-in / Walk-up,Rita's Store,9.213286e+04,35,32.0,2023-08-16,0.0,Seasonal
554,1534.0,500 SeaWorld Dr-San Diego CA,Developing,Open,Special Venue,Express Store,8.799449e+05,47,32.0,2023-06-27,0.0,Year Round
557,1551.0,10165 McKinley Dr-Tampa Bay FL,Developing,Open,Special Venue,Express Store,6.031023e+05,44,32.0,2024-01-26,0.0,Year Round
558,1552.0,7007 SeaWorld Dr-Orlando FL,Developing,Open,Special Venue,Express Store,1.231367e+06,47,32.0,2023-12-15,0.0,Year Round

In [98]:
totals['Rank']=totals.SalesMny.rank(ascending=False)
totals=totals.iloc[:,np.r_[-1,0:len(totals.columns)-1]]
totals=totals.sort_values(by='Rank')

In [100]:
final=totals[~totals.ShopID.isin(removed.ShopID)]
final=final.drop('Rank',axis=1)
final['Rank']=final.SalesMny.rank(ascending=False)
final=final.iloc[:,np.r_[-1,0:len(final.columns)-1]]
final

,Rank,ShopID,ShopName,Region,StoreStatus,LegacyStoreType,LegacyShopStatus,SalesMny,Weeks_Open,In_Season_Weeks,OpenDate,DriveThru,Seasonality
249,1.0,374.0,Rhode Island Avenue,Developing,Open,Walk-up,Rita's Store,1.305841e+06,45,32.0,2005-08-20,0.0,Seasonal
558,2.0,1552.0,7007 SeaWorld Dr-Orlando FL,Developing,Open,Special Venue,Express Store,1.231367e+06,47,32.0,2023-12-15,0.0,Year Round
291,3.0,463.0,681 River Ave-Lakewood NJ,Core,Open,Walk-in / Walk-up,Rita's Store,9.989416e+05,47,32.0,2007-03-02,0.0,Seasonal
373,4.0,888.0,Kings Dominion,Developing,Open,Special Venue,Express Store,9.847453e+05,33,29.0,2012-04-06,0.0,Resort
366,5.0,866.0,100 W Hersheypark Dr-Hershey PA,Core,Open,Special Venue,Express Store,9.308521e+05,31,27.0,2011-05-06,0.0,Seasonal
...,...,...,...,...,...,...,...,...,...,...,...,...,...
416,520.0,1171.0,621 Boll Weevil Cr-Enterprise AL,Developing,Open,Walk-up,Rita's Store,7.985721e+04,47,32.0,2016-11-03,0.0,Seasonal
248,521.0,374.0,Rhode Island Avenue,Core,Open,Walk-up,Rita's Store,7.651763e+04,11,32.0,2005-08-20,0.0,Seasonal
505,522.0,1462.0,8615 Liberty Rd-Randallstown MD,Core,Open,Walk-in / Walk-up,Rita's Store,5.363602e+04,31,31.0,2021-11-18,0.0,Seasonal
293,523.0,468.0,Marley Station,Core,Open,Mall,Rita's Store,4.081673e+04,46,31.0,2007-04-26,0.0,Year Round
411,524.0,1132.0,2601 Geo. Washington Memorial Hwy-Yorktown VA,Developing,Open,Walk-in,Express Store,1.461960e+04,36,28.0,2015-09-12,0.0,Year Round

In [57]:
totals

,Rank,ShopName,Region,StoreStatus,LegacyStoreType,LegacyShopStatus,SalesMny,Weeks_Open,In_Season_Weeks,OpenDate
249,1.0,Rhode Island Avenue,Developing,Open,Walk-up,Rita's Store,1305841.485,45,32.0,2005-08-20
558,2.0,7007 SeaWorld Dr-Orlando FL,Developing,Open,Special Venue,Express Store,1231367.020,47,32.0,2023-12-15
291,3.0,681 River Ave-Lakewood NJ,Core,Open,Walk-in / Walk-up,Rita's Store,998941.620,47,32.0,2007-03-02
373,4.0,Kings Dominion,Developing,Open,Special Venue,Express Store,984745.340,33,29.0,2012-04-06
366,5.0,100 W Hersheypark Dr-Hershey PA,Core,Open,Special Venue,Express Store,930852.140,31,27.0,2011-05-06
...,...,...,...,...,...,...,...,...,...,...
555,561.0,1976 Warrensville Cnt Rd-South Euclid OH,Developing,Open,Walk-up,Rita's Store,26570.902,2,0.0,2024-11-13
411,562.0,2601 Geo. Washington Memorial Hwy-Yorktown VA,Developing,Open,Walk-in,Express Store,14619.600,36,28.0,2015-09-12
553,563.0,5817 Main St-McCordsville IN,Developing,Open,Walk-up,Rita's Store,9029.412,10,3.0,2024-09-18
515,564.0,4424 Friendly Way-Wesley Chapel FL,Developing,Open,Walk-in / Walk-up,Rita's Store,6544.835,3,0.0,2024-11-07
342,565.0,Inner Harbor,Core,Open,Walk-up,Rita's Store,1629.760,7,7.0,2008-06-13

In [45]:
writer=pd.ExcelWriter('2025 FDD AUV v1 11.25.2024.xlsx')
totals.to_excel(writer,sheet_name='All Shops',index=False)
removed.to_excel(writer,sheet_name='Removed Shops',index=False)
final.to_excel(writer,sheet_name='Final',index=False)
writer.close()

In [46]:
test=pd.read_sql_query('''Select * from ritascoolnet_live.dbo.vShopDetail''',connection)
test=test[test.RitasID>0].sort_values(by=['RitasID','StoreStatus'])
test[test.RitasID==218]

C:\Users\jharned\AppData\Local\Temp\ipykernel_21812\515614382.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  test=pd.read_sql_query('''Select * from ritascoolnet_live.dbo.vShopDetail''',connection)

,intstoreid,RitasID,StoreName,Parent Shop #,Franchisee,LegacyStoreStatus,StoreStatus,LegacyStoreType,StoreType,SiteType,...,Royalty %,Ad Fund %,Sales Based Royalty,Special Venue,Special Venue Royalty Discount,Special Venue Royalty Discount %,CoopStatus,CoOpName,Coop Percent,CoolNetGroup
1154,2144,218.0,Hazleton,218.0,Thomas C. Boock,Rita's Store,Open,Walk-in,Walk-in,End Cap,...,0.065,0.025,No,No,No,0.0,Yes,Wilkes Barre,0.0,PA Boock
1774,2826,218.0,Hazleton,218.0,Patricia L. Boock,Terminated,Terminated,Walk-up,Walk-up,Undefined,...,0.065,0.025,None,No,No,0.0,No,None,0.0,PA Boock

In [47]:
data[data.StringID==218]

,ShopID,intStoreID,ProductCode,ProdSizeCode,DiscountCode,Register,SalesQty,SalesMny,StartDate,EndDate,...,ShopStatus,LegacyShopType,LegacyShopStatus,ProductTypeName,ProductSizeName,SpecialVenue,CoOpStatus,CoOpName,CoOpRate,StringID
14709,218,2144,5,113,126,1,22,30.58,2024-10-28,2024-11-03,...,Open,Walk-in,Rita's Store,Custard,Waffle Cone/Bowl Upcharge,No,Yes,Wilkes Barre,0.0,218
14721,218,2144,1,7,126,1,30,143.70,2024-10-28,2024-11-03,...,Open,Walk-in,Rita's Store,Italian Ice,Large Ice,No,Yes,Wilkes Barre,0.0,218
14725,218,2144,1,8,126,1,61,426.39,2024-10-28,2024-11-03,...,Open,Walk-in,Rita's Store,Italian Ice,Quart Ice,No,Yes,Wilkes Barre,0.0,218
14797,218,2144,5,1219,126,1,7,55.93,2024-10-28,2024-11-03,...,Open,Walk-in,Rita's Store,Custard,Large SS Sundae,No,Yes,Wilkes Barre,0.0,218
14801,218,2144,15,136,126,1,7,9.03,2024-10-28,2024-11-03,...,Open,Walk-in,Rita's Store,Additional Toppings,Additional Topping,No,Yes,Wilkes Barre,0.0,218
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
735487,218,2144,64,1146,126,1,2,11.58,2024-02-12,2024-02-18,...,Open,Walk-in,Rita's Store,Frozen Coffee,Small Frozen Coffee,No,Yes,Wilkes Barre,0.0,218
735491,218,2144,99,999,126,1,2,5.98,2024-02-12,2024-02-18,...,Open,Walk-in,Rita's Store,Non-Coded Revenue Sales,Invalid Product Code,No,Yes,Wilkes Barre,0.0,218
735495,218,2144,59,261,126,1,4,13.16,2024-02-12,2024-02-18,...,Open,Walk-in,Rita's Store,Cookie Sandwiches,Individual Custard Cookie Sandwich,No,Yes,Wilkes Barre,0.0,218
735511,218,2144,5,1218,126,1,3,20.97,2024-02-12,2024-02-18,...,Open,Walk-in,Rita's Store,Custard,Small SS Sundae,No,Yes,Wilkes Barre,0.0,218
735515,218,2144,1,7,126,1,5,23.95,2024-02-12,2024-02-18,...,Open,Walk-in,Rita's Store,Italian Ice,Large Ice,No,Yes,Wilkes Barre,0.0,218