In [1]:
import pandas as pd
import os
import numpy as np
import pyodbc as odbc
import datetime as dt
from datetime import date,timedelta,datetime
import matplotlib.pyplot as plt
import seaborn as sns
import xlsxwriter

In [2]:
os.chdir(r'G:\FinanceReports\YTD Files')
twenty=pd.read_excel('2020-SRSsales-productLevel-wk1-53.xlsx',sheet_name='2020')

In [3]:
#Names the needed driver, server name, and database
driver_name='SQL Server'
server_name='10.0.1.218'
database='ritascoolnet_live'
#Creates the connection string
connection_string=f"""
DRIVER={{{driver_name}}};
SERVER={server_name};
DATABASE={database};
Trust_Connection=yes"""
#Creates the Connection to SQL Server
connection=odbc.connect(connection_string)
print(connection)
# Queries the tables from SQL
# Reads in the Weekly Sales in 2023
data=pd.read_sql_query('''SELECT *
  FROM [ritas_bi].[dbo].[tmp_raw_plda]
  WHERE YEAR(StartDate)>=2022
  ORDER BY Week DESC''',connection)
data2=pd.read_sql_query('''SELECT *
  FROM [ritas_bi].[dbo].[tmp_raw_pldb]
  WHERE YEAR(StartDate)=2021''',connection)

<pyodbc.Connection object at 0x0000019CBF9CCE00>

C:\Users\jharned\AppData\Local\Temp\ipykernel_18772\3322647019.py:16: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data=pd.read_sql_query('''SELECT *
C:\Users\jharned\AppData\Local\Temp\ipykernel_18772\3322647019.py:20: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data2=pd.read_sql_query('''SELECT *

In [5]:
all_data=pd.concat([twenty,data2,data])
all_data['Year']=all_data.StartDate.dt.year

In [6]:
states=['AL','CA','CO','FL','GA','KY','MI','MN','NV','NC','SC','TN','TX','UT']

In [8]:
df=all_data[(all_data.State.isin(states))&(all_data.ShopID<10000)]

In [16]:
df.groupby(['Year','Week','State'])[['SalesMny','ShopID']].agg({'SalesMny':'sum','ShopID':'nunique'}).reset_index().sort_values(by=['State','Year'])

      Year  Week State   SalesMny  ShopID
0     2019     1    AL  5006.2540       4
11    2020     1    AL  4316.9600       2
22    2020     2    AL  4294.7385       4
33    2020     3    AL  4950.0328       3
44    2020     4    AL  4240.7785       3
...    ...   ...   ...        ...     ...
3238  2024    42    UT  6041.1059       2
3250  2024    43    UT  6200.0080       2
3262  2024    44    UT  4171.6235       2
3274  2024    45    UT  5510.4910       2
3286  2024    46    UT  5613.5925       2

[3287 rows x 5 columns]

In [19]:
all_data[(all_data.Year==2020)&(all_data.Week==1)].

array(['FL', 'NJ', 'PA', 'MD', 'GA', 'NC', 'TX', 'SC', 'VA', 'AZ', 'CA',
       'AL', 'NY', 'CO', 'IA', 'TN', 'HI', 'IL', 'LA', 'AR', 'NV', 'UT',
       'OH', 'NE'], dtype=object)