In [1]:
import pandas as pd
import os
import numpy as np
import pyodbc as odbc
from datetime import date,timedelta
os.chdir(r'G:\FinanceReports\2024\Wk26')

In [2]:
# Names the needed driver, server name, and database
driver_name='SQL Server'
server_name='10.0.1.218'
database='ritascoolnet_live'
#Creates the connection string
connection_string=f"""
DRIVER={{{driver_name}}};
SERVER={server_name};
DATABASE={database};
Trust_Connection=yes"""
#Creates the Connection to SQL Server
connection=odbc.connect(connection_string)
print(connection)
data=pd.read_sql_query('''SELECT *
  FROM [ritas_bi].[dbo].[tmp_raw_plda]
  WHERE YEAR(StartDate)=2024
  ORDER BY Week DESC''',connection)
data1=pd.read_sql_query('''SELECT *
  FROM [ritas_bi].[dbo].[tmp_raw_plda]
  WHERE YEAR(StartDate)=2023
  ORDER BY Week DESC''',connection)
data2=pd.read_sql_query('''SELECT *
  FROM [ritas_bi].[dbo].[tmp_raw_pldb]
  WHERE YEAR(StartDate)=2021''',connection)
data3=pd.read_sql_query('''Select intstoreid,RitasID as ShopID, FC,CoolNetGroup,LegacyStoreType,State,MSAName,DMA,StoreName as ShopName,StoreStatus,[Special Venue] as SV,SeasonClose,[Parent Shop #] as ParentID from ritascoolnet_live.dbo.vShopDetail''',connection)

<pyodbc.Connection object at 0x000001CD8E63C6B0>

C:\Users\jharned\AppData\Local\Temp\ipykernel_4748\5210927.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data=pd.read_sql_query('''SELECT *
C:\Users\jharned\AppData\Local\Temp\ipykernel_4748\5210927.py:18: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data1=pd.read_sql_query('''SELECT *
C:\Users\jharned\AppData\Local\Temp\ipykernel_4748\5210927.py:22: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data2=pd.read_sql_query('''SELECT *
C:\Users\jharned\AppData\Local\Temp\ipykernel_4748\5210927.py:25: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data3=pd.read_sql_query('''Select intstoreid,RitasID as ShopID, FC,CoolNetGroup,LegacyStoreType,State,MSAName,DMA,StoreName as ShopName,StoreStatus,[Special Venue] as SV,SeasonClose,[Parent Shop #] as ParentID from ritascoolnet_live.dbo.vShopDetail''',connection)

In [3]:
data3.sort_values(by='ShopID').drop_duplicates(subset='ParentID',keep='first')

,intstoreid,ShopID,FC,CoolNetGroup,LegacyStoreType,State,MSAName,DMA,ShopName,StoreStatus,SV,SeasonClose,ParentID
0,20,0.0,None,Rita's Water ice Corporate,None,OH,None,None,Beachwood,None,No,NaT,0.0
2740,3817,1.0,Lindsey Goff,PA Thompson,Walk-up,PA,Philadelphia-Camden-Wilmington,Philadelphia,Woodhaven,Open,No,2024-10-01,1.0
458,779,2.0,Lindsey Goff,PA Brown Alan,Walk-up,PA,Philadelphia-Camden-Wilmington,Philadelphia,3244 Red Lion Rd-Phila PA,Open,No,2024-10-28,2.0
4234,5348,3.0,Lindsey Goff,PA Hamburg,Walk-up,PA,Philadelphia-Camden-Wilmington,Philadelphia,5901 Rising Sun Ave-Phila PA,Open,No,2024-10-06,3.0
2778,3855,4.0,Lindsey Goff,PA Kasner,Walk-up,PA,Philadelphia-Camden-Wilmington,Philadelphia,Pine Valley,Open,No,2024-10-06,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4437,5553,100239.0,Dave Roemer,MI Khalil-Rizka-Nasser,Walk-in / Walk-up,MI,None,None,Oakland & Wayne Co. MI Loc. 3,Sold!!!,No,NaT,100239.0
4439,5555,100240.0,Dave Roemer,MI Khalil-Rizka-Nasser,Walk-in / Walk-up,MI,None,None,Oakland & Wayne Co. MI Loc. 4,Coming Soon,None,NaT,100240.0
4438,5554,100241.0,Dave Roemer,MI Khalil-Rizka-Nasser,Walk-in / Walk-up,MI,None,None,Oakland & Wayne Co. MI Loc. 5,Sold!!!,No,NaT,100241.0
4383,5499,1000196.0,John Martin (FC),TX Raccuglia,Walk-in / Walk-up,TX,None,None,Williamson & Travis Counties TX Loc. 2,Sold!!!,None,NaT,1000196.0
10,35,NaN,None,Ritas Corporate,None,OH,None,None,Eastlake,None,None,NaT,NaN

In [4]:
data['Year']=data.StartDate.dt.year
data1['Year']=data1.StartDate.dt.year
all_data=pd.concat([data,data1])
all_data=all_data[all_data.Week<=21]
ad=all_data.pivot_table(index=['ShopID'],columns='Year',values='SalesMny',aggfunc='sum',fill_value=0).reset_index()
comps=ad[(ad[2023]>0)&(ad[2024]>0)]
comps['Comps']='Yes'
all_data=all_data.merge(comps[['ShopID','Comps']],on='ShopID',how='left')
all_data['Comps']=all_data.Comps.fillna('No')
all_data.Comps.value_counts()

C:\Users\jharned\AppData\Local\Temp\ipykernel_4748\1027020545.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  comps['Comps']='Yes'

Comps
Yes    517795
No      29512
Name: count, dtype: int64

In [5]:
data4=data3.sort_values(by='ShopID').drop_duplicates(subset='ParentID',keep='first')
all_data=all_data.merge(data4[['ShopID','DMA','SV','MSAName']],how='left',on='ShopID').drop_duplicates(keep='first')
all_data.head()

,ShopID,intStoreID,ProductCode,ProdSizeCode,DiscountCode,Register,SalesQty,SalesMny,StartDate,EndDate,...,ProductSizeName,SpecialVenue,CoOpStatus,CoOpName,CoOpRate,Year,Comps,DMA,SV,MSAName
0,3,5348,5,32,126,1,13,25.87,2024-05-20,2024-05-26,...,SS Extra Custard,No,Yes,Philadelphia,0.02,2024,Yes,Philadelphia,No,Philadelphia-Camden-Wilmington
1,8,785,59,1138,126,1,1,19.49,2024-05-20,2024-05-26,...,6-pack Custard Cookie Sandwiches,No,Yes,Philadelphia,0.02,2024,Yes,Philadelphia,No,Philadelphia-Camden-Wilmington
2,1,3817,1,5,126,1,202,603.98,2024-05-20,2024-05-26,...,Kids Ice,No,Yes,Philadelphia,0.02,2024,Yes,Philadelphia,No,Philadelphia-Camden-Wilmington
3,2,779,3,1247,126,1,504,2766.96,2024-05-20,2024-05-26,...,Small Gelati,No,Yes,Philadelphia,0.02,2024,Yes,Philadelphia,No,Philadelphia-Camden-Wilmington
4,3,5348,5,1219,126,1,9,71.91,2024-05-20,2024-05-26,...,Large SS Sundae,No,Yes,Philadelphia,0.02,2024,Yes,Philadelphia,No,Philadelphia-Camden-Wilmington

In [ ]:
data[data.Week.between(16,19)].SalesMny.sum()

In [ ]:
data[data.Region.isna()]

In [ ]:
data[data.Region=='South'].State.unique()

In [ ]:
os.chdir(r'G:\FinanceReports')

In [ ]:
shops=[144,170,230,338,1265,1377,1390,1466,11390]
data3[data3.ShopID.isin(shops)]

In [ ]:
data_3=pd.read_excel('2018-SRSsales-productLevel-2.xlsx', sheet_name='2018')
data_4=pd.read_excel('2019-SRSsales-productLevel-2.xlsx', sheet_name='2019')
data_5=pd.read_excel('2017-SRSsales-productLevel-2.xlsx',sheet_name='2017')

In [ ]:
os.chdir(r'G:\FinanceReports\YTD Files')
data_6=pd.read_excel('2020-SRSsales-productLevel-wk1-53.xlsx', sheet_name='2020')

In [ ]:
sales_23=data.SalesMny.sum()
sales_22=data1.SalesMny.sum()
# sales_21=data2.SalesMny.sum()
# sales_20=data_6.SalesMny.sum()
# sales_19=data_4.SalesMny.sum()
# sales_18=data_3.SalesMny.sum()
# sales_17=data_5.SalesMny.sum()
qty_23=data.SalesQty.sum()
qty_22=data1.SalesQty.sum()
# qty_21=data2.SalesQty.sum()
# qty_20=data_6.SalesQty.sum()
# qty_19=data_4.SalesQty.sum()
# qty_18=data_3.SalesQty.sum()
# qty_17=data_5.SalesQty.sum()

In [ ]:
data1.columns

In [ ]:
data1.StartDate.unique()

In [ ]:
pmix_item23=data.pivot_table(index='ProductSizeName',values=['SalesMny','SalesQty'],aggfunc='sum').reset_index()
pmix_item23['Sales%']=pmix_item23.SalesMny/sales_23
pmix_item23['Qty%']=pmix_item23.SalesQty/qty_23
pmix_item23

In [ ]:
pmix_item23=data.pivot_table(index='ProductTypeName',values=['SalesMny','SalesQty'],aggfunc='sum').reset_index()
pmix_item23['Sales%']=pmix_item23.SalesMny/sales_23
pmix_item23['Qty%']=pmix_item23.SalesQty/qty_23
pmix_item23

In [ ]:
pmix_item22=data1.pivot_table(index='ProductSizeName',values=['SalesMny','SalesQty'],aggfunc='sum').reset_index()
pmix_item22['Sales%']=pmix_item22.SalesMny/sales_22
pmix_item22['Qty%']=pmix_item22.SalesQty/qty_22
pmix_item22.to_excel('PMIX 2022.xlsx',index=False)

In [ ]:
data1[data1.ProductSizeName=='Gallon'][['ProductCode','ProdSizeCode']]

In [ ]:
data[data.ProdSizeCode==1200].SalesMny.sum()

In [ ]:
pmix_item21=data2.pivot_table(index='ProductSizeName',values=['SalesMny','SalesQty'],aggfunc='sum').reset_index()
pmix_item21['Sales%']=pmix_item21.SalesMny/sales_21
pmix_item21['Qty%']=pmix_item21.SalesQty/qty_21
pmix_item21

In [ ]:
pmix_item20=data_6.pivot_table(index='ProductSizeName',values=['SalesMny','SalesQty'],aggfunc='sum').reset_index()
pmix_item20['Sales%']=pmix_item20.SalesMny/sales_20
pmix_item20['Qty%']=pmix_item20.SalesQty/qty_20
pmix_item20

In [ ]:
pmix_item19=data_4.pivot_table(index='ProductSizeName',values=['SalesMny','SalesQty'],aggfunc='sum').reset_index()
pmix_item19['Sales%']=pmix_item19.SalesMny/sales_19
pmix_item19['Qty%']=pmix_item19.SalesQty/qty_19
pmix_item19

In [ ]:
pmix_item18=data_3.pivot_table(index='ProductSizeName',values=['SalesMny','SalesQty'],aggfunc='sum').reset_index()
pmix_item18['Sales%']=pmix_item18.SalesMny/sales_18
pmix_item18['Qty%']=pmix_item18.SalesQty/qty_18
pmix_item18

In [ ]:
pmix_item17=data_5.pivot_table(index='ProductSizeName',values=['SalesMny','SalesQty'],aggfunc='sum').reset_index()
pmix_item17['Sales%']=pmix_item17.SalesMny/sales_17
pmix_item17['Qty%']=pmix_item17.SalesQty/qty_17
pmix_item17.rename(columns={'SalesMny':'Sales_17','SalesQty':'Qty_17','Sales%':'Sales%_17','Qty%':'Qty%_17'})

In [ ]:
writer=pd.ExcelWriter('PMIX 2017-23.xlsx')
pmix_item23.sort_values(by='Sales%',ascending=False).to_excel(writer,sheet_name='2023',index=False)
pmix_item22.sort_values(by='Sales%',ascending=False).to_excel(writer,sheet_name='2022',index=False)
pmix_item21.sort_values(by='Sales%',ascending=False).to_excel(writer,sheet_name='2021',index=False)
pmix_item20.sort_values(by='Sales%',ascending=False).to_excel(writer,sheet_name='2020',index=False)
pmix_item19.sort_values(by='Sales%',ascending=False).to_excel(writer,sheet_name='2019',index=False)
pmix_item18.sort_values(by='Sales%',ascending=False).to_excel(writer,sheet_name='2018',index=False)
pmix_item17.sort_values(by='Sales%',ascending=False).to_excel(writer,sheet_name='2017',index=False)
writer.save()
writer.close()

In [ ]:
data_5.groupby('ProductSizeName')['SalesQty'].sum().sort_values(ascending=False)

In [ ]:
# pmix_item17.rename(columns={'SalesMny':'Sales_17','SalesQty':'Qty_17','Sales%':'Sales%_17','Qty%':'Qty%_17'},inplace=True)
# pmix_item18.rename(columns={'SalesMny':'Sales_18','SalesQty':'Qty_18','Sales%':'Sales%_18','Qty%':'Qty%_18'},inplace=True)
# pmix_item19.rename(columns={'SalesMny':'Sales_19','SalesQty':'Qty_19','Sales%':'Sales%_19','Qty%':'Qty%_19'},inplace=True)
# pmix_item20.rename(columns={'SalesMny':'Sales_20','SalesQty':'Qty_20','Sales%':'Sales%_20','Qty%':'Qty%_20'},inplace=True)
# pmix_item21.rename(columns={'SalesMny':'Sales_21','SalesQty':'Qty_21','Sales%':'Sales%_21','Qty%':'Qty%_21'},inplace=True)
# pmix_item22.rename(columns={'SalesMny':'Sales_22','SalesQty':'Qty_22','Sales%':'Sales%_22','Qty%':'Qty%_22'},inplace=True)
pmix_item23.rename(columns={'SalesMny':'Sales_23','SalesQty':'Qty_23','Sales%':'Sales%_23','Qty%':'Qty%_23'},inplace=True)

In [ ]:
pmix_all_years=pmix_item23.merge(pmix_item22,how='outer',on='ProductSizeName').merge(pmix_item21,how='outer',on='ProductSizeName').merge(pmix_item20,how='outer',on='ProductSizeName').merge(pmix_item19,
    how='outer',on='ProductSizeName').merge(pmix_item18,how='outer',on='ProductSizeName').merge(pmix_item17,how='outer',on='ProductSizeName').fillna(0)

In [ ]:
pmix_all_years.to_excel('PMIX Combined.xlsx',index=False)

In [ ]:
pmix_all_years

In [ ]:
pmix_22=data1[data1.Week<=45].pivot_table(index='ProductTypeName',values=['SalesMny','SalesQty'],aggfunc='sum').reset_index()
pmix_22['Sales%']=pmix_22.SalesMny/sales_22
pmix_22['Qty%']=pmix_22.SalesQty/qty_22
pmix_22.to_excel('PMIX 2022.xlsx',index=False)

In [ ]:
pmix_23=data.pivot_table(index='ProductTypeName',values=['SalesMny','SalesQty'],aggfunc='sum').reset_index()
pmix_23['Sales%']=pmix_23.SalesMny/sales_23
pmix_23['Qty%']=pmix_23.SalesQty/qty_23

In [ ]:
pmix_21=data2.pivot_table(index='ProductTypeName',values=['SalesMny','SalesQty'],aggfunc='sum').reset_index()
pmix_21['Sales%']=pmix_21.SalesMny/sales_21
pmix_21['Qty%']=pmix_21.SalesQty/qty_21

In [ ]:
pmix_20=data_6.pivot_table(index='ProductTypeName',values=['SalesMny','SalesQty'],aggfunc='sum').reset_index()
pmix_20['Sales%']=pmix_20.SalesMny/sales_20
pmix_20['Qty%']=pmix_20.SalesQty/qty_20

In [ ]:
pmix_19=data_4.pivot_table(index='ProductTypeName',values=['SalesMny','SalesQty'],aggfunc='sum').reset_index()
pmix_19['Sales%']=pmix_19.SalesMny/sales_19
pmix_19['Qty%']=pmix_19.SalesQty/qty_19

In [ ]:
pmix_18=data_3.pivot_table(index='ProductTypeName',values=['SalesMny','SalesQty'],aggfunc='sum').reset_index()
pmix_18['Sales%']=pmix_18.SalesMny/sales_18
pmix_18['Qty%']=pmix_18.SalesQty/qty_18

In [ ]:
pmix_17=data_5.pivot_table(index='ProductTypeName',values=['SalesMny','SalesQty'],aggfunc='sum').reset_index()
pmix_17['Sales%']=pmix_17.SalesMny/sales_17
pmix_17['Qty%']=pmix_17.SalesQty/qty_17

In [ ]:
writer=pd.ExcelWriter('PMIX Category 2017-23.xlsx')
pmix_23.sort_values(by='Sales%',ascending=False).to_excel(writer,sheet_name='2023',index=False)
pmix_22.sort_values(by='Sales%',ascending=False).to_excel(writer,sheet_name='2022',index=False)
pmix_21.sort_values(by='Sales%',ascending=False).to_excel(writer,sheet_name='2021',index=False)
pmix_20.sort_values(by='Sales%',ascending=False).to_excel(writer,sheet_name='2020',index=False)
pmix_19.sort_values(by='Sales%',ascending=False).to_excel(writer,sheet_name='2019',index=False)
pmix_18.sort_values(by='Sales%',ascending=False).to_excel(writer,sheet_name='2018',index=False)
pmix_17.sort_values(by='Sales%',ascending=False).to_excel(writer,sheet_name='2017',index=False)
writer.save()
writer.close()

In [ ]:
pmix_17.rename(columns={'SalesMny':'Sales_17','SalesQty':'Qty_17','Sales%':'Sales%_17','Qty%':'Qty%_17'},inplace=True)
pmix_18.rename(columns={'SalesMny':'Sales_18','SalesQty':'Qty_18','Sales%':'Sales%_18','Qty%':'Qty%_18'},inplace=True)
pmix_19.rename(columns={'SalesMny':'Sales_19','SalesQty':'Qty_19','Sales%':'Sales%_19','Qty%':'Qty%_19'},inplace=True)
pmix_20.rename(columns={'SalesMny':'Sales_20','SalesQty':'Qty_20','Sales%':'Sales%_20','Qty%':'Qty%_20'},inplace=True)
pmix_21.rename(columns={'SalesMny':'Sales_21','SalesQty':'Qty_21','Sales%':'Sales%_21','Qty%':'Qty%_21'},inplace=True)
pmix_22.rename(columns={'SalesMny':'Sales_22','SalesQty':'Qty_22','Sales%':'Sales%_22','Qty%':'Qty%_22'},inplace=True)
pmix_23.rename(columns={'SalesMny':'Sales_23','SalesQty':'Qty_23','Sales%':'Sales%_23','Qty%':'Qty%_23'},inplace=True)

In [ ]:
pmix_23.merge(pmix_22,how='outer',on='ProductTypeName').merge(pmix_21,how='outer',on='ProductTypeName').merge(pmix_20,how='outer',on='ProductTypeName').merge(pmix_19,
    how='outer',on='ProductTypeName').merge(pmix_18,how='outer',on='ProductTypeName').merge(pmix_17,how='outer',on='ProductTypeName').fillna(0).to_excel('Combinded Category PMIX.xlsx',index=False)

In [ ]:
shops=[164,241,445,559,20,43,48,1446,124,189,1418,1517,1526,1212,1413,156,71,501,413,691,836]
bri_shops=data[data.ShopID.isin(shops)].pivot_table(index='ProductSizeName',columns='ShopID',
                                                 values='SalesMny',aggfunc=sum,fill_value=0).apply(
lambda x:x/sum(x))

In [ ]:
bri_shops

In [ ]:
madalyn=pd.merge(bri_shops,pmix_item23[['ProductSizeName','Sales%_23']],on='ProductSizeName',how='outer').fillna(0)
madalyn.iloc[:,np.r_[0,-1,1:len(madalyn.columns)-1]].to_excel('Madalyn Pmix.xlsx',index=False)

In [ ]:
pd.merge(bri_shops,pmix_item23[['ProductTypeName','Sales%_23']],on='ProductTypeName',how='outer').fillna(0)#.to_excel(
    #'Pmix Shops for Bri.xlsx',index=False)

# Madalyn Gelati Pmix based on Promo Periods

In [ ]:
pre_promo=data[data.Week.between(12,19)].pivot_table(index='ProductSizeName',values=['SalesMny','SalesQty'],aggfunc=sum).apply(
lambda x:x/sum(x)).reset_index()

In [ ]:
sales_pre=data[data.Week.between(12,19)].pivot_table(index='ProductSizeName',values=['SalesMny','SalesQty'],aggfunc=sum)
pre_promo=sales_pre.merge(pre_promo,how='left',on='ProductSizeName')

In [ ]:
pre_promo

In [ ]:
pre_promo.rename(columns={'SalesMny_x':'Sales Week 12-19','SalesQty_x':'Qty Week 12-19','SalesMny_y':'Sales% Week 12-19',
                         'SalesQty_y':'Qty% Week 12-19'},inplace=True)

In [ ]:
promo=data[data.Week.between(20,27)].pivot_table(index='ProductSizeName',values=['SalesMny','SalesQty'],aggfunc=sum).apply(
lambda x:x/sum(x)).reset_index()

In [ ]:
sales_promo=data[data.Week.between(20,27)].pivot_table(index='ProductSizeName',values=['SalesMny','SalesQty'],aggfunc=sum)
promo=sales_promo.merge(promo, how='left',on='ProductSizeName')

In [ ]:
promo.rename(columns={'SalesMny_x':'Sales Week 20-27','SalesQty_x':'Qty Week 20-27','SalesMny_y':'Sales% Week 20-27',
                         'SalesQty_y':'Qty% Week 20-27'},inplace=True)

In [ ]:
promo

In [ ]:
post_promo=data[data.Week.between(28,33)].pivot_table(index='ProductSizeName',values=['SalesMny','SalesQty'],aggfunc=sum).apply(
lambda x:x/sum(x)).reset_index()

In [ ]:
sales_post=data[data.Week.between(28,33)].pivot_table(index='ProductSizeName',values=['SalesMny','SalesQty'],aggfunc=sum)
post_promo=sales_post.merge(post_promo,on='ProductSizeName',how='left')

In [ ]:
post_promo.rename(columns={'SalesMny_x':'Sales Week 28-33','SalesQty_x':'Qty Week 28-33','SalesMny_y':'Sales% Week 28-33',
                         'SalesQty_y':'Qty% Week 28-33'},inplace=True)

In [ ]:
writer1=pd.ExcelWriter('Pre-Promo-Post Pmix by Size.xlsx')
pre_promo.to_excel(writer1,sheet_name='Pre-Promo',index=False)
promo.to_excel(writer1, sheet_name='Promo',index=False)
post_promo.to_excel(writer1, sheet_name='Post-Promo',index=False)
writer1.save()
writer1.close()

In [ ]:
data.pivot_table(index=['ProductSizeName','Week'],values=['SalesMny','SalesQty'],aggfunc=sum,fill_value=0).apply(
lambda x:x/sum(x)).reset_index().to_excel('Pmix Test.xlsx',index=False)

In [ ]:
data.pivot_table(index=['ProductSizeName'],columns='Week',values=['SalesMny'],aggfunc=sum,fill_value=0).apply(
lambda x:x/sum(x)).T

In [ ]:
writer2=pd.ExcelWriter('Pmix Filter.xlsx')
data.pivot_table(index=['ProductSizeName'],columns='Week',values=['SalesMny'],aggfunc=sum,fill_value=0).apply(
lambda x:x/sum(x)).T.reset_index().to_excel(writer2, sheet_name='Sales',index=False)
data.pivot_table(index=['ProductSizeName'],columns='Week',values=['SalesQty'],aggfunc=sum,fill_value=0).apply(
lambda x:x/sum(x)).T.reset_index().to_excel(writer2, sheet_name='Qty',index=False)
writer2.save()
writer2.close()

In [ ]:
data.CoOpName.unique()

In [ ]:
data.groupby('StartDate')['Week'].unique()

# For Natalie

In [ ]:
data3=data3[(data3.StoreStatus=='Open')|(data3.StoreStatus=='Ceased Operations')]

In [ ]:
data.shape

In [ ]:
data=data.merge(data4[['ShopID','DMA','MSAName','SeasonClose','SV']],how='left',on='ShopID').drop_duplicates(keep='first')
data.shape

In [ ]:
data1=data1.merge(data3[['ShopID','DMA','MSAName','SeasonClose','SV']],how='left',on='ShopID').drop_duplicates(keep='first')
data1.shape

In [ ]:
len(data1)

In [ ]:
data[(data.Region=='West')&(data.ProductTypeName=='Frozen Drinks')].groupby('ShopID')['SalesQty'].sum().reset_index()

In [ ]:
data.Region.unique()

In [ ]:
yearly=pd.concat([data,data1])

In [ ]:
yearly[yearly.DMA=='Pittsburgh'].pivot_table(index='Year',values='SalesMny',aggfunc='sum')

In [ ]:
sorted(data[data.DMA=='Pittsburgh'].ShopID.unique())

In [ ]:
# yearly.groupby(['Year','Week','ProductTypeName'])[['SalesMny','SalesQty']].sum().reset_index().to_excel('22-23 Pmix v2.xlsx')

In [ ]:
# yearly[yearly.ShopName=='3115 US Hwy 98 N-Lakeland FL'].pivot_table(index='Week',columns='Year',
#                                                                     values='SalesMny',aggfunc='sum',
#                                                                    fill_value=0).reset_index().to_excel('Lakeland Sales by Week 22-23.xlsx',index=False)

In [ ]:
data.StartDate.min()

In [ ]:
def natalie_sales(dma=[],coop=[],msa='',shopid=0,week_min=1,week_max=data.Week.max(),state=''):
    if shopid >0:
        sales=data[(data.ShopID==shopid)&(data.Week.between(week_min,week_max))].SalesMny.sum()
    elif shopid==0:
        if dma:
            sales=data[(data.DMA.isin(dma))&(data.Week.between(week_min,week_max))].SalesMny.sum()
        if coop:
            sales=data[(data.CoOpName.isin(coop))&(data.Week.between(week_min,week_max))].SalesMny.sum()
        if msa:
            sales=data[(data.MSAName.str.contains(msa))&(data.Week.between(week_min,week_max))].SalesMny.sum()
        if state:
            sales=data[(data.State==state)&(data.Week.between(week_min,week_max))].SalesMny.sum()
    return(sales)

In [ ]:
natalie_sales(coop=['CO-OP PH/WI/TR'],week_min=9,week_max=39)

In [ ]:
natalie_sales(dma=['Pittsburgh'])

In [ ]:
natalie_summary=pd.DataFrame({'Category':['Philly Co-Op','Philly DMA',
                          'Baltimore Co-OP','Baltimore DMA',
                          'Washington Co-Op','Washington DMA',
                          'Pittsburgh Co-Op','Pittsburgh DMA',
                          'Wilkes-Barre DMA',
                          'Tampa DMA',
                          'HILLY Co-Op','HILLY DMA'],
             'Totals':[natalie_sales(coop=['CO-OP PH/WI/TR'],week_min=9,week_max=39),
                      natalie_sales(dma=['Philadelphia'],week_min=9,week_max=39),
                    natalie_sales(coop=['CO-OP BALTI'],week_min=9,week_max=39),
                      natalie_sales(dma=['Baltimore'],week_min=9,week_max=39),
                        natalie_sales(coop=['CO-OP WASHI'],week_min=9,week_max=39),
                      natalie_sales(dma=['Washington DC'],week_min=9,week_max=39),
                          natalie_sales(coop=['CO-OP PITTS'],week_min=9,week_max=39),
                      natalie_sales(dma=['Pittsburgh'],week_min=9,week_max=39),
                      natalie_sales(dma=['Wilkes Barre-Scranton'],week_min=9,week_max=39),
                      natalie_sales(dma=['Tampa-St. Petersburg-Sarasota'],week_min=9,week_max=39),
                        natalie_sales(coop=['CO-OP HARRI','CO-OP YORK','CO-OP LANCA'],week_min=9,week_max=39),
                      natalie_sales(dma=['Harrisburg-Lancaster-Lebanon-York'],week_min=9,week_max=39)]})

In [ ]:
natalie_summary.to_excel('2023 Sales by Week 9-39.xlsx',index=False)

In [ ]:
data=data.merge(comps[['ShopID','Comps']],on='ShopID',how='left')
data['Comps']=data.Comps.fillna('No')
data.Comps.value_counts()

# 2024 PMIX

In [42]:
    data=all_data[all_data.StartDate.dt.year==2024]
    def pmix(dma=[],coop=[],msa='',shopid=[],week_min=1,week_max=data.Week.max(),state=[],sv='',region=[],comp=''):
        if shopid:
            sales=data[(data.ShopID.isin(shopid))&(data.Week.between(week_min,week_max))&(data.SV==sv)&(data.Comps==comp)].SalesMny.sum()
            qty=data[(data.ShopID.isin(shopid))&(data.Week.between(week_min,week_max))&(data.SV==sv)&(data.Comps==comp)].SalesQty.sum()
            item24=data[(data.ShopID.isin(shopid))&(data.Week.between(week_min,week_max))&(data.SV==sv)&(data.Comps==comp)].pivot_table(index='ProductTypeName',
                                               values=['SalesMny','SalesQty'],aggfunc='sum').reset_index()
            item24['Sales%']=item24.SalesMny/sales
            item24['Qty%']=item24.SalesQty/qty
        if dma:
            sales=data[(data.DMA.isin(dma))&(data.Week.between(week_min,week_max))&(data.SV==sv)&(data.Comps==comp)].SalesMny.sum()
            qty=data[(data.DMA.isin(dma))&(data.Week.between(week_min,week_max))&(data.SV==sv)&(data.Comps==comp)].SalesQty.sum()
            item24=data[(data.DMA.isin(dma))&(data.Week.between(week_min,week_max))&(data.SV==sv)&(data.Comps==comp)].pivot_table(index='ProductTypeName',
                                                   values=['SalesMny','SalesQty'],aggfunc='sum').reset_index()
            item24['Sales%']=item24.SalesMny/sales
            item24['Qty%']=item24.SalesQty/qty
        if coop:
            sales=data[(data.CoOpName.isin(coop))&(data.Week.between(week_min,week_max))&(data.SV==sv)&(data.Comps==comp)].SalesMny.sum()
            qty=data[(data.CoOpName.isin(coop))&(data.Week.between(week_min,week_max))&(data.SV==sv)&(data.Comps==comp)].SalesQty.sum()
            item24=data[(data.CoOpName.isin(coop))&(data.Week.between(week_min,week_max))&(data.SV==sv)&(data.Comps==comp)].pivot_table(index='ProductTypeName',
                                                   values=['SalesMny','SalesQty'],aggfunc='sum').reset_index()
            item24['Sales%']=item24.SalesMny/sales
            item24['Qty%']=item24.SalesQty/qty
        if msa:
            sales=data[(data.MSAName.str.contains(msa))&(data.Week.between(week_min,week_max))&(data.SV==sv)&(data.Comps==comp)].SalesMny.sum()
            qty=data[(data.MSAName.str.contains(msa))&(data.Week.between(week_min,week_max))&(data.SV==sv)&(data.Comps==comp)].SalesQty.sum()
            item24=data[(data.MSAName.str.contains(msa))&(data.Week.between(week_min,week_max))&(data.SV==sv)&(data.Comps==comp)].pivot_table(
                index='ProductTypeName',
                values=['SalesMny','SalesQty'],aggfunc='sum').reset_index()
            item24['Sales%']=item24.SalesMny/sales
            item24['Qty%']=item24.SalesQty/qty
        if state:
            sales=data[(data.State.isin(state))&(data.Week.between(week_min,week_max))&(data.SV==sv)&(data.Comps==comp)].SalesMny.sum()
            qty=data[(data.State.isin(state))&(data.Week.between(week_min,week_max))&(data.SV==sv)&(data.Comps==comp)].SalesQty.sum()
            item24=data[(data.State.isin(state))&(data.Week.between(week_min,week_max))&(data.SV==sv)&(data.Comps==comp)].pivot_table(
                index='ProductTypeName',
                values=['SalesMny','SalesQty'],aggfunc='sum').reset_index()
            item24['Sales%']=item24.SalesMny/sales
            item24['Qty%']=item24.SalesQty/qty
        if region:
            sales=data[(data.Region.isin(region))&(data.Week.between(week_min,week_max))&(data.SV==sv)&(data.Comps==comp)].SalesMny.sum()
            qty=data[(data.Region.isin(region))&(data.Week.between(week_min,week_max))&(data.SV==sv)&(data.Comps==comp)].SalesQty.sum()
            item24=data[(data.Region.isin(region))&(data.Week.between(week_min,week_max))&(data.SV==sv)&(data.Comps==comp)].pivot_table(
                index='ProductTypeName',
                values=['SalesMny','SalesQty'],aggfunc='sum').reset_index()
            item24['Sales%']=item24.SalesMny/sales
            item24['Qty%']=item24.SalesQty/qty
        return(item24)

In [8]:
data.head()

,ShopID,intStoreID,ProductCode,ProdSizeCode,DiscountCode,Register,SalesQty,SalesMny,StartDate,EndDate,...,ProductSizeName,SpecialVenue,CoOpStatus,CoOpName,CoOpRate,Year,Comps,DMA,SV,MSAName
0,3,5348,5,32,126,1,13,25.87,2024-05-20,2024-05-26,...,SS Extra Custard,No,Yes,Philadelphia,0.02,2024,Yes,Philadelphia,No,Philadelphia-Camden-Wilmington
1,8,785,59,1138,126,1,1,19.49,2024-05-20,2024-05-26,...,6-pack Custard Cookie Sandwiches,No,Yes,Philadelphia,0.02,2024,Yes,Philadelphia,No,Philadelphia-Camden-Wilmington
2,1,3817,1,5,126,1,202,603.98,2024-05-20,2024-05-26,...,Kids Ice,No,Yes,Philadelphia,0.02,2024,Yes,Philadelphia,No,Philadelphia-Camden-Wilmington
3,2,779,3,1247,126,1,504,2766.96,2024-05-20,2024-05-26,...,Small Gelati,No,Yes,Philadelphia,0.02,2024,Yes,Philadelphia,No,Philadelphia-Camden-Wilmington
4,3,5348,5,1219,126,1,9,71.91,2024-05-20,2024-05-26,...,Large SS Sundae,No,Yes,Philadelphia,0.02,2024,Yes,Philadelphia,No,Philadelphia-Camden-Wilmington

In [43]:
# shops=data[data.ProductSizeName=='Individual Custard Cookie Sandwich'].ShopID.unique()
pmix(state=['FL'],week_min=9,week_max=21,sv='No',comp='Yes')

                   ProductTypeName     SalesMny  SalesQty    Sales%      Qty%
0               3rd Party Delivery  180735.1700      9975  0.063412  0.018016
1              Additional Toppings   35490.2625     29474  0.012452  0.053235
2                        Beverages   10247.0460      5265  0.003595  0.009509
3                         Blendini   30797.2595      4957  0.010805  0.008953
4              Catering (Bulk Ice)   16674.0000       205  0.005850  0.000370
5                         Concrete  196088.9685     27246  0.068799  0.049211
6                Cookie Sandwiches    9165.2275      1696  0.003216  0.003063
7                          Cookies       0.0000         0  0.000000  0.000000
8        Cool Stuff Consumer Goods      71.8800        17  0.000025  0.000031
9                          Custard  677962.5810    141557  0.237869  0.255675
10                        Discount  -34262.9163         0 -0.012021  0.000000
11              Fresh Baked Treats     479.9600       174  0.000168  0.000314
12                   Frozen Coffee   32755.8230      5014  0.011493  0.009056
13                Frozen Lemonades   16423.4655      2745  0.005762  0.004958
14  Full Service Catering (Open $)   11983.6200        70  0.004205  0.000126
15                Fundraiser Cards     376.3400         3  0.000132  0.000005
16                          Gelati  665183.9720    112705  0.233385  0.203563
17                  Gelati Blender   56004.8940      9807  0.019650  0.017713
18                      Good to Go      19.8100         1  0.000007  0.000002
19            Hand Scooped Custard   60988.1005     10510  0.021398  0.018983
20                      Hot Drinks       0.0000         0  0.000000  0.000000
21                     Ice Blender   47877.9000      9073  0.016798  0.016387
22                     Italian Ice  664918.1915    145017  0.233292  0.261924
23                      Milkshakes  136348.6595     20111  0.047839  0.036324
24                         Nathans    4910.0040      1180  0.001723  0.002131
25         Non-Coded Revenue Sales    4973.0700      3498  0.001745  0.006318
26         Novelty Custard (Pints)    9123.4750      1223  0.003201  0.002209
27                 Online Ordering    1505.8000       141  0.000528  0.000255
28                          Snacks    2318.4300       568  0.000813  0.001026
29                       Sprinkles   10991.8725     11429  0.003857  0.020643
30                          Yogurt       0.0000         0  0.000000  0.000000

In [ ]:
writer=pd.ExcelWriter('2024 PMIX Week 9-21.xlsx')
pmix(shopid=0,dma=['Philadelphia'],week_min=9,week_max=21,sv='No',comp='Yes').to_excel(writer, 
                                                                        sheet_name='Philly',startrow=5,startcol=0,index=False)
pmix(shopid=0,dma=['Baltimore'],week_min=9,week_max=21,sv='No',comp='Yes').to_excel(writer, 
                                                                        sheet_name='Baltimore',startrow=5,startcol=0,index=False)
pmix(shopid=0,dma=['Washington DC'],week_min=9,week_max=21,sv='No',comp='Yes').to_excel(writer, 
                                                                        sheet_name='DC',startrow=5,startcol=0,index=False)
pmix(shopid=0,dma=['Pittsburgh'],week_min=9,week_max=21,sv='No',comp='Yes').to_excel(writer, 
                                                                        sheet_name='Pittsburgh',startrow=5,startcol=0,index=False)
pmix(shopid=0,dma=['Harrisburg-Lancaster-Lebanon-York'],week_min=9,week_max=21,sv='No',comp='Yes').to_excel(writer, 
                                                                        sheet_name='HLLY',startrow=5,startcol=0,index=False)
pmix(shopid=0,dma=['Wilkes Barre-Scranton'],week_min=9,week_max=21,sv='No',comp='Yes').to_excel(writer, 
                                                                        sheet_name='WBS',startrow=5,startcol=0,index=False)
pmix(shopid=0,region=['Mid-Atlantic',
       'Northeast'],week_min=9,week_max=21,sv='No',comp='Yes').to_excel(writer, 
                                                                        sheet_name='Mid-Atl & NE',startrow=5,startcol=0,index=False)
pmix(shopid=0,region=['Midwest'],week_min=9,week_max=21,sv='No',comp='Yes').to_excel(writer, 
                                                                        sheet_name='Midwest',startrow=5,startcol=0,index=False)
pmix(shopid=0,state=['SC',
       'GA','NC','TN','AL'],week_min=9,week_max=21,sv='No',comp='Yes').to_excel(writer, 
                                                                        sheet_name='South No FL',startrow=5,startcol=0,index=False)
pmix(shopid=0,state=['FL'],week_min=9,week_max=21,sv='No',comp='Yes').to_excel(writer, 
                                                                        sheet_name='Florida',startrow=5,startcol=0,index=False)
pmix(shopid=0,region=['West'],week_min=9,week_max=21,sv='No',comp='Yes').to_excel(writer, 
                                                                        sheet_name='West',startrow=5,startcol=0,index=False)
wb=writer.book
ws=writer.sheets['Philly']
ws1=writer.sheets['Baltimore']
ws2=writer.sheets['DC']
ws3=writer.sheets['Pittsburgh']
ws4=writer.sheets['HLLY']
ws5=writer.sheets['WBS']
ws6=writer.sheets['Mid-Atl & NE']
ws7=writer.sheets['Midwest']
ws8=writer.sheets['South No FL']
ws9=writer.sheets['Florida']
ws10=writer.sheets['West']

title='Ritas Franchise Company,LLC'
text1='2024 Philadelphia PMIX'
text2='2024 Baltimore PMIX'
text3='2024 Washington PMIX'
text4='2024 Pittsburgh PMIX'
text5='2024 HLLY PMIX'
text6='2024 Wilke-Barre/Scanton PMIX'
text7='2024 Mid-Atlantic & Northeast Regions PMIX'
text8='2024 Midwest Region PMIX'
text9='2024 South Region(No Florida) PMIX'
text10='2024 Florida PMIX'
text11='2024 West Region PMIX'
text12='Weeks 9-21'
text13='Source Code: ritascoolnet_live tmp_raw_pdla'
header_format=wb.add_format({'bold':True,
                                    'italic':True,
                                    'border':2,
                                    'bg_color':'#2898cc','color':'white'})
dollar_format=wb.add_format({'num_format':'$#,##0.00'})
perc_format=wb.add_format({'num_format':'0.0%'})
vol_format=wb.add_format({'num_format':'#,##0'})
ws.write(0,1,title,header_format)
ws.write(1,1,text1,header_format)
ws.write(2,1,text12,header_format)
ws.write(3,1,text13,header_format)
ws.set_column('A:A',28)
ws.set_column('B:B',40,dollar_format)
ws.set_column('C:C',30,vol_format)
ws.set_column('D:E',20,perc_format)

ws1.write(0,1,title,header_format)
ws1.write(1,1,text2,header_format)
ws1.write(2,1,text12,header_format)
ws1.write(3,1,text13,header_format)
ws1.set_column('A:A',28)
ws1.set_column('B:B',40,dollar_format)
ws1.set_column('C:C',30,vol_format)
ws1.set_column('D:E',20,perc_format)

ws2.write(0,1,title,header_format)
ws2.write(1,1,text3,header_format)
ws2.write(2,1,text12,header_format)
ws2.write(3,1,text13,header_format)
ws2.set_column('A:A',28)
ws2.set_column('B:B',40,dollar_format)
ws2.set_column('C:C',30,vol_format)
ws2.set_column('D:E',20,perc_format)

ws3.write(0,1,title,header_format)
ws3.write(1,1,text4,header_format)
ws3.write(2,1,text12,header_format)
ws3.write(3,1,text13,header_format)
ws3.set_column('A:A',28)
ws3.set_column('B:B',40,dollar_format)
ws3.set_column('C:C',30,vol_format)
ws3.set_column('D:E',20,perc_format)

ws4.write(0,1,title,header_format)
ws4.write(1,1,text5,header_format)
ws4.write(2,1,text12,header_format)
ws4.write(3,1,text13,header_format)
ws4.set_column('A:A',28)
ws4.set_column('B:B',40,dollar_format)
ws4.set_column('C:C',30,vol_format)
ws4.set_column('D:E',20,perc_format)

ws5.write(0,1,title,header_format)
ws5.write(1,1,text6,header_format)
ws5.write(2,1,text12,header_format)
ws5.write(3,1,text13,header_format)
ws5.set_column('A:A',28)
ws5.set_column('B:B',40,dollar_format)
ws5.set_column('C:C',30,vol_format)
ws5.set_column('D:E',20,perc_format)

ws6.write(0,1,title,header_format)
ws6.write(1,1,text7,header_format)
ws6.write(2,1,text12,header_format)
ws6.write(3,1,text13,header_format)
ws6.set_column('A:A',28)
ws6.set_column('B:B',40,dollar_format)
ws6.set_column('C:C',30,vol_format)
ws6.set_column('D:E',20,perc_format)

ws7.write(0,1,title,header_format)
ws7.write(1,1,text8,header_format)
ws7.write(2,1,text12,header_format)
ws7.write(3,1,text13,header_format)
ws7.set_column('A:A',28)
ws7.set_column('B:B',40,dollar_format)
ws7.set_column('C:C',30,vol_format)
ws7.set_column('D:E',20,perc_format)

ws8.write(0,1,title,header_format)
ws8.write(1,1,text9,header_format)
ws8.write(2,1,text12,header_format)
ws8.write(3,1,text13,header_format)
ws8.set_column('A:A',28)
ws8.set_column('B:B',40,dollar_format)
ws8.set_column('C:C',30,vol_format)
ws8.set_column('D:E',20,perc_format)

ws9.write(0,1,title,header_format)
ws9.write(1,1,text10,header_format)
ws9.write(2,1,text12,header_format)
ws9.write(3,1,text13,header_format)
ws9.set_column('A:A',28)
ws9.set_column('B:B',40,dollar_format)
ws9.set_column('C:C',30,vol_format)
ws9.set_column('D:E',20,perc_format)

ws10.write(0,1,title,header_format)
ws10.write(1,1,text11,header_format)
ws10.write(2,1,text12,header_format)
ws10.write(3,1,text13,header_format)
ws10.set_column('A:A',28)
ws10.set_column('B:B',40,dollar_format)
ws10.set_column('C:C',30,vol_format)
ws10.set_column('D:E',20,perc_format)


writer.close()

In [ ]:
all_data

# 2024 v 2023 Sales and Volume Growth

In [28]:
def growth(dma=[],coop=[],msa='',shopid=[],week_min=1,week_max=all_data.Week.max(),state=[],sv='',region=[],comp=''):
    column_names=['ProductTypeName','Sales_23','Sales_24','Units_Sold_23','Units_Sold_24']
    if shopid:
        item23=all_data[(all_data.ShopID.isin(shopid))&(all_data.Week.between(week_min,week_max))&(all_data.SV==sv)&(all_data.Comps==comp)].pivot_table(index='ProductTypeName',columns='Year',
                                               values=['SalesMny','SalesQty'],aggfunc='sum',fill_value=0).reset_index()
        item23.columns=column_names
        item23=item23.iloc[:,[0,2,1,4,3]]
        item23['Sales_Growth%']=item23['Sales_24']/item23['Sales_23']-1
        item23['Unit_Growth%']=item23['Units_Sold_24']/item23['Units_Sold_23']-1
        item23=item23.iloc[:,[0,1,2,5,3,4,6]]
        item23.replace([np.inf,-np.inf],inplace=True)
        item23.fillna(0,inplace=True)
    elif shopid==0:
        if dma:
            item23=all_data[(all_data.DMA.isin(dma))&(all_data.Week.between(week_min,week_max))&(all_data.SV==sv)&(all_data.Comps==comp)].pivot_table(index='ProductTypeName',columns='Year',
                                                   values=['SalesMny','SalesQty'],aggfunc='sum',fill_value=0).reset_index()
            item23.columns=column_names
            item23=item23.iloc[:,[0,2,1,4,3]]
            item23['Sales_Growth%']=item23['Sales_24']/item23['Sales_23']-1
            item23['Unit_Growth%']=item23['Units_Sold_24']/item23['Units_Sold_23']-1
            item23=item23.iloc[:,[0,1,2,5,3,4,6]]
            item23.replace([np.inf,-np.inf],inplace=True)
            item23.fillna(0,inplace=True)
        if coop:
            item23=all_data[(all_data.CoOpName.isin(coop))&(all_data.Week.between(week_min,week_max))&(all_data.SV==sv)&(all_data.Comps==comp)].pivot_table(index='ProductTypeName',columns='Year',
                                                   values=['SalesMny','SalesQty'],aggfunc='sum',fill_value=0).reset_index()
            item23.columns=column_names
            item23=item23.iloc[:,[0,2,1,4,3]]
            item23['Sales_Growth%']=item23['Sales_24']/item23['Sales_23']-1
            item23['Unit_Growth%']=item23['Units_Sold_24']/item23['Units_Sold_23']-1
            item23=item23.iloc[:,[0,1,2,5,3,4,6]]
            item23.replace([np.inf,-np.inf,NaN],inplace=True)
            item23.fillna(0,inplace=True)
        if msa:
            item23=all_data[(all_data.MSAName.str.contains(msa))&(all_data.Week.between(week_min,week_max))&(all_data.SV==sv)&(all_data.Comps==comp)].pivot_table(
                index='ProductTypeName',columns='Year',
                values=['SalesMny','SalesQty'],aggfunc='sum',fill_value=0).reset_index()
            item23.columns=column_names
            item23=item23.iloc[:,[0,2,1,4,3]]
            item23['Sales_Growth%']=item23['Sales_24']/item23['Sales_23']-1
            item23['Unit_Growth%']=item23['Units_Sold_24']/item23['Units_Sold_23']-1
            item23=item23.iloc[:,[0,1,2,5,3,4,6]]
            item23.replace([np.inf,-np.inf],inplace=True)
            item23.fillna(0,inplace=True)
        if state:
            item23=all_data[(all_data.State.isin(state))&(all_data.Week.between(week_min,week_max))&(all_data.SV==sv)&(all_data.Comps==comp)].pivot_table(
                index='ProductTypeName',columns='Year',
                values=['SalesMny','SalesQty'],aggfunc='sum',fill_value=0).reset_index()
            item23.columns=column_names
            item23=item23.iloc[:,[0,2,1,4,3]]
            item23['Sales_Growth%']=item23['Sales_24']/item23['Sales_23']-1
            item23['Unit_Growth%']=item23['Units_Sold_24']/item23['Units_Sold_23']-1
            item23=item23.iloc[:,[0,1,2,5,3,4,6]]
            item23.replace([np.inf,-np.inf],inplace=True)
            item23.fillna(0,inplace=True)
        if region:
            item23=all_data[(all_data.Region.isin(region))&(all_data.Week.between(week_min,week_max))&(all_data.SV==sv)&(all_data.Comps==comp)].pivot_table(
                index='ProductTypeName',columns='Year',
                values=['SalesMny','SalesQty'],aggfunc='sum',fill_value=0).reset_index()
            item23.columns=column_names
            item23=item23.iloc[:,[0,2,1,4,3]]
            item23['Sales_Growth%']=item23['Sales_24']/item23['Sales_23']-1
            item23['Unit_Growth%']=item23['Units_Sold_24']/item23['Units_Sold_23']-1
            item23=item23.iloc[:,[0,1,2,5,3,4,6]]
            item23.replace([np.inf,-np.inf],inplace=True)
            item23.fillna(0,inplace=True)
    return(item23)

In [29]:
growth(shopid=0,dma=['Harrisburg-Lancaster-Lebanon-York'],week_min=9,week_max=21,sv='No',comp='Yes')

C:\Users\jharned\AppData\Local\Temp\ipykernel_4748\2742316502.py:22: FutureWarning: DataFrame.replace without 'value' and with non-dict-like 'to_replace' is deprecated and will raise in a future version. Explicitly specify the new values instead.
  item23.replace([np.inf,-np.inf],inplace=True)

,ProductTypeName,Sales_24,Sales_23,Sales_Growth%,Units_Sold_24,Units_Sold_23,Unit_Growth%
0,3rd Party Delivery,1.664460e+05,1.489540e+05,0.117432,9577,0,inf
1,Additional Toppings,2.196567e+04,2.221319e+04,-0.011143,20492,21708,-0.056016
2,Beverages,3.110655e+03,3.173576e+03,-0.019827,1525,1755,-0.131054
3,Blendini,2.985225e+04,3.725676e+04,-0.198743,5222,6703,-0.220946
4,Catering (Bulk Ice),5.047716e+04,4.845961e+04,0.041634,1198,1196,0.001672
5,Concrete,2.038191e+05,2.172129e+05,-0.061662,30211,33352,-0.094177
6,Cookie Sandwiches,8.731482e+03,8.847673e+03,-0.013132,1398,1717,-0.185789
7,Cookies,1.696000e+01,0.000000e+00,-0.013132,4,0,-0.185789
8,Cool Stuff Consumer Goods,2.995000e+01,3.098000e+01,-0.033247,5,5,0.000000
9,Custard,5.766943e+05,5.906328e+05,-0.023599,141951,152327,-0.068117
10,Discount,-4.513851e+04,-4.656829e+04,-0.030703,0,0,0.000000
11,Fresh Baked Treats,1.789000e+02,9.800000e+01,0.825510,179,98,0.826531
12,Frozen Coffee,3.363209e+04,5.088393e+04,-0.339043,6058,9673,-0.373721
13,Frozen Lemonades,1.150135e+04,2.714000e+01,422.778592,2352,6,391.000000
14,Full Service Catering (Open $),2.606954e+04,2.498358e+04,0.043467,255,374,-0.318182
15,Fundraiser Cards,9.070000e+02,1.200000e+03,-0.244167,530,303,0.749175
16,Gelati,1.147637e+06,1.104358e+06,0.039189,211022,213235,-0.010378
17,Gelati Blender,1.266409e+05,1.345277e+05,-0.058626,23465,26136,-0.102196
18,Good to Go,0.000000e+00,6.497000e+01,-1.000000,0,3,-1.000000
19,Ice Blender,3.254930e+04,2.931235e+04,0.110429,7553,7041,0.072717
20,Italian Ice,7.247407e+05,7.601054e+05,-0.046526,173932,194023,-0.103550
21,Milkshakes,1.060789e+05,1.218480e+05,-0.129416,17200,20238,-0.150114
22,Non-Coded Revenue Sales,1.634300e+03,8.611770e+03,-0.810225,61,571,-0.893170
23,Novelty Custard (Pints),9.181666e+03,1.072698e+04,-0.144059,1382,1635,-0.154740
24,Online Ordering,3.408810e+03,0.000000e+00,-0.144059,272,0,-0.154740
25,Snacks,1.480936e+04,1.672245e+04,-0.114402,5187,5886,-0.118756
26,Sprinkles,2.562337e+04,2.512881e+04,0.019681,31432,31731,-0.009423

In [ ]:
writer=pd.ExcelWriter('2024-2023 Growth Week 9-21.xlsx')
growth(shopid=0,dma=['Philadelphia'],week_min=9,week_max=21,sv='No',comp='Yes')\
.sort_values(by=['Sales_24'],ascending=False).to_excel(writer,sheet_name='Philly',startrow=5,startcol=0,index=False)
growth(shopid=0,dma=['Baltimore'],week_min=9,week_max=21,sv='No',comp='Yes')\
                .sort_values(by=['Sales_24'],ascending=False).to_excel(writer, sheet_name='Baltimore',startrow=5,startcol=0,index=False)
growth(shopid=0,dma=['Washington DC'],week_min=9,week_max=21,sv='No',comp='Yes')\
                .sort_values(by=['Sales_24'],ascending=False).to_excel(writer,sheet_name='DC',startrow=5,startcol=0,index=False)
growth(shopid=0,dma=['Pittsburgh'],week_min=9,week_max=21,sv='No',comp='Yes')\
                .sort_values(by=['Sales_24'],ascending=False).to_excel(writer,sheet_name='Pittsburgh',startrow=5,startcol=0,index=False)
growth(shopid=0,dma=['Harrisburg-Lancaster-Lebanon-York'],week_min=9,week_max=21,sv='No',comp='Yes')\
                .sort_values(by=['Sales_24'],ascending=False).to_excel(writer,sheet_name='HLLY',startrow=5,startcol=0,index=False)
growth(shopid=0,dma=['Wilkes Barre-Scranton'],week_min=9,week_max=21,sv='No',comp='Yes')\
                .sort_values(by=['Sales_24'],ascending=False).to_excel(writer,sheet_name='WBS',startrow=5,startcol=0,index=False)
growth(shopid=0,region=['Mid-Atlantic',
       'Northeast'],week_min=9,week_max=21,sv='No',comp='Yes')\
                .sort_values(by=['Sales_24'],ascending=False).to_excel(writer,sheet_name='Mid-Atl & NE',startrow=5,startcol=0,index=False)
growth(shopid=0,region=['Midwest'],week_min=9,week_max=21,sv='No',comp='Yes')\
                .sort_values(by=['Sales_24'],ascending=False).to_excel(writer,sheet_name='Midwest',startrow=5,startcol=0,index=False)
growth(shopid=0,state=['SC',
       'GA','NC','TN','AL'],week_min=9,week_max=21,sv='No',comp='Yes')\
                .sort_values(by=['Sales_24'],ascending=False).to_excel(writer,sheet_name='South No FL',startrow=5,startcol=0,index=False)
growth(shopid=0,state=['FL'],week_min=9,week_max=21,sv='No',comp='Yes')\
                .sort_values(by=['Sales_24'],ascending=False).to_excel(writer,sheet_name='Florida',startrow=5,startcol=0,index=False)
growth(shopid=0,region=['West'],week_min=9,week_max=21,sv='No',comp='Yes')\
                .sort_values(by=['Sales_24'],ascending=False).to_excel(writer,sheet_name='West',startrow=5,startcol=0,index=False)
wb=writer.book
ws=writer.sheets['Philly']
ws1=writer.sheets['Baltimore']
ws2=writer.sheets['DC']
ws3=writer.sheets['Pittsburgh']
ws4=writer.sheets['HLLY']
ws5=writer.sheets['WBS']
ws6=writer.sheets['Mid-Atl & NE']
ws7=writer.sheets['Midwest']
ws8=writer.sheets['South No FL']
ws9=writer.sheets['Florida']
ws10=writer.sheets['West']

title='Ritas Franchise Company,LLC'
text1='2024 Philadelphia Growth'
text2='2024 Baltimore Growth'
text3='2024 Washington Growth'
text4='2024 Pittsburgh Growth'
text5='2024 HLLY Growth'
text6='2024 Wilke-Barre/Scanton Growth'
text7='2024 Mid-Atlantic & Northeast Regions Growth'
text8='2024 Midwest Region Growth'
text9='2024 South Region(No Florida) Growth'
text10='2024 Florida Growth'
text11='2024 West Region Growth'
text12='Weeks 9-21'
text13='Source Code: ritascoolnet_live tmp_raw_pdla'
header_format=wb.add_format({'bold':True,
                                    'italic':True,
                                    'border':2,
                                    'bg_color':'#2898cc','color':'white'})
dollar_format=wb.add_format({'num_format':'$#,##0.00'})
perc_format=wb.add_format({'num_format':'0.0%'})
vol_format=wb.add_format({'num_format':'#,##0'})
ws.write(0,1,title,header_format)
ws.write(1,1,text1,header_format)
ws.write(2,1,text12,header_format)
ws.write(3,1,text13,header_format)
ws.set_column('A:A',28)
ws.set_column('B:C',40,dollar_format)
ws.set_column('D:D',30,perc_format)
ws.set_column('E:F',20,vol_format)
ws.set_column('G:G',30,perc_format)

ws1.write(0,1,title,header_format)
ws1.write(1,1,text2,header_format)
ws1.write(2,1,text12,header_format)
ws1.write(3,1,text13,header_format)
ws1.set_column('A:A',28)
ws1.set_column('B:C',40,dollar_format)
ws1.set_column('D:D',30,perc_format)
ws1.set_column('E:F',20,vol_format)
ws1.set_column('G:G',30,perc_format)

ws2.write(0,1,title,header_format)
ws2.write(1,1,text3,header_format)
ws2.write(2,1,text12,header_format)
ws2.write(3,1,text13,header_format)
ws2.set_column('A:A',28)
ws2.set_column('B:C',40,dollar_format)
ws2.set_column('D:D',30,perc_format)
ws2.set_column('E:F',20,vol_format)
ws2.set_column('G:G',30,perc_format)

ws3.write(0,1,title,header_format)
ws3.write(1,1,text4,header_format)
ws3.write(2,1,text12,header_format)
ws3.write(3,1,text13,header_format)
ws3.set_column('A:A',28)
ws3.set_column('B:C',40,dollar_format)
ws3.set_column('D:D',30,perc_format)
ws3.set_column('E:F',20,vol_format)
ws3.set_column('G:G',30,perc_format)

ws4.write(0,1,title,header_format)
ws4.write(1,1,text5,header_format)
ws4.write(2,1,text12,header_format)
ws4.write(3,1,text13,header_format)
ws4.set_column('A:A',28)
ws4.set_column('B:C',40,dollar_format)
ws4.set_column('D:D',30,perc_format)
ws4.set_column('E:F',20,vol_format)
ws4.set_column('G:G',30,perc_format)

ws5.write(0,1,title,header_format)
ws5.write(1,1,text6,header_format)
ws5.write(2,1,text12,header_format)
ws5.write(3,1,text13,header_format)
ws5.set_column('A:A',28)
ws5.set_column('B:C',40,dollar_format)
ws5.set_column('D:D',30,perc_format)
ws5.set_column('E:F',20,vol_format)
ws5.set_column('G:G',30,perc_format)

ws6.write(0,1,title,header_format)
ws6.write(1,1,text7,header_format)
ws6.write(2,1,text12,header_format)
ws6.write(3,1,text13,header_format)
ws6.set_column('A:A',28)
ws6.set_column('B:C',40,dollar_format)
ws6.set_column('D:D',30,perc_format)
ws6.set_column('E:F',20,vol_format)
ws6.set_column('G:G',30,perc_format)

ws7.write(0,1,title,header_format)
ws7.write(1,1,text8,header_format)
ws7.write(2,1,text12,header_format)
ws7.write(3,1,text13,header_format)
ws7.set_column('A:A',28)
ws7.set_column('B:C',40,dollar_format)
ws7.set_column('D:D',30,perc_format)
ws7.set_column('E:F',20,vol_format)
ws7.set_column('G:G',30,perc_format)

ws8.write(0,1,title,header_format)
ws8.write(1,1,text9,header_format)
ws8.write(2,1,text12,header_format)
ws8.write(3,1,text13,header_format)
ws8.set_column('A:A',28)
ws8.set_column('B:C',40,dollar_format)
ws8.set_column('D:D',30,perc_format)
ws8.set_column('E:F',20,vol_format)
ws8.set_column('G:G',30,perc_format)

ws9.write(0,1,title,header_format)
ws9.write(1,1,text10,header_format)
ws9.write(2,1,text12,header_format)
ws9.write(3,1,text13,header_format)
ws9.set_column('A:A',28)
ws9.set_column('B:C',40,dollar_format)
ws9.set_column('D:D',30,perc_format)
ws9.set_column('E:F',20,vol_format)
ws9.set_column('G:G',30,perc_format)

ws10.write(0,1,title,header_format)
ws10.write(1,1,text11,header_format)
ws10.write(2,1,text12,header_format)
ws10.write(3,1,text13,header_format)
ws10.set_column('A:A',28)
ws10.set_column('B:C',40,dollar_format)
ws10.set_column('D:D',30,perc_format)
ws10.set_column('G:G',30,perc_format)
ws10.set_column('E:F',20,vol_format)


writer.close()

In [ ]:
def growth(week_min=1,week_max=all_data.Week.max(),sv='',comp=''):
        column_names=['ProductTypeName','Sales_23','Sales_24','Units_Sold_23','Units_Sold_24']
        item23=all_data[(all_data.Week.between(week_min,week_max))&(all_data.SV==sv)&(all_data.Comps==comp)].pivot_table(index='ProductTypeName',columns='Year',
                                               values=['SalesMny','SalesQty'],aggfunc='sum',fill_value=0).reset_index()
        item23.columns=column_names
        item23=item23.iloc[:,[0,2,1,4,3]]
        item23['Sales_Growth%']=item23['Sales_24']/item23['Sales_23']-1
        item23['Unit_Growth%']=item23['Units_Sold_24']/item23['Units_Sold_23']-1
        item23=item23.iloc[:,[0,1,2,5,3,4,6]]
        item23.replace([np.inf,-np.inf],inplace=True)
        item23.fillna(0,inplace=True)
        return(item23)

In [ ]:
round(all_data[all_data.Week.between(9,21)].pivot_table(index='ProductTypeName',columns='Year',values=['SalesMny','SalesQty'],aggfunc='sum'),2)

In [ ]:
all_data[all_data.Comps=='No'].ShopID.nunique()

In [ ]:
round(growth(week_min=9,week_max=21,sv='No',comp='Yes'),2)

In [30]:
def pmix(dma=[],coop=[],msa='',shopid=[],week_min=1,week_max=data1.Week.max(),state=[],sv='',region=[]):
    if shopid:
        sales=data1[(data1.ShopID.isin(shopid))&(data1.Week.between(week_min,week_max))&(data1.SV==sv)].SalesMny.sum()
        qty=data1[(data1.ShopID.isin(shopid))&(data1.Week.between(week_min,week_max))&(data1.SV==sv)].SalesQty.sum()
        item23=data1[(data1.ShopID.isin(shopid))&(data1.Week.between(week_min,week_max))&(data1.SV==sv)].pivot_table(index='ProductTypeName',
                                               values=['SalesMny','SalesQty'],aggfunc='sum').reset_index()
        item23['Sales%']=item23.SalesMny/sales
        item23['Qty%']=item23.SalesQty/qty
    elif shopid==0:
        if dma:
            sales=data1[(data1.DMA.isin(dma))&(data1.Week.between(week_min,week_max))&(data1.SV==sv)].SalesMny.sum()
            qty=data1[(data1.DMA.isin(dma))&(data1.Week.between(week_min,week_max))&(data1.SV==sv)].SalesQty.sum()
            item23=data1[(data1.DMA.isin(dma))&(data1.Week.between(week_min,week_max))&(data1.SV==sv)].pivot_table(index='ProductTypeName',
                                                   values=['SalesMny','SalesQty'],aggfunc='sum').reset_index()
            item23['Sales%']=item23.SalesMny/sales
            item23['Qty%']=item23.SalesQty/qty
        if coop:
            sales=data1[(data1.CoOpName.isin(coop))&(data1.Week.between(week_min,week_max))&(data1.SV==sv)].SalesMny.sum()
            qty=data1[(data1.CoOpName.isin(coop))&(data1.Week.between(week_min,week_max))&(data1.SV==sv)].SalesQty.sum()
            item23=data1[(data1.CoOpName.isin(coop))&(data1.Week.between(week_min,week_max))&(data1.SV==sv)].pivot_table(index='ProductTypeName',
                                                   values=['SalesMny','SalesQty'],aggfunc='sum').reset_index()
            item23['Sales%']=item23.SalesMny/sales
            item23['Qty%']=item23.SalesQty/qty
        if msa:
            sales=data1[(data1.MSAName.str.contains(msa))&(data1.Week.between(week_min,week_max))&(data1.SV==sv)].SalesMny.sum()
            qty=data1[(data1.MSAName.str.contains(msa))&(data1.Week.between(week_min,week_max))&(data1.SV==sv)].SalesQty.sum()
            item23=data1[(data1.MSAName.str.contains(msa))&(data1.Week.between(week_min,week_max))&(data1.SV==sv)].pivot_table(
                index='ProductTypeName',
                values=['SalesMny','SalesQty'],aggfunc='sum').reset_index()
            item23['Sales%']=item23.SalesMny/sales
            item23['Qty%']=item23.SalesQty/qty
        if state:
            sales=data1[(data1.State.isin(state))&(data1.Week.between(week_min,week_max))&(data1.SV==sv)].SalesMny.sum()
            qty=data1[(data1.State.isin(state))&(data1.Week.between(week_min,week_max))&(data1.SV==sv)].SalesQty.sum()
            item23=data1[(data1.State.isin(state))&(data1.Week.between(week_min,week_max))&(data1.SV==sv)].pivot_table(
                index='ProductTypeName',
                values=['SalesMny','SalesQty'],aggfunc='sum').reset_index()
            item23['Sales%']=item23.SalesMny/sales
            item23['Qty%']=item23.SalesQty/qty
        if region:
            sales=data1[(data1.Region.isin(region))&(data1.Week.between(week_min,week_max))&(data1.SV==sv)].SalesMny.sum()
            qty=data1[(data1.Region.isin(region))&(data1.Week.between(week_min,week_max))&(data1.SV==sv)].SalesQty.sum()
            item23=data1[(data1.Region.isin(region))&(data1.Week.between(week_min,week_max))&(data1.SV==sv)].pivot_table(
                index='ProductTypeName',
                values=['SalesMny','SalesQty'],aggfunc='sum').reset_index()
            item23['Sales%']=item23.SalesMny/sales
            item23['Qty%']=item23.SalesQty/qty
    return(item23)

In [31]:
pmix(shopid=0,dma=['Harrisburg-Lancaster-Lebanon-York'],week_min=9,week_max=39,sv='No')

AttributeError: 'DataFrame' object has no attribute 'DMA'

In [ ]:
data.groupby('StartDate')['Week'].unique()

In [ ]:
def pmix_size(dma=[],coop=[],msa='',shopid=[],week_min=1,week_max=data.Week.max(),state=[],sv='',region=[]):
    if shopid:
        sales=data[(data.ShopID.isin(shopid))&(data.Week.between(week_min,week_max))&(data.SV==sv)].SalesMny.sum()
        qty=data[(data.ShopID.isin(shopid))&(data.Week.between(week_min,week_max))&(data.SV==sv)].SalesQty.sum()
        item23=data[(data.ShopID.isin(shopid))&(data.Week.between(week_min,week_max))&(data.SV==sv)].pivot_table(index='ProductSizeName',
                                               values=['SalesMny','SalesQty'],aggfunc='sum').reset_index()
        item23['Sales%']=item23.SalesMny/sales
        item23['Qty%']=item23.SalesQty/qty
    elif shopid==0:
        if dma:
            sales=data[(data.DMA.isin(dma))&(data.Week.between(week_min,week_max))&(data.SV==sv)].SalesMny.sum()
            qty=data[(data.DMA.isin(dma))&(data.Week.between(week_min,week_max))&(data.SV==sv)].SalesQty.sum()
            item23=data[(data.DMA.isin(dma))&(data.Week.between(week_min,week_max))&(data.SV==sv)].pivot_table(index='ProductSizeName',
                                                   values=['SalesMny','SalesQty'],aggfunc='sum').reset_index()
            item23['Sales%']=item23.SalesMny/sales
            item23['Qty%']=item23.SalesQty/qty
        if coop:
            sales=data[(data.CoOpName.isin(coop))&(data.Week.between(week_min,week_max))&(data.SV==sv)].SalesMny.sum()
            qty=data[(data.CoOpName.isin(coop))&(data.Week.between(week_min,week_max))&(data.SV==sv)].SalesQty.sum()
            item23=data[(data.CoOpName.isin(coop))&(data.Week.between(week_min,week_max))&(data.SV==sv)].pivot_table(index='ProductSizeName',
                                                   values=['SalesMny','SalesQty'],aggfunc='sum').reset_index()
            item23['Sales%']=item23.SalesMny/sales
            item23['Qty%']=item23.SalesQty/qty
        if msa:
            sales=data[(data.MSAName.str.contains(msa))&(data.Week.between(week_min,week_max))&(data.SV==sv)].SalesMny.sum()
            qty=data[(data.MSAName.str.contains(msa))&(data.Week.between(week_min,week_max))&(data.SV==sv)].SalesQty.sum()
            item23=data[(data.MSAName.str.contains(msa))&(data.Week.between(week_min,week_max))&(data.SV==sv)].pivot_table(
                index='ProductSizeName',
                values=['SalesMny','SalesQty'],aggfunc='sum').reset_index()
            item23['Sales%']=item23.SalesMny/sales
            item23['Qty%']=item23.SalesQty/qty
        if state:
            sales=data[(data.State.isin(state))&(data.Week.between(week_min,week_max))&(data.SV==sv)].SalesMny.sum()
            qty=data[(data.State.isin(state))&(data.Week.between(week_min,week_max))&(data.SV==sv)].SalesQty.sum()
            item23=data[(data.State.isin(state))&(data.Week.between(week_min,week_max))&(data.SV==sv)].pivot_table(
                index='ProductSizeName',
                values=['SalesMny','SalesQty'],aggfunc='sum').reset_index()
            item23['Sales%']=item23.SalesMny/sales
            item23['Qty%']=item23.SalesQty/qty
        if region:
            sales=data[(data.Region.isin(region))&(data.Week.between(week_min,week_max))&(data.SV==sv)].SalesMny.sum()
            qty=data[(data.Region.isin(region))&(data.Week.between(week_min,week_max))&(data.SV==sv)].SalesQty.sum()
            item23=data[(data.Region.isin(region))&(data.Week.between(week_min,week_max))&(data.SV==sv)].pivot_table(
                index='ProductSizeName',
                values=['SalesMny','SalesQty'],aggfunc='sum').reset_index()
            item23['Sales%']=item23.SalesMny/sales
            item23['Qty%']=item23.SalesQty/qty
    return(item23)

In [ ]:
pmix_size(shopid=0,state=['FL'],week_min=18,week_max=20,sv='No')

In [ ]:
mix=pd.ExcelWriter('Florida Mixes.xlsx')
pmix(shopid=0,state=['FL'],week_min=16,week_max=18,sv='No').to_excel(mix, sheet_name='Frozen Coffee',index=False)
pmix_size(shopid=0,state=['FL'],week_min=18,week_max=20,sv='No').to_excel(mix, sheet_name='Gelati Size',index=False)
pmix_size(shopid=0,state=['FL'],week_min=32,week_max=36,sv='No').to_excel(mix,sheet_name='Lemonade',index=False)
mix.close()

In [ ]:
offers=pd.ExcelWriter('Promotional Offers Pmix 2023.xlsx')
pmix(shopid=0,region=['Mid-Atlantic', 'South', 'Southwest', 'West', 'Midwest',
       'Northeast'],week_min=16,week_max=19,sv='No').to_excel(offers, sheet_name='Frozen Coffee wk16-19',index=False)
pmix_size(shopid=0,region=['Mid-Atlantic', 'South', 'Southwest', 'West', 'Midwest',
       'Northeast'],week_min=20,week_max=27,sv='No').to_excel(offers, sheet_name='5 Layer Gelati wk20-27',index=False)
pmix_size(shopid=0,region=['Mid-Atlantic', 'South', 'Southwest', 'West', 'Midwest',
       'Northeast'],week_min=32,week_max=36,sv='No').to_excel(offers,sheet_name='Lemonade wk32-36',index=False)
offers.close()

In [ ]:
def pmix22(dma=[],coop=[],msa='',shopid=[],week_min=1,week_max=data1.Week.max(),state=[],sv='',region=[]):
    if shopid:
        sales=data1[(data1.ShopID.isin(shopid))&(data1.Week.between(week_min,week_max))&(data1.SV==sv)].SalesMny.sum()
        qty=data1[(data1.ShopID.isin(shopid))&(data1.Week.between(week_min,week_max))&(data1.SV==sv)].SalesQty.sum()
        item22=data1[(data1.ShopID.isin(shopid))&(data1.Week.between(week_min,week_max))&(data1.SV==sv)].pivot_table(index='ProductTypeName',
                                               values=['SalesMny','SalesQty'],aggfunc='sum').reset_index()
        item22['Sales%']=item22.SalesMny/sales
        item22['Qty%']=item22.SalesQty/qty
    elif shopid==0:
        if dma:
            sales=data1[(data1.DMA.isin(dma))&(data1.Week.between(week_min,week_max))&(data1.SV==sv)].SalesMny.sum()
            qty=data1[(data1.DMA.isin(dma))&(data1.Week.between(week_min,week_max))&(data1.SV==sv)].SalesQty.sum()
            item22=data1[(data1.DMA.isin(dma))&(data1.Week.between(week_min,week_max))&(data1.SV==sv)].pivot_table(index='ProductTypeName',
                                                   values=['SalesMny','SalesQty'],aggfunc='sum').reset_index()
            item22['Sales%']=item22.SalesMny/sales
            item22['Qty%']=item22.SalesQty/qty
        if coop:
            sales=data1[(data1.CoOpName.isin(coop))&(data1.Week.between(week_min,week_max))&(data1.SV==sv)].SalesMny.sum()
            qty=data1[(data1.CoOpName.isin(coop))&(data1.Week.between(week_min,week_max))&(data1.SV==sv)].SalesQty.sum()
            item22=data1[(data1.CoOpName.isin(coop))&(data1.Week.between(week_min,week_max))&(data1.SV==sv)].pivot_table(index='ProductTypeName',
                                                   values=['SalesMny','SalesQty'],aggfunc='sum').reset_index()
            item22['Sales%']=item22.SalesMny/sales
            item22['Qty%']=item22.SalesQty/qty
        if msa:
            sales=data1[(data1.MSAName.str.contains(msa))&(data1.Week.between(week_min,week_max))&(data1.SV==sv)].SalesMny.sum()
            qty=data1[(data1.MSAName.str.contains(msa))&(data1.Week.between(week_min,week_max))&(data1.SV==sv)].SalesQty.sum()
            item22=data1[(data1.MSAName.str.contains(msa))&(data1.Week.between(week_min,week_max))&(data1.SV==sv)].pivot_table(
                index='ProductTypeName',
                values=['SalesMny','SalesQty'],aggfunc='sum').reset_index()
            item22['Sales%']=item22.SalesMny/sales
            item22['Qty%']=item22.SalesQty/qty
        if state:
            sales=data1[(data1.State.isin(state))&(data1.Week.between(week_min,week_max))&(data1.SV==sv)].SalesMny.sum()
            qty=data1[(data1.State.isin(state))&(data1.Week.between(week_min,week_max))&(data1.SV==sv)].SalesQty.sum()
            item22=data1[(data1.State.isin(state))&(data1.Week.between(week_min,week_max))&(data1.SV==sv)].pivot_table(
                index='ProductTypeName',
                values=['SalesMny','SalesQty'],aggfunc='sum').reset_index()
            item22['Sales%']=item22.SalesMny/sales
            item22['Qty%']=item22.SalesQty/qty
        if region:
            sales=data1[(data1.Region.isin(region))&(data1.Week.between(week_min,week_max))&(data1.SV==sv)].SalesMny.sum()
            qty=data1[(data1.Region.isin(region))&(data1.Week.between(week_min,week_max))&(data1.SV==sv)].SalesQty.sum()
            item22=data1[(data1.Region.isin(region))&(data1.Week.between(week_min,week_max))&(data1.SV==sv)].pivot_table(
                index='ProductTypeName',
                values=['SalesMny','SalesQty'],aggfunc='sum').reset_index()
            item22['Sales%']=item22.SalesMny/sales
            item22['Qty%']=item22.SalesQty/qty
    return(item22)

In [ ]:
pmix22(state=['FL'],week_min=16, week_max=19,sv='No')

In [ ]:
lakewood=pd.ExcelWriter('Shop 463 PMIX 23 & 22.xlsx')
pmix(shopid=[463],sv='No').to_excel(lakewood,sheet_name=2023)
pmix22(shopid=[463],sv='No').to_excel(lakewood,sheet_name=2022,index=False)
lakewood.close()

In [ ]:
pmix(shopid=[1119,863,905,952,1040,1065,1071,1130,1139,1302,1352,1365,1378,1379],week_min=1,sv='No')

In [ ]:
pitts=pmix(dma=['Pittsburgh'],week_min=9,week_max=39,sv='No')
philly=pmix(coop=['CO-OP PH/WI/TR'],week_min=9,week_max=39,sv='No')
hlly=pmix(coop=['CO-OP HARRI','CO-OP YORK','CO-OP LANCA'],week_min=9,week_max=39,sv='No')
balt=pmix(coop=['CO-OP BALTI'],week_min=9,week_max=39,sv='No')
wash=pmix(coop=['CO-OP WASHI'],week_min=9,week_max=39,sv='No')
tampa=pmix(dma=['Tampa-St. Petersburg-Sarasota'],week_min=9,week_max=39,sv='No')
wbs=pmix(dma=['Wilkes Barre-Scranton'],week_min=9,week_max=39,sv='No')
midwest=pmix(region=['Midwest'],week_min=9,week_max=39,sv='No')
west=pmix(region=['West'],week_min=9,week_max=39,sv='No')
atl_ne=pmix(region=['Mid-Atlantic','Northeast'],week_min=9,week_max=39,sv='No')
fl=pmix(state=['FL'],week_min=9,week_max=39,sv='No')
south=pmix(region=['South'],state=['NC', 'SC', 'AL', 'GA', 'TN'],week_min=9,week_max=39,sv='No')

In [ ]:
pmix=pd.ExcelWriter('Natalie PMIX no SV.xlsx')
pitts.to_excel(pmix,sheet_name='Pittsburgh',index=False)
philly.to_excel(pmix,sheet_name='Philly',index=False)
hlly.to_excel(pmix,sheet_name='HLLY',index=False)
balt.to_excel(pmix,sheet_name='Baltimore',index=False)
wash.to_excel(pmix,sheet_name='Washington DC',index=False)
tampa.to_excel(pmix,sheet_name='Tampa',index=False)
wbs.to_excel(pmix,sheet_name='Wilkes-Barre',index=False)
midwest.to_excel(pmix,sheet_name='Midwest',index=False)
west.to_excel(pmix,sheet_name='West',index=False)
atl_ne.to_excel(pmix, sheet_name='Mid-Atlantic NE',index=False)
south.to_excel(pmix,sheet_name='South',index=False)
fl.to_excel(pmix,sheet_name='Florida',index=False)
pmix.close()

In [ ]:
pitt_sales=data[data.DMA=='Pittsburgh'].SalesMny.sum()
pitt_qty=data[data.DMA=='Pittsburgh'].SalesQty.sum()
pitt_item23=data[data.DMA=='Pittsburgh'].pivot_table(index='ProductTypeName',values=['SalesMny','SalesQty'],aggfunc='sum').reset_index()
pitt_item23['Sales%']=pitt_item23.SalesMny/pitt_sales
pitt_item23['Qty%']=pitt_item23.SalesQty/pitt_qty
pitt_item23

In [ ]:
philly_sales=data[data.CoOpName=='CO-OP PH/WI/TR'].SalesMny.sum()
philly_qty=data[data.CoOpName=='CO-OP PH/WI/TR'].SalesQty.sum()
philly_item23=data[data.CoOpName=='CO-OP PH/WI/TR'].pivot_table(index='ProductTypeName',values=['SalesMny','SalesQty'],aggfunc='sum').reset_index()
philly_item23['Sales%']=philly_item23.SalesMny/philly_sales
philly_item23['Qty%']=philly_item23.SalesQty/philly_qty
philly_item23

In [ ]:
hly_sales=data[(data.CoOpName=='CO-OP HARRI')|(data.CoOpName=='CO-OP YORK')|(data.CoOpName=='CO-OP LANCA')].SalesMny.sum()
hly_qty=data[(data.CoOpName=='CO-OP HARRI')|(data.CoOpName=='CO-OP YORK')|(data.CoOpName=='CO-OP LANCA')].SalesQty.sum()
hly_item23=data[(data.CoOpName=='CO-OP HARRI')|(data.CoOpName=='CO-OP YORK')|(data.CoOpName=='CO-OP LANCA')].pivot_table(index='ProductTypeName',values=['SalesMny','SalesQty'],aggfunc='sum').reset_index()
hly_item23['Sales%']=hly_item23.SalesMny/hly_sales
hly_item23['Qty%']=hly_item23.SalesQty/hly_qty
hly_item23

In [ ]:
balt_sales=data[data.CoOpName=='CO-OP BALTI'].SalesMny.sum()
balt_qty=data[data.CoOpName=='CO-OP BALTI'].SalesQty.sum()
balt_item23=data[data.CoOpName=='CO-OP BALTI'].pivot_table(index='ProductTypeName',values=['SalesMny','SalesQty'],aggfunc='sum').reset_index()
balt_item23['Sales%']=balt_item23.SalesMny/balt_sales
balt_item23['Qty%']=balt_item23.SalesQty/balt_qty
balt_item23

In [ ]:
wash_sales=data[data.CoOpName=='CO-OP WASHI'].SalesMny.sum()
wash_qty=data[data.CoOpName=='CO-OP WASHI'].SalesQty.sum()
wash_item23=data[data.CoOpName=='CO-OP WASHI'].pivot_table(index='ProductTypeName',values=['SalesMny','SalesQty'],aggfunc='sum').reset_index()
wash_item23['Sales%']=wash_item23.SalesMny/wash_sales
wash_item23['Qty%']=wash_item23.SalesQty/wash_qty
wash_item23

In [ ]:
tampa_sales=data[data.DMA=='Tampa-St. Petersburg-Sarasota'].SalesMny.sum()
tampa_qty=data[data.DMA=='Tampa-St. Petersburg-Sarasota'].SalesQty.sum()
tampa_item23=data[data.DMA=='Tampa-St. Petersburg-Sarasota'].pivot_table(index='ProductTypeName',values=['SalesMny','SalesQty'],aggfunc='sum').reset_index()
tampa_item23['Sales%']=tampa_item23.SalesMny/tampa_sales
tampa_item23['Qty%']=tampa_item23.SalesQty/tampa_qty
tampa_item23

In [ ]:
data.DMA.unique()

In [ ]:
wbs_sales=data[data.DMA=='Wilkes Barre-Scranton'].SalesMny.sum()
wbs_qty=data[data.DMA=='Wilkes Barre-Scranton'].SalesQty.sum()
wbs_item23=data[data.DMA=='Wilkes Barre-Scranton'].pivot_table(index='ProductTypeName',values=['SalesMny','SalesQty'],aggfunc='sum').reset_index()
wbs_item23['Sales%']=wbs_item23.SalesMny/wbs_sales
wbs_item23['Qty%']=wbs_item23.SalesQty/wbs_qty
wbs_item23

In [ ]:
midwest_sales=data[data.Region=='Midwest'].SalesMny.sum()
midwest_qty=data[data.Region=='Midwest'].SalesQty.sum()
midwest_item23=data[data.Region=='Midwest'].pivot_table(index='ProductTypeName',values=['SalesMny','SalesQty'],aggfunc='sum').reset_index()
midwest_item23['Sales%']=midwest_item23.SalesMny/midwest_sales
midwest_item23['Qty%']=midwest_item23.SalesQty/midwest_qty
midwest_item23

In [ ]:
west_sales=data[data.Region=='West'].SalesMny.sum()
west_qty=data[data.Region=='West'].SalesQty.sum()
west_item23=data[data.Region=='West'].pivot_table(index='ProductTypeName',values=['SalesMny','SalesQty'],aggfunc='sum').reset_index()
west_item23['Sales%']=west_item23.SalesMny/west_sales
west_item23['Qty%']=west_item23.SalesQty/west_qty
west_item23

In [ ]:
atl_ne_sales=data[(data.Region=='Mid-Atlantic')|(data.Region=='Northeast')].SalesMny.sum()
atl_ne_qty=data[(data.Region=='Mid-Atlantic')|(data.Region=='Northeast')].SalesQty.sum()
atl_ne_item23=data[(data.Region=='Mid-Atlantic')|(data.Region=='Northeast')].pivot_table(index='ProductTypeName',values=['SalesMny','SalesQty'],aggfunc='sum').reset_index()
atl_ne_item23['Sales%']=atl_ne_item23.SalesMny/atl_ne_sales
atl_ne_item23['Qty%']=atl_ne_item23.SalesQty/atl_ne_qty
atl_ne_item23

In [ ]:
south_sales=data[(data.Region=='South')&(data.State!='FL')].SalesMny.sum()
south_qty=data[(data.Region=='South')&(data.State!='FL')].SalesQty.sum()
south_item23=data[(data.Region=='South')&(data.State!='FL')].pivot_table(index='ProductTypeName',values=['SalesMny','SalesQty'],aggfunc='sum').reset_index()
south_item23['Sales%']=south_item23.SalesMny/south_sales
south_item23['Qty%']=south_item23.SalesQty/south_qty
south_item23

In [ ]:
fl_sales=data[data.State=='FL'].SalesMny.sum()
fl_qty=data[data.State=='FL'].SalesQty.sum()
fl_item23=data[data.State=='FL'].pivot_table(index='ProductTypeName',values=['SalesMny','SalesQty'],aggfunc='sum').reset_index()
fl_item23['Sales%']=fl_item23.SalesMny/fl_sales
fl_item23['Qty%']=fl_item23.SalesQty/fl_qty
fl_item23

In [ ]:
pmix=pd.ExcelWriter('Natalie Pmix.xlsx')
pitt_item23.to_excel(pmix,sheet_name='Pittsburgh',index=False)
philly_item23.to_excel(pmix,sheet_name='Philly',index=False)
hly_item23.to_excel(pmix,sheet_name='HLLY',index=False)
balt_item23.to_excel(pmix,sheet_name='Baltimore',index=False)
wash_item23.to_excel(pmix,sheet_name='Washington DC',index=False)
tampa_item23.to_excel(pmix,sheet_name='Tampa',index=False)
wbs_item23.to_excel(pmix,sheet_name='Wilkes-Barre',index=False)
midwest_item23.to_excel(pmix,sheet_name='Midwest',index=False)
west_item23.to_excel(pmix,sheet_name='West',index=False)
atl_ne_item23.to_excel(pmix, sheet_name='Mid-Atlantic NE',index=False)
south_item23.to_excel(pmix,sheet_name='South',index=False)
fl_item23.to_excel(pmix,sheet_name='Florida',index=False)
pmix.close()

In [ ]:
data[data.ShopID==1492].pivot_table(index='ProductSizeName',values=['SalesMny','SalesQty'],aggfunc='sum').reset_index()

In [ ]:
year_round=data[data.SeasonClose=='12-31-2023']

In [ ]:
def custard_pmix(state='',week_min=0):
    if state:
        sales=year_round[(year_round.State==state)&(year_round.Week.isin(week_min))].SalesMny.sum()
        qty=year_round[(year_round.State==state)&(year_round.Week.isin(week_min))].SalesQty.sum()
        item23=year_round[(year_round.State==state)&(year_round.Week.isin(week_min))].pivot_table(
                index='ProductTypeName',
                values=['SalesMny','SalesQty'],aggfunc='sum').reset_index()
        item23['Sales%']=item23.SalesMny/sales
        item23['Qty%']=item23.SalesQty/qty
    else:
        sales=year_round[year_round.Week.isin(week_min)].SalesMny.sum()
        qty=year_round[year_round.Week.isin(week_min)].SalesQty.sum()
        item23=year_round[year_round.Week.isin(week_min)].pivot_table(
                index='ProductTypeName',
                values=['SalesMny','SalesQty'],aggfunc='sum').reset_index()
        item23['Sales%']=item23.SalesMny/sales
        item23['Qty%']=item23.SalesQty/qty
    return(item23)

In [ ]:
range(9,40,1)

In [ ]:
out_season=custard_pmix(week_min=[1,2,3,4,5,6,7,8,40,41,42,43,44])

In [ ]:
in_season=custard_pmix(week_min=list(range(9,40,1)))

In [ ]:
fl_season=custard_pmix(state='FL',week_min=list(range(9,40,1)))
fl_out=custard_pmix(state='FL',week_min=[1,2,3,4,5,6,7,8,40,41,42,43,44])

In [ ]:
year_round.loc[(year_round.State=='FL')&(year_round.Week.isin(list(range(9,40,1))))].SalesMny.sum()

In [ ]:
writer3=pd.ExcelWriter('Year Round Custard Pmix Analysis.xlsx')
in_season.to_excel(writer3, sheet_name='Weeks 9-39',index=False)
out_season.to_excel(writer3,sheet_name='Out of Season',index=False)
fl_season.to_excel(writer3,sheet_name='FL Week 9-39',index=False)
fl_out.to_excel(writer3, sheet_name='FL Out of Season',index=False)
writer3.close()