In [1]:
import pandas as pd
import os
import numpy as np
import pyodbc as odbc
from datetime import date,timedelta
os.chdir(r'L:\J.Harned\Royalty\Royalty Regression\Weekly Orders for Kathy')

In [2]:
# Names the needed driver, server name, and database
driver_name='SQL Server'
server_name='10.0.1.127'
database='MAS_RFC'

In [3]:
#Creates the connection string
connection_string=f"""
DRIVER={{{driver_name}}};
SERVER={server_name};
DATABASE={database};
Trust_Connection=yes"""

In [4]:
connection=odbc.connect(connection_string)
print(connection)

<pyodbc.Connection object at 0x000002D4D6302850>

In [5]:
invoice_history=pd.read_sql_query("""SELECT * from MAS_RFC.dbo.AR_InvoiceHistoryHeader
Where Year(ShipDate)>=2018""",connection)

C:\Users\jharned\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [6]:
customer=pd.read_sql_query('''select * from MAS_RFC.dbo.AR_Customer''',connection)

C:\Users\jharned\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [7]:
invoice_detail=pd.read_sql_query('''select InvoiceNo,ItemCode,ItemCodeDesc,ItemType,UnitPrice,QuantityShipped, UDF_ROYALTY_AMT,UDF_STD_UNIT_PRICE,ProductLine from MAS_RFC.dbo.AR_InvoiceHistoryDetail''',connection)

C:\Users\jharned\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [8]:
product_line=pd.read_sql_query('''select * from MAS_RFC.dbo.IM_ProductLine''',connection)

C:\Users\jharned\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [9]:
invoice_detail.head()

,InvoiceNo,ItemCode,ItemCodeDesc,ItemType,UnitPrice,QuantityShipped,UDF_ROYALTY_AMT,UDF_STD_UNIT_PRICE,ProductLine
0,0000148,1101,VANILLA CUSTARD MIX,1,28.65,20.0,0.0,0.0,RO05
1,0000148,1102,CHOCOLATE CUSTARD MIX,1,28.80,5.0,0.0,0.0,RO05
2,0000149,1101,VANILLA CUSTARD MIX,1,28.08,15.0,0.0,0.0,RO05
3,0000149,1102,CHOCOLATE CUSTARD MIX,1,28.23,8.0,0.0,0.0,RO05
4,0000149,0107,BLUEBERRY MIX,1,82.70,3.0,0.0,0.0,RO01

In [10]:
inv_hist=invoice_history[['CustomerNo','InvoiceNo','InvoiceType','ShipDate','InvoiceDate','BillToState']]

In [11]:
inv_hist.shape

(283295, 6)

In [12]:
inv_merged=inv_hist.merge(invoice_detail,on='InvoiceNo',how='left')

In [13]:
inv_merge=inv_hist.merge(invoice_detail,on='InvoiceNo',how='inner').drop_duplicates(keep='first')

In [14]:
inv_merge[inv_merge.ShipDate.dt.year==2022]

,CustomerNo,InvoiceNo,InvoiceType,ShipDate,InvoiceDate,BillToState,ItemCode,ItemCodeDesc,ItemType,UnitPrice,QuantityShipped,UDF_ROYALTY_AMT,UDF_STD_UNIT_PRICE,ProductLine
1438246,0001450,1325949,IN,2022-01-03,2022-01-04,PA,2720,HERSHEY HOT FUDGE (4/48oz),1,30.25,2.0,0.00,30.25,NR01
1438247,0001450,1325949,IN,2022-01-03,2022-01-04,PA,5103,VANILLA CUSTARD (2/2.5GAL BAG),1,101.29,8.0,26.62,62.38,RO05
1438248,0001450,1325949,IN,2022-01-03,2022-01-04,PA,5104,CHOCO CUSTARD (2/2.5GAL BAG),1,100.99,2.0,26.62,62.08,RO05
1438249,0000467,1325958,IN,2022-01-01,2022-01-05,NJ,1976,YESPAC SMALL PAPER LID (10/10,1,26.33,1.0,0.00,26.33,NR03
1438250,0000905,1325959,IN,2022-01-01,2022-01-05,CA,1976,YESPAC SMALL PAPER LID (10/10,1,26.33,1.0,0.00,26.33,NR03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1830694,0001422,1377895,CM,2022-12-31,2023-01-04,FL,/WINTER,WINTER WASTE ROYALTY REIMB,5,13.57,-1.0,0.00,0.00,
1830695,0001422,1377895,CM,2022-12-31,2023-01-04,FL,/WINTER,WINTER WASTE ROYALTY REIMB,5,15.64,-1.0,0.00,0.00,
1830696,0001422,1377895,CM,2022-12-31,2023-01-04,FL,/WINTER,WINTER WASTE ROYALTY REIMB,5,9.04,-1.0,0.00,0.00,
1830697,0001422,1377895,CM,2022-12-31,2023-01-04,FL,/WINTER,WINTER WASTE ROYALTY REIMB,5,9.08,-1.0,0.00,0.00,
1830702,0001520,1377898,IN,2022-12-30,2022-12-30,MD,/TRFEE,TRANSFER FEE,5,17500.00,1.0,0.00,0.00,

In [15]:
inv_merge['Ext Base Cost']=inv_merge.QuantityShipped*inv_merge.UDF_STD_UNIT_PRICE
inv_merge['Ext Royalty']=inv_merge.QuantityShipped*inv_merge.UDF_ROYALTY_AMT

In [16]:
inv_merge.shape

(2210998, 16)

In [17]:
cust=customer[['CustomerNo','CustomerName','City','ARDivisionNo','UDF_ROYALTY_METHOD','UDF_DISTRIBUTOR']]

In [18]:
all_merge=inv_merge.merge(cust,on='CustomerNo',how='inner').drop_duplicates(keep='first')

In [19]:
all_merge.shape

(2355318, 21)

In [20]:
filtered=all_merge[(all_merge.ItemType=='1')&(all_merge.ARDivisionNo=='01')]

In [47]:
total_df=filtered.merge(product_line[['ProductLine','ProductLineDesc']],on='ProductLine').drop_duplicates(keep='first')

In [48]:
total_df.ProductLineDesc.unique()

array(['SALES ROYALTY', 'REPORTED ROYALTY', 'MIXES',
       'OTHER INGRED - AMBIENT', 'PAPER PRODUCTS', 'SUGAR',
       'BOTTLED WATER', 'CUSTARD', 'OTHER INGRED - REFRIG', 'WAFFLE CONE',
       'MIXES - SUGARFREE', 'SMALL WARES', 'CLEANING/JANITOR SUPPLIES',
       'TABLET & SCANNERS', 'FUEL SURCHARGE', 'SPECIAL VENUE ROYALTY',
       'CA REDEMPTION FEE', 'NATURAL MIXES', 'UNIFORMS',
       'PRODUCT CREDITS', 'PRETZELS', 'INVENTORY CONVERSION CDTS',
       'CATERING BAGS', 'MISC ROYALTY/AD FUND', 'CUSTARD - KOSHER',
       'MUSTARD - IN INVENTORY', 'CUSTARD CONE/CUP SETS',
       'INTERNATIONAL ROYALTY', 'BUNZL - PHILIPPINES',
       'CUMBERLAND - PHILIPPINES', 'EQUIPMENT - IN INVENTORY',
       'BUNZL - CANADA', 'PUMP & RACK - INVENTORY',
       'ITEMS NOT ON ORDER GUIDE'], dtype=object)

In [49]:
total_df=total_df[(total_df.ProductLineDesc=='MIXES')|(total_df.ProductLineDesc=='CUSTARD')
         |(total_df.ProductLineDesc=='MIXES - SUGARFREE')|(total_df.ProductLineDesc=='CUSTARD - KOSHER')|
         ((total_df.ProductLineDesc=='BOTTLED WATER'))]

In [50]:
total_df.columns

Index(['CustomerNo', 'InvoiceNo', 'InvoiceType', 'ShipDate', 'InvoiceDate',
       'BillToState', 'ItemCode', 'ItemCodeDesc', 'ItemType', 'UnitPrice',
       'QuantityShipped', 'UDF_ROYALTY_AMT', 'UDF_STD_UNIT_PRICE',
       'ProductLine', 'Ext Base Cost', 'Ext Royalty', 'CustomerName', 'City',
       'ARDivisionNo', 'UDF_ROYALTY_METHOD', 'UDF_DISTRIBUTOR',
       'ProductLineDesc'],
      dtype='object')

In [51]:
total_df['Year']=total_df.ShipDate.dt.year

In [52]:
total_df.columns

Index(['CustomerNo', 'InvoiceNo', 'InvoiceType', 'ShipDate', 'InvoiceDate',
       'BillToState', 'ItemCode', 'ItemCodeDesc', 'ItemType', 'UnitPrice',
       'QuantityShipped', 'UDF_ROYALTY_AMT', 'UDF_STD_UNIT_PRICE',
       'ProductLine', 'Ext Base Cost', 'Ext Royalty', 'CustomerName', 'City',
       'ARDivisionNo', 'UDF_ROYALTY_METHOD', 'UDF_DISTRIBUTOR',
       'ProductLineDesc', 'Year'],
      dtype='object')

In [72]:
total_df['ARS']=total_df['Ext Royalty']/.065

In [73]:
total_df_piv=round(total_df.pivot_table(index=['CustomerNo','CustomerName'],columns='Year',values=['Ext Royalty','ARS'],
                    aggfunc=sum),2).reset_index()

In [74]:
total_df_piv=total_df_piv.iloc[:-2,]

In [75]:
total_df_piv['ParentID']=total_df_piv.CustomerNo.astype('str')
total_df_piv['ParentID']=total_df_piv.ParentID.str[-4:]
total_df_piv['ParentID']=total_df_piv.ParentID.astype('int')

In [29]:
os.chdir(r'G:\FinanceReports')

In [30]:
data_1=pd.read_excel('2018-SRSsales-productLevel-2.xlsx', sheet_name='2018')
data_2=pd.read_excel('2019-SRSsales-productLevel-2.xlsx', sheet_name='2019')

In [31]:
os.chdir(r'G:\FinanceReports\YTD Files')

In [32]:
data_3=pd.read_excel('2020-SRSsales-productLevel-wk1-53.xlsx', sheet_name='2020')

In [33]:
# Names the needed driver, server name, and database
driver_name='SQL Server'
server_name='10.0.1.218'
database='ritascoolnet_live'

#Creates the connection string
connection_string=f"""
DRIVER={{{driver_name}}};
SERVER={server_name};
DATABASE={database};
Trust_Connection=yes"""

#Creates the Connection to SQL Server
connection=odbc.connect(connection_string)
print(connection)

<pyodbc.Connection object at 0x000002D4F27E35E0>

In [34]:
data=pd.read_sql_query('''SELECT *
  FROM [ritas_bi].[dbo].[tmp_raw_plda]
  WHERE YEAR(StartDate)=2023
  ORDER BY Week DESC''',connection)
data1=pd.read_sql_query('''SELECT *
  FROM [ritas_bi].[dbo].[tmp_raw_plda]
  WHERE YEAR(StartDate)=2022
  ORDER BY Week DESC''',connection)
data2=pd.read_sql_query('''SELECT *
  FROM [ritas_bi].[dbo].[tmp_raw_pldb]
  WHERE YEAR(StartDate)=2021''',connection)

C:\Users\jharned\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\jharned\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\jharned\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [35]:
data_1['Year']='2018'
data_2['Year']='2019'
data_3['Year']='2020'
data2['Year']='2021'
data1['Year']='2022'
data['Year']='2023'

In [37]:
combined_sales=pd.concat([data_1,data_2,data_3,data2,data1,data])

In [38]:
royalty=combined_sales[(combined_sales.ProductTypeName=='Italian Ice')|(combined_sales.ProductTypeName=='Gelati')|(combined_sales.ProductTypeName=='Misto')|(combined_sales.ProductTypeName=='Custard')|(combined_sales.ProductTypeName=='Milkshakes')|(combined_sales.ProductTypeName=='Frozen Beverages')|(combined_sales.ProductTypeName=='Hand Scooped Custard')|
(combined_sales.ProductTypeName=='Concrete')|(combined_sales.ProductTypeName=='Blendini')|(combined_sales.ProductSizeName.str.contains('water'))|(
combined_sales.ProductSizeName.str.contains('Custard Pints'))]

In [39]:
#Converts ShopID to Parent ID in order to roll up all necessary sales
combined_sales['ParentID']=combined_sales.ShopID.astype('str')
combined_sales['ParentID']=combined_sales.ParentID.str[-4:]
combined_sales['ParentID']=combined_sales.ParentID.astype('int')

In [61]:
sales_piv=combined_sales.pivot_table(index=['ParentID'],columns='Year',values='SalesMny',aggfunc=sum,fill_value=0).reset_index()

In [76]:
os.chdir(r'L:\J.Harned\Royalty\Royalty Regression\Weekly Orders for Kathy')
total_df_piv.merge(sales_piv,on='ParentID').to_excel('ARS History 2018-2023.xlsx',index=False)

C:\Users\jharned\AppData\Local\Temp\ipykernel_12700\3560181998.py:2: FutureWarning: merging between different levels is deprecated and will be removed in a future version. (2 levels on the left, 1 on the right)
  total_df_piv.merge(sales_piv,on='ParentID').to_excel('ARS History 2018-2023.xlsx',index=False)