In [1]:
#Imports the necessary libraries
import pandas as pd
import os
import numpy as np
import pyodbc as odbc
from datetime import date,timedelta,datetime
import xlsxwriter
os.chdir(r'L:\J.Harned\Calendar')
calendar=pd.read_excel('2024 Sales Calendar.xlsx')
os.chdir(r'G:\FinanceReports\2024\Wk52')

In [2]:
this_year=calendar[calendar.StartDate.dt.year==date.today().year-1]

In [3]:
# Names the needed driver, server name, and database
driver_name='SQL Server'
server_name='10.0.1.218'
database='ritascoolnet_live'

In [4]:
#Creates the connection string
connection_string=f"""
DRIVER={{{driver_name}}};
SERVER={server_name};
DATABASE={database};
Trust_Connection=yes"""

In [5]:
#Creates the Connection to SQL Server
connection=odbc.connect(connection_string)
print(connection)

<pyodbc.Connection object at 0x00000211B8CE51D0>

In [30]:
# Queries the tables from SQL
# Reads in the Weekly Sales in 2023
# Data3 Gets Guest Count
data=pd.read_sql_query('''SELECT *
  FROM [ritas_bi].[dbo].[tmp_raw_plda]
  WHERE YEAR(StartDate)>=2023 and Year(EndDate)<=2024''',connection)
product_sales=pd.read_sql_query('''Select * from ritascoolnet_live.dbo.tblProductSalesTransactions Where Year(dteStartDate)>=2023 ''',connection)
data3=pd.read_sql_query('''Select intstoreid as intStoreID,RitasID as ShopID, FC,CoolNetGroup,LegacyStoreType,State,MSAName,DMA,StoreName as ShopName,
CoOpName,Franchisee,[Parent Shop #] as ParentID,StoreStatus,[Re Open Date] as ReOpenDate,OpenDate,StoreType from ritascoolnet_live.dbo.vShopDetail''',connection)
relo=pd.read_sql_query('''Select intStoreID,dteClosedForRelocation,intParentStoreID as ParentID,
intRitasStoreID as ShopID,bitDriveThru as DT from ritascoolnet_live.dbo.GOOGLE_MAP_store''',connection)
relo['dteClosedForRelocation']=pd.to_datetime(relo['dteClosedForRelocation'])

C:\Users\jharned\AppData\Local\Temp\ipykernel_18240\239778995.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data=pd.read_sql_query('''SELECT *
C:\Users\jharned\AppData\Local\Temp\ipykernel_18240\239778995.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  product_sales=pd.read_sql_query('''Select * from ritascoolnet_live.dbo.tblProductSalesTransactions Where Year(dteStartDate)>=2023 ''',connection)
C:\Users\jharned\AppData\Local\Temp\ipykernel_18240\239778995.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data3=pd.read_sql_query('''Select intstoreid as intStoreID,RitasID as ShopID, FC,CoolNetGroup,LegacyStoreType,State,MSAName,DMA,StoreName as ShopName,
C:\Users\jharned\AppData\Local\Temp\ipykernel_18240\239778995.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  relo=pd.read_sql_query('''Select intStoreID,dteClosedForRelocation,intParentStoreID as ParentID,

In [31]:
data.shape

(1482849, 25)

In [32]:
data=data.merge(data3[['intStoreID','OpenDate','ReOpenDate']],on='intStoreID',how='left')
data['OpenDate']=np.where(data.OpenDate<data.ReOpenDate,data.ReOpenDate,data.OpenDate)
data=data.merge(relo[['intStoreID','dteClosedForRelocation']],on='intStoreID',how='left')

In [33]:
data.shape

(1482849, 28)

In [34]:
data['Days']=(data.OpenDate-data.dteClosedForRelocation).dt.days
data.Days=data.Days.fillna(0)
data=data[(data.Days<365)&(data.OpenDate.dt.year<=2022)]

In [37]:
sorted(data.ShopID.unique())

[1,
 2,
 3,
 4,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 14,
 15,
 16,
 18,
 19,
 20,
 21,
 22,
 26,
 29,
 30,
 31,
 34,
 36,
 37,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 47,
 48,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 64,
 65,
 66,
 68,
 69,
 70,
 71,
 73,
 78,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 91,
 92,
 94,
 95,
 96,
 97,
 98,
 100,
 101,
 102,
 104,
 105,
 106,
 108,
 109,
 111,
 113,
 114,
 117,
 118,
 120,
 122,
 123,
 124,
 125,
 127,
 128,
 129,
 133,
 134,
 135,
 138,
 139,
 142,
 144,
 145,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 158,
 159,
 161,
 163,
 164,
 166,
 167,
 169,
 170,
 171,
 172,
 173,
 175,
 178,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 190,
 192,
 194,
 197,
 198,
 200,
 204,
 205,
 206,
 207,
 209,
 211,
 212,
 213,
 214,
 215,
 217,
 218,
 221,
 223,
 224,
 225,
 227,
 229,
 230,
 231,
 235,
 237,
 238,
 239,
 241,
 242,
 243,
 245,
 246,
 247,
 248,
 249,
 250,
 254,
 256,
 257,
 259,
 260,
 261,
 263,
 267,
 270,
 271,
 274,
 278,
 279,
 280,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 298,
 299,
 301,
 303,
 304,
 305,
 306,
 309,
 311,
 312,
 313,
 314,
 316,
 322,
 323,
 324,
 330,
 331,
 332,
 333,
 334,
 335,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 347,
 349,
 350,
 353,
 354,
 355,
 358,
 359,
 361,
 362,
 364,
 365,
 366,
 368,
 369,
 370,
 371,
 372,
 374,
 376,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 390,
 391,
 392,
 394,
 397,
 399,
 400,
 402,
 403,
 405,
 410,
 412,
 413,
 414,
 417,
 421,
 423,
 427,
 428,
 429,
 435,
 438,
 440,
 441,
 444,
 446,
 452,
 453,
 463,
 465,
 467,
 468,
 472,
 473,
 474,
 476,
 477,
 484,
 485,
 486,
 490,
 493,
 495,
 496,
 498,
 501,
 503,
 507,
 510,
 514,
 516,
 518,
 519,
 521,
 525,
 532,
 534,
 536,
 543,
 545,
 550,
 552,
 559,
 560,
 564,
 571,
 575,
 579,
 585,
 617,
 626,
 628,
 638,
 639,
 649,
 650,
 663,
 676,
 681,
 689,
 691,
 704,
 711,
 712,
 714,
 729,
 731,
 734,
 746,
 753,
 764,
 777,
 779,
 790,
 803,
 824,
 836,
 843,
 847,
 853,
 858,
 860,
 863,
 866,
 872,
 874,
 882,
 885,
 886,
 887,
 888,
 889,
 892,
 897,
 899,
 903,
 905,
 912,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 937,
 940,
 944,
 952,
 1018,
 1040,
 1044,
 1045,
 1046,
 1047,
 1049,
 1053,
 1055,
 1060,
 1071,
 1072,
 1088,
 1119,
 1121,
 1126,
 1130,
 1132,
 1133,
 1139,
 1159,
 1160,
 1170,
 1172,
 1187,
 1231,
 1237,
 1253,
 1254,
 1265,
 1266,
 1268,
 1269,
 1271,
 1272,
 1273,
 1276,
 1302,
 1318,
 1322,
 1334,
 1335,
 1337,
 1347,
 1348,
 1351,
 1352,
 1355,
 1356,
 1357,
 1362,
 1364,
 1365,
 1368,
 1369,
 1371,
 1376,
 1377,
 1378,
 1379,
 1381,
 1383,
 1385,
 1387,
 1389,
 1394,
 1395,
 1396,
 1397,
 1398,
 1400,
 1401,
 1403,
 1404,
 1405,
 1406,
 1407,
 1409,
 1413,
 1416,
 1417,
 1418,
 1419,
 1420,
 1422,
 1423,
 1424,
 1427,
 1432,
 1436,
 1440,
 1445,
 1446,
 1449,
 1450,
 1451,
 1453,
 1454,
 1456,
 1457,
 1458,
 1459,
 1460,
 1462,
 1468,
 1472,
 1474,
 1476,
 1478,
 1479,
 1482,
 1492,
 1520,
 10008,
 10026,
 10041,
 10053,
 10071,
 10128,
 10149,
 10159,
 10175,
 10182,
 10200,
 10238,
 10274,
 10289,
 10292,
 10306,
 10338,
 10345,
 10350,
 10354,
 10359,
 10393,
 10412,
 10441,
 10445,
 10476,
 10525,
 10704,
 10824,
 10836,
 10860,
 10927,
 10928,
 10937,
 10940,
 11018,
 11053,
 11187,
 11237,
 11318,
 11369,
 11390,
 11394,
 11400,
 11407,
 11416,
 11418,
 11419,
 11453,
 20053,
 20096,
 20289,
 20374,
 20412,
 20714,
 20824,
 20882,
 30060,
 30332]

In [39]:
data.loc[data.StartDate=='2023-03-20','Week']=12
data.loc[data.StartDate=='2023-03-27','Week']=13
data.loc[data.StartDate=='2023-10-29','StartDate']='2023-10-30'
data.loc[data.ShopID==31360,'ShopID']=1568

In [40]:
product_sales=product_sales.rename(columns={'dteStartDate':'StartDate'})
weeks=data[['StartDate','Week']].drop_duplicates(keep='first')
ps=product_sales.merge(weeks[['StartDate','Week']],how='left',on='StartDate')
ps['Retail_GC']=ps.intTransactionCount-ps.intUECount\
-ps.intDDCount-ps.intGHCount
ps['Year']=ps.StartDate.dt.year
threepd=ps.rename(columns={'intRitasStoreID':'ShopID'})
threepd.ShopID=threepd.ShopID.astype('int')
gc=threepd.groupby(['ShopID','Year','Week','StartDate'])['Retail_GC'].sum().reset_index()
gc.Week=gc.Week.astype('int')
gc.loc[gc.ShopID==31360,'ShopID']=1568
gc['ParentID']=gc.ShopID.astype('int')
gc['ParentID']=gc.ShopID.astype('str')
gc['ParentID']=gc.ParentID.str[-4:]
gc['ParentID']=gc.ParentID.astype('int')
gc_total=gc
gc_total=gc_total[gc_total.ParentID!=491]

In [41]:
ps[(ps.StartDate.dt.month==12)&(ps.StartDate.dt.day.between(30,31))].groupby('Year')['Retail_GC'].sum()

Year
2024    39977
Name: Retail_GC, dtype: int64

In [42]:
gc_total=gc_total.pivot_table(index=['ParentID','Week'],columns='Year',values='Retail_GC',aggfunc='sum',fill_value=0).reset_index()

In [43]:
gc[(gc.Week==48)&(gc.Year==2023)].Retail_GC.sum()

36998

In [44]:
data['Year']=data.StartDate.dt.year
this_week=data[data.Year==2024].Week.max()
sales=data[data.Week<=this_week]
gc_total=gc_total[gc_total.Week<=this_week]
sales['ParentID']=sales.ShopID.astype('int')
sales['ParentID']=sales.ShopID.astype('str')
sales['ParentID']=sales.ParentID.str[-4:]
sales['ParentID']=sales.ParentID.astype('int')

In [45]:
sales[sales.Week==40].groupby('Year')['SalesMny'].sum()

Year
2023    2.124468e+06
2024    2.533895e+06
Name: SalesMny, dtype: float64

In [46]:
weekly_piv=sales.pivot_table(index=['ParentID'],columns='Year',values='SalesMny',aggfunc='sum',fill_value=0).reset_index()
comp_shops=weekly_piv[(weekly_piv[2023]>0)&(weekly_piv[2024]>0)].ParentID.unique()
len(comp_shops)

487

In [48]:
weekly_piv[weekly_piv.ParentID==1431]

Empty DataFrame
Columns: [ParentID, 2023, 2024]
Index: []

In [49]:
weekly_piv_dates=sales.pivot_table(index=['ParentID','Week'],columns='Year',values='SalesMny',aggfunc='sum',fill_value=0).reset_index()

In [50]:
weekly_piv

Year  ParentID         2023         2024
0            1  409081.0250  398612.2120
1            2  570197.6675  555412.4075
2            3  302488.1535  267354.9320
3            4  264795.2265  264771.2268
4            6  397503.9060  425042.0439
..         ...          ...          ...
496       1478  204326.8500  185753.3900
497       1479  289814.3288  238977.8030
498       1482  399240.4340  373235.3293
499       1492  310467.2500  391999.7500
500       1520  250343.0480  352365.9795

[501 rows x 3 columns]

In [51]:
merge=weekly_piv_dates.merge(gc_total,on=['ParentID','Week'],how='left',suffixes=[' Total Sales',' Retail GC'])
comps=merge[merge.ParentID.isin(comp_shops)]

In [52]:
comps

Year,ParentID,Week,2023 Total Sales,2024 Total Sales,2023 Retail GC,2024 Retail GC
0,1,8,2.990,0.0000,1.0,0.0
1,1,9,6327.982,4955.0000,523.0,386.0
2,1,10,6800.941,7162.6956,586.0,613.0
3,1,11,8258.021,17857.2470,722.0,1507.0
4,1,12,17778.261,9819.8516,1893.0,944.0
...,...,...,...,...,...,...
19367,1520,40,0.000,4420.7710,0.0,451.0
19368,1520,41,0.000,5155.7240,0.0,521.0
19369,1520,42,0.000,4085.1800,0.0,384.0
19370,1520,43,0.000,4022.9949,0.0,346.0
19371,1520,44,0.000,3525.0460,0.0,308.0

In [53]:
true_comps=comps[(comps['2024 Total Sales']>0)&(comps['2023 Total Sales']>0)]
true_comps=true_comps.groupby('Week')[['2024 Total Sales','2023 Total Sales','2024 Retail GC','2023 Retail GC']].sum()
true_comps['Total Sales%']=true_comps['2024 Total Sales']/true_comps['2023 Total Sales']-1
true_comps['GC%']=true_comps['2024 Retail GC']/true_comps['2023 Retail GC']-1
true_comps=true_comps.iloc[:,[0,1,-2,2,3,-1]]

In [54]:
true_comps

Year,2024 Total Sales,2023 Total Sales,Total Sales%,2024 Retail GC,2023 Retail GC,GC%
Week,,,,,,
1,2.866481e+05,3.233738e+05,-0.113570,25041.0,30280.0,-0.173018
2,2.633000e+05,2.786293e+05,-0.055017,23352.0,26234.0,-0.109857
3,2.488659e+05,3.212252e+05,-0.225260,21386.0,29096.0,-0.264985
4,3.625498e+05,3.379116e+05,0.072913,30671.0,30591.0,0.002615
5,3.381272e+05,3.623724e+05,-0.066907,29998.0,32357.0,-0.072905
6,4.035709e+05,3.984683e+05,0.012806,34420.0,35479.0,-0.029849
7,4.833889e+05,5.953934e+05,-0.188118,40621.0,53310.0,-0.238023
8,9.442337e+05,1.098859e+06,-0.140714,79553.0,96312.0,-0.174007
9,2.409639e+06,2.013583e+06,0.196692,200575.0,179312.0,0.118581
10,2.622611e+06,2.257596e+06,0.161683,221558.0,201676.0,0.098584
11,5.460779e+06,2.646904e+06,1.063082,465096.0,232328.0,1.001894
12,3.512327e+06,4.867982e+06,-0.278484,394190.0,533891.0,-0.261666
13,3.610470e+06,4.239129e+06,-0.148299,308628.0,379767.0,-0.187323
14,3.394346e+06,4.861719e+06,-0.301822,280368.0,439651.0,-0.362294
15,5.547140e+06,6.846337e+06,-0.189765,476499.0,618136.0,-0.229136
16,5.132730e+06,5.367785e+06,-0.043790,445351.0,491834.0,-0.094510
17,5.482335e+06,3.567246e+06,0.536854,479705.0,323693.0,0.481975
18,5.704871e+06,4.564914e+06,0.249722,501787.0,407316.0,0.231935
19,4.913100e+06,6.249898e+06,-0.213891,418242.0,556050.0,-0.247834
20,4.829509e+06,5.571293e+06,-0.133144,407851.0,499244.0,-0.183063
21,7.303855e+06,6.082266e+06,0.200844,612903.0,538375.0,0.138431
22,6.640222e+06,7.042402e+06,-0.057108,548803.0,601128.0,-0.087045
23,6.995550e+06,6.133768e+06,0.140498,583637.0,533809.0,0.093344
24,6.944350e+06,6.065817e+06,0.144833,574325.0,517915.0,0.108917
25,8.023985e+06,5.419692e+06,0.480524,657507.0,471984.0,0.393071
26,6.635211e+06,5.934200e+06,0.118131,551438.0,510834.0,0.079486
27,7.371344e+06,6.691700e+06,0.101565,592537.0,562642.0,0.053133
28,6.601522e+06,6.547521e+06,0.008248,544405.0,572653.0,-0.049328
29,6.386499e+06,6.562526e+06,-0.026823,522704.0,567339.0,-0.078674
30,5.769393e+06,6.566010e+06,-0.121324,475036.0,559880.0,-0.151540
31,5.800332e+06,5.775071e+06,0.004374,470836.0,501343.0,-0.060851
32,4.783678e+06,5.418066e+06,-0.117087,393628.0,472149.0,-0.166306
33,5.143227e+06,5.491158e+06,-0.063362,433801.0,483902.0,-0.103535
34,4.910178e+06,4.955909e+06,-0.009228,412463.0,438908.0,-0.060252
35,4.672371e+06,4.649775e+06,0.004859,399675.0,410935.0,-0.027401
36,3.689466e+06,4.190806e+06,-0.119628,317020.0,379158.0,-0.163884
37,3.554275e+06,3.272354e+06,0.086152,311590.0,293106.0,0.063063
38,3.031690e+06,2.295959e+06,0.320446,263619.0,213768.0,0.233201
39,2.009452e+06,2.269036e+06,-0.114403,168101.0,199640.0,-0.157979
40,2.122776e+06,2.073040e+06,0.023992,180478.0,184555.0,-0.022091
41,1.650120e+06,1.330652e+06,0.240084,136221.0,121859.0,0.117858
42,1.141629e+06,9.786072e+05,0.166586,87848.0,84056.0,0.045113
43,1.009551e+06,9.996921e+05,0.009861,81301.0,83772.0,-0.029497
44,5.916316e+05,4.985008e+05,0.186822,46393.0,41142.0,0.127631
45,5.615370e+05,4.953066e+05,0.133716,42701.0,41946.0,0.017999
46,3.959904e+05,3.854776e+05,0.027272,34025.0,34537.0,-0.014825
47,3.231797e+05,3.109086e+05,0.039468,27361.0,27205.0,0.005734
48,2.985977e+05,2.889652e+05,0.033334,25258.0,26533.0,-0.048053
49,2.500370e+05,3.045623e+05,-0.179028,22402.0,26201.0,-0.144994
50,2.578489e+05,2.767670e+05,-0.068354,22205.0,25437.0,-0.127059
51,2.687222e+05,2.559897e+05,0.049738,23166.0,25267.0,-0.083152
52,3.110789e+05,3.285964e+05,-0.053310,24061.0,28240.0,-0.147982

In [55]:
weekly_comps=comps.groupby('Week')[['2024 Total Sales','2023 Total Sales','2024 Retail GC','2023 Retail GC']].sum()

In [56]:
weekly_comps

Year  2024 Total Sales  2023 Total Sales  2024 Retail GC  2023 Retail GC
Week
1         3.330173e+05      3.314022e+05         26473.0         31054.0
2         3.245607e+05      2.845791e+05         24349.0         26771.0
3         2.974538e+05      3.443339e+05         22154.0         30495.0
4         3.915159e+05      3.602656e+05         32276.0         32166.0
5         3.912496e+05      3.878743e+05         33047.0         33931.0
6         4.792804e+05      4.239271e+05         39449.0         37797.0
7         5.504339e+05      6.534442e+05         44246.0         58241.0
8         1.013599e+06      1.213435e+06         84269.0        106605.0
9         2.476208e+06      2.036636e+06        205179.0        181534.0
10        2.690371e+06      2.273991e+06        226719.0        203309.0
11        5.558766e+06      2.662890e+06        473568.0        233827.0
12        3.565309e+06      4.886024e+06        401516.0        536427.0
13        3.666672e+06      4.262152e+06        314380.0        381983.0
14        3.469917e+06      4.873695e+06        286701.0        440697.0
15        5.602720e+06      6.864905e+06        481198.0        619832.0
16        5.177990e+06      5.372595e+06        449408.0        492309.0
17        5.518663e+06      3.584569e+06        483692.0        325219.0
18        5.758649e+06      4.569763e+06        507042.0        407319.0
19        4.968455e+06      6.260849e+06        424689.0        556057.0
20        4.859532e+06      5.608428e+06        411281.0        502080.0
21        7.363537e+06      6.112522e+06        618144.0        539617.0
22        6.655083e+06      7.115668e+06        551128.0        606233.0
23        7.029364e+06      6.173462e+06        588102.0        535612.0
24        6.945040e+06      6.086557e+06        575540.0        520266.0
25        8.047408e+06      5.467785e+06        660460.0        478404.0
26        6.667417e+06      5.964686e+06        555585.0        514541.0
27        7.383548e+06      6.711684e+06        593478.0        564317.0
28        6.622784e+06      6.593607e+06        546086.0        577347.0
29        6.399945e+06      6.593575e+06        524832.0        571813.0
30        5.769393e+06      6.582992e+06        475043.0        561385.0
31        5.830948e+06      5.804711e+06        473614.0        504120.0
32        4.797398e+06      5.480526e+06        394658.0        478081.0
33        5.198937e+06      5.544704e+06        439913.0        488274.0
34        4.926804e+06      5.002289e+06        413740.0        443616.0
35        4.688041e+06      4.680557e+06        400847.0        413925.0
36        3.695265e+06      4.210778e+06        317572.0        380638.0
37        3.560033e+06      3.321971e+06        312892.0        297901.0
38        3.043344e+06      2.329179e+06        265252.0        217444.0
39        2.018953e+06      2.304733e+06        169007.0        203203.0
40        2.529409e+06      2.104627e+06        217192.0        188362.0
41        1.865716e+06      1.408369e+06        153756.0        129000.0
42        1.378138e+06      1.099137e+06        107409.0         91523.0
43        1.229758e+06      1.113015e+06         99487.0         93611.0
44        7.594018e+05      5.407926e+05         60231.0         45184.0
45        6.396231e+05      5.260581e+05         49140.0         45175.0
46        4.561079e+05      4.522881e+05         38221.0         37930.0
47        3.743571e+05      3.776414e+05         31292.0         29470.0
48        3.333922e+05      3.167336e+05         27788.0         28700.0
49        2.709815e+05      3.331595e+05         24156.0         28045.0
50        2.784510e+05      3.098305e+05         23921.0         27514.0
51        2.801257e+05      2.935626e+05         23879.0         26855.0
52        3.212753e+05      3.887321e+05         24795.0         30446.0

In [57]:
weekly_comps['Total Sales%']=weekly_comps['2024 Total Sales']/weekly_comps['2023 Total Sales']-1
weekly_comps['GC%']=weekly_comps['2024 Retail GC']/weekly_comps['2023 Retail GC']-1
weekly_comps=weekly_comps.iloc[:,[0,1,-2,2,3,-1]]

In [58]:
weekly_comps=weekly_comps.rename(columns={'2024 Total Sales':'2024 Total System Sales',
                                           '2023 Total Sales':'2023 Total System Sales',
                                           'Total Sales%':'Total System Sales%'})

In [59]:
monthly_comps=weekly_comps.reset_index().merge(this_year[['Week','Month_Name','Month']],how='left',on='Week')
monthly_comps=monthly_comps.groupby(['Month','Month_Name'])[['2024 Total System Sales','2023 Total System Sales','2024 Retail GC','2023 Retail GC']].sum()
monthly_comps=monthly_comps.reset_index().drop('Month',axis=1).set_index('Month_Name')
monthly_comps.loc['YTD Totals']=monthly_comps.sum(axis=0)
monthly_comps['Total System Sales%']=monthly_comps['2024 Total System Sales']/monthly_comps['2023 Total System Sales']-1
monthly_comps['GC%']=monthly_comps['2024 Retail GC']/monthly_comps['2023 Retail GC']-1
monthly_comps=monthly_comps.iloc[:,[0,1,-2,2,3,-1]]
monthly_comps

,2024 Total System Sales,2023 Total System Sales,Total System Sales%,2024 Retail GC,2023 Retail GC,GC%
Month_Name,,,,,,
January,1.346548e+06,1.320581e+06,0.019663,105252.0,120486.0,-0.126438
February,2.434563e+06,2.678681e+06,-0.091134,201011.0,236574.0,-0.150325
March,1.795732e+07,1.612169e+07,0.113861,1621362.0,1537080.0,0.054833
April,1.976929e+07,2.069576e+07,-0.044766,1700999.0,1878057.0,-0.094277
May,2.295017e+07,2.255156e+07,0.017676,1961156.0,2005073.0,-0.021903
June,3.534431e+07,3.080816e+07,0.147239,2930815.0,2655056.0,0.103862
July,2.617567e+07,2.648186e+07,-0.011562,2139439.0,2274862.0,-0.059530
August,2.075409e+07,2.183223e+07,-0.049383,1721925.0,1914091.0,-0.100395
September,1.700564e+07,1.684722e+07,0.009403,1465570.0,1513111.0,-0.031419
October,7.003021e+06,5.725148e+06,0.223204,577844.0,502496.0,0.149947
November,2.229490e+06,1.896780e+06,0.175408,178884.0,157759.0,0.133907
December,1.484226e+06,1.642018e+06,-0.096097,124539.0,141560.0,-0.120239
YTD Totals,1.744543e+08,1.686017e+08,0.034713,14728796.0,14936205.0,-0.013886

In [60]:
weekly_comps.reset_index().merge(this_year[['Week','Month_Name','Month']],how='left',on='Week')

,Week,2024 Total System Sales,2023 Total System Sales,Total System Sales%,2024 Retail GC,2023 Retail GC,GC%,Month_Name,Month
0,1,3.330173e+05,3.314022e+05,0.004873,26473.0,31054.0,-0.147517,January,1
1,2,3.245607e+05,2.845791e+05,0.140494,24349.0,26771.0,-0.090471,January,1
2,3,2.974538e+05,3.443339e+05,-0.136147,22154.0,30495.0,-0.273520,January,1
3,4,3.915159e+05,3.602656e+05,0.086742,32276.0,32166.0,0.003420,January,1
4,5,3.912496e+05,3.878743e+05,0.008702,33047.0,33931.0,-0.026053,February,2
5,6,4.792804e+05,4.239271e+05,0.130573,39449.0,37797.0,0.043707,February,2
6,7,5.504339e+05,6.534442e+05,-0.157642,44246.0,58241.0,-0.240295,February,2
7,8,1.013599e+06,1.213435e+06,-0.164686,84269.0,106605.0,-0.209521,February,2
8,9,2.476208e+06,2.036636e+06,0.215833,205179.0,181534.0,0.130251,March,3
9,10,2.690371e+06,2.273991e+06,0.183105,226719.0,203309.0,0.115145,March,3
10,11,5.558766e+06,2.662890e+06,1.087494,473568.0,233827.0,1.025292,March,3
11,12,3.565309e+06,4.886024e+06,-0.270305,401516.0,536427.0,-0.251499,March,3
12,13,3.666672e+06,4.262152e+06,-0.139714,314380.0,381983.0,-0.176979,March,3
13,14,3.469917e+06,4.873695e+06,-0.288031,286701.0,440697.0,-0.349437,April,4
14,15,5.602720e+06,6.864905e+06,-0.183860,481198.0,619832.0,-0.223664,April,4
15,16,5.177990e+06,5.372595e+06,-0.036222,449408.0,492309.0,-0.087142,April,4
16,17,5.518663e+06,3.584569e+06,0.539561,483692.0,325219.0,0.487281,April,4
17,18,5.758649e+06,4.569763e+06,0.260164,507042.0,407319.0,0.244828,May,5
18,19,4.968455e+06,6.260849e+06,-0.206425,424689.0,556057.0,-0.236249,May,5
19,20,4.859532e+06,5.608428e+06,-0.133531,411281.0,502080.0,-0.180846,May,5
20,21,7.363537e+06,6.112522e+06,0.204664,618144.0,539617.0,0.145524,May,5
21,22,6.655083e+06,7.115668e+06,-0.064728,551128.0,606233.0,-0.090897,June,6
22,23,7.029364e+06,6.173462e+06,0.138642,588102.0,535612.0,0.098000,June,6
23,24,6.945040e+06,6.086557e+06,0.141046,575540.0,520266.0,0.106242,June,6
24,25,8.047408e+06,5.467785e+06,0.471786,660460.0,478404.0,0.380549,June,6
25,26,6.667417e+06,5.964686e+06,0.117815,555585.0,514541.0,0.079768,June,6
26,27,7.383548e+06,6.711684e+06,0.100104,593478.0,564317.0,0.051675,July,7
27,28,6.622784e+06,6.593607e+06,0.004425,546086.0,577347.0,-0.054146,July,7
28,29,6.399945e+06,6.593575e+06,-0.029366,524832.0,571813.0,-0.082161,July,7
29,30,5.769393e+06,6.582992e+06,-0.123591,475043.0,561385.0,-0.153802,July,7
30,31,5.830948e+06,5.804711e+06,0.004520,473614.0,504120.0,-0.060513,August,8
31,32,4.797398e+06,5.480526e+06,-0.124646,394658.0,478081.0,-0.174496,August,8
32,33,5.198937e+06,5.544704e+06,-0.062360,439913.0,488274.0,-0.099045,August,8
33,34,4.926804e+06,5.002289e+06,-0.015090,413740.0,443616.0,-0.067347,August,8
34,35,4.688041e+06,4.680557e+06,0.001599,400847.0,413925.0,-0.031595,September,9
35,36,3.695265e+06,4.210778e+06,-0.122427,317572.0,380638.0,-0.165685,September,9
36,37,3.560033e+06,3.321971e+06,0.071663,312892.0,297901.0,0.050322,September,9
37,38,3.043344e+06,2.329179e+06,0.306616,265252.0,217444.0,0.219864,September,9
38,39,2.018953e+06,2.304733e+06,-0.123997,169007.0,203203.0,-0.168285,September,9
39,40,2.529409e+06,2.104627e+06,0.201832,217192.0,188362.0,0.153056,October,10
40,41,1.865716e+06,1.408369e+06,0.324735,153756.0,129000.0,0.191907,October,10
41,42,1.378138e+06,1.099137e+06,0.253836,107409.0,91523.0,0.173574,October,10
42,43,1.229758e+06,1.113015e+06,0.104890,99487.0,93611.0,0.062770,October,10
43,44,7.594018e+05,5.407926e+05,0.404238,60231.0,45184.0,0.333016,November,11
44,45,6.396231e+05,5.260581e+05,0.215879,49140.0,45175.0,0.087770,November,11
45,46,4.561079e+05,4.522881e+05,0.008446,38221.0,37930.0,0.007672,November,11
46,47,3.743571e+05,3.776414e+05,-0.008697,31292.0,29470.0,0.061826,November,11
47,48,3.333922e+05,3.167336e+05,0.052595,27788.0,28700.0,-0.031777,December,12
48,49,2.709815e+05,3.331595e+05,-0.186631,24156.0,28045.0,-0.138670,December,12
49,50,2.784510e+05,3.098305e+05,-0.101279,23921.0,27514.0,-0.130588,December,12
50,51,2.801257e+05,2.935626e+05,-0.045772,23879.0,26855.0,-0.110817,December,12
51,52,3.212753e+05,3.887321e+05,-0.173530,24795.0,30446.0,-0.185607,December,12

In [61]:
true_comps=true_comps.rename(columns={'2024 Total Sales':'2024 Total System Comp Sales',
                                           '2023 Total Sales':'2023 Total System Comp Sales',
                                           'Total Sales%':'Total System Sales Comp%'})

In [62]:
lastrow=monthly_comps.shape[0]
with pd.ExcelWriter('For Kathy Comp Sales and Guest Count for Shops Open Prior to 2023.xlsx',engine='xlsxwriter') as writer5:
    comp_workbook=writer5.book
    format_header2=comp_workbook.add_format()
    format_header2.set_italic()
    format_header2.set_bold()
    format_num=comp_workbook.add_format({'num_format':'$#,##0',
                                        'align':'center',
                                        'valign':'vcenter'})
    format_qty=comp_workbook.add_format({'num_format':'#,##0',
                                        'align':'center',
                                        'valign':'vcenter'})
    perc_format=comp_workbook.add_format({'num_format':'#0.0%',
                                         'align':'center',
                                         'valign':'vcenter'})
    total_dollar_format=comp_workbook.add_format({'bold':True,
                                          'bg_color':'#d5d8dc',
                                          'num_format':'$#,##0',
                                        'align':'center',
                                        'valign':'vcenter'})
    
    total_gc_format=comp_workbook.add_format({'bold':True,
                                          'bg_color':'#d5d8dc',
                                          'num_format':'#,##0',
                                        'align':'center',
                                        'valign':'vcenter'})
    
    total_perc_format=comp_workbook.add_format({'bold':True,
                                          'bg_color':'#d5d8dc',
                                          'num_format':'#0.0%',
                                        'align':'center',
                                        'valign':'vcenter'})
    a1=comp_workbook.add_format({'align':'center','valign':'vcenter','bold':True})
    border_format=comp_workbook.add_format({'top':2,'bottom':2,'left':2,'right':2})
    
    title='Ritas Franchise Company,LLC'
    comp_text='Monthly Comp Sales and Guest Count (3rd Party GC Excluded)'
    comp_text1='Comp Total System Sales Include: Retail/Mobile/Satellite/3rd Party/Special Venue/Online'
    comp_text2='2024 v 2023 Sales and Guest Counts thru Week '+str(this_week)
    comp_text3='For Shops Opened Prior to 2023 Only'
    
    monthly_comps.to_excel(writer5,startrow=6,startcol=0, sheet_name='Comps')
    true_comps.T.to_excel(writer5,startrow=6,startcol=0, sheet_name='''Mark's Format''')
    
    ws=writer5.sheets['Comps']                     
    ws.conditional_format(xlsxwriter.utility.xl_range(6,0,len(monthly_comps)+6,len(monthly_comps.columns)),
                                  {'type': 'no_errors', 'format': border_format})
    for col in range(0,2):
        ws.write(monthly_comps.shape[0]+6,col+1,monthly_comps.iloc[-1,col],total_dollar_format)
  
    for col in range(3,5):
        ws.write(monthly_comps.shape[0]+6,col+1,monthly_comps.iloc[-1,col],total_gc_format)
    for col in range(2,3):
        ws.write(monthly_comps.shape[0]+6,col+1,monthly_comps.iloc[-1,col],total_perc_format)
    for col in range(5,6):
        ws.write(monthly_comps.shape[0]+6,col+1,monthly_comps.iloc[-1,col],total_perc_format)
        
    ws.write(lastrow+6,0,'YTD Totals',total_dollar_format)    
    ws.write(0,1,title,format_header2)
    ws.write(1,1,comp_text,format_header2)
    ws.write(2,1,comp_text1,format_header2)
    ws.write(3,1,comp_text2,format_header2)
    ws.write(4,1,comp_text3,format_header2)
    ws.set_column('A:A',13)
    ws.set_column('B:C',22,format_num)
    ws.set_column('D:D',22,perc_format)
    ws.set_column('E:F',15,format_qty)
    ws.set_column('G:G',15,perc_format)
    ws.insert_image('A1','Logo.png')
    ws.hide_gridlines(2)
   
    ws1=writer5.sheets['''Mark's Format''']
    ws1.conditional_format(xlsxwriter.utility.xl_range(6,0,len(true_comps.T)+6,len(true_comps.T.columns)),
                                  {'type': 'no_errors', 'format': border_format})
    ws1.write(0,1,title,format_header2)
    ws1.write(1,1,comp_text,format_header2)
    ws1.write(2,1,comp_text1,format_header2)
    ws1.write(3,1,comp_text2,format_header2)
    ws1.write(4,1,comp_text3,format_header2)
    ws1.set_column('A:ZZ',13)
    ws1.write('A7','Week',a1)
    ws1.set_column('A:A',22)
    ws1.set_column('B:AZ',14)
    ws1.set_row(7,None,format_num)
    ws1.set_row(8,None,format_num)
    ws1.set_row(9,None,perc_format)
    ws1.set_row(10,None,format_qty)
    ws1.set_row(11,None,format_qty)
    ws1.set_row(12,None,perc_format)
    ws1.insert_image('A1','Logo.png')
    ws1.hide_gridlines(2)

# Comp with Retail Sales Only

In [30]:
# no_3pd=sales[sales.ProductTypeName!='3rd Party Delivery'].pivot_table(index=['ParentID'],columns='Year',values='SalesMny',aggfunc='sum',fill_value=0).reset_index()
# comp_shops=no_3pd[(no_3pd[2023]>0)&(no_3pd[2024]>0)].ParentID.unique()
# len(comp_shops)

In [31]:
# no_3pd_dates=sales[sales.ProductTypeName!='3rd Party Delivery'].pivot_table(index=['ParentID','Week'],columns='Year',values='SalesMny',aggfunc='sum',fill_value=0).reset_index()
# merge=no_3pd_dates.merge(gc_total,on=['ParentID','Week'],how='left',suffixes=[' Retail Sales',' Retail GC'])
# merge=merge[(merge['2023 Retail Sales']>0)&(merge['2024 Retail Sales']>0)]
# no_3pd_comps=merge.groupby('Week')[['2024 Retail Sales','2023 Retail Sales','2024 Retail GC','2023 Retail GC']].sum()
# no_3pd_comps['Retail Sales%']=no_3pd_comps['2024 Retail Sales']/no_3pd_comps['2023 Retail Sales']-1
# no_3pd_comps['GC%']=no_3pd_comps['2024 Retail GC']/no_3pd_comps['2023 Retail GC']-1
# no_3pd_comps=no_3pd_comps.iloc[:,[0,1,-2,2,3,-1]]

In [32]:

# weekly_comps=true_comps.merge(no_3pd_comps[['2024 Retail Sales','2023 Retail Sales','Retail Sales%']],right_index=True,left_index=True)
# weekly_comps=weekly_comps.iloc[:,[0,1,2,-3,-2,-1,3,4,5]]

In [33]:
# no_3pd_dates=sales[sales.ProductTypeName!='3rd Party Delivery'].pivot_table(index=['ParentID','Week'],columns='Year',values='SalesMny',aggfunc='sum',fill_value=0).reset_index()
# merge=no_3pd_dates.merge(gc_total,on=['ParentID','Week'],how='left',suffixes=[' Retail Sales',' Retail GC'])
# comps=merge[merge.ParentID.isin(comp_shops)]
# no_3pd_comps=comps.groupby('Week')[['2024 Retail Sales','2023 Retail Sales','2024 Retail GC','2023 Retail GC']].sum()
# no_3pd_comps['Retail Sales%']=no_3pd_comps['2024 Retail Sales']/no_3pd_comps['2023 Retail Sales']-1
# no_3pd_comps['GC%']=no_3pd_comps['2024 Retail GC']/no_3pd_comps['2023 Retail GC']-1
# no_3pd_comps=no_3pd_comps.iloc[:,[0,1,-2,2,3,-1]]
# monthly_comps_no_3pds=no_3pd_comps.reset_index().merge(this_year[['Week','Month_Name','Month']],how='left',on='Week')
# monthly_comps_no_3pds=monthly_comps_no_3pds.groupby(['Month','Month_Name'])[['2024 Retail Sales','2023 Retail Sales','2024 Retail GC','2023 Retail GC']].sum()
# monthly_comps_no_3pds=monthly_comps_no_3pds.reset_index().drop('Month',axis=1).set_index('Month_Name')
# monthly_comps_no_3pds.loc['YTD Totals']=monthly_comps_no_3pds.sum(axis=0)
# monthly_comps_no_3pds['Retail Sales%']=monthly_comps_no_3pds['2024 Retail Sales']/monthly_comps_no_3pds['2023 Retail Sales']-1
# monthly_comps_no_3pds['GC%']=monthly_comps_no_3pds['2024 Retail GC']/monthly_comps_no_3pds['2023 Retail GC']-1
# monthly_comps_no_3pds=monthly_comps_no_3pds.iloc[:,[0,1,-2,2,3,-1]]
# monthly_comps_no_3pds

In [34]:
# monthly_comps=monthly_comps.merge(monthly_comps_no_3pds[['2024 Retail Sales','2023 Retail Sales','Retail Sales%']],right_index=True,left_index=True)
# monthly_comps=monthly_comps.iloc[:,[0,1,2,-3,-2,-1,3,4,5]]

In [35]:
# monthly_comps.iloc[:,[0,1,2,6,7,8]]

In [36]:
# lastrow=monthly_comps.shape[0]
# with pd.ExcelWriter('Comp Sales and Guest Count for Wk'+str(this_week)+' v3.xlsx',engine='xlsxwriter') as writer5:
#     comp_workbook=writer5.book
#     format_header2=comp_workbook.add_format()
#     format_header2.set_italic()
#     format_header2.set_bold()
    
#     format_num=comp_workbook.add_format({'num_format':'$#,##0',
#                                         'align':'center',
#                                         'valign':'vcenter'})
#     format_qty=comp_workbook.add_format({'num_format':'#,##0',
#                                         'align':'center',
#                                         'valign':'vcenter'})
#     perc_format=comp_workbook.add_format({'num_format':'#0.0%',
#                                          'align':'center',
#                                          'valign':'vcenter'})
    
#     total_dollar_format=comp_workbook.add_format({'bold':True,
#                                           'bg_color':'#d5d8dc',
#                                           'num_format':'$#,##0',
#                                         'align':'center',
#                                         'valign':'vcenter'})
    
#     total_gc_format=comp_workbook.add_format({'bold':True,
#                                           'bg_color':'#d5d8dc',
#                                           'num_format':'#,##0',
#                                         'align':'center',
#                                         'valign':'vcenter'})
    
#     total_perc_format=comp_workbook.add_format({'bold':True,
#                                           'bg_color':'#d5d8dc',
#                                           'num_format':'#0.0%',
#                                         'align':'center',
#                                         'valign':'vcenter'})
#     a1=comp_workbook.add_format({'align':'center','valign':'vcenter','bold':True})
#     border_format=comp_workbook.add_format({'top':2,'bottom':2,'left':2,'right':2})
    
#     title='Ritas Franchise Company,LLC'
#     comp_text='Weekly Comp Sales and Guest Count (3rd Party GC Excluded)'
#     comp_text1='Comp Total Sales Include: Retail/Mobile/Satellite/3rd Party'
#     comp_text2='Comp Retail Sales Include: Retail/Mobile/Satellite'
#     comp_text3='2024 v 2023 Sales and Guest Counts thru Week '+str(this_week)
#     comp_text4='As of '+str(data.EndDate.max().strftime('%m-%d-%y'))
    
#     monthly_comps.to_excel(writer5,startrow=7,startcol=0, sheet_name='Comps')
#     weekly_comps.T.to_excel(writer5,startrow=7,startcol=0, sheet_name='''Mark's Format''')
    
#     ws=writer5.sheets['Comps']                     
#     ws.conditional_format(xlsxwriter.utility.xl_range(7,0,len(monthly_comps)+7,len(monthly_comps.columns)),
#                                   {'type': 'no_errors', 'format': border_format})
#     for col in range(0,2):
#         ws.write(monthly_comps.shape[0]+7,col+1,monthly_comps.iloc[-1,col],total_dollar_format)
  
#     for col in range(3,5):
#         ws.write(monthly_comps.shape[0]+7,col+1,monthly_comps.iloc[-1,col],total_dollar_format)
#     for col in range(2,3):
#         ws.write(monthly_comps.shape[0]+7,col+1,monthly_comps.iloc[-1,col],total_perc_format)
#     for col in range(5,6):
#         ws.write(monthly_comps.shape[0]+7,col+1,monthly_comps.iloc[-1,col],total_perc_format)
#     for col in range(6,8):
#         ws.write(monthly_comps.shape[0]+7,col+1,monthly_comps.iloc[-1,col],total_gc_format)
#     for col in range(8,9):
#         ws.write(monthly_comps.shape[0]+7,col+1,monthly_comps.iloc[-1,col],total_perc_format)
        
    
        
#     ws.write(lastrow+7,0,'YTD Totals',total_dollar_format)    
#     ws.write(0,1,title,format_header2)
#     ws.write(1,1,comp_text,format_header2)
#     ws.write(2,1,comp_text1,format_header2)
#     ws.write(3,1,comp_text2,format_header2)
#     ws.write(4,1,comp_text3,format_header2)
#     ws.write(5,1,comp_text4,format_header2)
#     ws.set_column('A:A',13)
#     ws.set_column('B:C',15,format_num)
#     ws.set_column('D:D',15,perc_format)
#     ws.set_column('E:F',15,format_num)
#     ws.set_column('G:G',15,perc_format)
#     ws.set_column('H:I',15,format_qty)
#     ws.set_column('J:J',15,perc_format)
#     ws.insert_image('A1','Logo.png')
#     ws.hide_gridlines(2)
   
#     ws1=writer5.sheets['''Mark's Format''']
#     ws1.conditional_format(xlsxwriter.utility.xl_range(7,0,len(weekly_comps.T)+7,len(weekly_comps.T.columns)),
#                                   {'type': 'no_errors', 'format': border_format})
    
#     ws1.write(0,1,title,format_header2)
#     ws1.write(1,1,comp_text,format_header2)
#     ws1.write(2,1,comp_text1,format_header2)
#     ws1.write(3,1,comp_text2,format_header2)
#     ws1.write(4,1,comp_text3,format_header2)
#     ws1.write(5,1,comp_text4,format_header2)
#     ws1.set_column('A:ZZ',15)
#     ws1.write('A8','Week',a1)
#     ws1.set_column('A:AZ',15)
#     ws1.set_row(8,None,format_num)
#     ws1.set_row(9,None,format_num)
#     ws1.set_row(10,None,perc_format)
#     ws1.set_row(11,None,format_num)
#     ws1.set_row(12,None,format_num)
#     ws1.set_row(13,None,perc_format)
#     ws1.set_row(14,None,format_qty)
#     ws1.set_row(15,None,format_qty)
#     ws1.set_row(16,None,perc_format)
#     ws1.insert_image('A1','Logo.png')
#     ws1.hide_gridlines(2)

# Kathy Average Checks with Different Variations

In [37]:
# total_sales=sales.merge(calendar[['StartDate','Month_Name','Month']],on='StartDate',how='left')
# total_sales=total_sales[total_sales.Week<=this_week]

In [38]:
# total_sales_pivot=total_sales.pivot_table(index=['Month','Month_Name'],
#                        columns='Year',values='SalesMny',aggfunc='sum').reset_index().drop('Month',axis=1).set_index('Month_Name')
# total_sales_pivot=total_sales_pivot.iloc[:,[-1,0]]
# column=['2024 Total Sales','2023 Total Sales']
# total_sales_pivot.columns=column
# total_sales_pivot.loc['YTD Totals']=total_sales_pivot.sum(axis=0)
# total_sales_pivot['Total Sales%']=total_sales_pivot.iloc[:,0]/total_sales_pivot.iloc[:,-1]-1
# total_sales_pivot

In [39]:
# threepd.loc[threepd.ShopID==31360,'ShopID']=1568
# all_gc=threepd.groupby(['ShopID','Year','Week','StartDate'])['intTransactionCount'].sum().reset_index()
# all_gc.Week=all_gc.Week.astype('int')
# all_ts_gc=total_sales[['ShopID','StartDate','Month_Name','Month']].drop_duplicates(subset=['ShopID','StartDate'],keep='first')\
# .merge(all_gc[['StartDate','ShopID','intTransactionCount']],on=['StartDate','ShopID'],how='left').fillna(0)
# all_ts_gc=all_ts_gc.rename(columns={'intTransactionCount':'Total_GC'})
# all_ts_gc_pivot=all_ts_gc.pivot_table(index=['Month','Month_Name'],
#                        columns=ts_gc.StartDate.dt.year,values='Total_GC',aggfunc='sum').reset_index().drop('Month',axis=1).set_index('Month_Name')
# all_ts_gc_pivot=all_ts_gc_pivot.iloc[:,[-1,0]]
# column=['2024 Total_GC','2023 Total_GC']
# all_ts_gc_pivot.columns=column
# all_ts_gc_pivot
# all_ts_gc_pivot.loc['YTD Totals']=all_ts_gc_pivot.sum(axis=0)
# all_ts_gc_pivot['Total Sales%']=all_ts_gc_pivot.iloc[:,0]/all_ts_gc_pivot.iloc[:,-1]-1
# all_ts_gc_pivot

In [40]:
# totals_combined=total_sales_pivot.merge(all_ts_gc_pivot,left_on='Month_Name',right_on='Month_Name')
# totals_combined['2024 Avg Check']=totals_combined['2024 Total Sales']/totals_combined['2024 Total_GC']
# totals_combined['2023 Avg Check']=totals_combined['2023 Total Sales']/totals_combined['2023 Total_GC']
# totals_combined['Avg Check%']=totals_combined['2024 Avg Check']/totals_combined['2023 Avg Check']-1
# totals_combined

In [41]:
# ts_gc=total_sales[['ShopID','StartDate','Month_Name','Month']].drop_duplicates(subset=['ShopID','StartDate'],keep='first')\
# .merge(gc[['StartDate','ShopID','Retail_GC']],on=['StartDate','ShopID'],how='left').fillna(0)
# ts_gc_pivot=ts_gc.pivot_table(index=['Month','Month_Name'],
#                        columns=ts_gc.StartDate.dt.year,values='Retail_GC',aggfunc='sum').reset_index().drop('Month',axis=1).set_index('Month_Name')
# ts_gc_pivot=ts_gc_pivot.iloc[:,[-1,0]]
# column=['2024 Retail_GC','2023 Retail_GC']
# ts_gc_pivot.columns=column
# ts_gc_pivot.loc['YTD Totals']=ts_gc_pivot.sum(axis=0)
# ts_gc_pivot['Total GC%']=ts_gc_pivot.iloc[:,0]/ts_gc_pivot.iloc[:,-1]-1
# ts_gc_pivot

In [42]:
# total_sales_no3pd_gc=total_sales_pivot.merge(ts_gc_pivot,left_on='Month_Name',right_on='Month_Name')
# total_sales_no3pd_gc['2024 Avg Check']=total_sales_no3pd_gc['2024 Total Sales']/total_sales_no3pd_gc['2024 Retail_GC']
# total_sales_no3pd_gc['2023 Avg Check']=total_sales_no3pd_gc['2023 Total Sales']/total_sales_no3pd_gc['2023 Retail_GC']
# total_sales_no3pd_gc['Avg Check%']=total_sales_no3pd_gc['2024 Avg Check']/total_sales_no3pd_gc['2023 Avg Check']-1
# total_sales_no3pd_gc

In [43]:
# comp_sales=total_sales[total_sales.ParentID.isin(comp_shops)]
# comp_sales_pivot=comp_sales.pivot_table(index=['Month','Month_Name'],
#                        columns='Year',values='SalesMny',aggfunc='sum').reset_index().drop('Month',axis=1).set_index('Month_Name')
# comp_sales_pivot=comp_sales_pivot.iloc[:,[-1,0]]
# column=['2024 Total Sales','2023 Total Sales']
# comp_sales_pivot.columns=column
# comp_sales_pivot.loc['YTD Totals']=comp_sales_pivot.sum(axis=0)
# comp_sales_pivot['Total Sales%']=comp_sales_pivot.iloc[:,0]/comp_sales_pivot.iloc[:,-1]-1
# comp_sales_pivot

In [44]:
# all_gc=threepd.groupby(['ShopID','Year','Week','StartDate'])['intTransactionCount'].sum().reset_index()
# all_gc.Week=all_gc.Week.astype('int')
# all_gc['ParentID']=all_gc.ShopID.astype('int')
# all_gc['ParentID']=all_gc.ShopID.astype('str')
# all_gc['ParentID']=all_gc.ParentID.str[-4:]
# all_gc['ParentID']=all_gc.ParentID.astype('int')


# comp_ts_gc=comp_sales[['ParentID','StartDate','Month_Name','Month']].drop_duplicates(subset=['ParentID','StartDate'],keep='first')\
# .merge(all_gc[['StartDate','ParentID','intTransactionCount']],on=['StartDate','ParentID'],how='left').fillna(0)

# comp_ts_gc=comp_ts_gc.rename(columns={'intTransactionCount':'Total_GC'})
# comp_ts_gc_pivot=comp_ts_gc.pivot_table(index=['Month','Month_Name'],
#                        columns=comp_ts_gc.StartDate.dt.year,values='Total_GC',aggfunc='sum').reset_index().drop('Month',axis=1).set_index('Month_Name')
# comp_ts_gc_pivot=comp_ts_gc_pivot.iloc[:,[-1,0]]
# column=['2024 Total_GC','2023 Total_GC']
# comp_ts_gc_pivot.columns=column
# comp_ts_gc_pivot.loc['YTD Totals']=comp_ts_gc_pivot.sum(axis=0)
# comp_ts_gc_pivot['Total GC%']=comp_ts_gc_pivot.iloc[:,0]/comp_ts_gc_pivot.iloc[:,-1]-1
# comp_ts_gc_pivot

In [45]:
# comp_3pd_gc=comp_sales_pivot.merge(comp_ts_gc_pivot,left_on='Month_Name',right_on='Month_Name')
# comp_3pd_gc['2024 Avg Check']=comp_3pd_gc['2024 Total Sales']/comp_3pd_gc['2024 Total_GC']
# comp_3pd_gc['2023 Avg Check']=comp_3pd_gc['2023 Total Sales']/comp_3pd_gc['2023 Total_GC']
# comp_3pd_gc['Avg Check%']=comp_3pd_gc['2024 Avg Check']/comp_3pd_gc['2023 Avg Check']-1
# comp_3pd_gc

In [46]:
# new_monthly_comps=monthly_comps.drop(['2024 Retail Sales','2023 Retail Sales','Retail Sales%'],axis=1)
# new_monthly_comps['2024 Avg Check']=new_monthly_comps['2024 Total Sales']/new_monthly_comps['2024 Retail GC']
# new_monthly_comps['2023 Avg Check']=new_monthly_comps['2023 Total Sales']/new_monthly_comps['2023 Retail GC']
# new_monthly_comps['Avg Check%']=new_monthly_comps['2024 Avg Check']/new_monthly_comps['2023 Avg Check']-1
# new_monthly_comps

In [47]:
# evoke=total_sales[~total_sales.ParentID.isin([294,324,
#                                               446,465,507,639,858,1139,1276,1385,1427,1432])].pivot_table(index=['Month','Month_Name'],
#                        columns='Year',values='SalesMny',aggfunc='sum').reset_index().drop('Month',axis=1).set_index('Month_Name')
# evoke=evoke.iloc[:,[-1,0]]
# column=['2024 Total Sales','2023 Total Sales']
# evoke.columns=column
# evoke.loc['YTD Totals']=evoke.sum(axis=0)
# evoke['Total Sales%']=evoke.iloc[:,0]/evoke.iloc[:,-1]-1
# evoke

In [48]:
# evoke_gc=total_sales[['ShopID','StartDate','Month_Name','Month']].drop_duplicates(subset=['ShopID','StartDate'],keep='first')\
# .merge(gc[['StartDate','ShopID','Retail_GC']],on=['StartDate','ShopID'],how='left').fillna(0)
# evoke_gc_pivot=evoke_gc[~evoke_gc.ShopID.isin([294,324,
#                                               446,465,507,639,858,1139,1276,1385,1427,1432])].pivot_table(index=['Month','Month_Name'],
#                        columns=evoke_gc.StartDate.dt.year,values='Retail_GC',aggfunc='sum').reset_index().drop('Month',axis=1).set_index('Month_Name')
# evoke_gc_pivot=evoke_gc_pivot.iloc[:,[-1,0]]
# column=['2024 Retail_GC','2023 Retail_GC']
# evoke_gc_pivot.columns=column
# evoke_gc_pivot.loc['YTD Totals']=evoke_gc_pivot.sum(axis=0)
# evoke_gc_pivot['Total GC%']=evoke_gc_pivot.iloc[:,0]/evoke_gc_pivot.iloc[:,-1]-1
# evoke_gc_pivot

In [49]:
# evoke_3pd_gc=evoke.merge(evoke_gc_pivot,left_on='Month_Name',right_on='Month_Name')
# evoke_3pd_gc['2024 Avg Check']=evoke_3pd_gc['2024 Total Sales']/evoke_3pd_gc['2024 Retail_GC']
# evoke_3pd_gc['2023 Avg Check']=evoke_3pd_gc['2023 Total Sales']/evoke_3pd_gc['2023 Retail_GC']
# evoke_3pd_gc['Avg Check%']=evoke_3pd_gc['2024 Avg Check']/evoke_3pd_gc['2023 Avg Check']-1
# evoke_3pd_gc

In [50]:
# writer1=pd.ExcelWriter('Kathy Avg Check with Different Variations.xlsx')
# totals_combined.to_excel(writer1, sheet_name='Total Sales & GC')
# total_sales_no3pd_gc.to_excel(writer1, sheet_name='Total Sales No 3PD GC')
# comp_3pd_gc.to_excel(writer1,sheet_name='Comp Sales and GC with 3PD')
# new_monthly_comps.to_excel(writer1,sheet_name='Comp Sales with no 3PD GC')
# evoke_3pd_gc.to_excel(writer1,sheet_name='Evoke')
# writer1.close()