In [1]:
import pandas as pd
import os 
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime,date,timedelta
import pyodbc as odbc
import xlsxwriter
os.chdir(r'G:\FinanceReports\2024\Wk52')

In [2]:
# Names the needed driver, server name, and database
driver_name='SQL Server'
server_name='10.0.1.218'
database='ritascoolnet_live'

In [3]:
#Creates the connection string
connection_string=f"""
DRIVER={{{driver_name}}};
SERVER={server_name};
DATABASE={database};
Trust_Connection=yes"""

In [4]:
#Creates the Connection to SQL Server
connection=odbc.connect(connection_string)
print(connection)

<pyodbc.Connection object at 0x000002DEE0234B90>

In [5]:
names=pd.read_sql_query('''Select intstoreid as intStoreID,RitasID, FC,CoolNetGroup,LegacyStoreType,State,MSAName,DMA,StoreName as ShopName,CoOpName, Region from ritascoolnet_live.dbo.vShopDetail''',
                        connection)
prod_names=pd.read_sql_query('''Select intProductTypeID as ProductCode, vchProductTypeName as ProductTypeName from ritascoolnet_live.dbo.tblproducttype''',
                        connection)
prod_size=pd.read_sql_query('''Select intProductSizeID as ProdSizeCode, vchProductSizeName as ProductSizeName from ritascoolnet_live.dbo.tblproductsize''',
                        connection)
product=pd.read_sql_query('''select * from ritascoolnet_live.dbo.vProductSalesReportingDaily''',connection)
daily=product.merge(names[['intStoreID','RitasID','ShopName','FC','Region','State']],on=['intStoreID','RitasID'])\
.merge(prod_size[['ProdSizeCode','ProductSizeName']],left_on='intProductSizeID',right_on='ProdSizeCode')\
.merge(prod_names[['ProductCode','ProductTypeName']],left_on='intproducttypeid',right_on='ProductCode')

C:\Users\jharned\AppData\Local\Temp\ipykernel_26036\3134687351.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  names=pd.read_sql_query('''Select intstoreid as intStoreID,RitasID, FC,CoolNetGroup,LegacyStoreType,State,MSAName,DMA,StoreName as ShopName,CoOpName, Region from ritascoolnet_live.dbo.vShopDetail''',
C:\Users\jharned\AppData\Local\Temp\ipykernel_26036\3134687351.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  prod_names=pd.read_sql_query('''Select intProductTypeID as ProductCode, vchProductTypeName as ProductTypeName from ritascoolnet_live.dbo.tblproducttype''',
C:\Users\jharned\AppData\Local\Temp\ipykernel_26036\3134687351.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  prod_size=pd.read_sql_query('''Select intProductSizeID as ProdSizeCode, vchProductSizeName as ProductSizeName from ritascoolnet_live.dbo.tblproductsize''',
C:\Users\jharned\AppData\Local\Temp\ipykernel_26036\3134687351.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  product=pd.read_sql_query('''select * from ritascoolnet_live.dbo.vProductSalesReportingDaily''',connection)

In [6]:
daily=daily[daily.dteDate.dt.year==2024]

In [7]:
daily[(daily.dteDate.dt.year==2024)&(daily.RitasID==1551)]

Empty DataFrame
Columns: [intStoreID, intParentStoreID, RitasID, intproducttypeid, intProductSizeID, SalesQty, SalesMny, dteDate, Channel, ShopName, FC, Region, State, ProdSizeCode, ProductSizeName, ProductCode, ProductTypeName]
Index: []

In [8]:
days_open=daily[(daily.RitasID<10000)&(daily.dteDate.dt.year==2024)].groupby('RitasID')['dteDate'].nunique().reset_index()
days_open

     RitasID  dteDate
0          1      219
1          2      252
2          3      222
3          4      220
4          6      227
..       ...      ...
540     1542       48
541     1543       94
542     1545       35
543     1561      105
544     1571       86

[545 rows x 2 columns]

In [9]:
lto=['Large Frozen Coffee','Small Frozen Coffee','5-Layer Gelati','Large Frozen Lemonade',
    'Small Frozen Lemonade']
lto_items=daily[(daily.RitasID<10000)&(daily.ProductSizeName.isin(lto))].groupby(
    ['RitasID','ProductSizeName'])[['SalesQty','dteDate']].agg({
    'SalesQty':'sum',
    'dteDate':'nunique'
}).reset_index()

In [10]:
# menu_items=daily[(daily.RitasID<10000)&~(daily.ProductSizeName.isin(lto))].groupby(
#     ['RitasID','ProductSizeName'])['SalesQty'].sum().reset_index()

In [11]:
menu_items=daily[(daily.RitasID<10000)].groupby(
    ['RitasID','ProductSizeName'])['SalesQty'].sum().reset_index()

In [12]:
menu_items=menu_items.merge(days_open,on='RitasID',how='left')

In [13]:
menu_items['Daily_Avg']=round(menu_items.SalesQty/menu_items.dteDate,2)
lto_items['Daily_Avg']=round(lto_items.SalesQty/lto_items.dteDate,2)

In [14]:
menu_items.rename(columns={'intRitasStoreID':'ShopID','vchProductSizeName':'ProductSizeName',
                          'SalesQty':'Quantity','dteDate':'Days_Open'},inplace=True)
lto_items.rename(columns={'intRitasStoreID':'ShopID','vchProductSizeName':'ProductSizeName',
                          'SalesQty':'Quantity','dteDate':'Days_Open'},inplace=True)

In [15]:
lto_items

      RitasID        ProductSizeName  Quantity  Days_Open  Daily_Avg
0           1         5-Layer Gelati       361        138       2.62
1           1    Large Frozen Coffee       257        139       1.85
2           1  Large Frozen Lemonade        90         61       1.48
3           1    Small Frozen Coffee       307        148       2.07
4           1  Small Frozen Lemonade       106         72       1.47
...       ...                    ...       ...        ...        ...
2641     1561  Small Frozen Lemonade       128         61       2.10
2642     1571         5-Layer Gelati       121         54       2.24
2643     1571    Large Frozen Coffee        88         50       1.76
2644     1571    Small Frozen Coffee       136         59       2.31
2645     1571  Small Frozen Lemonade         1          1       1.00

[2646 rows x 5 columns]

In [16]:
with pd.ExcelWriter('Melissa 2024 Daily Avg by Shop 12.31.2024.xlsx',engine='xlsxwriter')as writer:
    menu_items.to_excel(writer,sheet_name='Menu Items',index=False,startrow=5)
    lto_items.to_excel(writer, sheet_name='LTO Items',index=False,startrow=5)
    wb=writer.book
    vol_format=wb.add_format({'num_format':'#,##0',
                                 'align':'center',
                                 'valign':'vcenter'})
    header_format=wb.add_format({'bold':True,
                                    'italic':True})
    border_format=wb.add_format({'top':2,'bottom':2,'left':2,'right':2})
    align=wb.add_format({'align':'center',
                            'valign':'vcenter'})
    title='Ritas Franchise Company,LLC'
    title1='2024 Average Daily Products Sold'
    title2='Sales thru '+str(daily.dteDate.max().strftime('%m-%d-%y'))
    title3='Source Code: dbo.vProductSalesReportingDaily'
    ws=writer.sheets['Menu Items']
    ws1=writer.sheets['LTO Items']
    ws.conditional_format(xlsxwriter.utility.xl_range(5,0,len(menu_items)+5,len(menu_items.columns)-1),
                              {'type': 'no_errors', 'format': border_format})
    ws1.conditional_format(xlsxwriter.utility.xl_range(5,0,len(lto_items)+5,len(lto_items.columns)-1),
                              {'type': 'no_errors', 'format': border_format})
    ws.write(0,1,title,header_format)
    ws.write(1,1,title1,header_format)
    ws.write(2,1,title2,header_format)
    ws.write(3,1,title3,header_format)
    ws.set_column('A:A',12,align)
    ws.set_column('B:B',45,align)
    ws.set_column('D:E',18.2,align)
    ws.set_column('C:C',18,vol_format)
    ws.hide_gridlines(2)
    ws.insert_image('A1','Logo.png')
    
    ws1.write(0,1,title,header_format)
    ws1.write(1,1,title1,header_format)
    ws1.write(2,1,title2,header_format)
    ws1.write(3,1,title3,header_format)
    ws1.set_column('A:A',12,align)
    ws1.set_column('B:B',45,align)
    ws1.set_column('C:E',18.2,align)
    ws1.hide_gridlines(2)
    ws1.insert_image('A1','Logo.png')