# Creates the Product Level Report
# Creates the Moving Averages for Shops

In [1]:
import pandas as pd
import os
import pyodbc as odbc

In [2]:
# Names the needed driver, server name, and database
driver_name='SQL Server'
server_name='10.0.1.218'
database='ritascoolnet_live'

In [3]:
#Creates the connection string
connection_string=f"""
DRIVER={{{driver_name}}};
SERVER={server_name};
DATABASE={database};
Trust_Connection=yes"""

In [4]:
#Creates the Connection to SQL Server
connection=odbc.connect(connection_string)
print(connection)

<pyodbc.Connection object at 0x00000201DB661E00>

In [11]:
# Queries the tables from SQL
# Reads in the Weekly Sales in 2024
df=pd.read_sql_query('''SELECT *
  FROM [ritas_bi].[dbo].[tmp_raw_plda]
  WHERE YEAR(StartDate)=2024
  ORDER BY Week DESC''',connection)

C:\Users\jharned\AppData\Local\Temp\ipykernel_24232\251493346.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pd.read_sql_query('''SELECT *

In [12]:
os.chdir(r'G:\FinanceReports\2024\Wk23')

In [13]:
#os.chdir(r'G:\FinanceReports\2022\Wk52')

In [14]:
# df=pd.read_excel('2023-SRSsales-productLevel-wk26.xlsx', sheet_name='2023')

In [15]:
#data=pd.read_excel('2022-SRSsales-productLevel-wk1-52 1.18.2023.xlsx',sheet_name='2022')

In [16]:
#List of Shops to Exclude from Rolling up to Parent
exclude=[10511,11390,20096,20882,21360,31360]
data=df[~df.ShopID.isin(exclude)]
satellite=df[df.ShopID.isin(exclude)]
satellite['StringID']=satellite.ShopID.astype('int')

C:\Users\jharned\AppData\Local\Temp\ipykernel_24232\1945928091.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  satellite['StringID']=satellite.ShopID.astype('int')

In [17]:
#Converts the Store ID to String to be able to manipulate the ID to in order to properly group Stores together
data['StringID']=data.ShopID.astype('str')
data['StringID']=data.StringID.str[-4:]
data['StringID']=data.StringID.astype('int')

C:\Users\jharned\AppData\Local\Temp\ipykernel_24232\3335452489.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['StringID']=data.ShopID.astype('str')
C:\Users\jharned\AppData\Local\Temp\ipykernel_24232\3335452489.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['StringID']=data.StringID.str[-4:]
C:\Users\jharned\AppData\Local\Temp\ipykernel_24232\3335452489.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['StringID']=data.StringID.astype('int')

In [18]:
data=pd.concat([data,satellite])

In [19]:
group=data.groupby(['StringID','Week'])['SalesMny'].sum().reset_index()

In [20]:
pivot=group.pivot_table(index='Week',columns='StringID',values='SalesMny', fill_value=0)

In [21]:
pivot.transpose()

Week,1,2,3,4,5,6,7,8,9,10,...,43,44,45,46,47,48,49,50,51,52
StringID,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.9900,6327.982,6800.941,...,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3818.6250,7548.015,9410.697,...,4610.15,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,5652.007,5978.144,...,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,2892.510,3546.980,...,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4103.9375,6356.555,6127.970,...,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11390,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,1229.322,1275.312,...,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20096,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.000,0.000,...,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20882,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.000,0.000,...,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21360,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.000,0.000,...,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
31360,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.000,0.000,...,4666.50,5970.0,0.0,0.0,2848.0,6650.5,4015.0,0.0,0.0,6880.0

In [22]:
pivot.rolling(3).apply(lambda x:x[x!=0].mean()).to_excel('2024 3 Week Moving Avg.xlsx')

In [23]:
df.to_excel('2024-SRSsales-productLevel-wk'+str(df.Week.max())+' .xlsx',sheet_name='2024',index=False)