# Creates the Product Level Report
# Creates the Moving Averages for Shops

In [1]:
import pandas as pd
import os
import pyodbc as odbc

In [2]:
# Names the needed driver, server name, and database
driver_name='SQL Server'
server_name='10.0.1.218'
database='ritascoolnet_live'

In [3]:
#Creates the connection string
connection_string=f"""
DRIVER={{{driver_name}}};
SERVER={server_name};
DATABASE={database};
Trust_Connection=yes"""

In [4]:
#Creates the Connection to SQL Server
connection=odbc.connect(connection_string)
print(connection)

<pyodbc.Connection object at 0x0000019CA07F4E00>

In [5]:
# Queries the tables from SQL
# Reads in the Weekly Sales in 2024
df=pd.read_sql_query('''SELECT *
  FROM [ritas_bi].[dbo].[tmp_raw_plda]
  WHERE YEAR(StartDate)=2024
  ORDER BY Week DESC''',connection)

C:\Users\jharned\AppData\Local\Temp\ipykernel_7376\1174253475.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pd.read_sql_query('''SELECT *

In [6]:
df[df.ShopID==1574].groupby('Week')['SalesMny'].sum()

Week
26    12004.30
27    25910.74
28    15110.27
29    16862.13
30    17829.44
31    20132.63
32    12420.40
33     8980.33
34     4697.07
35    10626.31
36     3820.94
37     2324.56
38     3159.20
Name: SalesMny, dtype: float64

In [7]:
os.chdir(r'G:\FinanceReports\2024\Wk39')

In [8]:
#os.chdir(r'G:\FinanceReports\2022\Wk52')

In [9]:
# df=pd.read_excel('2023-SRSsales-productLevel-wk26.xlsx', sheet_name='2023')

In [10]:
#data=pd.read_excel('2022-SRSsales-productLevel-wk1-52 1.18.2023.xlsx',sheet_name='2022')

In [11]:
#List of Shops to Exclude from Rolling up to Parent
exclude=[10511,11390,20096,20882,21360,31360]
data=df[~df.ShopID.isin(exclude)]
satellite=df[df.ShopID.isin(exclude)]
satellite['StringID']=satellite.ShopID.astype('int')

C:\Users\jharned\AppData\Local\Temp\ipykernel_7376\1945928091.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  satellite['StringID']=satellite.ShopID.astype('int')

In [12]:
#Converts the Store ID to String to be able to manipulate the ID to in order to properly group Stores together
data['StringID']=data.ShopID.astype('str')
data['StringID']=data.StringID.str[-4:]
data['StringID']=data.StringID.astype('int')

C:\Users\jharned\AppData\Local\Temp\ipykernel_7376\3335452489.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['StringID']=data.ShopID.astype('str')
C:\Users\jharned\AppData\Local\Temp\ipykernel_7376\3335452489.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['StringID']=data.StringID.str[-4:]
C:\Users\jharned\AppData\Local\Temp\ipykernel_7376\3335452489.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['StringID']=data.StringID.astype('int')

In [13]:
data=pd.concat([data,satellite])

In [14]:
group=data.groupby(['StringID','Week'])['SalesMny'].sum().reset_index()

In [15]:
pivot=group.pivot_table(index='Week',columns='StringID',values='SalesMny', fill_value=0)

In [16]:
pivot.transpose()

Week,1,2,3,4,5,6,7,8,9,10,...,30,31,32,33,34,35,36,37,38,39
StringID,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000,4955.0000,7162.6956,...,13048.8140,12931.5650,10170.2720,11583.2590,11288.5945,11675.2940,8679.5630,9218.5990,6992.6970,4329.1825
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3998.835,11010.4300,9882.9000,...,17381.2180,16772.2585,12488.0830,14573.3430,14272.7915,13880.2040,11608.6365,12240.6095,9409.5255,5862.9970
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000,6524.8510,4843.1690,...,7071.0730,7842.2290,5701.4580,6285.6050,5987.8880,5915.2210,4949.9905,5094.3200,4578.3210,2178.4125
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000,2844.1600,3679.7100,...,8518.3270,8282.7710,6634.7600,7676.9265,7125.4445,7242.5065,5783.0450,5573.0465,5152.3545,2196.5595
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3109.395,11116.3425,6964.3825,...,12104.3495,13382.9770,9855.2370,11065.0940,11427.6865,11684.7165,8549.8005,10023.2930,8174.8105,3924.5275
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1574,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.0000,0.0000,...,17829.4400,20132.6300,12420.4000,8980.3300,4697.0700,10626.3100,3820.9400,2324.5600,3159.2000,0.0000
11390,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000,1500.1270,1871.8910,...,3792.6980,3677.3665,3208.6866,3058.9510,2936.0821,2817.1040,2603.5610,2562.2270,2033.0420,1660.2400
20096,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.0000,0.0000,...,5664.4500,5618.5000,4625.0500,6635.6000,8398.0000,8797.8500,2832.3500,2442.4000,1423.6000,0.0000
20882,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.0000,0.0000,...,20551.9100,15684.8300,14860.2000,19922.9500,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
21360,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.0000,0.0000,...,10580.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000

In [17]:
pivot.rolling(3).apply(lambda x:x[x!=0].mean()).to_excel('2024 3 Week Moving Avg.xlsx')

In [ ]:
df.to_excel('2024-SRSsales-productLevel-wk'+str(df.Week.max())+' .xlsx',sheet_name='2024',index=False)

In [ ]:
df.SalesMny.sum()