In [1]:
import pandas as pd
import os
import matplotlib.pyplot as plt
import seaborn as sns
import xlwings as xw
%matplotlib inline

In [2]:
os.chdir(r'G:\FinanceReports\2022\Wk52')

In [3]:
data_1=pd.read_excel('2022-SRSsales-productLevel-wk1-52 1.18.2023.xlsx',sheet_name='2022')

In [15]:
os.chdir(r'G:\FinanceReports\2023\Wk13')

In [16]:
data=pd.read_excel('2023-SRSsales-productLevel-wk13.xlsx',sheet_name='2023')

In [17]:
total=pd.concat([data_1,data])

In [18]:
total.shape

(744436, 27)

In [19]:
total.drop_duplicates(keep='first', inplace=True)

In [20]:
states=['NJ','PA','DE']
pretzel=[122,123,124,125,126]
total['Year']=total.StartDate.dt.year
shops=total[(total.State.isin(states))&(total.ProdSizeCode.isin(pretzel))]

In [21]:
shops.shape

(9191, 27)

In [22]:
shops_pivot=round(shops.pivot_table(index=['ProductSizeName'],columns='Year',values=['SalesMny','SalesQty'],aggfunc='sum'),2).reset_index()

In [23]:
sum_totals=round(total[total.State.isin(states)].groupby(['Year'])[['SalesMny','SalesQty']].sum().reset_index(),2)

In [24]:
shops_pivot

               ProductSizeName   SalesMny           SalesQty
Year                                 2022      2023     2022   2023
0     Big Cheese Super Pretzel  347451.00  66667.26   115176  20704
1      King Size Super Pretzel   80153.11  21805.22    38928   9689
2               Philly Pretzel  354207.44  50558.91   302890  38858
3                Pretzel Braid  157174.07  27671.19    58311   9229
4        Super Pretzel - Small  145742.10  24211.18   114091  17076

In [25]:
sum_totals.iloc[1,2]

2673570

In [26]:
all_shops=total[total.State.isin(states)]
all_shops.shape

(410310, 27)

In [72]:
sales_mix=all_shops.pivot_table(index='ProductSizeName',values='SalesMny', fill_value=0,aggfunc=lambda x: sum(x)/sum(all_shops['SalesMny'])).reset_index()

In [73]:
qty_mix=all_shops.pivot_table(index='ProductSizeName',values='SalesQty', fill_value=0,aggfunc=lambda x: sum(x)/sum(all_shops['SalesQty'])).reset_index()

In [34]:
qty_mix

                  ProductSizeName  SalesQty
0           10in Colorful Ice Guy      0.00
1            12 oz Rainbow Gelati      0.00
2               12 oz Rainbow Ice      0.00
3             12 oz. Frozen Drink      0.00
4           12 oz. Mustard Bottle      0.00
..                            ...       ...
174     Waffle Cone/Bowl Upcharge      0.86
175  Waffle drizzle/dipped/topped      0.00
176                 Whipped Cream      0.02
177     Womens Tshirt  Small - Xl      0.00
178            Womens Tshirt XXL+      0.00

[179 rows x 2 columns]

In [75]:
qty_mix_year=all_shops.pivot_table(index='ProductSizeName',columns='Year',values='SalesQty', fill_value=0,aggfunc='sum').apply(lambda x:
                                                                                                                 x/sum(x)).reset_index()

In [46]:
qty_mix_year

Year                          2022  2023
ProductSizeName
10in Colorful Ice Guy         0.00  0.00
12 oz Rainbow Gelati          0.00  0.00
12 oz Rainbow Ice             0.00  0.00
12 oz. Frozen Drink           0.00  0.00
12 oz. Mustard Bottle         0.00  0.00
...                            ...   ...
Waffle Cone/Bowl Upcharge     0.87  0.73
Waffle drizzle/dipped/topped  0.00  0.00
Whipped Cream                 0.02  0.07
Womens Tshirt  Small - Xl     0.00  0.00
Womens Tshirt XXL+            0.00  0.00

[179 rows x 2 columns]

In [77]:
sales_mix_year=all_shops.pivot_table(index='ProductSizeName',columns='Year',values='SalesMny', fill_value=0,aggfunc='sum').apply(lambda x:
                                                                                                                 x/sum(x)).reset_index()

In [48]:
sales_mix_year

Year                          2022  2023
ProductSizeName
10in Colorful Ice Guy         0.00  0.00
12 oz Rainbow Gelati          0.00  0.00
12 oz Rainbow Ice             0.00  0.00
12 oz. Frozen Drink           0.00  0.00
12 oz. Mustard Bottle         0.00  0.00
...                            ...   ...
Waffle Cone/Bowl Upcharge     0.21  0.19
Waffle drizzle/dipped/topped  0.00  0.00
Whipped Cream                 0.00  0.01
Womens Tshirt  Small - Xl     0.00  0.00
Womens Tshirt XXL+            0.00  0.00

[179 rows x 2 columns]

In [49]:
shops.groupby(['ShopID','ProductSizeName'])['SalesQty'].agg(['mean','max','min'])

                                       mean  max  min
ShopID ProductSizeName
1      Philly Pretzel            257.648649  411   29
2      Philly Pretzel            299.974359  484   79
3      Big Cheese Super Pretzel  125.212121  256   41
       Super Pretzel - Small     241.135135  555   75
4      Big Cheese Super Pretzel   28.864865   55    5
...                                     ...  ...  ...
1450   Philly Pretzel              8.176471   24    1
1478   Big Cheese Super Pretzel   84.245614  167   28
       Super Pretzel - Small     156.736842  245   62
1479   Super Pretzel - Small      19.866667   45    1
21360  Philly Pretzel             58.666667  136    0

[339 rows x 3 columns]

In [63]:
mean_min_max=shops.groupby(['ShopID','Year','ProductSizeName'])['SalesQty'].agg(['sum','mean','max','min']).reset_index()

In [78]:
writer=pd.ExcelWriter('Pretzel.xlsx')
shops_pivot.to_excel(writer,sheet_name='Pretzel Sales and QTY')
sales_mix.to_excel(writer,sheet_name='Sales Mix',index=False)
sales_mix_year.to_excel(writer,sheet_name='Sales Mix by Year',index=False)
qty_mix.to_excel(writer, sheet_name='Qty Mix',index=False)
qty_mix_year.to_excel(writer, sheet_name='Qty Mix by Year',index=False)
mean_min_max.to_excel(writer, sheet_name='Mean,Max,Min')
writer.save()
writer.close()

C:\Users\jharned\Anaconda3\lib\site-packages\xlsxwriter\workbook.py:339: UserWarning: Calling close() on already closed file.
  warn("Calling close() on already closed file.")