In [1]:
import pandas as pd
import os 
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime,date,timedelta
import pyodbc as odbc
import xlsxwriter
os.chdir(r'L:\J.Harned\PVM Analysis')

In [2]:
# Names the needed driver, server name, and database
driver_name='SQL Server'
server_name='10.0.1.218'
database='ritascoolnet_live'
#Creates the connection string
connection_string=f"""
DRIVER={{{driver_name}}};
SERVER={server_name};
DATABASE={database};
Trust_Connection=yes"""
#Creates the Connection to SQL Server
connection=odbc.connect(connection_string)
print(connection)

<pyodbc.Connection object at 0x0000022BC56C4AC0>

In [3]:
data=pd.read_sql_query('''SELECT *
  FROM [ritas_bi].[dbo].[tmp_raw_plda]
  WHERE YEAR(StartDate)>=2023''',connection)

C:\Users\jharned\AppData\Local\Temp\ipykernel_6908\1911494579.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data=pd.read_sql_query('''SELECT *

In [15]:
data_f=data[data.Week<=52]
data_f['Year']=data_f.StartDate.dt.year
comps=data_f.pivot_table(index='ShopID',columns='Year',values='SalesMny',aggfunc='sum',fill_value=0).reset_index()
shops=comps[(comps.iloc[:,-2]>0)&(comps.iloc[:,-1]>0)].ShopID
shops

0          1
1          2
2          3
3          4
4          6
       ...
636    20289
637    20374
639    20714
641    20882
643    30332
Name: ShopID, Length: 583, dtype: int64

In [16]:
data_f['Year']=data_f.Year.astype('str')
data_sales=data_f[data_f.ShopID.isin(shops)].pivot_table(index='ProductSizeName',columns='Year',values=['SalesMny','SalesQty'],aggfunc='sum')
data_perc=data_f[data_f.ShopID.isin(shops)].pivot_table(index='ProductSizeName',columns='Year',values=['SalesMny','SalesQty'],aggfunc='sum',fill_value=0)\
.apply(lambda x: x/sum(x))
data_sales.columns=['_'.join(col).strip() 
 for col in data_sales.columns.values]
data_perc.columns=['_'.join(col).strip() 
 for col in data_perc.columns.values]

In [17]:
data_perc.columns=data_perc.columns.str.replace('SalesMny','Sales%',regex=True)
data_perc.columns=data_perc.columns.str.replace('SalesQty','Qty%',regex=True)

In [18]:
data_sales['Price_23']=data_sales.iloc[:,0]/data_sales.iloc[:,2]
data_sales['Price_24']=data_sales.iloc[:,1]/data_sales.iloc[:,3]

In [19]:
combined=data_sales.merge(data_perc,on='ProductSizeName')
combined=combined.iloc[:,[0,1,2,3,6,7,8,9,4,5]]
combined.fillna(0,inplace=True)
with pd.ExcelWriter('PVM Analysis '+ str(data.StartDate.min().strftime('%b'))+'-'+str(data.EndDate.max().strftime('%b'))+'.xlsx') as writer:
    combined.to_excel(writer,sheet_name='Data',engine='xlsxwriter')
    wb=writer.book
    ws=writer.sheets['Data']
    word_format=wb.add_format({'align':'center','valign':'vcenter'})
    dollar_format=wb.add_format({'num_format':'$#,##0',
                                'align':'center',
                                'valign':'vcenter'})
    qty_format=wb.add_format({'num_format':'#,##0',
                                'align':'center',
                                'valign':'vcenter'})
    per_format=wb.add_format({'num_format':'0.0%',
                                'align':'center',
                                'valign':'vcenter'})
    price_format=wb.add_format({'num_format':'$#,##0.00',
                              'align':'center',
                              'valign':'vcenter'})
    ws.set_column('A:A',45,word_format)
    ws.set_column('B:C',20,dollar_format)
    ws.set_column('J:K',20,price_format)
    ws.set_column('D:E',20,qty_format)
    ws.set_column('F:I',20,per_format)

In [20]:
data_sales.shape

(246, 6)

In [21]:
data.StartDate.min().strftime('%b')

'Jan'

In [22]:
data[(data.StartDate.dt.year==2024)&(data.StartDate.dt.month<=8)].SalesMny.sum()

170618970.05900002

In [23]:
product_sales=pd.read_sql_query('''Select * from ritascoolnet_live.dbo.tblProductSalesTransactions Where Year(dteStartDate)>=2017 ''',connection)

C:\Users\jharned\AppData\Local\Temp\ipykernel_6908\1679527257.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  product_sales=pd.read_sql_query('''Select * from ritascoolnet_live.dbo.tblProductSalesTransactions Where Year(dteStartDate)>=2017 ''',connection)

In [24]:
product_sales[product_sales.intRitasStoreID=='30332']

,intProductSalesTransactionID,intRitasStoreID,intTransactionCount,dteStartDate,dteEndDate,dteCreatedOn,vchSource,intNumberOfDays,intRegister,intUECount,intDDCount,intGHCount,intStoreid
103212,492589,30332,172,2021-08-30,2021-09-05,2021-09-07 01:06:10.413,SMART,1,1,0,0,0,5109.0
103764,493150,30332,377,2021-09-06,2021-09-12,2021-09-14 01:06:40.393,SMART,2,1,0,0,0,5109.0
105952,495405,30332,6,2021-10-11,2021-10-17,2021-10-19 01:06:03.163,SMART,1,1,0,0,0,5109.0
106422,495886,30332,49,2021-10-25,2021-10-31,2021-11-02 01:06:48.150,SMART,1,1,0,0,0,5109.0
106731,496200,30332,24,2021-11-08,2021-11-14,2021-11-16 01:07:16.867,SMART,1,1,0,0,0,5109.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
162654,6207986,30332,289,2024-08-19,2024-08-25,2024-08-27 23:46:47.980,SMART,2,1,0,0,0,5109.0
163126,6292521,30332,135,2024-08-26,2024-09-01,2024-09-03 23:26:14.303,SMART,1,1,0,0,0,5109.0
163715,6375735,30332,125,2024-09-02,2024-09-08,2024-09-10 22:49:01.680,SMART,1,1,0,0,0,5109.0
164529,6458847,30332,1340,2024-09-09,2024-09-15,2024-09-17 23:03:21.050,SMART,3,1,0,0,0,5109.0
167505,6853491,30332,42,2024-10-21,2024-10-27,2024-10-29 22:56:27.387,SMART,2,1,0,0,0,5109.0

In [25]:
product_sales

,intProductSalesTransactionID,intRitasStoreID,intTransactionCount,dteStartDate,dteEndDate,dteCreatedOn,vchSource,intNumberOfDays,intRegister,intUECount,intDDCount,intGHCount,intStoreid
0,381708,536,343,2017-01-02,2017-01-08,2017-01-08 10:48:14.077,None,7,1,0,0,0,1413.0
1,381714,869,393,2017-01-02,2017-01-08,2017-01-09 10:01:11.393,SMART,7,1,0,0,0,2900.0
2,381715,670,0,2017-01-02,2017-01-08,2017-01-09 10:08:42.053,SMART,0,1,0,0,0,1251.0
3,381716,501,204,2017-01-02,2017-01-08,2017-01-09 10:14:44.817,SMART,7,1,0,0,0,462.0
4,381717,1071,96,2017-01-02,2017-01-08,2017-01-09 10:41:53.240,SMART,7,1,0,0,0,3766.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
172447,7094486,1537,21,2025-01-06,2025-01-12,2025-01-07 11:10:01.590,SMART,1,1,0,0,0,NaN
172448,7094487,1539,15,2025-01-06,2025-01-12,2025-01-07 11:10:01.590,SMART,1,1,0,0,0,NaN
172449,7094488,1542,41,2025-01-06,2025-01-12,2025-01-07 11:10:01.590,SMART,1,1,0,0,0,NaN
172450,7094489,1571,65,2025-01-06,2025-01-12,2025-01-07 11:10:01.590,SMART,1,1,0,0,0,NaN
172451,7094490,10836,143,2025-01-06,2025-01-12,2025-01-07 11:10:01.590,SMART,1,1,0,0,0,NaN