In [1]:
import pandas as pd
import os
import numpy as np
import pyodbc as odbc
from datetime import date,timedelta
os.chdir(r'G:\FinanceReports\2024\Wk52')

In [2]:
# Names the needed driver, server name, and database
driver_name='SQL Server'
server_name='10.0.1.218'
database='ritascoolnet_live'
#Creates the connection string
connection_string=f"""
DRIVER={{{driver_name}}};
SERVER={server_name};
DATABASE={database};
Trust_Connection=yes"""
#Creates the Connection to SQL Server
connection=odbc.connect(connection_string)
print(connection)
data=pd.read_sql_query('''SELECT *
  FROM [ritas_bi].[dbo].[tmp_raw_plda]
  WHERE YEAR(StartDate)=2024
  ORDER BY Week DESC''',connection)
data1=pd.read_sql_query('''SELECT *
  FROM [ritas_bi].[dbo].[tmp_raw_plda]
  WHERE YEAR(StartDate)=2023
  ORDER BY Week DESC''',connection)
# data2=pd.read_sql_query('''SELECT *
#   FROM [ritas_bi].[dbo].[tmp_raw_pldb]
#   WHERE YEAR(StartDate)=2021''',connection)
data3=pd.read_sql_query('''Select intstoreid,RitasID as ShopID, FC,CoolNetGroup,LegacyStoreType,State,MSAName,DMA,StoreName as ShopName,StoreStatus,[Special Venue] as SV,SeasonClose from ritascoolnet_live.dbo.vShopDetail''',connection)

<pyodbc.Connection object at 0x000002471B1756B0>

C:\Users\jharned\AppData\Local\Temp\ipykernel_32252\2904909756.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data=pd.read_sql_query('''SELECT *
C:\Users\jharned\AppData\Local\Temp\ipykernel_32252\2904909756.py:18: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data1=pd.read_sql_query('''SELECT *
C:\Users\jharned\AppData\Local\Temp\ipykernel_32252\2904909756.py:25: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data3=pd.read_sql_query('''Select intstoreid,RitasID as ShopID, FC,CoolNetGroup,LegacyStoreType,State,MSAName,DMA,StoreName as ShopName,StoreStatus,[Special Venue] as SV,SeasonClose from ritascoolnet_live.dbo.vShopDetail''',connection)

In [3]:
data['Year']=data.StartDate.dt.year
data1['Year']=data1.StartDate.dt.year
df_1=pd.concat([data,data1])

In [ ]:
df_1[(df_1.ShopID==1379)&(df_1.Week<=39)].groupby('Year')['SalesMny'].sum()

In [ ]:
data.Week.max()

In [ ]:
data.CoOpName.unique()

In [ ]:
df_1.loc[df_1.CoOpName.isna(),'CoOpName']='None'

In [ ]:
def elasticity(name=[],week_min=1,week_max=data.Week.max()):
    pd.options.display.float_format = '{:.2f}'.format
    if name:            
        elastic=df_1[(df_1.CoOpName.isin(name))&(df_1.Week.between(week_min,week_max))].pivot_table(
            index=['ProductTypeName','ProductSizeName'],columns='Year',
                                               values=['SalesMny','SalesQty'],aggfunc='sum',fill_value=0).reset_index()
        elastic.columns=['_'.join(map(str,col)) for col in elastic.columns]
        elastic['23_Price']=elastic.iloc[:,2]/elastic.iloc[:,4]
        elastic['24_Price']=elastic.iloc[:,3]/elastic.iloc[:,5]
        elastic['Qty_Chng']=(elastic.iloc[:,5]-elastic.iloc[:,4])/((elastic.iloc[:,5]+elastic.iloc[:,4])/2)
        elastic['Price_Chng']=(elastic.iloc[:,7]-elastic.iloc[:,6])/((elastic.iloc[:,6]+elastic.iloc[:,7])/2)
        elastic['Elasticity']=round(elastic['Qty_Chng']/elastic['Price_Chng'],2).abs()
        elastic=elastic.fillna(0)
        elastic.replace([np.inf,-np.inf],0,inplace=True)
        elastic_drop=elastic.drop(elastic.iloc[:,[6,7,8,9]],axis=1)
        elastic_drop.replace([np.inf,-np.inf],0,inplace=True)
        elastic = elastic.loc[(elastic != 0).all(axis=1)]
        elastic = elastic[elastic['Price_Chng'].abs() >= 0.02]
        elastic.sort_values(by=('SalesMny_2024'), ascending=False, inplace=True)
        return(elastic)

In [ ]:
pd.set_option('display.max_row',150)
elasticity(name=['Philadelphia'],week_min=9,week_max=36).sort_values(by='Elasticity',ascending=True)

In [ ]:
# test=df_1[df_1.ShopID==1].pivot_table(index=['ProductTypeName','ProductSizeName'],columns='Year',
#                                                values=['SalesMny','SalesQty'],aggfunc='sum').reset_index()
# test

In [ ]:
def shop_elasticity(shopid=[],week_min=1,week_max=data.Week.max()):
    pd.options.display.float_format = '{:.2f}'.format
    if shopid:            
        elastic=df_1[(df_1.ShopID.isin(shopid))&(df_1.Week.between(week_min,week_max))].pivot_table(
            index=['ProductTypeName','ProductSizeName'],columns='Year',
                                               values=['SalesMny','SalesQty'],aggfunc='sum',fill_value=0).reset_index()
        elastic.columns=['_'.join(map(str,col)) for col in elastic.columns]
        elastic['23_Price']=elastic.iloc[:,2]/elastic.iloc[:,4]
        elastic['24_Price']=elastic.iloc[:,3]/elastic.iloc[:,5]
        elastic['Qty_Chng']=(elastic.iloc[:,5]-elastic.iloc[:,4])/((elastic.iloc[:,5]+elastic.iloc[:,4])/2)
        elastic['Price_Chng']=(elastic.iloc[:,7]-elastic.iloc[:,6])/((elastic.iloc[:,6]+elastic.iloc[:,7])/2)
        elastic['Elasticity']=round(elastic['Qty_Chng']/elastic['Price_Chng'],2)
        elastic=elastic.fillna(0)
        elastic.replace([np.inf,-np.inf],0,inplace=True)
        elastic_drop=elastic.drop(elastic.iloc[:,[6,7,8,9]],axis=1)
        elastic_drop.replace([np.inf,-np.inf],0,inplace=True)
        elastic = elastic.loc[(elastic != 0).all(axis=1)]
#         elastic = elastic[(elastic['Price_Chng'] >= 0.02)|(elastic['Price_Chng']<=-.02)]
        elastic.sort_values(by=('SalesMny_2024'), ascending=False, inplace=True)
        return(elastic)

In [ ]:
shop_elasticity(shopid=[224],week_min=1,week_max=52).sort_values(by='Elasticity')

In [6]:
def delta(shopid=[],week_min=1,week_max=data.Week.max()):
    pd.options.display.float_format = '{:.2f}'.format
    if shopid:            
        delta=df_1[(df_1.ShopID.isin(shopid))&(df_1.Week.between(week_min,week_max))].pivot_table(
            index=['ProductTypeName','ProductSizeName'],columns='Year',
            values=['SalesMny','SalesQty'],aggfunc='sum',fill_value=0).reset_index()
        delta.columns=['_'.join(map(str,col)) for col in delta.columns]
#         delta=delta[(delta['SalesQty_2023']>)&(delta['SalesQty_2024']>0)]
        delta['Qty_Chng']=delta.iloc[:,5]-delta.iloc[:,4]
        delta['Sales_Chng']=delta.iloc[:,3]-delta.iloc[:,2]
        delta.sort_values(by='Sales_Chng',inplace=True)
        delta.loc['Total']=delta.iloc[:,[2,3,4,5,6,7]].sum(axis=0)
        delta['23_Price']=delta.iloc[:,2]/delta.iloc[:,4]
        delta['24_Price']=delta.iloc[:,3]/delta.iloc[:,5]
        return(delta)

In [9]:
pd.set_option('display.max_row',150)
delta(shopid=[1379],week_min=1,week_max=40).to_excel('Jordan Landing Delta.xlsx',index=False)

In [ ]:
5.45/5.01-1

In [ ]:
df_1.ProductTypeName.unique()