# Royalty Regression
## Prints out Excel Spreadsheets that will be pasted into Existing spreadsheet that will update 
## the new information
### This should be done on a monthly basis (For Now)

In [1]:
#Imports proper libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
import sklearn.metrics
from sklearn.model_selection import train_test_split
import statsmodels.api as sm
import os
import joblib
import pyodbc as odbc

In [2]:
#changes the directory 
os.chdir(r'L:\J.Harned\Royalty\Royalty Regression')
invoice=pd.read_excel('2023 Invoice History.xlsx', sheet_name='2023 Details')# This gets us what the shops have ordered

In [3]:
os.chdir(r'G:\FinanceReports\2023\Wk15')
srs=pd.read_excel('2023-SRSsales-productLevel-wk15.xlsx', sheet_name='2023')# This gets us what the shops have sold

In [4]:
#srs_2021=pd.read_excel('2022-SRSsales-productLevel-wk1-38.xlsx', sheet_name='2021')

In [5]:
#Shows the last date of the invoice column. Invoice and Sales Should be as close to the same date as possible
invoice.INVOICEDATE.max()

Timestamp('2023-04-21 00:00:00')

In [6]:
srs.EndDate.max()

Timestamp('2023-04-16 00:00:00')

In [7]:
srs.columns

Index(['ShopID', 'intStoreID', 'ProductCode', 'ProdSizeCode', 'DiscountCode',
       'Register', 'SalesQty', 'SalesMny', 'StartDate', 'EndDate', 'EditDate',
       'Week', 'DataSource', 'ShopName', 'State', 'Region', 'ShopStatus',
       'LegacyShopType', 'LegacyShopStatus', 'ProductTypeName',
       'ProductSizeName', 'SpecialVenue', 'CoOpStatus', 'CoOpName',
       'CoOpRate'],
      dtype='object')

In [8]:
#Last date of invoices in file
srs=srs[srs['EndDate']<='2023-04-16']

In [9]:
srs.shape

(144624, 25)

In [10]:
#Filters only dates from 9/18/22 and before
invoice=invoice[invoice.INVOICEDATE<='2023-04-16']

In [11]:
#Renames columns
invoice.rename(columns={'CUSTOMERNO':'ShopID'},inplace=True)

In [12]:
#Gets month variable and creates a column for the numeric value of the month
invoice['Month']=invoice.SHIPDATE.dt.month

In [13]:
#Gets month variable and creates a column for the numeric value of the month
srs['Month']=srs.StartDate.dt.month

In [14]:
srs['ParentID']=srs.ShopID.astype('str')
srs['ParentID']=srs.ParentID.str[-4:]
srs['ParentID']=srs.ParentID.astype('int')

In [15]:
invoice.columns

Index(['ShopID', 'CUSTOMERNAME', 'ADDRESSLINE1', 'ADDRESSLINE2',
       'ADDRESSLINE3', 'City', 'STATE', 'ZIPCODE', 'INVOICENO', 'INVOICETYPE',
       'SHIPDATE', 'INVOICEDATE', 'INVOICEDUEDATE', 'CUSTOMERPONO', 'ITEMCODE',
       'ITEMCODEDESC', 'ITEMTYPE', 'QUANTITYSHIPPED', 'UNITPRICE',
       'UDF_ADVERTISING_AMT', 'UDF_ROYALTY_AMT', 'UDF_STD_UNIT_PRICE',
       'FREIGHTAMT', 'PRODUCTLINE', 'PRODUCTLINEDESC', 'BILLTOSTATE',
       'ARDIVISIONNO', 'UDF_ROYALTY_METHOD', 'COMMENTTEXT', 'UDF_DISTRIBUTOR',
       'Ext Base Cost', 'Ext Royalty', 'Ext Ad Fund', 'Month'],
      dtype='object')

In [16]:
invoice.PRODUCTLINEDESC.unique()

array(['MIXES', 'MIXES - SUGARFREE', 'OTHER INGRED - AMBIENT',
       'PAPER PRODUCTS', 'FUEL SURCHARGE', 'OTHER INGRED - REFRIG',
       'CUSTARD', 'BOTTLED WATER', 'UNIFORMS', 'WAFFLE CONE',
       'REPORTED ROYALTY', 'SMALL WARES', 'CLEANING/JANITOR SUPPLIES',
       'SUGAR', 'PRETZELS', 'TABLET & SCANNERS', 'CUSTARD - KOSHER',
       'CUSTARD CONE/CUP SETS', 'SALES ROYALTY', 'MISC ROYALTY/AD FUND'],
      dtype=object)

In [17]:
#From Invoice only chooses Custard and Mix Products
inv_royalty=invoice[(invoice.PRODUCTLINEDESC=='CUSTARD')|(invoice.PRODUCTLINEDESC=='MIXES')|(invoice.PRODUCTLINEDESC=='MIXES - SUGARFREE')|(invoice.PRODUCTLINEDESC=='CUSTARD - KOSHER')]
inv_royalty.shape

(26871, 34)

In [18]:
#Gets the royalty amount paid by the Franchisees and groups them by Month and Shop. Need this to compute the ARS
royalty_month=inv_royalty.groupby(['Month','ShopID','CUSTOMERNAME'])['Ext Royalty'].sum().reset_index()
royalty_month.head()

   Month  ShopID     CUSTOMERNAME  Ext Royalty
0      1      22  FL COURT STREET     2598.790
1      1      26   SC HILTON HEAD     -347.655
2      1      37  DE MARYLAND AVE     1680.770
3      1      39      FL SEMINOLE     2654.140
4      1      61      PA TILGHMAN      718.380

In [19]:
inv_royalty.groupby(['ShopID'])['QUANTITYSHIPPED'].mean()

ShopID
1       2.894737
2       2.869565
3       1.618182
4       2.571429
6       6.000000
          ...
1479    1.879683
1482    2.169231
1489    3.012500
1492    5.714286
1520    2.037736
Name: QUANTITYSHIPPED, Length: 502, dtype: float64

In [20]:
#Inv_group variable grouped by Shop ID Customer Name , Month and Product desc. Most Important is Quantity Shipped sum and mean for the months
inv_group=inv_royalty.groupby(['ShopID','CUSTOMERNAME','Month'])[['QUANTITYSHIPPED']].agg({'QUANTITYSHIPPED':['mean','sum']})
inv_group.head()

                           QUANTITYSHIPPED
                                      mean   sum
ShopID CUSTOMERNAME  Month
1      PA  WOODHAVEN 2            1.666667  20.0
                     3            3.363636  74.0
                     4            4.000000  16.0
2      PA ACADEMY    2            3.785714  53.0
                     3            2.500000  75.0

In [21]:
#Renames grouped Columns in order to perform the merge
inv_group.columns=['Quantity Mean','Quantity Sum']
inv_group=inv_group.reset_index()

In [22]:
inv_group

,ShopID,CUSTOMERNAME,Month,Quantity Mean,Quantity Sum
0,1,PA WOODHAVEN,2,1.666667,20.0
1,1,PA WOODHAVEN,3,3.363636,74.0
2,1,PA WOODHAVEN,4,4.000000,16.0
3,2,PA ACADEMY,2,3.785714,53.0
4,2,PA ACADEMY,3,2.500000,75.0
...,...,...,...,...,...
1532,1492,MD ORIOLE PARK-CAMDEN YARDS,3,3.000000,15.0
1533,1492,MD ORIOLE PARK-CAMDEN YARDS,4,12.500000,25.0
1534,1520,MD 3721 BOSTON ST - BALTIMORE,2,1.333333,44.0
1535,1520,MD 3721 BOSTON ST - BALTIMORE,3,7.500000,30.0
1536,1520,MD 3721 BOSTON ST - BALTIMORE,4,2.125000,34.0

In [23]:
srs.columns

Index(['ShopID', 'intStoreID', 'ProductCode', 'ProdSizeCode', 'DiscountCode',
       'Register', 'SalesQty', 'SalesMny', 'StartDate', 'EndDate', 'EditDate',
       'Week', 'DataSource', 'ShopName', 'State', 'Region', 'ShopStatus',
       'LegacyShopType', 'LegacyShopStatus', 'ProductTypeName',
       'ProductSizeName', 'SpecialVenue', 'CoOpStatus', 'CoOpName', 'CoOpRate',
       'Month', 'ParentID'],
      dtype='object')

In [24]:
#Grabs only the Product Types that are part of royalty calc
royalty=srs[(srs.ProductTypeName=='Italian Ice')|(srs.ProductTypeName=='Gelati')|(srs.ProductTypeName=='Misto')|(srs.ProductTypeName=='Custard')|(srs.ProductTypeName=='Milkshakes')|(srs.ProductTypeName=='Frozen Beverages')|(srs.ProductTypeName=='Hand Scooped Custard')|
(srs.ProductTypeName=='Concrete')|(srs.ProductTypeName=='Blendini')]

In [25]:
#Groups Royaly variable by Shop ID and Month
royalty_group=royalty.groupby(['ShopID','Month'])[['SalesQty','SalesMny']].sum().reset_index()
royalty_group.head()

   ShopID  Month  SalesQty    SalesMny
0       1      2      1116   5829.2420
1       1      3      8256  42016.3040
2       1      4      6105  31070.3780
3       2      2      2025  10525.3360
4       2      3     11300  57532.6715

In [78]:
royalty_group.SalesMny.sum()

28985160.6188

In [46]:
#Merges Royalty sum of custard and mixes sales with invoice sum of custard and mixes shipped
merge_df=pd.merge(royalty_group,inv_group, on=['ShopID','Month'],how='outer')
#merge_df['CUSTOMERNAME']=test['CUSTOMERNAME'].fillna(method='ffill')
merge_df.fillna(0,inplace=True)
#merge_df.drop('CUSTOMERNAME',axis=1,inplace=True)

In [47]:
merge_df['ParentID']=merge_df.ShopID.astype('str')
merge_df['ParentID']=merge_df.ParentID.str[-4:]
merge_df['ParentID']=merge_df.ParentID.astype('int')

In [48]:
merge_df=merge_df.drop('ShopID',axis=1)

In [49]:
filtered_srs=srs[srs.ShopID<10000]

In [50]:
testing_df=merge_df.groupby(['ParentID','Month'])[['Quantity Sum','SalesQty','SalesMny']].sum().reset_index()

In [58]:
merge_df=pd.merge(testing_df,filtered_srs[['ParentID','ShopName']],on='ParentID').drop_duplicates(keep='first').reset_index()

In [60]:
merge_df.drop('index',axis=1,inplace=True)

In [61]:
merge_df[merge_df.ShopName=='Hilton Head']

    ParentID  Month  Quantity Sum  SalesQty  SalesMny     ShopName
55        26      1         -10.5       0.0      0.00  Hilton Head
56        26      2          43.0    2967.0  15263.53  Hilton Head
57        26      3         101.0   10451.0  54435.59  Hilton Head
58        26      4         114.5   10884.0  55145.66  Hilton Head

In [62]:
#rearranges columns of merge_df
merge_df=merge_df[['ShopName','ParentID','Month','Quantity Sum','SalesQty','SalesMny']]
#Changes Name of SalesMny to Actual Sales
merge_df.rename(columns={"SalesMny":"Actual Sales"}, inplace=True)

In [63]:
merge_df

,ShopName,ParentID,Month,Quantity Sum,SalesQty,Actual Sales
0,Woodhaven,1,2,20.0,1116.0,5829.2420
1,Woodhaven,1,3,74.0,8256.0,42016.3040
2,Woodhaven,1,4,16.0,6105.0,31070.3780
3,Academy,2,2,53.0,2025.0,10525.3360
4,Academy,2,3,75.0,11300.0,57532.6715
...,...,...,...,...,...,...
1589,7 Venture Dr-Bluffton SC,1489,3,136.0,9968.0,49090.4155
1590,7 Venture Dr-Bluffton SC,1489,4,62.0,4487.0,21925.1275
1591,3724 Boston St-Baltimore MD,1520,2,44.0,375.0,1778.2500
1592,3724 Boston St-Baltimore MD,1520,3,30.0,5059.0,22763.7600
1593,3724 Boston St-Baltimore MD,1520,4,34.0,5381.0,25175.4900

In [34]:
#yearly shipped, quantity sales, and sales of custard and mixes
yearly=round(merge_df.groupby(['ShopName','ParentID'])[['Quantity Sum','SalesQty','Actual Sales']].agg('sum').reset_index(),2)

In [35]:
yearly

,ShopName,ParentID,Quantity Sum,SalesQty,Actual Sales
0,101 E Abram St-Arlington TX,1371,86.00,7212.0,34210.42
1,101 Haddon Ave.-Westmont NJ,382,156.00,15121.0,66077.23
2,101 Woodcutter St-Exton PA,1450,101.75,12756.0,57384.74
3,1010 Court St-Clearwater FL,22,306.00,38586.0,177881.65
4,1016 Diffley Rd-Eagan MN,1018,77.00,2468.0,11935.18
...,...,...,...,...,...
493,Wyncote,101,54.00,7249.0,33845.38
494,Wyndmoor,11,117.00,14577.0,65028.12
495,York,123,179.00,18745.0,87669.82
496,Yorktown,853,60.00,4253.0,25355.94
497,Zieglerville,486,128.00,8892.0,39353.37

In [36]:
#Gets Number of Unique Shops that Ordered Product by Month
month_avg=inv_royalty.groupby('Month')[['ShopID']].nunique().reset_index()
month_avg

   Month  ShopID
0      1     111
1      2     446
2      3     494
3      4     479
4     12       7

In [37]:
inv_royalty.groupby('Month')['QUANTITYSHIPPED'].sum()

Month
1      3471.20
2     13078.12
3     28380.00
4     17151.81
12       39.00
Name: QUANTITYSHIPPED, dtype: float64

In [38]:
company_month=inv_royalty.groupby('Month')[['QUANTITYSHIPPED']].sum().reset_index()
company_month['Monthly_AVG']=company_month.apply(lambda x: x['QUANTITYSHIPPED']/month_avg.at[0,'ShopID'] if x['Month']==1 else
x['QUANTITYSHIPPED']/month_avg.at[1,'ShopID'] if x['Month']==2 else
x['QUANTITYSHIPPED']/month_avg.at[2,'ShopID'] if x['Month']==3 else
x['QUANTITYSHIPPED']/month_avg.at[3,'ShopID'] if x['Month']==4 else                                                  
x['QUANTITYSHIPPED']/month_avg.at[1,'ShopID'],axis=1)
company_month

   Month  QUANTITYSHIPPED  Monthly_AVG
0      1          3471.20    31.272072
1      2         13078.12    29.323139
2      3         28380.00    57.449393
3      4         17151.81    35.807537
4     12            39.00     0.087444

In [64]:
#Gets the features for the regression model and uploads the model
os.chdir(r'L:\J.Harned\Royalty\Royalty Regression')
reg=joblib.load('royalty_regression_model')
features=merge_df.drop(['ShopName','ParentID','Actual Sales'],axis=1)
#features.drop('Quantity Mean',axis=1,inplace=True)
features

      Month  Quantity Sum  SalesQty
0         2          20.0    1116.0
1         3          74.0    8256.0
2         4          16.0    6105.0
3         2          53.0    2025.0
4         3          75.0   11300.0
...     ...           ...       ...
1589      3         136.0    9968.0
1590      4          62.0    4487.0
1591      2          44.0     375.0
1592      3          30.0    5059.0
1593      4          34.0    5381.0

[1594 rows x 3 columns]

In [55]:
features.shape

(1594, 3)

In [65]:
#Makes the prediction of sales
predicted_sales=reg.predict(features)
merge_df=pd.concat([merge_df, pd.DataFrame(predicted_sales)],axis=1)

In [67]:
#Creates the Variance column
merge_df.rename(columns={0:'Predicted_Sales'},inplace=True)
merge_df['Variance']=(merge_df['Actual Sales']-merge_df.Predicted_Sales)/merge_df.Predicted_Sales
regression=merge_df

In [68]:
merge_df

,ShopName,ParentID,Month,Quantity Sum,SalesQty,Actual Sales,Predicted_Sales,Variance
0,Woodhaven,1,2,20.0,1116.0,5829.2420,4140.867663,0.407734
1,Woodhaven,1,3,74.0,8256.0,42016.3040,35139.269589,0.195708
2,Woodhaven,1,4,16.0,6105.0,31070.3780,26379.289511,0.177832
3,Academy,2,2,53.0,2025.0,10525.3360,7810.988632,0.347504
4,Academy,2,3,75.0,11300.0,57532.6715,48521.045082,0.185726
...,...,...,...,...,...,...,...,...
1589,7 Venture Dr-Bluffton SC,1489,3,136.0,9968.0,49090.4155,42053.045828,0.167345
1590,7 Venture Dr-Bluffton SC,1489,4,62.0,4487.0,21925.1275,18802.575861,0.166070
1591,3724 Boston St-Baltimore MD,1520,2,44.0,375.0,1778.2500,641.701944,1.771146
1592,3724 Boston St-Baltimore MD,1520,3,30.0,5059.0,22763.7600,21512.985983,0.058140
1593,3724 Boston St-Baltimore MD,1520,4,34.0,5381.0,25175.4900,23014.717868,0.093887

# State Regression Analysis

In [69]:
#Inv_group variable grouped by Shop ID Customer Name , Month and Product desc. Most Important is Quantity Shipped sum and mean for the months
state_inv_group=inv_royalty.groupby(['STATE','Month'])[['QUANTITYSHIPPED']].sum().reset_index()
state_inv_group.rename(columns={'STATE':'State'},inplace=True)

In [70]:
#Groups Royalty variable by Shop ID and Month
state_royalty=royalty.groupby(['State','Month'])[['SalesQty','SalesMny']].sum().reset_index()
state_royalty

    State  Month  SalesQty     SalesMny
0      AL      1      6510   29993.4585
1      AL      2      8159   40013.4170
2      AL      3     16898   90717.2125
3      AL      4      7502   39848.2500
4      AZ      1      9406   42412.9730
..    ...    ...       ...          ...
101    VA      4     46097  259521.0000
102    WV      1      2768    9122.5000
103    WV      2      3626   12309.7150
104    WV      3      4149   13746.5550
105    WV      4      2743    9107.0000

[106 rows x 4 columns]

In [71]:
state_merge=pd.merge(state_inv_group,state_royalty,on=['State','Month'])
state_merge

    State  Month  QUANTITYSHIPPED  SalesQty     SalesMny
0      AL      1             76.0      6510   29993.4585
1      AL      2             93.5      8159   40013.4170
2      AL      3            171.0     16898   90717.2125
3      AL      4            109.0      7502   39848.2500
4      AZ      1             68.0      9406   42412.9730
..    ...    ...              ...       ...          ...
99     VA      4            411.0     46097  259521.0000
100    WV      1             36.5      2768    9122.5000
101    WV      2             26.0      3626   12309.7150
102    WV      3             68.0      4149   13746.5550
103    WV      4             -1.0      2743    9107.0000

[104 rows x 5 columns]

In [72]:
#Gets the features for the regression model and uploads the model
#os.chdir(r'L:\J.Harned\Royalty\Royalty Regression')
#reg=joblib.load('royalty_regression_model')

In [73]:
state_features=state_merge.drop(['State','SalesMny'],axis=1)
state_features

     Month  QUANTITYSHIPPED  SalesQty
0        1             76.0      6510
1        2             93.5      8159
2        3            171.0     16898
3        4            109.0      7502
4        1             68.0      9406
..     ...              ...       ...
99       4            411.0     46097
100      1             36.5      2768
101      2             26.0      3626
102      3             68.0      4149
103      4             -1.0      2743

[104 rows x 3 columns]

In [74]:
state_predicted_sales=reg.predict(state_features)
state_reg=pd.concat([state_merge, pd.DataFrame(state_predicted_sales)],axis=1)

C:\Users\jharned\Anaconda3\lib\site-packages\sklearn\base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- QUANTITYSHIPPED
Feature names seen at fit time, yet now missing:
- Quantity Sum

  warnings.warn(message, FutureWarning)

In [75]:
state_reg.rename(columns={0:'Predicted_Sales'},inplace=True)

In [76]:
#state_reg['Variance']=(state_reg.SalesMny-state_reg.Predicted_Sales)/state_reg.Predicted_Sales
#state_reg.to_excel('State Regression Results March 23.xlsx',index=False)

In [77]:
#Saves the Dataframes to excel. These will be pasted into the____ file and be automatically updated
os.chdir(r'L:\J.Harned\Royalty\Royalty Regression')
writer=pd.ExcelWriter('Monthly Custard and Mixes Orders thru 4.24.23.xlsx')
#merge_df.to_excel(writer,sheet_name='Monthly Orders',index=False)
regression.to_excel(writer, sheet_name='Regression Results', index=False)
state_reg.to_excel(writer, sheet_name='State Regression Results',index=False)
yearly.to_excel(writer, sheet_name='Yearly Orders',index=False)
company_month.to_excel(writer, sheet_name='Monthy Average shipped',index=False)
royalty_month.to_excel(writer, sheet_name='Royalty By Month',index=False)
writer.save()
writer.close()

C:\Users\jharned\Anaconda3\lib\site-packages\xlsxwriter\workbook.py:339: UserWarning: Calling close() on already closed file.
  warn("Calling close() on already closed file.")

In [ ]:
features

In [ ]:
merge_df.groupby(['Month','ShopID'])[['Quantity Sum']].sum().agg({'Quantity Sum':['mean','median','std']})

In [ ]:
merge_df.groupby(['Month'])[['Quantity Sum']].sum()/num_shops

# July Analysis

In [ ]:
srs['Month']=srs.StartDate.dt.month
srs_2021['Month']=srs_2021.StartDate.dt.month

In [ ]:
srs[srs.Month==7].groupby('ShopID')[['SalesQty','SalesMny']].agg('sum')

In [ ]:
srs_2021[srs_2021.Week==26]

# 10.19.22 Product Sales and Quanity Sold Analysis
## Comparing Product Sold vs Retail Price by shop

In [ ]:
#Grabs only the Product Types that are part of royalty calc
royalty=srs[(srs.ProductTypeName=='Italian Ice')|(srs.ProductTypeName=='Gelati')|(srs.ProductTypeName=='Misto')|(srs.ProductTypeName=='Custard')|(srs.ProductTypeName=='Milkshakes')|(srs.ProductTypeName=='Frozen Beverages')|(srs.ProductTypeName=='Hand Scooped Custard')]

In [ ]:
royalty.columns

In [ ]:
sales_store=royalty.groupby(['ShopID','ProductCode','ProdSizeCode','ProductTypeName','ProductSizeName'])[['SalesQty','SalesMny']].agg('sum').reset_index()

In [ ]:
sales_store['Avg_Price']=round(sales_store.SalesMny/sales_store.SalesQty,2)

In [ ]:
sales_store.to_excel('Avg Price.xlsx',sheet_name='AvgPrice')

In [ ]:
sales_store.transpose().to_excel('Test.xlsx')

In [ ]:
retail=pd.read_excel('Avg Price.xlsx',sheet_name='retailprices')

In [ ]:
retail.head()

In [ ]:
retail.pivot_table(index=['Store ID','Italian Ice - Kids Ice','Italian Ice - Small Ice'])

In [ ]:
retail.drop(retail.iloc[:,[0,1,2,3,4]],axis=1).transpose().reset_index(index=[1:531])

In [ ]:
for i, row in retail.iterrows():
    print(i, row)

In [ ]:
retail.resetrange(len(retail))

### Regression Analysis

In [ ]:
%matplotlib inline
os.chdir(r'G:\FinanceReports\2022\Wk52')

In [ ]:
merge_df.head()

In [ ]:
merge_df.plot(kind='scatter',x='SalesMny',y='SalesQty')

In [ ]:
merge_df.plot(kind='scatter',x='SalesMny',y='Quantity Sum')

In [ ]:
merge_df.plot(kind='scatter',x='Month',y='SalesMny')

In [ ]:
sales_store.ProductTypeName

In [ ]:
target=merge_df.iloc[:,-1]
target=pd.DataFrame(target)
target

In [ ]:
stores=merge_df[['CUSTOMERNAME','ShopID']]

In [ ]:
stores

In [ ]:
features=merge_df.drop(['CUSTOMERNAME','ShopID','SalesMny'],axis=1)
features.drop('Quantity Mean',axis=1,inplace=True)
features

In [ ]:
x_train, x_test,y_train,y_test=train_test_split(features,target,test_size=.2, random_state=42)

In [ ]:
reg=LinearRegression()

model=reg.fit(x_train,y_train)

In [ ]:
model.intercept_, model.coef_

In [ ]:
model.score(x_test,y_test)

In [ ]:
y_pred=reg.predict(x_test)

In [ ]:
os.chdir(r'L:\J.Harned\Royalty\Royalty Regression')
joblib.dump(model,'royalty_regression_model')

In [ ]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_test,y_pred)

In [ ]:
mod=sm.OLS(y_train,x_train)  
mod.fit().summary()

In [ ]:
from sklearn.ensemble import RandomForestRegressor
rfr=RandomForestRegressor()
rfr.fit(x_train,y_train.values.ravel())

In [ ]:
pred_y=rfr.predict(x_test)
pred_y

In [ ]:
mean_absolute_error(y_test,pred_y)