In [1]:
#Imports the necessary libraries
import pandas as pd
import os
import numpy as np
import pyodbc as odbc
from datetime import date,timedelta,datetime
os.chdir(r'L:\J.Harned\Calendar')
calendar=pd.read_excel('2024 Sales Calendar.xlsx')
calendar['Year']=calendar.StartDate.dt.year
os.chdir(r'G:\FinanceReports\2024\Wk49')
# Names the needed driver, server name, and database
driver_name='SQL Server'
server_name='10.0.1.218'
database='ritascoolnet_live'
#Creates the connection string
connection_string=f"""
DRIVER={{{driver_name}}};
SERVER={server_name};
DATABASE={database};
Trust_Connection=yes"""
#Creates the Connection to SQL Server
connection=odbc.connect(connection_string)
print(connection)

<pyodbc.Connection object at 0x0000017EE7522370>

In [2]:
# Queries the tables from SQL
# Reads in the Weekly Sales in 2023
data=pd.read_sql_query('''SELECT *
  FROM [ritas_bi].[dbo].[tmp_raw_plda]
  WHERE YEAR(StartDate)=2024
  ORDER BY Week DESC''',connection)
# Reads in the Weekly Sales in 2022
df=pd.read_sql_query('''SELECT *
  FROM [ritas_bi].[dbo].[tmp_raw_plda]
  WHERE YEAR(StartDate)=2023''',connection)
#ShopDetail
data3=pd.read_sql_query('''Select intstoreid as intStoreID,RitasID as ShopID, FC,CoolNetGroup,LegacyStoreType,State,MSAName,DMA,StoreName as ShopName,
CoOpName,Franchisee,[Parent Shop #] as ParentID,StoreStatus,[Re Open Date] as ReOpenDate,OpenDate,StoreType from ritascoolnet_live.dbo.vShopDetail''',connection)
product_sales=pd.read_sql_query('''Select * from ritascoolnet_live.dbo.tblProductSalesTransactions Where Year(dteStartDate)>=2023 ''',connection)

C:\Users\jharned\AppData\Local\Temp\ipykernel_29500\3135156464.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data=pd.read_sql_query('''SELECT *
C:\Users\jharned\AppData\Local\Temp\ipykernel_29500\3135156464.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pd.read_sql_query('''SELECT *
C:\Users\jharned\AppData\Local\Temp\ipykernel_29500\3135156464.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data3=pd.read_sql_query('''Select intstoreid as intStoreID,RitasID as ShopID, FC,CoolNetGroup,LegacyStoreType,State,MSAName,DMA,StoreName as ShopName,
C:\Users\jharned\AppData\Local\Temp\ipykernel_29500\3135156464.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  product_sales=pd.read_sql_query('''Select * from ritascoolnet_live.dbo.tblProductSalesTransactions Where Year(dteStartDate)>=2023 ''',connection)

In [3]:
sv=pd.read_sql_query('''Select * from ritascoolnet_live.dbo.vShopDetail''',connection)
sv=sv[['intstoreid','RitasID','Special Venue']]
sv=sv.rename(columns={'intstoreid':'intStoreID','RitasID':'ShopID','Special Venue':'SV'})

C:\Users\jharned\AppData\Local\Temp\ipykernel_29500\3679232069.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  sv=pd.read_sql_query('''Select * from ritascoolnet_live.dbo.vShopDetail''',connection)

In [4]:
total_df=pd.concat([data,df]) # Combines 2023 and 2024 Sales Data
total_df=total_df.merge(sv,how='left',on=['intStoreID','ShopID']) # Merges Special Venue with Sales Data
total_df.loc[total_df.StartDate=='2023-03-20','Week']='12'
total_df.loc[total_df.StartDate=='2023-03-27','Week']='13'
total_df.loc[total_df.StartDate=='2023-10-29','StartDate']='2023-10-30'
total_df=total_df.merge(calendar[['StartDate','Week','Month']],how='left',on=['StartDate','Week']) # Adds the month column from calendar
total_df.Week=total_df.Week.astype('int')
total_df=total_df[total_df.Week<=data.Week.max()]# Filters on the max week

C:\Users\jharned\AppData\Local\Temp\ipykernel_29500\2178623044.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '12' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  total_df.loc[total_df.StartDate=='2023-03-20','Week']='12'

In [5]:
product_sales.shape

(42117, 13)

In [6]:
product_sales=product_sales.rename(columns={'dteStartDate':'StartDate'})
weeks=total_df[['StartDate','Week']].drop_duplicates(keep='first')
ps=product_sales.merge(weeks[['StartDate','Week']],how='left',on='StartDate')
ps['Retail_GC']=ps.intTransactionCount-ps.intUECount\
-ps.intDDCount-ps.intGHCount
ps['Year']=ps.StartDate.dt.year
ps

,intProductSalesTransactionID,intRitasStoreID,intTransactionCount,StartDate,dteEndDate,dteCreatedOn,vchSource,intNumberOfDays,intRegister,intUECount,intDDCount,intGHCount,intStoreid,Week,Retail_GC,Year
0,1057377,1478,383,2023-01-02,2023-01-08,2023-01-09 10:29:06.337,SMART,7,1,0,0,0,5257.0,1.0,383,2023
1,1057381,250,331,2023-01-02,2023-01-08,2023-01-09 11:22:28.730,SMART,7,1,0,0,0,4109.0,1.0,331,2023
2,1057382,127,0,2023-01-02,2023-01-08,2023-01-09 11:37:23.040,SMART,0,1,0,0,0,773.0,1.0,0,2023
3,1058258,22,1036,2023-01-02,2023-01-08,2023-01-10 01:05:04.303,SMART,7,1,0,0,0,523.0,1.0,1036,2023
4,1058259,39,643,2023-01-02,2023-01-08,2023-01-10 01:05:04.303,SMART,7,1,0,0,0,524.0,1.0,643,2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42112,7021367,1543,131,2024-12-09,2024-12-15,2024-12-11 11:10:02.557,SMART,2,1,0,0,0,NaN,NaN,131,2024
42113,7021368,1545,45,2024-12-09,2024-12-15,2024-12-11 11:10:02.557,SMART,2,1,0,0,0,NaN,NaN,45,2024
42114,7021369,1571,162,2024-12-09,2024-12-15,2024-12-11 11:10:02.557,SMART,2,1,0,0,0,NaN,NaN,162,2024
42115,7021370,11390,1,2024-12-09,2024-12-15,2024-12-11 11:10:02.557,SMART,1,1,0,0,0,NaN,NaN,1,2024
42116,7021371,11453,44,2024-12-09,2024-12-15,2024-12-11 11:10:02.557,SMART,1,1,0,0,0,NaN,NaN,44,2024

In [7]:
ps[(ps.dteEndDate.dt.year==2024)].groupby('dteEndDate')['Retail_GC'].sum().iloc[:-1,].sum()

16605941

In [8]:
ps[(ps.dteEndDate=='2024-07-21')].Retail_GC.sum()

587006

In [9]:
threepd=ps.rename(columns={'intRitasStoreID':'ShopID'})
total_gc=threepd.groupby(['ShopID','Year','Week'])['Retail_GC'].sum().reset_index()
total_gc.ShopID=total_gc.ShopID.astype('int')
total_gc.Week=total_gc.Week.astype('int')

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 777273 entries, 0 to 777272
Data columns (total 25 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   ShopID            777273 non-null  int64
 1   intStoreID        777273 non-null  int64
 2   ProductCode       777273 non-null  int64
 3   ProdSizeCode      777273 non-null  int64
 4   DiscountCode      777273 non-null  int64
 5   Register          777273 non-null  int64
 6   SalesQty          777273 non-null  int64
 7   SalesMny          777273 non-null  float64
 8   StartDate         777273 non-null  datetime64[ns]
 9   EndDate           777273 non-null  datetime64[ns]
 10  EditDate          777273 non-null  datetime64[ns]
 11  Week              777273 non-null  int64
 12  DataSource        777273 non-null  object
 13  ShopName          777273 non-null  object
 14  State             777273 non-null  object
 15  Region            777273 non-null  object
 16  ShopStatus        777273 non-null  object
 17  LegacyShopType    777273 non-null  object
 18  LegacyShopStatus  777273 non-null  object
 19  ProductTypeName   777273 non-null  object
 20  ProductSizeName   777273 non-null  object
 21  SpecialVenue      777273 non-null  object
 22  CoOpStatus        777273 non-null  object
 23  CoOpName          362045 non-null  object
 24  CoOpRate          777273 non-null  float64
dtypes: datetime64[ns](3), float64(2), int64(8), object(12)
memory usage: 148.3+ MB

In [11]:


total_gc=total_gc[total_gc.Week<=data.Week.max()] #filters on the max week for Guest COunts
total_gc['ShopID']=pd.to_numeric(total_gc.ShopID,errors='coerce')# Converts ShopID to integers
total_gc=total_gc.merge(calendar[['Week','Year','Month']],on=['Week','Year'],how='left') #Adds month column to Guest Counts
total_df['Year']=total_df.StartDate.dt.year #Adds Year column
total_gc=total_gc.merge(data3[['ShopID','State']],on='ShopID',how='left').drop_duplicates(subset=['Week','Year','ShopID','Retail_GC','Month'],
                                                                                keep='first')
total_df[total_df.StartDate.dt.year==2024].SalesMny.sum()

197934547.71739998

In [12]:
core_list=['NJ','PA','DE','MD']
total_df['Area']=total_df['State'].apply(lambda x: 'Core' if x in core_list else 'Developing')
total_gc['Area']=total_gc['State'].apply(lambda x: 'Core' if x in core_list else 'Developing')

In [13]:
total_df[total_df.Year==2023].SalesMny.sum()

180746647.0708

In [14]:
total_df[total_df.Year==2023].groupby(['ShopID','Area'])['SalesMny'].sum().reset_index().to_excel('test.xlsx',index=False)

In [15]:
# gc_region=total_gc.merge(total_df[['ShopID','Area']],on='ShopID',how='left').drop_duplicates(keep='first').groupby([
# 'Area','Year'
# ])['GC'].sum().reset_index()

In [16]:
gc_region=total_gc.groupby([
'Area','Year'
])['Retail_GC'].sum().reset_index()

In [17]:
total_df.shape

(1456240, 29)

In [18]:
month=int(input('Enter Month Number:')) # Type the month name you would like to view

Enter Month Number:12

# YTD Total System Sales

In [19]:
sales_region=round(total_df.groupby(['Area','Year'])[['ShopID','SalesMny']].agg({'ShopID':'nunique','SalesMny':'sum'}),2).reset_index()
tsr=sales_region.merge(gc_region,on=['Area','Year'],how='left')
tsr['AvgChk']=round(tsr.SalesMny/tsr.Retail_GC,2)
tsr.SalesMny.sum()

378681194.78

In [20]:
tsr[tsr.Year==2023].SalesMny.sum()

180746647.07

In [21]:
data.SalesMny.sum()

197934547.71739998

# Month Total System Sales

In [22]:
# sales_month=total_df[total_df.Month==total_df.Month.max()].groupby(
#     ['Area','Year'])[['ShopID','SalesMny']].agg(
#     {'ShopID':'nunique','SalesMny':'sum'}).reset_index()
# gc_month_region=total_gc[total_gc.Month==total_gc.Month.max()].merge(total_df[['ShopID','Area']],on='ShopID',how='left').drop_duplicates(keep='first').groupby([
# 'Area','Year'
# ])['GC'].sum().reset_index()
# tsr_mtd=sales_month.merge(gc_month_region,on=['Area','Year'],how='left')
# tsr_mtd['AvgChk']=round(tsr_mtd.SalesMny/tsr_mtd.GC,2)
# tsr_mtd

In [23]:
sales_month=total_df[total_df.Month==month].groupby(
    ['Area','Year'])[['ShopID','SalesMny']].agg(
    {'ShopID':'nunique','SalesMny':'sum'}).reset_index()
gc_month_region=total_gc[total_gc.Month==month].groupby([
'Area','Year'
])['Retail_GC'].sum().reset_index()
tsr_mtd=sales_month.merge(gc_month_region,on=['Area','Year'],how='left')
tsr_mtd['AvgChk']=round(tsr_mtd.SalesMny/tsr_mtd.Retail_GC,2)
tsr_mtd.sum()

Area         CoreCoreDevelopingDeveloping
Year                                 8094
ShopID                                348
SalesMny                     1865056.2126
Retail_GC                          156095
AvgChk                              46.83
dtype: object

# Week Total System Sales

In [24]:
# sales_week=total_df[total_df.Week==total_df.Week.max()].groupby(
#     ['Region','Year'])[['ShopID','SalesMny']].agg(
#     {'ShopID':'nunique','SalesMny':'sum'}).reset_index()
# gc_week_region=total_gc[total_gc.Week==total_gc.Week.max()].merge(total_df[['ShopID','Region']],on='ShopID',how='left').drop_duplicates(keep='first').groupby([
# 'Region','Year'
# ])['GC'].sum().reset_index()
# tsr_wtd=sales_week.merge(gc_week_region,on=['Region','Year'],how='left')
# tsr_wtd['AvgChk']=round(tsr_wtd.SalesMny/tsr_wtd.GC,2)
# tsr_wtd

In [25]:
total_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1456240 entries, 0 to 1468341
Data columns (total 29 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   ShopID            1456240 non-null  int64
 1   intStoreID        1456240 non-null  int64
 2   ProductCode       1456240 non-null  int64
 3   ProdSizeCode      1456240 non-null  int64
 4   DiscountCode      1456240 non-null  int64
 5   Register          1456240 non-null  int64
 6   SalesQty          1456240 non-null  int64
 7   SalesMny          1456240 non-null  float64
 8   StartDate         1456240 non-null  datetime64[ns]
 9   EndDate           1456240 non-null  datetime64[ns]
 10  EditDate          1456240 non-null  datetime64[ns]
 11  Week              1456240 non-null  int32
 12  DataSource        1456240 non-null  object
 13  ShopName          1456240 non-null  object
 14  State             1456240 non-null  object
 15  Region            1456240 non-null  object
 16  ShopStatus        1456240 non-null  object
 17  LegacyShopType    1456240 non-null  object
 18  LegacyShopStatus  1456240 non-null  object
 19  ProductTypeName   1456240 non-null  object
 20  ProductSizeName   1456240 non-null  object
 21  SpecialVenue      1456240 non-null  object
 22  CoOpStatus        1456240 non-null  object
 23  CoOpName          659208 non-null   object
 24  CoOpRate          1456240 non-null  float64
 25  SV                1456240 non-null  object
 26  Month             1422540 non-null  float64
 27  Year              1456240 non-null  int32
 28  Area              1456240 non-null  object
dtypes: datetime64[ns](3), float64(3), int32(2), int64(7), object(14)
memory usage: 322.2+ MB

In [26]:
sales_week=total_df[total_df.Week==data.Week.max()].groupby(
    ['Area','Year'])[['ShopID','SalesMny']].agg(
    {'ShopID':'nunique','SalesMny':'sum'}).reset_index()
gc_week_region=total_gc[total_gc.Week==total_gc.Week.max()].groupby([
'Area','Year'
])['Retail_GC'].sum().reset_index()
tsr_wtd=sales_week.merge(gc_week_region,on=['Area','Year'],how='left')
tsr_wtd['AvgChk']=round(tsr_wtd.SalesMny/tsr_wtd.Retail_GC,2)
tsr_wtd.sum()

Area         CoreCoreDevelopingDeveloping
Year                                 8094
ShopID                                317
SalesMny                      881324.4643
Retail_GC                           74476
AvgChk                              46.45
dtype: object

# Special Venues YTD

In [27]:
sv_ytd=round(total_df[(total_df.SV=='Yes')].groupby(['Area','Year'])[['ShopID','SalesMny']].agg({'ShopID':'nunique','SalesMny':'sum'}),2).reset_index()

# Special Venues MTD

In [28]:
sv_mtd=total_df[(total_df.SV=='Yes')&(total_df.Month==month)].groupby(['Area','Year'])[['ShopID','SalesMny']].agg({'ShopID':'nunique','SalesMny':'sum'}).reset_index()

# Special Venues WTD

In [29]:
sv_wtd=round(total_df[(total_df.SV=='Yes')&(total_df.Week==data.Week.max())].groupby(['Area','Year'])[['ShopID','SalesMny']].agg({'ShopID':'nunique','SalesMny':'sum'}),2).reset_index()

# 3PD and Open Catering Sales YTD

In [30]:
alist=['3rd Party Delivery','Full Service Catering (Open $)','Online Ordering']
pd3_oc_ytd=total_df[(total_df.ProductTypeName.isin(alist))&(total_df.SV=='No')].groupby(['Area','Year','ProductTypeName'])[['SalesMny']].agg({'SalesMny':'sum'}).reset_index()
pd3_oc_ytd=pd3_oc_ytd.iloc[:,[0,1,-1,2]]

# 3PD and Open Catering Sales MTD

In [31]:
pd3_oc_mtd=total_df[(total_df.ProductTypeName.isin(alist))&(total_df.Month==month)&(total_df.SV=='No')].groupby(['Area','Year','ProductTypeName'])[['SalesMny']].agg({'SalesMny':'sum'}).reset_index()
pd3_oc_mtd=pd3_oc_mtd.iloc[:,[0,1,-1,2]]

# 3PD and Open Catering Sales WTD

In [32]:
pd3_oc_wtd=total_df[(total_df.ProductTypeName.isin(alist))&(total_df.Week==data.Week.max())&(total_df.SV=='No')].groupby(['Area','Year','ProductTypeName'])[['SalesMny']].agg({'SalesMny':'sum'}).reset_index()
pd3_oc_wtd=pd3_oc_wtd.iloc[:,[0,1,-1,2]]

# Mobile Sales YTD

In [33]:
mobile_ytd=total_df[(total_df.LegacyShopType.str.contains('Mobile'))&(total_df.SV=='No')&(
    total_df.ProductTypeName!='Full Service Catering (Open $)')].groupby(['Area','Year'])[['ShopID','SalesMny']].agg({'ShopID':'nunique','SalesMny':'sum'}).reset_index()

In [34]:
mobile_mtd=total_df[(total_df.LegacyShopType.str.contains('Mobile'))&(total_df.SV=='No')&(
    total_df.ProductTypeName!='Full Service Catering (Open $)')&(total_df.Month==month)].groupby(
    ['Area','Year'])[['ShopID','SalesMny']].agg({'ShopID':'nunique','SalesMny':'sum'}).reset_index()

In [35]:
mobile_wtd=total_df[(total_df.LegacyShopType.str.contains('Mobile'))&(total_df.SV=='No')&(
    total_df.ProductTypeName!='Full Service Catering (Open $)')&(total_df.Week==data.Week.max())].groupby(
    ['Area','Year'])[['ShopID','SalesMny']].agg({'ShopID':'nunique','SalesMny':'sum'}).reset_index()

# Retail Sales YTD

In [36]:
# retail_gc=total_gc.merge(total_df[['ShopID','Region']],on='ShopID',how='left').drop_duplicates(keep='first')

In [37]:
retail_ytd=total_df[~(total_df.LegacyShopType.str.contains('Mobile'))&(total_df.SV=='No')&~(
    total_df.ProductTypeName.isin(alist))].groupby(
    ['Area','Year'])[['ShopID','SalesMny']].agg({'ShopID':'nunique','SalesMny':'sum'}).reset_index()
retail_ytd
shops=total_df[~(total_df.LegacyShopType.str.contains('Mobile'))&(total_df.SV=='No')&~(
    total_df.ProductTypeName.isin(alist))].ShopID.unique()
shops
gc_ytd=total_gc[total_gc.ShopID.isin(shops)].groupby([
'Area','Year'
])['Retail_GC'].sum().reset_index()
retail_ytd=retail_ytd.merge(gc_ytd,on=['Area','Year'],how='left')
retail_ytd['AvgChk']=retail_ytd.SalesMny/retail_ytd.Retail_GC

In [38]:
retail_ytd

         Area  Year  ShopID      SalesMny  Retail_GC     AvgChk
0        Core  2023     381  1.200522e+08   11785031  10.186834
1        Core  2024     387  1.247039e+08   11780682  10.585453
2  Developing  2023     151  3.797267e+07    3588906  10.580569
3  Developing  2024     160  4.184520e+07    3878902  10.787899

# Retail Sales MTD

In [39]:
retail_mtd=total_df[~(total_df.LegacyShopType.str.contains('Mobile'))&(total_df.SV=='No')&~(
    total_df.ProductTypeName.isin(alist))&(total_df.Month==month)].groupby(
    ['Area','Year'])[['ShopID','SalesMny']].agg({'ShopID':'nunique','SalesMny':'sum'}).reset_index()
shops=total_df[~(total_df.LegacyShopType.str.contains('Mobile'))&(total_df.SV=='No')&~(
    total_df.ProductTypeName.isin(alist))&(total_df.Month==month)].ShopID.unique()
gc_mtd=total_gc[total_gc.ShopID.isin(shops)&(total_gc.Month==month)].groupby([
'Area','Year'
])['Retail_GC'].sum().reset_index()
retail_mtd=retail_mtd.merge(gc_mtd,on=['Area','Year'],how='left')
retail_mtd['AvgChk']=retail_mtd.SalesMny/retail_mtd.Retail_GC

In [40]:
retail_mtd

         Area  Year  ShopID     SalesMny  Retail_GC     AvgChk
0        Core  2023      51  169518.5757      18830   9.002580
1        Core  2024      63  190661.1604      19801   9.628865
2  Developing  2023      94  489412.6740      49372   9.912758
3  Developing  2024     110  524498.7025      50011  10.487667

# Retail Sales WTD

In [41]:
retail_wtd=total_df[~(total_df.LegacyShopType.str.contains('Mobile'))&(total_df.SV=='No')&~(
    total_df.ProductTypeName.isin(alist))&(total_df.Week==data.Week.max())].groupby(
    ['Area','Year'])[['ShopID','SalesMny']].agg({'ShopID':'nunique','SalesMny':'sum'}).reset_index()
shops=total_df[~(total_df.LegacyShopType.str.contains('Mobile'))&(total_df.SV=='No')&~(
    total_df.ProductTypeName.isin(alist))&(total_df.Week==data.Week.max())].ShopID.unique()
gc_wtd=total_gc[total_gc.ShopID.isin(shops)&(total_gc.Week==total_gc.Week.max())].groupby([
'Area','Year'
])['Retail_GC'].sum().reset_index()
retail_wtd=retail_wtd.merge(gc_wtd,on=['Area','Year'],how='left')
retail_wtd['AvgChk']=retail_wtd.SalesMny/retail_wtd.Retail_GC

In [42]:
total_df[total_df.Year==2024].SalesMny.sum()

197934547.71739998

In [43]:
retail_ytd[retail_ytd.Year==2024].SalesMny.sum()+mobile_ytd[mobile_ytd.Year==2024].SalesMny.sum()+pd3_oc_ytd[pd3_oc_ytd.Year==2024].SalesMny.sum()+sv_ytd[sv_ytd.Year==2024].SalesMny.sum()

197934547.71240002

# Retail Comp Sales YTD

In [44]:
comps=total_df.pivot_table(index='ShopID',columns='Year',values='SalesMny',aggfunc='sum',fill_value=0).reset_index()
comps=comps[comps.ShopID<10000]
comp_list=comps[(comps[2023]>0)&(comps[2024]>0)].ShopID.unique()

In [45]:
comp_list

array([   1,    2,    3,    4,    6,    7,    8,    9,   10,   11,   12,
         14,   15,   16,   18,   19,   20,   21,   22,   26,   28,   29,
         30,   31,   32,   34,   36,   37,   39,   40,   41,   42,   43,
         44,   45,   47,   48,   53,   54,   55,   56,   57,   58,   59,
         60,   61,   64,   65,   66,   68,   69,   70,   71,   73,   78,
         81,   82,   83,   84,   85,   86,   87,   88,   89,   91,   92,
         94,   95,   96,   97,   98,  100,  101,  102,  104,  105,  106,
        108,  109,  111,  113,  114,  117,  118,  120,  122,  123,  124,
        125,  127,  128,  129,  133,  134,  135,  136,  138,  139,  142,
        144,  145,  148,  149,  150,  151,  152,  153,  154,  155,  156,
        158,  159,  160,  161,  163,  164,  166,  167,  169,  170,  171,
        172,  173,  175,  178,  180,  181,  182,  183,  184,  185,  186,
        187,  188,  190,  192,  194,  195,  197,  198,  200,  204,  205,
        206,  207,  209,  211,  212,  213,  214,  215,  217,  218,  221,
        223,  224,  225,  227,  229,  230,  231,  235,  237,  238,  239,
        241,  242,  243,  245,  246,  247,  248,  249,  250,  254,  256,
        257,  259,  260,  261,  263,  267,  270,  271,  274,  278,  279,
        280,  285,  286,  287,  288,  289,  290,  291,  292,  293,  295,
        298,  299,  301,  303,  304,  305,  306,  309,  311,  312,  313,
        314,  316,  322,  323,  330,  331,  332,  333,  334,  335,  337,
        338,  339,  340,  341,  342,  343,  344,  345,  347,  349,  350,
        353,  354,  355,  358,  359,  361,  362,  364,  365,  366,  368,
        369,  370,  371,  372,  374,  376,  379,  380,  381,  382,  383,
        384,  385,  386,  387,  388,  390,  391,  392,  393,  394,  397,
        399,  400,  402,  403,  405,  410,  412,  413,  414,  417,  421,
        423,  427,  428,  429,  435,  436,  438,  440,  441,  444,  445,
        452,  453,  463,  467,  468,  472,  473,  474,  476,  477,  484,
        485,  486,  487,  490,  493,  495,  496,  498,  501,  503,  510,
        514,  516,  518,  519,  521,  525,  532,  534,  536,  543,  545,
        550,  552,  556,  559,  560,  564,  571,  575,  579,  585,  617,
        626,  628,  638,  649,  650,  658,  663,  676,  681,  689,  691,
        704,  711,  712,  714,  729,  731,  734,  746,  753,  764,  777,
        779,  790,  803,  824,  835,  836,  843,  847,  853,  860,  863,
        866,  872,  874,  882,  885,  886,  887,  888,  889,  892,  897,
        899,  903,  905,  912,  927,  928,  929,  930,  931,  932,  933,
        934,  937,  940,  944,  952, 1018, 1040, 1044, 1045, 1046, 1047,
       1049, 1053, 1055, 1060, 1065, 1071, 1072, 1088, 1119, 1121, 1126,
       1130, 1132, 1133, 1159, 1160, 1170, 1171, 1172, 1187, 1212, 1231,
       1237, 1253, 1254, 1265, 1266, 1268, 1269, 1271, 1272, 1273, 1302,
       1318, 1322, 1334, 1335, 1336, 1337, 1347, 1348, 1351, 1352, 1355,
       1356, 1357, 1362, 1364, 1365, 1368, 1369, 1371, 1376, 1377, 1378,
       1379, 1381, 1383, 1387, 1389, 1390, 1393, 1394, 1395, 1396, 1397,
       1398, 1400, 1401, 1403, 1404, 1405, 1406, 1407, 1409, 1413, 1416,
       1417, 1418, 1419, 1420, 1422, 1423, 1424, 1431, 1435, 1436, 1440,
       1442, 1445, 1446, 1449, 1450, 1451, 1453, 1454, 1455, 1456, 1457,
       1458, 1459, 1460, 1462, 1465, 1466, 1467, 1468, 1469, 1471, 1472,
       1473, 1474, 1476, 1477, 1478, 1479, 1480, 1482, 1483, 1484, 1488,
       1489, 1492, 1495, 1500, 1504, 1507, 1512, 1515, 1517, 1518, 1519,
       1520, 1522, 1530, 1534], dtype=int64)

In [46]:
comp_ytd=total_df[~(total_df.LegacyShopType.str.contains('Mobile'))&(total_df.SV=='No')&~(
total_df.ProductTypeName.isin(alist))&(total_df.ShopID.isin(comp_list))].pivot_table(index='Area',columns=['Year'],
                                                                                        values=['ShopID','SalesMny'],aggfunc=['nunique',
                                                                                                                              'sum']).reset_index()
comp_ytd=comp_ytd.iloc[:,[0,3,6,5]]
comp_gc=total_gc[total_gc.ShopID.isin(comp_list)].pivot_table(index='Area',columns='Year',values='Retail_GC',aggfunc='sum').reset_index()
comp_gc=comp_gc.iloc[:,[0,2,1]]
columns=['Area','ShopCount','CYSales','PYSales']
comp_ytd.columns=columns
comp_ytd=comp_ytd.merge(comp_gc,on='Area')
comp_ytd['CYAvgChk']=comp_ytd['CYSales']/comp_ytd[2024]
comp_ytd['PYAvgChk']=comp_ytd['PYSales']/comp_ytd[2023]
comp_ytd

,Area,ShopCount,CYSales,PYSales,2024,2023,CYAvgChk,PYAvgChk
0,Core,377,1.230380e+08,1.195967e+08,11849623,11901270,10.383284,10.049068
1,Developing,142,3.887551e+07,3.636493e+07,3841192,3630006,10.120689,10.017870

# Retail Comp Sales MTD

In [47]:
comps=total_df[total_df.Month==month].pivot_table(index='ShopID',columns='Year',values='SalesMny',aggfunc='sum',fill_value=0).reset_index()
comp_list=comps[(comps[2023]>0)&(comps[2024]>0)].ShopID.unique()
comp_mtd=total_df[~(total_df.LegacyShopType.str.contains('Mobile'))&(total_df.SV=='No')&~(
total_df.ProductTypeName.isin(alist))&(total_df.ShopID.isin(comp_list))&(total_df.Month==month)].pivot_table(index='Area',columns=['Year'],
                                                                                        values=['ShopID','SalesMny'],aggfunc=['nunique',
                                                                                                                              'sum']).reset_index()
comp_mtd=comp_mtd.iloc[:,[0,3,6,5]]
comp_gc=total_gc[total_gc.ShopID.isin(comp_list)&(total_gc.Month==month)].pivot_table(index='Area',columns='Year',values='Retail_GC',aggfunc='sum').reset_index()
comp_gc=comp_gc.iloc[:,[0,2,1]]
columns=['Area','ShopCount','CYSales','PYSales']
comp_mtd.columns=columns
comp_mtd=comp_mtd.merge(comp_gc,on='Area')
comp_mtd['CYAvgChk']=comp_mtd['CYSales']/comp_mtd[2024]
comp_mtd['PYAvgChk']=comp_mtd['PYSales']/comp_mtd[2023]

In [48]:
comps=total_df[total_df.Month==month].pivot_table(index='ShopID',columns='Year',values='SalesMny',aggfunc='sum',fill_value=0).reset_index()
comps

Year  ShopID      2023      2024
0         22  14153.71  12803.09
1         32      0.00      0.00
2         39  10180.36   8967.10
3         42      0.00   1490.75
4         73  11677.53  11519.79
..       ...       ...       ...
209    11418    213.80      0.00
210    11419   6497.20   4951.39
211    11453    451.50    517.02
212    20374  18951.96      0.00
213    31360  10665.50      0.00

[214 rows x 3 columns]

In [49]:
total_gc[total_gc.ShopID.isin(comp_list)&(total_gc.Month==month)].pivot_table(index='Area',columns='Year',values='Retail_GC',aggfunc='sum').reset_index()

Year        Area   2023   2024
0           Core  18447  16840
1     Developing  51609  44568

In [50]:
total_gc.Month.max()

12

# Retail Comp Sales WTD

In [51]:
comps=total_df[total_df.Week==total_df.Week.max()].pivot_table(index='ShopID',columns='Year',values='SalesMny',aggfunc='sum',fill_value=0).reset_index()
comp_list=comps[(comps[2023]>0)&(comps[2024]>0)].ShopID.unique()
comp_wtd=total_df[~(total_df.LegacyShopType.str.contains('Mobile'))&(total_df.SV=='No')&~(
total_df.ProductTypeName.isin(alist))&(total_df.ShopID.isin(comp_list))&(total_df.Week==total_df.Week.max())].pivot_table(index='Area',columns=['Year'],
                                                                                        values=['ShopID','SalesMny'],aggfunc=['nunique',
                                                                                                                              'sum']).reset_index()
comp_wtd=comp_wtd.iloc[:,[0,3,6,5]]
comp_gc=total_gc[total_gc.ShopID.isin(comp_list)&(total_gc.Week==total_df.Week.max())].pivot_table(index='Area',columns='Year',values='Retail_GC',aggfunc='sum').reset_index()
comp_gc=comp_gc.iloc[:,[0,2,1]]
columns=['Area','ShopCount','CYSales','PYSales']
comp_wtd.columns=columns
comp_wtd=comp_wtd.merge(comp_gc,on='Area')
comp_wtd['CYAvgChk']=comp_wtd['CYSales']/comp_wtd[2024]
comp_wtd['PYAvgChk']=comp_wtd['PYSales']/comp_wtd[2023]

In [57]:
cal_dates=total_df.groupby('Year')[['EndDate','Week']].max().reset_index()
cal_dates=cal_dates[['EndDate','Week','Year']]

In [65]:
cal_dates['EndDate']=pd.to_datetime(cal_dates['EndDate']).dt.strftime('%m/%d/%Y')

C:\Users\jharned\AppData\Local\Temp\ipykernel_29500\4136943777.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  cal_dates['EndDate']=pd.to_datetime(cal_dates['EndDate']).dt.strftime('%m/%d/%Y')

      EndDate  Week  Year
0  12/10/2023    49  2023
1  12/08/2024    49  2024

In [67]:
writer=pd.ExcelWriter('Weekly Data Sets WE '+str(data.EndDate.max().strftime('%m-%d-%y'))+' Week '+str(data.Week.max())+'.xlsx')
retail_wtd.to_excel(writer, sheet_name='TSS-WE',index=False)
retail_mtd.to_excel(writer, sheet_name='TSS-MTD',index=False)
retail_ytd.to_excel(writer, sheet_name='TSS-YTD',index=False)
comp_wtd.to_excel(writer, sheet_name='SSS-WE',index=False)
comp_mtd.to_excel(writer, sheet_name='SSS-MTD',index=False)
comp_ytd.to_excel(writer, sheet_name='SSS-YTD',index=False)
pd3_oc_wtd.to_excel(writer, sheet_name='3PD-OC WE',index=False)
pd3_oc_mtd.to_excel(writer, sheet_name='3PD-OC MTD',index=False)
pd3_oc_ytd.to_excel(writer, sheet_name='3PD-OC YTD',index=False)
mobile_wtd.to_excel(writer, sheet_name='MOB WE',index=False)
mobile_mtd.to_excel(writer, sheet_name='MOB MTD',index=False)
mobile_ytd.to_excel(writer, sheet_name='MOB YTD',index=False)
sv_wtd.to_excel(writer, sheet_name='SV WE',index=False)
sv_mtd.to_excel(writer, sheet_name='SV MTD',index=False)
sv_ytd.to_excel(writer, sheet_name='SV YTD',index=False)
tsr_wtd.to_excel(writer, sheet_name='TSR WE',index=False)
tsr_mtd.to_excel(writer, sheet_name='TSR MTD',index=False)
tsr.to_excel(writer, sheet_name='TSR YTD',index=False)
cal_dates.sort_values(by='Year',ascending=False).to_excel(writer,sheet_name='Cal Dates',index=False)
ws=writer.sheets['Cal Dates']

text1='Total Sales for the Week Ending '+str(total_df.EndDate.max().strftime('%m/%d/%Y'))
text2='Total Sales Year to Date as of '+str(total_df.EndDate.max().strftime('%m/%d/%Y'))
text3='Same Store Sales for the Week Ending '+str(total_df.EndDate.max().strftime('%m/%d/%Y'))

ws.write(4,0,text1)
ws.write(5,0,text2)
ws.write(6,0,text3)

writer.close()