In [2]:
import pandas as pd
import os

In [48]:
os.chdir(r'G:\FinanceReports')

In [49]:
data=pd.read_excel('2021-SRSsales-productLevel-wk1-53.xlsx', sheet_name='2021')

In [50]:
os.chdir(r'L:\J.Harned\For Linda')

In [51]:
franchise=pd.read_excel('Franchise List.xlsx')

In [52]:
franchise.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3140 entries, 0 to 3139
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   StringID          3140 non-null   int64
 1   Shop Name         3139 non-null   object
 2   Shop Status       3128 non-null   object
 3   Shop Type         3132 non-null   object
 4   FC                2586 non-null   object
 5   Street Address 1  1744 non-null   object
 6   City              2994 non-null   object
 7   Street Address 2  622 non-null    object
 8   State             3101 non-null   object
 9   Zip               3140 non-null   object
 10  Site Type         2486 non-null   object
 11  Drive Thru        3140 non-null   object
 12  Open Date         2197 non-null   object
dtypes: int64(1), object(12)
memory usage: 319.0+ KB

In [53]:
franchise=franchise.drop(franchise.columns[[2,3,4,5,6,7,8,9]],axis=1)

In [54]:
data.columns

Index(['ShopID', 'intStoreID', 'ProductCode', 'ProdSizeCode', 'DiscountCode',
       'Register', 'SalesQty', 'SalesMny', 'StartDate', 'EndDate', 'EditDate',
       'Week', 'DataSource', 'ShopName', 'State', 'Region', 'ShopStatus',
       'LegacyShopType', 'LegacyShopStatus', 'ProductTypeName',
       'ProductSizeName', 'SpecialVenue', 'CoOpStatus', 'CoOpName',
       'CoOpRate'],
      dtype='object')

In [68]:
data['StringID']=data.StringID.astype('int')
data=pd.merge(data,franchise,on=['StringID'])
data['StringID']=data.ShopID.astype('str')
data['StringID']=data.StringID.str[-4:]
data['StringID']=data.StringID.astype('int')
data.StringID.unique()

ValueError: invalid literal for int() with base 10: '1.0'

In [ ]:
data.head(20)

In [61]:
Jan=[1,2,3,4,5]
Feb=[9,6,7,8]
Mar=[10,11,12,13,14]
Apr=[18,15,16,17]
May=[22,19,20,21]
June=[27,23,24,25,26]
July=[31,28,29,30]
Aug=[35,32,33,34]
Sept=[40,36,37,38,39]
Oct=[44,41,42,43]
Nov=[48,45,46,47]
Dec=[49,50,51,52,53]
#remove=[30060,10026,21360,11360]
#data[(data.Week.isin(Jan))&(data.YTDTotalShopSales!=0)&(~data.RitasID.isin(remove))]

In [62]:
data[(data.Week.isin(Jan))&(data.SalesMny!=0)].groupby(['StringID','ShopName','State','SpecialVenue','Drive Thru','Site Type','Open Date'])['SalesMny'].agg('sum').reset_index().sort_values(by='SalesMny',ascending=False)

,StringID,ShopName,State,SpecialVenue,Drive Thru,Site Type,Open Date,SalesMny
3,73,Fort Myers,FL,No,Yes,Free Standing,07/25/1995,85217.042
27,835,West Palm Beach,FL,No,No,In Line/Strip,07/23/2010,67537.410
17,585,Southern Palm Crossing,FL,No,No,In Line/Strip,04/28/2008,65641.020
51,1119,Brea,CA,No,No,In Line/Strip,05/02/2015,53475.060
48,1065,West LA,CA,No,No,In Line/Strip,07/25/2014,50773.858
...,...,...,...,...,...,...,...,...
59,1187,Quakertown,PA,No,No,Free Standing,05/06/2019,607.225
78,1364,Catonsville,MD,No,No,Free Standing,10/28/2018,86.160
2,54,Glenside,PA,No,No,Free Standing,04/05/1995,27.960
90,1390,Altoona,PA,No,No,In Line/Strip,03/14/2019,20.000
7,292,Seaford,DE,No,No,End Cap,04/18/2003,0.120

In [16]:
os.chdir(r'L:\J.Harned\For Linda')
writer=pd.ExcelWriter('2021 Sales Rank by Month Total Sales.xlsx')
data[(data.Week.isin(Jan))&(data.SalesMny!=0)].groupby(['StringID','ShopName','State','SpecialVenue'])['SalesMny'].agg('sum').reset_index().sort_values(by='SalesMny',ascending=False).to_excel(writer,sheet_name='Jan',index=False)
data[(data.Week.isin(Feb))&(data.SalesMny!=0)].groupby(['StringID','ShopName','State','SpecialVenue'])['SalesMny'].agg('sum').reset_index().sort_values(by='SalesMny',ascending=False).to_excel(writer,sheet_name='Feb',index=False)
data[(data.Week.isin(Mar))&(data.SalesMny!=0)].groupby(['StringID','ShopName','State','SpecialVenue'])['SalesMny'].agg('sum').reset_index().sort_values(by='SalesMny',ascending=False).to_excel(writer,sheet_name='Mar',index=False)
data[(data.Week.isin(Apr))&(data.SalesMny!=0)].groupby(['StringID','ShopName','State','SpecialVenue'])['SalesMny'].agg('sum').reset_index().sort_values(by='SalesMny',ascending=False).to_excel(writer,sheet_name='Apr',index=False)
data[(data.Week.isin(May))&(data.SalesMny!=0)].groupby(['StringID','ShopName','State','SpecialVenue'])['SalesMny'].agg('sum').reset_index().sort_values(by='SalesMny',ascending=False).to_excel(writer,sheet_name='May',index=False)
data[(data.Week.isin(June))&(data.SalesMny!=0)].groupby(['StringID','ShopName','State','SpecialVenue'])['SalesMny'].agg('sum').reset_index().sort_values(by='SalesMny',ascending=False).to_excel(writer,sheet_name='June',index=False)
data[(data.Week.isin(July))&(data.SalesMny!=0)].groupby(['StringID','ShopName','State','SpecialVenue'])['SalesMny'].agg('sum').reset_index().sort_values(by='SalesMny',ascending=False).to_excel(writer,sheet_name='July',index=False)
data[(data.Week.isin(Aug))&(data.SalesMny!=0)].groupby(['StringID','ShopName','State','SpecialVenue'])['SalesMny'].agg('sum').reset_index().sort_values(by='SalesMny',ascending=False).to_excel(writer,sheet_name='Aug',index=False)
data[(data.Week.isin(Sept))&(data.SalesMny!=0)].groupby(['StringID','ShopName','State','SpecialVenue'])['SalesMny'].agg('sum').reset_index().sort_values(by='SalesMny',ascending=False).to_excel(writer,sheet_name='Sept',index=False)
data[(data.Week.isin(Oct))&(data.SalesMny!=0)].groupby(['StringID','ShopName','State','SpecialVenue'])['SalesMny'].agg('sum').reset_index().sort_values(by='SalesMny',ascending=False).to_excel(writer,sheet_name='Oct',index=False)
data[(data.Week.isin(Nov))&(data.SalesMny!=0)].groupby(['StringID','ShopName','State','SpecialVenue'])['SalesMny'].agg('sum').reset_index().sort_values(by='SalesMny',ascending=False).to_excel(writer,sheet_name='Nov',index=False)
data[(data.Week.isin(Dec))&(data.SalesMny!=0)].groupby(['StringID','ShopName','State','SpecialVenue'])['SalesMny'].agg('sum').reset_index().sort_values(by='SalesMny',ascending=False).to_excel(writer,sheet_name='Dec',index=False)
writer.close()
writer.save()

C:\Users\jharned\Anaconda3\lib\site-packages\xlsxwriter\workbook.py:339: UserWarning: Calling close() on already closed file.
  warn("Calling close() on already closed file.")